# ğŸ“Š êµ¬ë… ì„œë¹„ìŠ¤ í”„ë¡œë•íŠ¸ ë°ì´í„° ì„¤ëª…

## **1ï¸âƒ£ ìœ ì € í–‰ë™ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.main_page` | ì„œë¹„ìŠ¤ ë©”ì¸í˜ì´ì§€ ì§„ì… |  |
| `enter.signup_page` | íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì… |  |
| `complete.signup` | íšŒì›ê°€ì… ì™„ë£Œ | ë¡œê·¸ì¸ ë°©ì‹ |

---

## **2ï¸âƒ£ ì½˜í…ì¸  ì´ìš© ê´€ë ¨ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.content_page` | ì½˜í…ì¸  ê°œë³„ í˜ì´ì§€ ì§„ì… | ì½˜í…ì¸  ID |
| `click.content_page_start_content_button` | ì½˜í…ì¸  ì‹œì²­í•˜ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID, ë²„íŠ¼ ì´ë¦„ |
| `click.content_page_more_review_button` | ì½˜í…ì¸  í›„ê¸° ë”ë³´ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID |
| `enter.episode_page` | ì—í”¼ì†Œë“œ ì‹œì²­ ì‹œì‘ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID, ë¬´ë£Œì²´í—˜ ì—¬ë¶€ |
| `start.content` | ì½˜í…ì¸  ì‹œì²­ ì‹œì‘ | ì½˜í…ì¸  ID, ì½˜í…ì¸  ì´ìš©ê°€ _(22ë…„ 8ì›”ë¶€í„° ìˆ˜ì§‘ë¨)_ |
| `complete.episode` | ì—í”¼ì†Œë“œ ì‹œì²­ ì™„ë£Œ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID |
| `end.content` | ì½˜í…ì¸  ì‹œì²­ ì™„ë£Œ | ì½˜í…ì¸  ID _(ëª¨ë“  ì—í”¼ì†Œë“œ ì‹œì²­ ì‹œ ê¸°ë¡ë¨)_ |

---

## **3ï¸âƒ£ ê²°ì œ ë° êµ¬ë… ê´€ë ¨ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.payment_page` | ê²°ì œ í˜ì´ì§€ ì§„ì… |  |
| `complete.subscription` | ì²« ê²°ì œ ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… _(ì²« ê²°ì œê°€ ì¤‘ë³µì´ë©´ í™˜ë¶ˆ í›„ ì¬ê²°ì œí•œ ì¼€ì´ìŠ¤)_ |
| `renew.subscription` | ì •ê¸° ê²°ì œ ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… |
| `resubscribe.subscription` | ë§Œë£Œ í›„ ì¬êµ¬ë… ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… |
| `start.free_trial` | ì„œë¹„ìŠ¤ ë¬´ë£Œì²´í—˜ ì‹œì‘ | ì½˜í…ì¸  ID, ìš”ê¸ˆì œ ì¢…ë¥˜, ì •ìƒê°€ |
| `click.cancel_plan_button` | êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ í´ë¦­ | _(í´ë¦­ ì‹œ êµ¬ë… ì·¨ì†Œë¡œ ê°„ì£¼ë¨)_ |

---

## **4ï¸âƒ£ ì‚¬ìš©ì ì¸í„°ë™ì…˜ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `click.episode_page_related_comment_box` | ì—í”¼ì†Œë“œ í˜ì´ì§€ ë‚´ ëŒ“ê¸€ë³´ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID, ëŒ“ê¸€ ID |

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import timedelta

In [40]:
# ìŒ??? ë©”ëª¨ë¦¬ ì—ëŸ¬ ë‚˜ë„¤????
# folder_path = 'C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸'
# files = os.listdir(folder_path)

# # íŒŒì¼ë³„ ë°ì´í„°í”„ë ˆì„ ìƒì„±
# # rsplit()ì€ ë¬¸ìì—´ì„ ì˜¤ë¥¸ìª½(r)ì—ì„œë¶€í„° ë‚˜ëˆ”.
# # '.' ê¸°ì¤€ìœ¼ë¡œ ìµœëŒ€ 1ë²ˆ ë¶„í• í• 
# for i in files:
#         file_name = i.rsplit('.', 1)[0].replace('.', '_')  # í™•ì¥ì ì œê±° + '.' â†’ '_'
#         file_path = f'{folder_path}/{i}'  # íŒŒì¼ ê²½ë¡œddd

        
#         globals()[file_name] = pd.read_csv(file_path)

# # ë³€ìˆ˜ ë¦¬ìŠ¤íŠ¸ í™•ì¸
# print('ìƒì„±ëœ ë°ì´í„° í”„ë ˆì„ ë³€ìˆ˜')
# for name in files:
#         df_name = name.rsplit('.',1)[0].replace('.','_')
#         print(df_name)

- ì›¹ í¬ë¡¤ëŸ¬ë¡œ ë³´ì´ëŠ” chrome headless(os_name)ëŠ” ì œê±° í•  í•„ìš” ìˆìŒ

### 1. ì„œë¹„ìŠ¤ ë©”ì¸ í˜ì´ì§€ ì§„ì…(enter.main_page)

In [9]:
enter_main_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.main_page.csv')
enter_main_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,1.0.0.0,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN

In [10]:
enter_main_page['client_event_time'] = pd.to_datetime(enter_main_page['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
enter_main_page["client_event_time"] = enter_main_page["client_event_time"] + timedelta(hours=9)

In [11]:
print(enter_main_page['client_event_time'].min())
print(enter_main_page['client_event_time'].max())

1978-01-01 19:22:27.371000
2023-12-15 11:46:11.182000

In [12]:
# ë°ì´í„° íƒ€ì… ë³€ê²½ í™•ì¸
enter_main_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133548 entries, 0 to 2133547
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 195.3+ MB

In [13]:
# ë©”ì¸ í˜ì´ì§€ ì§„ì… í•  ë•Œ ê²°ì¸¡ì´ ì•„ë‹Œ user_idëŠ” ìë™ ë¡œê·¸ì¸ ìƒíƒœ ì¼ ìˆ˜ ìˆë‹¤.
enter_main_page.isnull().sum()

city                   56988
client_event_time          0
country                 1869
device_carrier       2133548
device_family           2813
device_type            60050
event_type                 0
language                   0
os_name                 2304
os_version             13868
platform                   0
user_id              1611032
dtype: int64

In [14]:
enter_main_page['city'].value_counts()

city
Seoul              532425
Gangnam-gu          62074
Suwon               54819
Seongnam-si         53785
Yongin-si           40355
                    ...
BrasÃ­lia                1
Daly City               1
Biraedong               1
Bad Rothenfelde         1
Hebi                    1
Name: count, Length: 3429, dtype: int64

In [45]:
enter_main_page['country'].value_counts()

country
South Korea      2079303
United States      18925
Japan               5329
Canada              4142
Germany             3009
                  ...
Kosovo                 1
Somalia                1
Belize                 1
Mauritania             1
Guyana                 1
Name: count, Length: 172, dtype: int64

In [15]:
# ì›”ë³„ ì‚¬ìš©ìœ ì €
enter_main_page.groupby(enter_main_page['client_event_time'].dt.to_period('M')).count()

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
client_event_time,,,,,,,,,,,,
1978-01,2,2,2,0,2,2,2,2,2,2,2,0
1978-05,1,1,1,0,1,1,1,1,1,1,1,0
1978-06,2,2,2,0,2,2,2,2,2,2,2,0
1978-07,1,1,1,0,1,1,1,1,1,1,1,0
1978-11,1,1,1,0,1,1,1,1,1,1,1,0
1978-12,3,3,3,0,3,3,3,3,3,3,3,0
2021-05,1,1,1,0,1,1,1,1,1,1,1,0
2021-11,28,29,29,0,29,29,29,29,29,29,29,7
2021-12,8,8,8,0,8,8,8,8,8,8,8,6
2022-01,75492,77191,77166,0,76794,76775,77191,77191,76803,76801,77191,49587
2022-02,109786,112409,112319,0,112347,112325,112409,112409,112362,112339,112409,52250
2022-03,107938,111261,111130,0,111064,111062,111261,111261,111069,111048,111261,50858
2022-04,84605,86276,86240,0,86164,86162,86276,86276,86191,86188,86276,39664
2022-05,84453,86600,86549,0,86516,86513,86600,86600,86522,86510,86600,39307
2022-06,92566,94169,94134,0,94093,94091,94169,94169,94096,94090,94169,42615
2022-07,80908,82166,82111,0,82054,82051,82166,82166,82061,82044,82166,41906
2022-08,58431,59615,59577,0,59522,59517,59615,59615,59530,59522,59615,23111
2022-09,45901,46703,46663,0,46636,46636,46703,46703,46639,46639,46703,17845
2022-10,42167,43564,43500,0,43511,43509,43564,43564,43471,43464,43564,15540
2022-11,104370,107789,107683,0,107659,107093,107789,107789,107686,106323,107789,19999
2022-12,148164,154000,153843,0,153860,152040,154000,154000,153894,151859,154000,28611
2023-01,182213,188240,188059,0,188131,185749,188240,188240,188180,183844,188240,36605
2023-02,93966,96943,96632,0,96828,95117,96943,96943,96897,96508,96943,20594
2023-03,109062,112445,112333,0,112323,109522,112445,112445,112386,111612,112445,10871
2023-04,69019,71171,71114,0,71054,68759,71171,71171,71099,70686,71171,3870
2023-05,57735,59256,59174,0,59141,55260,59256,59256,59167,58808,59256,2622
2023-06,65698,67525,67464,0,67403,61343,67525,67525,67407,67210,67525,2384
2023-07,78427,80554,80480,0,80428,74438,80554,80554,80441,80073,80554,2888
2023-08,84690,86820,86796,0,86660,80234,86820,86820,86676,86249,86820,3566
2023-09,79299,81225,81189,0,81169,74582,81225,81225,81170,80816,81225,4102
2023-10,82639,85137,85105,0,84932,77829,85137,85137,85036,84734,85137,5143
2023-11,102753,105333,105275,0,105311,98299,105333,105333,105315,105193,105333,6373
2023-12,36231,37108,37095,0,37087,34544,37108,37108,37098,37072,37108,2192

In [16]:
# ì›”ë³„ ìœ ì… ìœ ì €ì˜ ì´ ìˆ˜ì™€ user_idê°€ ìˆëŠ” ìœ ì €, user_idê°€ ì—†ëŠ” ìœ ì € ì¤‘ user_idê°€ ì—†ëŠ” ìœ ì €ì˜ ë¹„ìœ¨

monthly_user = pd.DataFrame()
                            
monthly_user['month'] = enter_main_page['client_event_time'].dt.to_period('M') # ì›”ë³„ë¡œ ë³€í™˜

# ìœ ì € ì•„ì´ë””ê°€ ìˆì‘ ìœ ì € ìˆ˜ì™€ ìœ ì € ì•„ì´ë””ê°€ ì—†ëŠ” ìˆ˜ ì›”ë³„ë¡œ ê·¸ë£¹í™”í™”
monthly_user['user_id_status'] = enter_main_page['user_id'].notna().map({True : 'user_id_cnt', False : 'non_user_id_cnt'})
group = (monthly_user.groupby(['month','user_id_status']).size().unstack(fill_value = 0).reset_index())

#total_user ì´ ìœ ì € ìˆ˜ ê³„ì‚°
group['total_users'] = group['user_id_cnt'] + group['non_user_id_cnt']

# user_id ì—†ëŠ” ìœ ì € ìˆ˜ìˆ˜ ë¹„ìœ¨ ê³„ì‚°
group['missing_user_id_ratio'] = ((group['non_user_id_cnt'] / group['total_users']) * 100).round(2)

# 2022ë…„ 1ì›”ë¶€í„° 2023ë…„ 12ì›” ë°ì´í„°ë§Œ ì¶”ì¶œì¶œ
group = group[(group['month'] >= '2022-01') & (group['month'] <= '2023-12')]

group.columns.name = None # index ì´ë¦„ ì œê±°

group

      month  non_user_id_cnt  user_id_cnt  total_users  missing_user_id_ratio
9   2022-01            27604        49587        77191                  35.76
10  2022-02            60159        52250       112409                  53.52
11  2022-03            60403        50858       111261                  54.29
12  2022-04            46612        39664        86276                  54.03
13  2022-05            47293        39307        86600                  54.61
14  2022-06            51554        42615        94169                  54.75
15  2022-07            40260        41906        82166                  49.00
16  2022-08            36504        23111        59615                  61.23
17  2022-09            28858        17845        46703                  61.79
18  2022-10            28024        15540        43564                  64.33
19  2022-11            87790        19999       107789                  81.45
20  2022-12           125389        28611       154000                  81.42
21  2023-01           151635        36605       188240                  80.55
22  2023-02            76349        20594        96943                  78.76
23  2023-03           101574        10871       112445                  90.33
24  2023-04            67301         3870        71171                  94.56
25  2023-05            56634         2622        59256                  95.58
26  2023-06            65141         2384        67525                  96.47
27  2023-07            77666         2888        80554                  96.41
28  2023-08            83254         3566        86820                  95.89
29  2023-09            77123         4102        81225                  94.95
30  2023-10            79994         5143        85137                  93.96
31  2023-11            98960         6373       105333                  93.95
32  2023-12            34916         2192        37108                  94.09

- ì´ìƒí•œ ë‚ ì§œ ì¡´ì¬(ì „ì²˜ë¦¬ í•„ìš”!)
- ì‹œê°„ì´ ì§€ë‚ ìˆ˜ë¡ user_id ì—†ì´ ì»¨í…ì¸  ì´ìš©ìê°€ ì¦ê°€í•˜ê³  ìˆìŒ -> ê·¸ë ‡ë‹¤ë©´ êµ¬ë… ì•ˆí•˜ê³  ì´íƒˆ í™•ë¥  ë†’ì•„ì§
- user_idê°€ ì—†ì´ ë©”ì¸ í˜ì´ì§€ì— ì§„ì…í•˜ì—¬ í•  ìˆ˜ ìˆëŠ”ê±´ ë­ê°€ ìˆì„ê¹Œ?
    -> 5ë²ˆ ì½˜í…ì¸  ìˆ˜ê°•í•˜ê¸° ë²„íŠ¼ í´ë¦­ì—ì„œ ë²„íŠ¼ ì´ë¦„ê³¼ ì—°ê´€ì§€ì–´ ë³¼ ìˆ˜ ìˆì„ê¹Œ?

### 2. íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì…(enter.signup_page)
- user_id ëª¨ë‘ ê²°ì¸¡ì¹˜ -> íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì…ì´ê¸° ë•Œë¬¸ì— ì—†ì„ ìˆ˜ ë°–ì—!

In [5]:
enter_signup_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.signup_page.csv')
enter_signup_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:30:42.557000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,112.0.0.0,Web,NaN
1,Seoul,2023-04-05 21:37:41.467000,South Korea,NaN,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
2,Seoul,2023-04-05 21:05:53.237000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,16.4,Web,NaN

In [6]:
# client_event_time ë°ì´í„° íƒ€ì… ë³€ê²½
enter_signup_page['client_event_time'] = pd.to_datetime(enter_signup_page['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
enter_signup_page["client_event_time"] = enter_signup_page["client_event_time"] + timedelta(hours=9)

In [17]:
print(enter_signup_page['client_event_time'].min())
print(enter_signup_page['client_event_time'].max())

2021-11-25 09:08:17.825000
2024-01-01 08:59:22.267000

In [7]:
enter_signup_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596829 entries, 0 to 596828
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               581024 non-null  object
 1   client_event_time  596829 non-null  datetime64[ns]
 2   country            596315 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      596747 non-null  object
 5   device_type        567387 non-null  object
 6   event_type         596829 non-null  object
 7   language           596829 non-null  object
 8   os_name            596754 non-null  object
 9   os_version         594650 non-null  object
 10  platform           596829 non-null  object
 11  user_id            0 non-null       float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 54.6+ MB

In [8]:
enter_signup_page.isnull().sum()

city                  15805
client_event_time         0
country                 514
device_carrier       596829
device_family            82
device_type           29442
event_type                0
language                  0
os_name                  75
os_version             2179
platform                  0
user_id              596829
dtype: int64

In [51]:
enter_signup_page['device_family'].unique()

array(['Samsung Phone', 'Samsung SM-S916N', 'Apple iPhone', 'Mac',
       'Windows', 'Samsung Galaxy Phone', 'Samsung Tablet',
       'Motorola Phone', 'Redmi Phone', 'Apple iPad',
       'Samsung Galaxy Note', 'K', 'Samsung SM-S911N', 'LG LM-X220N',
       'Linux', 'Chromium OS', 'Samsung Galaxy Tab', 'LG LM-G910N',
       'Samsung SM-S918N', 'LG V607L', 'Ubuntu',
       'Xiaomi Redmi Note 10 Lite', 'MobiGo2', 'LGE Phone',
       'Apple iPad14,3', 'LG LM-Q630N', 'Google Phone', 'LG LM-G820N',
       'LGM-V300L', 'LG LM-V500N', 'Google Nexus Phone', 'LG V525',
       'LG LM-V409N', 'LG LM-V510N', 'LG lge', 'M2006C3MG', 'LGM-V300S',
       'A001XM', 'Huawei Phone', '2206122SC', 'LG LM-Q920N',
       'LG LM-Q510N', 'LG LM-G710N', 'LG V522', 'M2012K11AC',
       'LG LM-F100N', 'LG LM-V350N', 'LG LM-Q815K', 'LG F350S',
       '2201116SG', 'Samsung SM-A346N', 'Dicle_Tab_Lite_M',
       'Lenovo YT-X705F', 'M2101K7AG', 'LG LM-X625N', 'BTV-DL09',
       'LG LM-Q927L', 'Xiaomi Phone', 'M2002J9S', 'LG LM-Q815L',
       'LGM-V300K', 'LG F520S', 'M2003J15SC', 'Android',
       'Samsung SM-P585N', 'Samsung SM-T815N', 'LGM-X800L', 'MLT181101',
       'LG LM-Q925L', 'LGM-X600L', 'Samsung SM-S911B', 'Model 3',
       'Samsung SM-A546S', 'M2006C3LG', 'Revolution A8',
       'Samsung SM-T585N', '21061119AG', 'Lenovo TB-J606F',
       'Samsung SM-T825N', 'uie4027lgu', 'Sony Xperia Phone',
       'Xiaomi Tablet', 'LG V498S1', 'LG LM-X510K', '2201117TY',
       'Acer A2020', 'LG F600S', 'LG LM-Q520N', 'Infinix X665',
       'M2102J20SG', 'LG LM-X415K', 'LG LM-Q925S', 'LG P530L',
       'LG LM-Q310N', 'Samsung SM-T337A', 'Huawei SCM-AL09',
       'Blackberry Phone', 'Lenovo TB-J706F', 'Samsung SM-T715N',
       'Lenovo TB-J607Z', 'Samsung SM-P905F', 'Samsung SM-S918W', 'SCG11',
       'LG LM-T605', 'Samsung SM-S918B', '2201116TG', 'U10PRO', 'AT-M120',
       'Amazon Fire Tablet', 'M2007J20CG', 'Oppo Phone', 'NEON_RAY_PRO',
       'Nokia C31', 'Infinix X663', '2201117TG', 'Xiaomi Redmi 9',
       'M2012K11AG', 'ZTE Tablet', 'LG V755', 'LG F800S', 'LG LM-X420',
       'M2006C3MII', 'LGM-G600K', 'LGM-X600S', 'J9210', 'FS8032',
       'LG F800L', 'LG LM-Q725L', 'OPPO CPH2409', 'wv', 'Sony G8141',
       'K88', 'A063', 'DICLE_IPLAY40_PRO', 'HL105', '6125F', 'ZTE Phone',
       'RMX3195', 'Vivo 1906', 'POCO Phone', 'Huawei Tablet', 'TB128FU',
       'LG LM-X410S', 'M2004J19C', 'LGM-G600L', 'LG F700L', nan,
       'SHV-E250S', 'Infinix X657', 'TECNO KC8', 'SCG20', 'T40PRO_L1',
       'LG LM-X510S', 'OPPO CPH2099', 'LG F820L', 'LG X760W',
       'LG LM-Q725K', 'LG LM-Q730N', '21051182G', 'LG LM-Q925K',
       'itel S12', 'Lenovo TB128FU', 'M40', 'RMX3231', 'M40_EEA',
       'Realme Phone', 'M2105K81AC', 'Jelly2', 'Samsung Tizen',
       'Samsung SM-T807R', 'Xiaomi Redmi Note 10 Pro', 'Tab_Ultra',
       'LGM-K121K', 'muPAD L10', 'Sony G8341', 'Lenovo YT-X703F',
       'Xiaomi POCO F1', 'Active', 'SKW-H0', 'M2101K6R', 'Mi 10 Pro',
       '220333QAG', 'HD1910', 'M2007J3SG', 'LG LM-Q815S', 'LGM-X320K',
       'Huawei M2-802L', 'Samsung SM-S916B', 'Infinix X688B',
       'Samsung SM-S916U1', '22081283G', 'LG F750K', 'P80X_EEA', 'DN2103',
       'AVS1101WMT', 'IM-100S', '22041216G', 'TL99G', 'LGM-X320L',
       'M2103K19G', 'Dicle_Dtab_Kpad', 'Infinix X6511B', 'P20HD_KR',
       'LG Phone', 'LGM-K121S', 'LG LM-T600L', 'M2010J19CG', '9032T',
       'LOGIC L63', 'Mstick2', 'Z4PRO', 'LG F800K', 'iPlay_30', 'SCV42',
       'XQ-BQ72', 'DTABPLUS', 'SH-RM15', 'Lenovo TB-X606F', 'TECNO BF7',
       'LGM-G600S', 'M2002J9G', 'LG Linux', 'Lenovo TB-X704F', 'A002OP',
       'Xiaomi Redmi Note 11 Pro 5G', 'M2006C3MNG', 'LG LM-V700N',
       'WM-LG8200', 'HiPad X', 'M2006C3LVG', 'S98', 'UHD4K', 'iPlay_20',
       '8788_7', 'Mi Note 10', 'LG V940', 'TECNO CI6', '8094M', 'H8416',
       'LG F600L', 'ASUS AI2202', 'OPPO CPH2349', 'SC-51C', 'LG F650S',
       'LGM-X600K', 'EG104', '22021211RG', '2107113SG', 'PBEM00',
       'LG LM-Q725S', 'P7', 'Sony Android', 'TV BOX', 'Samsung SM-S916W',
       'Sony Phone', 'BlackBerry', 'Lenovo Tablet', 'SHV-E330K', 'H8314',
       'Samsung SM-T677N', 'P20HD_EEA', 'Lenovo L70081', '10A30Q',
       'LG F500K', 'Tizen', 'M40Pro_ROW', 'LG LM-X510L', 'T40_Plus_KR',
       '2201117TL', 'Xiaomi MID', '21091116AC', 'LG LM-X415L',
       'M2006C3MT', 'Lenovo TB-J716F', 'TECNO KG5k', 'OPPO CPH2095',
       '2109119DI', 'J9L', '2201117TI', 'Infinix X6516', 'OPPO CPH2577',
       'V2059', 'V2202', 'RMX3241', '23028RN4DI', 'RMX3511', 'itel L6005',
       'LS1542QWN', 'Infinix PR652B', 'V2252', 'OPPO CPH2363',
       'OPPO CPH2015', 'M2007J20CI', 'OPPO CPH2359', 'OPPO CPH2461',
       'Xiaomi Redmi 10C', 'Lenovo TB-J607F', 'RMX3760',
       'Samsung SM-A245N', 'OPPO CPH2495', 'Lenovo TB-X306X', 'Vivo 1909',
       'RMX3630', 'RMX3761', 'M2010J19SG', 'Vivo V2183A', 'V2152',
       'Samsung SM-S711N', 'Infinix X677', 'OPPO CPH2269',
       'Samsung SM-X216N', 'Infinix X650B', 'Huawei MGA-LX9', 'V2125',
       'M2006C3LII', 'RMX3516', 'V2052', 'Infinix X695C', 'RMX3581',
       'Infinix X682B', 'V2311', 'RMX3491', 'TECNO KG6k', 'RMX3521',
       'Huawei REP-AN00', 'Vivo Phone', 'TECNO BD3', '220733SG',
       'OPPO CPH2505', '220733SPI', 'Huawei FNE-AN00', 'LG Nexus 4',
       '220743FI', 'Huawei MNA-AL00', 'TECNO KF7j', 'V2026', 'RMX3700',
       'OPPO CPH2473', 'LAVA LMG01', 'Huawei TFY-AN40',
       'Huawei FRL-AN00a', 'Infinix X653', 'RMX3063', 'Vivo V2282A',
       'TECNO KG5h', 'Huawei CMA-AN40', 'Huawei ANY-AN00',
       'Generic Android 11', 'TECNO KG5j', 'Vivo V2284A', 'OPPO CPH2481',
       '23078RKD5C', 'OPPO CPH2565', 'OPPO CPH2113', 'NovaAirC', 'V2025',
       'LG F700S', 'Tecno Tablet', 'V2228', 'RMX3265', 'V2126',
       'M2006C3LI', 'V2033', 'V2130', 'V2153', '2201116PI', 'RMX3263',
       'TECNO KE6', 'Vivo 1901', 'TECNO AD8', '220333QBI', 'M2012K11I',
       'V2055', 'M2006C3MI', 'Xiaomi Redmi 9A', 'Atom3', '22071219CG',
       'OPPO CPH2375', 'Huawei BAH3-L09', 'Vivo 1811', 'RMX3201',
       'M2103K19C', 'itel A571L', '220233L2G', 'V2254', 'M2101K7AI',
       'V2207', 'V2204', 'Generic Android 13', 'V2247', 'TECNO LD7j',
       'itel P662L', 'Xiaomi Redmi Note 7S', 'Realme RMX1825', 'V2029',
       'M2012K11AI', 'Lenovo TB-9707F', 'LG LM-T600', 'V2312', 'V2102',
       'itel L5006C', 'Xiaomi Redmi 9T', 'V2111', 'Infinix X680D',
       'TECNO KH6', 'Vivo 1938', 'Xiaomi Redmi Note 10 5G', 'TECNO KI5k',
       'itel A632W', 'V2027', 'Vivo 1904', 'Vivo 1803', '21081111RG',
       'IN_2b', 'itel A571W', 'itel W6004P', 'TECNO P703', 'itel L6006',
       'Zeki TB128FU', 'RMX3269', '21061119AL', 'Huawei DRA-LX9',
       'TECNO CG6', '220733SFG', 'V2246', 'RMX3261', 'V2146',
       '23021RAAEG', 'G90 PRO', 'V2022', 'M2101K7BI', 'Zeki TB328FU',
       'Huawei CHL-AN00', 'PHJ110', 'Huawei JEF-AN00', 'Huawei CMA-AN00',
       'Vivo V2203A', 'HMSCore 6.12.2.302', 'OPPO PERM10', 'Vivo V2162A',
       '2211133C', 'DL4 Plus', 'Infinix X6825', 'Infinix X627',
       'Huawei NTN-AN20', 'M2010J19SI', 'M2010J19CI', 'Vivo 1818',
       'Realme RMX1901', 'Vivo 1933', 'Infinix X6517', 'PHV110',
       'Apple iPhone16,2', '2201117PI', 'Vivo 2018', 'V2168', '5033G',
       'iPlay 50 mini Pro', 'RMX3092', 'Vivo V2278A', 'RMX3612',
       'Huawei FRL-L22', 'RMX3690', 'V2117', 'OPPO CPH2223',
       'Infinix X6823C', 'OPPO CPH2477', 'V2118', 'Nokia Phone', 'PHK110',
       'Infinix X688C', 'TECNO BF6', 'Infinix X692', 'TECNO KE5',
       'Vivo V2243A', '2303CRA44A', '220733SH', '22081212C', 'ATV R1',
       'RMX3501', 'V2310', 'Infinix X650C', 'TECNO KE5j', 'itel P651L',
       'Xiaomi Redmi Note 12S', 'Huawei AQM-LX1', 'LG F700K', 'V2050',
       'V2140', '2201116SI', 'RMX3081', 'Google Pixel 7a', 'LG P451L',
       'itel S661L', 'RMX3624', 'Infinix X680', 'Huawei TAS-L29',
       'OPPO CPH2371', 'OPPO CPH2341', 'OPPO CPH2373', 'V2249',
       'Huawei NAM-L29', 'RMX3171', 'Infinix X657B', 'Vivo 1919',
       'Vivo 1804', 'LOGIC L65 LITE', 'itel A551L', 'PFTM20', '22041219I',
       'Samsung SM-A546E', 'RMX3780', 'Huawei JNY-L21', 'Vivo 1611',
       'Sparx Neo 7 Pro', 'OPPO CPH1938', 'M2103K19PI', 'Infinix X662',
       '2201116TI', 'RMX3268', 'Vivo 1920', 'V2239', 'V2040', 'V2068',
       'V2218', '21091116I', 'Xiaomi Redmi Y2', 'I2206', 'V2238', 'V2253',
       'I2126', 'V2225', 'V2065', 'I2203', 'V2141', '211033MI',
       '22122RK93C', 'p50', 'PEHM00', 'Vivo X20A', '2302EPCC4I',
       'TECNO KG6', 'Infinix X612B', 'Xiaomi Redmi Note 12 Pro 5G',
       'OPPO CPH2579', 'GMSCore 20.45.16', 'M2104K10AC', 'Vivo 1820',
       'RMX3121', 'Huawei REA-AN00', 'Huawei JNY-L22', 'Vivo V2270A',
       'Vivo V2301A', '21091116UC', 'M2006J10C', 'Vivo 1814', 'TECNO LD7',
       '23013RK75C', '220733SI', 'OPPO PDKM00', 'L202303',
       'Huawei LSA-AN00', 'Huawei BNE-AL00', 'Realme RMX2163',
       '23049RAD8C', 'PHM110', 'Huawei OCE-AN50', 'RMX3357', 'MRD-LX1F',
       'Huawei BRQ-AN00', 'Huawei CET-AL00', 'itel L6501', 'M2101K9C',
       'Huawei TNNH-AN00', 'Huawei LNA-AL00', 'Huawei JSC-AL50',
       'itel L6502', 'M2101K7BG', 'A1601', 'Infinix X6816C', 'RMX3151',
       'OPPO CPH2109', 'OPPO CPH2455', 'Huawei TFY-LX2', 'Infinix X650D',
       'V2101', 'Huawei KOB2-L09', 'Huawei ANE-L21', 'FIG-LA1',
       'Huawei STG-LX1', 'SCG12', 'Huawei CMA-LX3', 'Huawei YAL-L61',
       '220233L2I', 'TECNO KC2', 'TECNO CC7', 'OPPO CPH1823', 'RMX3710',
       '2107113SI', 'Vivo V2123A', 'V2061', 'V2037', 'Vivo 1819', 'BRAVE',
       '22041216I', 'itel A661L', 'V2203', 'Motorola moto e13',
       'TECNO KI8', 'V2158', 'SCV38', '22101316C', 'Vivo V2009A',
       'Vivo V2232A', 'Huawei NAM-AL00', 'Vivo V2156A', 'V2111-EG',
       'TECNO BD4j', 'Zeki TB320FC', 'Primo GH9', 'Huawei NTH-N29',
       'TECNO KH7', 'Huawei BLA-L29S', 'M2102J20SI', 'V2217',
       'Symphony Z45', 'M10', 'Vivo V2217A', 'HD1900', 'V2043_21',
       'Infinix X6812', 'V2120', '23053RN02A', 'Infinix X689C',
       'Infinix X687B', 'TIOK S60', 'itel L5505', 'V2058',
       'Infinix X680B', 'OPPO CPH2293', 'TECNO BB2', 'Vivo 1915',
       'itel L5002P', 'Huawei BEETHOVEN-DL09', 'Infinix X689',
       '21091116AI', 'TECNO BD4a', 'Coolpad_2041', '220733SL',
       'Huawei RMO-NX1', 'Huawei VNE-LX3', 'OPPO CPH2271', 'itel W6004',
       '22120RN86I', 'RMX3191', 'OnePlus A6010', 'itel S665L', 'Vivo Y67',
       'RMX3627', 'V2105', 'OPPO CPH2387', 'iPlay50Pro', 'OPPO CPH2325',
       'Huawei AGRK-L09', 'Huawei GDI-W09', 'TECNO BF7h', 'OPPO CPH2385',
       'Huawei CDY-AN20', '220733SPH', 'Xiaomi Redmi 12C', 'Vivo V2069A',
       'Vivo V2244A', '2109119DG', 'PHW110', 'MAR-LX1M', '22127RK46C',
       'Huawei ALN-AL80', 'Vivo V2220A', '22041216C', 'OPPO PDYM20',
       'Huawei ANN-AN00', 'Huawei CDY-TN90', 'Xiaomi Redmi Note 11',
       'TECNO CK7n', 'PHJ110H2', 'Huawei CDY-AN00', 'Infinix X665B',
       '22120RN86G', 'Video Downloader', 'LG LM-X415S', '21121210G',
       'OPPO CPH2421', 'V2145', 'Vivo 1902', 'SHARK PRS-H0', 'V2142',
       'TECNO KF8', 'V2060', 'V2231', 'Vivo 1917', 'TECNO LE6', 'V2109',
       'V2222', 'Motorola moto g13', '22087RA4DI', 'M2101K9AI',
       'itel A662LM', '23021RAA2Y', 'Xiaomi Redmi Note 11S', 'itel A662L',
       'Tecno Watch', 'itel A510W', 'SCV39', 'Infinix X659B',
       'Infinix X689F', 'OPPO CPH2237', 'Xiaomi 12 Lite', 'Infinix X6827',
       'RMX3830', 'Vivo 1806', 'Microsoft Lumia 950XL', 'SCV36',
       'Infinix X6816', 'Samsung SM-M446K', 'M40(N9H3)', 'Infinix X682C',
       'M2103K19I', 'V2036', 'OPPO CPH2471', 'Symphony Phone', 'i18',
       'V2031', 'Infinix X6817', '22127PC95I', 'LAVA LZX407',
       'itel P651W', 'OPPO CPH2235', 'Realme RMX1827', 'Vivo 1716',
       'Infinix X690', 'PGFM10', 'Vivo V2199A', 'Huawei ALA-AN70',
       'Huawei NCO-AL00', 'TECNO KD6', 'Vivo V2302A', 'Vivo V2136A',
       'PGAM10', 'Vivo V2164A', 'V2070', 'LG F460K', 'RMX3085',
       'Infinix X652A', 'V2116', 'Huawei DCO-AL00', 'OPPO CPH2333',
       'TECNO PR651H', '21121119SG', 'Infinix X624B', 'V2205',
       'LGM-X320S', 'V2069', 'RMX3381', 'Xiaomi Redmi Note 12 Pro',
       'itel P681L', 'TECNO KF6p', '4063F', '22011119TI', 'Vivo 1807',
       'Infinix X665E', 'TECNO KE5k', 'Primo R8', 'Samsung SM-X910',
       'OPPO CPH2457', 'PFJM10', 'PFUM10', 'M2101K7BL', 'Vivo 1937',
       '21091116UI', 'Z55', 'V2127', 'Infinix X6515', 'OnePlus Phone',
       'Infinix X668', 'Vivo V2283A', '2304FPN6DC', 'Huawei DIO-AN00',
       'LE2100', 'itel A507LM', 'Vivo V2148A', 'Huawei PGT-AN00',
       'Huawei OXF-AN00', '22021211RC', 'PFTM10', 'Huawei TFY-AN00',
       'Huawei PGT-AN10', 'Huawei CDL-AN50', 'RMX3706', 'PBAM00',
       'PGX110', 'M2007J17C', 'HMSCore 6.12.0.302', 'Sony C3600',
       'TECNO KE6j', 'Xiaomi POCO X3 Pro', 'RMX3661', 'RMX3235',
       'TECNO KG7h', 'SUGAR Y9', 'Infinix X693', '23046RP50C',
       'M2102J2SC', 'Samsung SM-X816N', 'Huawei NMO-L31', '22101316UG',
       '5029D', 'i80', 'TECNO KF6k', 'OPPO CPH2469', 'ETOOSPAD6',
       'Xiaomi Redmi Note 10', 'LG F770S', 'NEW 12', '2201117PG',
       'Huawei GOA-AL80', 'PGBM10', 'Vivo V2207A', 'VP005', 'PFGM00',
       'GM1913', 'V2143', 'M2104K10I', 'HM NOTE 1S', '21091116C',
       'TECNO BB4k', 'TECNO BD4i', 'Huawei EVE-LX9', 'LG LM-K315IM',
       'Infinix X689B', '23028RNCAG', '21061110AG', 'OPPO CPH2531',
       '22101320C', '22071219AI', 'Infinix X653C', 'Infinix X6512',
       'RMX3286', '2211133G', 'Infinix X6831', 'Infinix X655C'],
      dtype=object)

In [52]:
enter_signup_page['device_type'].unique()

array(['Samsung Galaxy A51 5G', nan, 'Apple iPhone', 'Mac',
       'Samsung Galaxy Quantum2', 'Windows', 'Samsung Galaxy A23',
       'Samsung Galaxy S21 Ultra 5G', 'Samsung Galaxy Note20 5G',
       'Samsung Galaxy S21 5G', 'Samsung Galaxy On7(2016)',
       'Samsung Galaxy Tab A', 'Motorola Moto G4', 'Samsung Galaxy S10',
       'Motorola moto g power (2022)', 'Redmi Note 10 Pro',
       'Samsung Galaxy A31', 'Samsung Galaxy S22',
       'Samsung Galaxy A53 5G', 'Samsung Galaxy S10+',
       'Apple iPhone 12 Pro', 'Apple iPad', 'Samsung Galaxy S20 FE 5G',
       'Samsung Galaxy Tab S6 Lite', 'Apple iPhone 13',
       'Samsung Galaxy Note20 Ultra 5G', 'Samsung Galaxy Note9',
       'Samsung Galaxy S22 Ultra', 'Samsung Galaxy S20+ 5G',
       'Samsung Galaxy A32', 'Apple iPhone 14 Pro',
       'Samsung Galaxy Z Flip4', 'Samsung Galaxy Note 8',
       'Apple iPhone 11', 'Samsung Galaxy Z Flip3 5G', 'Apple iPhone XR',
       'Apple iPhone 11 Pro', 'Apple iPhone XS Max',
       'Apple iPhone 13 mini', 'Linux', 'Samsung Galaxy Note10 5G',
       'Samsung Galaxy S20 5G', 'Samsung Galaxy Tab S8+',
       'Samsung Galaxy S9+', 'Samsung Galaxy Note10+ 5G',
       'Apple iPhone 14 Pro Max', 'Samsung Galaxy S21+ 5G',
       'Apple iPhone 13 Pro', 'Samsung Galaxy Z Flip 5G',
       'Samsung Galaxy S22+', 'Samsung Galaxy A8(2018)',
       'Apple iPhone 12 Mini', 'Chromium OS',
       'Apple iPhone SE (3rd generation)',
       'Samsung Galaxy Tab S8 Ultra 5G', 'Samsung Galaxy S8',
       'Samsung Galaxy Tab S7', 'Samsung Galaxy Quantum3',
       'Apple iPhone 13 Pro Max', 'Apple iPhone 7', 'Apple iPhone 14',
       'Samsung Galaxy A90 5G', 'Samsung Galaxy Tab A SM-T380',
       'Samsung Galaxy A80', 'Samsung Galaxy Z Fold4',
       'Samsung Galaxy A13 5G', 'Samsung Galaxy Jump',
       'Samsung Galaxy Z Fold3 5G', 'Samsung Galaxy A33 5G',
       'Samsung Galaxy Jump2', 'Samsung Galaxy Z Flip',
       'Samsung Galaxy Wide5', 'Samsung Galaxy A30',
       'Samsung Galaxy Fold 5G', 'Samsung Galaxy A12',
       'Samsung Galaxy A9 (2018)', 'Samsung Galaxy A22 5G',
       'Samsung Galaxy Wide4', 'Apple iPhone 12 Pro Max',
       'Apple iPhone SE 2nd Gen', 'Samsung Galaxy S10e', 'Ubuntu',
       'Samsung Galaxy Z Fold2 5G', 'Samsung Galaxy S20 Ultra 5G',
       'Samsung Galaxy A Quantum', 'Apple iPhone 12',
       'Samsung Galaxy Tab S7+', 'Apple iPhone 8', 'Samsung Galaxy S9',
       'Samsung Galaxy Tab S8', 'Apple iPhone XS', 'LG VELVET',
       'Samsung Galaxy A52s 5G', 'Samsung Galaxy Note20 Ultra',
       'Samsung Galaxy Wide3', 'Samsung Galaxy Tab S7 FE',
       'Samsung Galaxy Tab A with S Pen', 'Samsung Galaxy Tab Advanced2',
       'Samsung Galaxy S8+', 'Google Pixel 2 XL',
       'Apple iPad Pro 11" 3rd Gen (Wi-Fi Only)', 'Samsung Galaxy Tab S6',
       'Apple iPhone 7 Plus', 'Samsung Galaxy S7',
       'Apple iPad Air 4th Gen (Wi-Fi Only)', 'Samsung Galaxy A13',
       'Google Nexus 5', 'Samsung Galaxy A9 Pro',
       'Samsung Galaxy A8 Star', 'Samsung Galaxy Tab S7+ 5G',
       'Samsung Galaxy A5(2016)', 'Apple iPhone X',
       'Samsung Galaxy A7 (2018)', 'Apple iPhone 8 Plus',
       'Samsung Galaxy A21s', 'Samsung Galaxy A50',
       'Apple iPhone 14 Plus', 'Samsung Galaxy A03s',
       'Apple iPhone 6s Plus', 'Samsung Galaxy J7(2016)',
       'Samsung Galaxy A6', 'Apple iPhone 11 Pro Max',
       'Samsung Galaxy A5(2017)', 'Samsung Galaxy Note FE',
       'Samsung Galaxy Tab A8', 'Huawei HUAWEI Y7 2018',
       'Samsung Galaxy A2 Core', 'Samsung Galaxy Note 3',
       'Samsung Galaxy A42 5G', 'Samsung Galaxy XCover 5',
       'Samsung Galaxy M23 5G', 'Samsung Galaxy Tab A7 Lite',
       'Samsung Galaxy Note 5', 'Samsung Galaxy A04s',
       'Samsung Galaxy On7 Prime', 'Samsung Galaxy A40',
       'Samsung Galaxy Tab A7', 'Samsung Galaxy A10',
       'Samsung Galaxy S7 Edge',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi Only)', 'LGE X4(2019)',
       'Samsung Galaxy G8', 'Samsung Galaxy Tab S8 Ultra',
       'Xiaomi Pocophone F1', 'Apple iPhone 6s', 'Redmi Note 9S',
       'Apple iPad Air 4th Gen (WiFi+Celular)',
       'Samsung Galaxy Note Edge', 'Samsung Galaxy A10s',
       'Samsung Galaxy M20', 'Samsung Galaxy S20 FE', 'Android',
       'Samsung Galaxy Tab4 10.1', 'Samsung Galaxy A7(2016)',
       'Samsung Galaxy Wide', 'Samsung Galaxy Note10+', 'Google Pixel 6',
       'Samsung Galaxy Tab A (2017)', 'Samsung Galaxy Tab S4',
       'Samsung Galaxy A10e', 'Apple iPad Pro', 'Samsung Galaxy J5',
       'Samsung Galaxy A52 5G', 'Samsung Galaxy Note 10+',
       'Samsung Galaxy A03 Core', 'Samsung Galaxy A51',
       'Samsung Galaxy Tab S6 5G', 'Samsung Galaxy Tab S2 8.0',
       'Samsung Galaxy S6', 'Samsung Galaxy Tab S8 5G',
       'Samsung Galaxy Folder', 'Samsung Galaxy M02s',
       'Samsung Galaxy Tab S5e', 'Xiaomi Redmi Note 5 Pro',
       'Samsung Galaxy J6', 'Google Pixel 6 Pro',
       'Samsung Galaxy Tab A 10.1', 'Samsung Galaxy Jean2',
       'Samsung Galaxy S20+', 'Samsung Galaxy J4+',
       'Sony Xperia X Compact', 'Apple iPad 10.2" 8th Gen (Wi-Fi Only)',
       'Xiaomi MI PAD 4', 'Samsung Galaxy Tab 4 10.1',
       'Samsung Galaxy Tab S3', 'Samsung Galaxy S20 FE 5G UW',
       'Samsung Galaxy S21 FE 5G', 'Samsung Galaxy J7(2017)',
       'Samsung Galaxy Tab A (8.0", 2019)', 'Samsung Galaxy S10 Plus',
       'Redmi Note 8T', 'Xiaomi Redmi Note 8',
       'Samsung Galaxy Tab S2 9.7', 'Huawei HONOR 9X',
       'Samsung Galaxy Tab A (2016) with S Pen', 'Samsung Galaxy Jean',
       'Samsung Galaxy Note10', 'Xiaomi MI CC 9', 'BlackBerry KEY2',
       'Samsung Galaxy Tab 4 8.0', 'Apple iPad Mini 4',
       'Samsung Galaxy A32 5G', 'Xiaomi Redmi 6A', 'Samsung Galaxy A70',
       'Galaxy Note 5', 'Samsung Galaxy Note4',
       'Apple iPad Air 3rd Gen (WiFi)', 'Amazon Fire HD 10',
       'Samsung Galaxy Tab A (2018, 10.5)', 'Samsung Galaxy S6 Edge',
       'Xiaomi MI 8 Lite', 'Samsung Galaxy S6 Edge+',
       'Apple iPad (9th generation)', 'Samsung Galaxy Note10 Lite',
       'Samsung Galaxy A52', 'Oppo A1k',
       'Apple iPad Air (5th generation)', 'Samsung Galaxy M31',
       'Samsung Galaxy J2 Core', 'Samsung Galaxy Grand Prime Plus',
       'Samsung Galaxy A73 5G', 'Apple iPad 5',
       'Samsung Galaxy Tab E 8.0', 'ZTE Trek 2 HD', 'Samsung Galaxy A60',
       'Samsung Galaxy A20', 'Samsung Galaxy Note 4',
       'Xiaomi Redmi Note 8 Pro', 'Samsung Galaxy Tab S8+ 5G',
       'Samsung Galaxy J5 2017', 'Motorola moto g stylus (2022)',
       'Samsung Galaxy A7(2017)', 'Samsung Galaxy Folder2',
       'Samsung Galaxy Tab A 9.7', 'Samsung Galaxy Note4 S-LTE',
       'Samsung Galaxy M01 Core', 'Samsung Galaxy M12', 'Oppo OPPO Reno5',
       'Samsung Galaxy Tab S2', 'Samsung Galaxy A8(2016)',
       'Samsung Galaxy Note', 'Apple iPad Pro 11" (Wi-Fi Only - 4th Gen)',
       'ZTE Blade A3 2020', 'Samsung Galaxy TabE 8.0',
       'Samsung Galaxy A71', 'POCO F2 Pro',
       'Huawei HUAWEI MediaPad M5 8.4', 'Xiaomi Redmi Note 7',
       'Motorola moto e20', 'Apple iPad Pro 3', 'Huawei P20 Lite',
       'Apple iPad Mini 5th Gen', 'samsung galaxy Note9',
       'Samsung Galaxy S10E', 'Samsung Galaxy Wide2', 'Oppo A93',
       'Huawei P30', 'Motorola moto e6s', 'Samsung Galaxy S23 Ultra',
       'Google Pixel 3', 'ZTE K813', 'Samsung Galaxy Grand-Max',
       'Samsung Galaxy A22', 'Google Pixel 7 Pro',
       'Samsung Galaxy S23 5G', 'Oppo F7', 'Xiaomi MI 9',
       'Samsung Galaxy Note 9', 'Motorola moto g(50) 5G',
       'Samsung Galaxy Note 10.1', 'iPhone SE',
       'Samsung Galaxy Tab Active2', 'Realme X2', 'Samsung Galaxy A71 5G',
       'Oppo F9', 'Samsung Galaxy J7 Prime', 'Motorola moto g(20)',
       'Redmi Note 9 Pro', 'Samsung Galaxy J7', 'Samsung Galaxy M33 5G',
       'Huawei HUAWEI Y8s', 'Apple iPad 10.2" 7th Gen (Wi-Fi Only)',
       'Samsung Galaxy A04', 'Sony Xperia X Performance',
       'Apple iPad Pro 12.9" (Wi-Fi Only - 6th Gen)',
       'Apple iPad Air 3rd Gen', 'Huawei HUAWEI MediaPad M5 lite',
       'Google Pixel 3a', 'Samsung Galaxy J3(2017)',
       'Samsung Galaxy Tab A 7.0', 'Google Pixel 4a (5G)',
       'Samsung Galaxy A20s', 'Samsung Galaxy Note20',
       'Huawei Huwei Mate 20 X', 'Samsung Galaxy A72',
       'Samsung Galaxy Tab S 8.4', 'Redmi  7A', 'Samsung Galaxy A03',
       'LG V60 ThinQ 5G', 'Oppo A12', 'Google Pixel 6a',
       'Apple iPad Pro 12.9 inch 4th Gen', 'Samsung Galaxy A01 Core',
       'Realme 5i', 'Apple iPad Pro 11" 3rd Gen (Wi-Fi/Cellular)',
       'Samsung Galaxy J5(2016)', 'Samsung Galaxy A50s',
       'Samsung Galaxy Note 10', 'Motorola Moto G6 Plus',
       'Huawei HUAWEI MediaPad T5', 'Samsung Galaxy A41',
       'Motorola moto g 5G', 'Huawei P30 Lite', 'Huawei HONOR 20',
       'Xiaomi Redmi 8A', 'Motorola moto g stylus 5G',
       'Apple iPad Pro 11 inch 2nd Gen', 'Huawei Y9 Prime (2019)',
       'Google Pixel 4a', 'Motorola moto g(9) power', 'Oppo CPH1909',
       'Huawei Y6', 'Apple iPad mini (6th generation)',
       'Samsung Galaxy A3(2016)',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi/Cellular)',
       'Xiaomi MI  MAX  3', 'Oppo CPH2185', 'Xiaomi Redmi 3S',
       'Huawei MediaPad T5', 'Samsung Galaxy Note Fan Edition',
       'Samsung Galaxy S20', 'Samsung Galaxy A7',
       'Apple iPad Mini 5th Gen (WiFi)', 'Apple iPad Air 2',
       'Google Pixel 2', 'Xiaomi Redmi Note 6 Pro',
       'Samsung Galaxy Tab S7 FE 5G', 'Xiaomi Redmi Note 4',
       'Samsung Galaxy J3(2016)', 'Sony Xperia 10 II',
       'Samsung Galaxy M31s', 'Samsung Galaxy Tab4 8.0',
       'Lenovo Tab 2 A10', 'Samsung Galaxy J2 Prime',
       'Samsung Galaxy Tab A 8.0', 'Samsung Galaxy TabS 10.5',
       'Samsung Galaxy S10 Lite', 'Xiaomi Mi A3', 'Samsung Galaxy M21',
       'Samsung Galaxy A8+(2018)', 'Xiaomi Redmi K30 Pro Zoom Edition',
       'Samsung Galaxy Z Flip5', 'POCO M2 Pro', 'Samsung Galaxy S23+',
       'Samsung Galaxy S23', 'Apple iPhone 15 Pro', 'Samsung Galaxy A24',
       'Apple iPhone 15 Plus', 'Samsung Galaxy A34 5G', 'Apple iPhone 15',
       'Samsung Galaxy Z Fold5', 'Google Pixel 7', 'Samsung Galaxy F62',
       'Apple iPhone 15 Pro Max', 'Samsung Galaxy A54 5G',
       'Samsung Galaxy F23 5G', 'Oppo A54', 'Samsung Galaxy M52 5G',
       'Samsung Galaxy Tab E', 'Samsung Galaxy Tab S9+', 'Oppo F17 Pro',
       'Oppo F11 Pro', 'Oppo OPPO Reno5 Z', 'Redmi K20 Pro',
       'Oppo A9 2020', 'Oppo CPH2179', 'Oppo Reno 6',
       'Samsung Galaxy A04e', 'Oppo A5 2020', 'Samsung Galaxy J3',
       'Samsung Galaxy M14 5G', 'Samsung Galaxy A14', 'Motorola moto g32',
       'Realme 7i', 'Oppo A3s', 'Huawei P30 Pro', 'Huawei HONOR 9A',
       'Samsung Galaxy M04', 'Samsung Galaxy M13', 'Samsung Galaxy F13',
       'Redmi 6', 'Samsung Galaxy M51', 'Redmi 8A Dual', 'Realme C12',
       'Samsung Galaxy M32', 'Xiaomi Redmi 4A', 'Vivo V2072A',
       'Xiaomi Redmi 5 Plus', 'Vivo V2048A', 'Tecno-Y2', 'Vivo S1',
       'Realme X2Pro', 'Oppo A53', 'Xiaomi Redmi Note 7 Pro',
       'Apple iPad Pro 2', 'Samsung Galaxy S23 Ultra 5G',
       'Samsung Galaxy J6+', 'Realme C11', 'Realme RMX2020',
       'Motorola moto g22', 'Samsung Galaxy F22', 'Oppo F15',
       'Redmi Note 9 Pro Max', 'Xiaomi Redmi  S2', 'Xiaomi MI 5X',
       'Apple iPad 6', 'Samsung Galaxy A14 5G', 'Samsung Galaxy M30',
       'Realme 3Pro', 'Redmi Note 11 Pro+ 5G', 'Huawei Y6p',
       'Motorola moto e13', 'Samsung Galaxy A30s',
       'Samsung Galaxy Tab S9', 'Vivo V2121A', 'Huawei HONOR 20 PRO',
       'Samsung Galaxy Tab S9+ 5G', 'Huawei P40 lite E',
       'Motorola moto e(7)', 'Samsung Galaxy M30s', 'Xiaomi Redmi 7',
       'Samsung Galaxy Tab S9 Ultra', 'Samsung Galaxy Tab S9 Ultra 5G',
       'POCO X2', 'Oppo F11', 'Huawei HONOR 8A Pro', 'Oppo A94',
       'Samsung Galaxy J4', 'Apple iPhone 6 Plus', 'Nokia 7.1',
       'Oppo Reno 2F', 'Huawei Mate 10 Lite', 'Redmi 7',
       'Huawei HUAWEI P smart 2021', 'Samsung Galaxy J4 Core',
       'Realme C15', 'Oppo CPH1729', 'Samsung Galaxy A02s',
       'Samsung Galaxy J7 Neo', 'Zte Blade A31 Plus', 'Oppo Reno3',
       'Nokia G50', 'Vivo Y66', 'Xiaomi Redmi 5A', 'Samsung Galaxy M11',
       'Samsung Galaxy A70s', 'Oppo CPH1801', 'Realme RMX2040',
       'Huawei HONOR View20', 'Vivo V1818A', 'Samsung Galaxy F52 5G',
       'Oppo A32 ä¸­å›½ç‰ˆ', 'Vivo V2118A', 'Samsung Galaxy J7 Core',
       'Xiaomi Redmi Note 5A', 'Vivo V1901A',
       'Motorola moto g power (2021)', 'Oppo F19 Pro',
       'Samsung Galaxy J5 Prime', 'Realme C15 Qualcomm Edition',
       'Oppo A73', 'Oppo CPH1701', 'Huawei Nova 3i',
       'Samsung Galaxy 9 Plus', 'Oppo A92', 'Realme 2 Pro',
       'Huawei Mate 20 Pro', 'Motorola moto g 5G (2022)', 'Redmi 8',
       'Redmi Note 12 Pro+ 5G', 'Samsung Galaxy A9 2018',
       'Oppo Reno3 Pro', 'Apple iPad Pro 11" (Wi-Fi/Cell - 4th Gen)',
       'Samsung Galaxy C7 Pro', 'Samsung Galaxy F54 5G',
       'Samsung Galaxy J2 Pro',
       'Apple iPad Pro 12.9" (Wi-Fi/Cell - 6th Gen)',
       'Samsung Galaxy Grand Prime', 'Samsung Galaxy View',
       'Samsung Galaxy Tab S9 5G', 'Samsung Galaxy A11',
       'Huawei P smart 2019', 'Samsung Galaxy A9',
       'Samsung Galaxy F34 5G', 'Vivo V2055A', 'Oppo Find X2 ä¸­å›½ç‰ˆ',
       'Huawei P40', 'Samsung Galaxy F12', 'Vivo V2073A',
       'Samsung Galaxy A20e', 'Xiaomi MI 8 SE', 'Samsung Galaxy A8',
       'Huawei HONOR 9X lite', 'Realme 5', 'Samsung Galaxy M42 5G',
       'Redmi K20', 'Tecno F1', 'Samsung Galaxy S23+ 5G',
       'Symphony Atom ii', 'Sony Xperia 1 II', 'Oppo OPPO Reno5 A',
       'Samsung Galaxy A5', 'Samsung Galaxy Note Pro', 'Vivo V2057A',
       'Samsung Galaxy A23 5G', 'Realme C17', 'Sony Xperia C4',
       'HUAWEI Y9 2019', 'Samsung Galaxy M02', 'Realme C3',
       'Samsung Galaxy M32 5G', 'Oppo A74', 'Samsung Galaxy A6+',
       'ZTE Blade L210', 'Motorola Moto Z3 Play', 'Realme narzo 20A',
       'Xiaomi Mi Max', 'Xiaomi Mi 9T', 'Motorola moto e(7i) power',
       'OnePlus 6T', 'Samsung Galaxy A8s', 'Huawei Mate 8', 'Vivo V2068A',
       'Samsung Galaxy J7 Max', 'Samsung Galaxy F41', 'Realme narzo 30',
       'Samsung Galaxy Fold', 'Huawei Y5 2017',
       'Huawei HUAWEI Mate 20 X (5G)', 'Realme 7 Pro',
       'Huawei HUAWEI MediaPad M3 Lite', 'Vivo V2031A', 'Vivo V2046A',
       'Nokia 2.1', 'Samsung Galaxy J1 Mini', 'Oppo A7', 'Xiaomi Mi A2',
       'Samsung Galaxy S5', 'Samsung Galaxy A02', 'Samsung Galaxy A21',
       'ZTE 8030', 'Samsung Galaxy J1', 'Nokia 1.4'], dtype=object)

### 3. íšŒì›ê°€ì… ì™„ë£Œ(complete.signup)
- type : ë¡œê·¸ì¸ ë°©ì‹

In [18]:
complete_signup = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.signup.csv')
complete_signup.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424000,South Korea,NaN,Windows,Windows,complete.signup,Korean,Chrome,111.0.0.0,Web,e131c319972bd580146c5a2faba26613,kakao

In [19]:
complete_signup['client_event_time'] = pd.to_datetime(complete_signup['client_event_time'])
# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
complete_signup["client_event_time"] = complete_signup["client_event_time"] + timedelta(hours=9)

In [29]:
print(complete_signup['client_event_time'].min())
print(complete_signup['client_event_time'].max())

2022-01-01 09:06:31.232000
2024-01-01 08:51:53.728000

In [20]:
complete_signup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145133 entries, 0 to 145132
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               44774 non-null   object
 1   client_event_time  145133 non-null  datetime64[ns]
 2   country            45756 non-null   object
 3   device_carrier     0 non-null       float64
 4   device_family      45767 non-null   object
 5   device_type        44659 non-null   object
 6   event_type         145133 non-null  object
 7   language           45767 non-null   object
 8   os_name            45745 non-null   object
 9   os_version         45651 non-null   object
 10  platform           45767 non-null   object
 11  user_id            145133 non-null  object
 12  type               144958 non-null  object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 14.4+ MB

In [21]:
complete_signup.isnull().sum()

city                 100359
client_event_time         0
country               99377
device_carrier       145133
device_family         99366
device_type          100474
event_type                0
language              99366
os_name               99388
os_version            99482
platform              99366
user_id                   0
type                    175
dtype: int64

In [22]:
complete_signup['type'].value_counts()

type
kakao       89484
google      21465
naver       19440
email       14126
facebook      442
test            1
Name: count, dtype: int64

In [ ]:
# íšŒì›ê°€ì… ì™„ë£Œì—ì„œ user_id ì¤‘ë³µ ì—†ìŒìŒ
complete_signup[complete_signup.duplicated(subset = ['user_id'])]

Empty DataFrame
Columns: [city, client_event_time, country, device_carrier, device_family, device_type, event_type, language, os_name, os_version, platform, user_id, type]
Index: []

In [23]:
complete_signup[complete_signup['type'] == 'test']

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
24616,NaN,2023-02-17 16:49:50.039,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,717fd2ff22addd9f8745923ab19ee231,test

- complete_signup[complete_signup['type'] == 'test']     

    -> user_id : 717fd2ff22addd9f8745923ab19ee231 : ë‹¤ë¥¸ ë°ì´í„°ì—ì„œ ì–´ë–¤í™œë™ì¸ì§€ ë³´ê³  ì§„ì§œ testí•œ í•­ëª©ì´ë©´ ì‚­ì œì²˜ë¦¬!

In [24]:
# íƒ€ì… testí–‰ ì œê±°
complete_signup = complete_signup[complete_signup['type'] != 'test']
complete_signup['type'].value_counts()

type
kakao       89484
google      21465
naver       19440
email       14126
facebook      442
Name: count, dtype: int64

### 4. ì½˜í…ì¸  ê°œë³„ í˜ì´ì§€ ì§„ì…(enter.content_page)
- content_id : ì½˜í…ì¸  id

In [25]:
enter_content_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.content_page.csv')
enter_content_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,108.0.5359.112,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,111.0.0.0,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd

In [26]:
enter_content_page['client_event_time'] = pd.to_datetime(enter_content_page['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
enter_content_page["client_event_time"] = enter_content_page["client_event_time"] + timedelta(hours=9)

In [157]:
print(enter_content_page['client_event_time'].min())
print(enter_content_page['client_event_time'].max())

2021-11-04 04:15:12.076000
2024-01-01 08:59:18.981000

In [30]:
enter_content_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914257 entries, 0 to 1914256
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 189.9+ MB

In [31]:
enter_content_page.isnull().sum()

city                   30757
client_event_time          0
country                 7570
device_carrier       1914257
device_family            639
device_type            23651
event_type                 0
language                   0
os_name                  149
os_version              2549
platform                   0
user_id               465168
content.id                 0
dtype: int64

- user_idê°€ ìˆëŠ” íšŒì›ê³¼ ì—†ëŠ” íšŒì› ë‚˜ëˆ ì„œ content_id ì–´ë–¤ê±° ë“£ë‚˜
    -> ë°ì´í„° ê²°í•© í•„ìš”í•¨

In [ ]:
# 
filtered_df = enter_content_page.dropna(subset=['user_id'])
filtered_df[filtered_df.duplicated(subset=['user_id'])]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
3,Daejeon,2023-04-05 21:14:25.355,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
6,Seoul,2023-04-05 21:51:59.437,South Korea,NaN,Mac,Mac,enter.content_page,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,18992b667be06d6f29ba0008f99d9745
8,Gangseo-gu,2023-04-05 21:19:47.684,South Korea,NaN,Samsung Phone,Samsung Galaxy S9,enter.content_page,Korean,Chrome,111.0.0.0,Web,5a0099deffc1e2def829590197c6f2c3,e88906bb19b773dcbf2adb5d34c49d9c
12,Seoul,2023-04-05 21:15:07.232,South Korea,NaN,Samsung Phone,Samsung Galaxy S22,enter.content_page,Korean,Chrome,110.0.0.0,Web,a861512f4cdca0cec8d58546b9c27b0b,f4be1a0fe0e301b03115591777fddf29
16,Suwon,2023-04-10 14:32:06.047,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,GSA,258.1.520699392,Web,5f7f8e69f8f016db90e92663460c027a,68a3658f1b936bfff3bd6960cd561b0a
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914209,Gwacheon,2023-10-10 05:50:15.395,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,620de3f1b229ebc5bfc95c51bfd166c6,621c7ad99b17d2d16832b618d47aea7e
1914217,Seodaemun-gu,2023-10-10 05:15:42.653,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,f4be1a0fe0e301b03115591777fddf29
1914234,Incheon,2023-10-10 05:07:28.944,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6
1914241,Anyang-si,2023-10-10 05:17:57.486,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29
1914242,Anyang-si,2023-10-10 05:18:12.218,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29

### 5. ì½˜í…ì¸  ìˆ˜ê°•í•˜ê¸° ë²„íŠ¼ í´ë¦­(click.content_page_start_content_button)

- content.id : ì½˜í…ì¸  id
- button_name : ë²„íŠ¼ ì´ë¦„(ì½˜í…ì¸  í˜ì´ì¦ˆ ê°œí¸ ì „)
- button.name : ë²„íŠ¼ ì´ë¦„(ì½˜í…ì¸  í˜ì´ì§€ ê°œë³€ í›„)

In [ ]:
click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_start_content_button.csv')
click_content_page_start_content_button.head(3)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_10168\4235691095.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_start_content_button.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,button.name,button_name
0,Daejeon,2023-04-05 21:14:38.432000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
1,Seongnam-si,2023-04-10 14:57:20.033000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,112.0.1722.34,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,ì½˜í…ì¸ ì´ì–´ë³´ê¸°,NaN
2,Yangp'yong,2023-04-10 14:28:29.515000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,111.0.0.0,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,ì½˜í…ì¸ ì´ì–´ë³´ê¸°,NaN

In [38]:
click_content_page_start_content_button['client_event_time'] = pd.to_datetime(click_content_page_start_content_button['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
click_content_page_start_content_button["client_event_time"] = click_content_page_start_content_button["client_event_time"] + timedelta(hours=9)

# ë²„íŠ¼ëª… ì´ë¦„ ë³€ê²½
click_content_page_start_content_button = click_content_page_start_content_button.rename(
    columns = {'button.name' : 'button_b','button_name' : 'button_a'})

In [50]:
print(click_content_page_start_content_button['client_event_time'].min())
print(click_content_page_start_content_button['client_event_time'].max())

2021-11-26 12:40:50.968000
2024-01-01 17:51:15.363000

In [39]:
click_content_page_start_content_button.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172911 entries, 0 to 172910
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               169437 non-null  object
 1   client_event_time  172911 non-null  datetime64[ns]
 2   country            171495 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      172911 non-null  object
 5   device_type        171581 non-null  object
 6   event_type         172911 non-null  object
 7   language           172911 non-null  object
 8   os_name            172911 non-null  object
 9   os_version         172593 non-null  object
 10  platform           172911 non-null  object
 11  user_id            128361 non-null  object
 12  content.id         172699 non-null  object
 13  button_b           86242 non-null   object
 14  button_a           38951 non-null   object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 19.8+ MB

In [40]:
click_content_page_start_content_button.isnull().sum()

city                   3474
client_event_time         0
country                1416
device_carrier       172911
device_family             0
device_type            1330
event_type                0
language                  0
os_name                   0
os_version              318
platform                  0
user_id               44550
content.id              212
button_b              86669
button_a             133960
dtype: int64

In [41]:
# button_a í•­ëª©ê³¼ í´ë¦­ ìˆ˜ í™•ì¸
display(click_content_page_start_content_button['button_a'].unique())
click_content_page_start_content_button['button_a'].value_counts()

array([nan, 'ì´ì–´í•˜ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°', 'ìˆ˜ê°•í•˜ê¸°', 'ìˆ˜ê°•ì‹œì‘'], dtype=object)

button_a
ì´ì–´í•˜ê¸°        23793
ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°     6094
ìˆ˜ê°•í•˜ê¸°         5348
ìˆ˜ê°•ì‹œì‘         3716
Name: count, dtype: int64

In [42]:
# button_b í•­ëª©ê³¼ í´ë¦­ ìˆ˜ í™•ì¸
display(click_content_page_start_content_button['button_b'].unique())
click_content_page_start_content_button['button_b'].value_counts()

array(['ì½˜í…ì¸  êµ¬ë…í•˜ê¸°', 'ì½˜í…ì¸  ì´ì–´ë³´ê¸°', 'ìµœì €ê°€ í˜œíƒ ë°›ê¸°', 'ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°',
       'êµ¬ë… ì‹œì‘í•˜ê¸°', 'ìµœì €ê°€ë¡œ ì‹œì‘í•˜ê¸°', 'í• ì¸ë°›ê³  êµ¬ë… ì‹œì‘', nan], dtype=object)

button_b
ì½˜í…ì¸  êµ¬ë…í•˜ê¸°      40961
ì½˜í…ì¸  ì´ì–´ë³´ê¸°      27797
ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°      13596
ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°       2513
ìµœì €ê°€ í˜œíƒ ë°›ê¸°       907
ìµœì €ê°€ë¡œ ì‹œì‘í•˜ê¸°       293
êµ¬ë… ì‹œì‘í•˜ê¸°         174
í• ì¸ë°›ê³  êµ¬ë… ì‹œì‘        1
Name: count, dtype: int64

In [43]:
# ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°, ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸° 
button_start_free = click_content_page_start_content_button.loc[
    click_content_page_start_content_button['button_b'].isin(['ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°'])
]

### 6. ì½˜í…ì¸  í›„ê¸° ë”ë³´ê¸° ë²„íŠ¼ í´ë¦­(click.content_page_more_review_button)

- content.id : ì½˜í…ì¸  id

In [44]:
click_content_page_more_review_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_more_review_button.csv')

click_content_page_more_review_button = click_content_page_more_review_button.drop(
    columns = ['device_carrier','device_family', 'device_type','os_name','os_version','platform'])
click_content_page_more_review_button

,city,client_event_time,country,event_type,language,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402000,South Korea,click.content_page_more_review_button,Korean,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417000,United Kingdom,click.content_page_more_review_button,Korean,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897000,South Korea,click.content_page_more_review_button,Korean,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568000,South Korea,click.content_page_more_review_button,Korean,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337000,South Korea,click.content_page_more_review_button,Korean,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e
...,...,...,...,...,...,...,...
93957,Goyang-si,2023-07-31 03:10:29.773000,South Korea,click.content_page_more_review_button,Korean,748d20973591001e4df47a87edb79b24,c269eb6df3a374b464f7c18f12fa398f
93958,Seoul,2023-07-11 06:32:48.945000,South Korea,click.content_page_more_review_button,Korean,NaN,e543c38ec7fa6bcd5045049ecc31e5f8
93959,Seoul,2023-11-01 23:37:23.165000,South Korea,click.content_page_more_review_button,Korean,e8d4e1bb915de2be1b4585a5b59525a6,f351e92bba7aadae94d04c85c3fb1834
93960,Gangnam-gu,2023-12-29 13:10:12.048000,South Korea,click.content_page_more_review_button,Korean,04c660e8e893dfedc0063ad681982b86,1ccd38c0253604fb48f78970736f915c
93961,Seongbuk-gu,2023-10-10 05:25:53.435000,South Korea,click.content_page_more_review_button,Korean,NaN,479926b04fe824bce5bdc7e0f81a2539

In [45]:
click_content_page_more_review_button['client_event_time'] = pd.to_datetime(click_content_page_more_review_button['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
click_content_page_more_review_button["client_event_time"] = click_content_page_more_review_button["client_event_time"] + timedelta(hours=9)

In [51]:
print(click_content_page_more_review_button['client_event_time'].min())
print(click_content_page_more_review_button['client_event_time'].max())

2021-12-14 17:38:03.653000
2024-01-01 03:44:14.083000

In [46]:
click_content_page_more_review_button.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93962 entries, 0 to 93961
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               93792 non-null  object
 1   client_event_time  93962 non-null  datetime64[ns]
 2   country            93944 non-null  object
 3   event_type         93962 non-null  object
 4   language           93962 non-null  object
 5   user_id            10702 non-null  object
 6   content.id         93938 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 5.0+ MB

In [47]:
click_content_page_more_review_button.isnull().sum()

city                   170
client_event_time        0
country                 18
event_type               0
language                 0
user_id              83260
content.id              24
dtype: int64

In [48]:
click_content_page_more_review_button['user_id'].value_counts()

user_id
d2c7120aabd4ece896035f58b763a2dd    285
17d570bd01d51cf56c1b8aaa464d32c8    202
f8eedef539df7b9f3486c6ea72f02012    164
45473d99d11966b8791c2a1846f99cb6    143
f8868b5573dc20f97a1c65b25a02b7fb    109
                                   ...
e28e336f5c8ab4af71e780a11bc9eed7      1
7daa327236f9f864864e6f320ecddb35      1
74c417971fed77273658b0bc69036556      1
0675bf9f0c103f7b61ebfcb48db3f67e      1
148c6900916b1c6e4ae3aa53b3823a95      1
Name: count, Length: 3195, dtype: int64

In [75]:
click_review_button_df = (
click_content_page_more_review_button.groupby(
    ['user_id','content.id']).size().reset_index(name = 'count').sort_values(by=['count'], ascending= False))

click_review_button = click_review_button_df.loc[click_review_button_df.duplicated(subset=['user_id'])]
click_review_button

# click_review_button_df_columns = ['user_id', 'content.id', 'count']
# click_review_button = click_review_button_df[click_review_button_df_columns]
# click_review_button

,user_id,content.id,count
4357,f8eedef539df7b9f3486c6ea72f02012,3c3701997224d03a95fbb3b34446d238,63
435,17d570bd01d51cf56c1b8aaa464d32c8,ddaafc2251644873b3dcde16c5d0b9ba,51
3663,d2c7120aabd4ece896035f58b763a2dd,d0bce5e5af242d6d60e16b68b4febf2e,38
3659,d2c7120aabd4ece896035f58b763a2dd,ab7068685b7aeac4d6b1a6c0e1c85819,29
3656,d2c7120aabd4ece896035f58b763a2dd,8a72eed73d3f9d3ab1771548070e7338,28
...,...,...,...
4471,fe3beafec5633844a56822e010bf73f9,3c3701997224d03a95fbb3b34446d238,1
4495,ff3f3faf7543abd0b97db79f472f67db,a1eeebeb6c307641b75b94a2a1d5b9aa,1
4493,ff3ef43efe2408ef12f7f47462b2c909,a914987711c7e2db9fd4bff7555ec87c,1
21,015f2cca1cebde6b607470b778fc55f2,b314d5aba64a0aab40602cb72a4a1504,1
17,010dca8847dee6e57535d48f9eb42aba,f351e92bba7aadae94d04c85c3fb1834,1

In [49]:
# ê·¸ë£¹í™”í•˜ì—¬ count ì»¬ëŸ¼ ì¶”ê°€
click_review_button_df = (
    click_content_page_more_review_button
    .groupby(['user_id', 'content.id'])
    .size()
    .reset_index(name='count')
    .sort_values(by=['count'], ascending=False)
)

# íŠ¹ì • ì»¬ëŸ¼ë§Œ ì„ íƒ
click_review_button_df_columns = ['user_id', 'content.id', 'count']
click_review_button = click_review_button_df[click_review_button_df_columns]

# user_idë¥¼ ì²˜ìŒ í•œ ë²ˆë§Œ ì¶œë ¥í•˜ë„ë¡ ë³€í™˜
click_review_button.loc[click_review_button.duplicated(subset=['user_id']), 'user_id'] = ""
display(click_review_button)

,user_id,content.id,count
434,17d570bd01d51cf56c1b8aaa464d32c8,db82104b9c508953b3d00eea82844a48,94
4356,f8eedef539df7b9f3486c6ea72f02012,38df90d4de533d6296b52c6a1d90e26b,69
4357,,3c3701997224d03a95fbb3b34446d238,63
435,,ddaafc2251644873b3dcde16c5d0b9ba,51
3644,d2c7120aabd4ece896035f58b763a2dd,289ae01387d36327c04b176c6d62a626,43
...,...,...,...
21,,b314d5aba64a0aab40602cb72a4a1504,1
20,01582e9e2774035b50279656a5038311,8a72eed73d3f9d3ab1771548070e7338,1
19,015674cf70f7264aadf0ac23accc0624,a1eeebeb6c307641b75b94a2a1d5b9aa,1
18,01206e33d79103fe090e414ca9db71b1,ff7998135d650dbefb3f479c900cbcc7,1
17,,f351e92bba7aadae94d04c85c3fb1834,1

### 7. ê²°ì œ í˜ì´ì§€ ì§„ì…(enter.payment_page)

In [52]:
enter_payment_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.payment_page.csv')
enter_payment_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:31:27.602000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,112.0.0.0,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,111.0.0.0,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,111.0.1661.62,Web,62cfa08370da60b8db4495baaff62806

In [53]:
enter_payment_page['client_event_time'] = pd.to_datetime(enter_payment_page['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
enter_payment_page["client_event_time"] = enter_payment_page["client_event_time"] + timedelta(hours=9)

In [54]:
print(enter_payment_page['client_event_time'].min())
print(enter_payment_page['client_event_time'].max())

2022-11-03 11:39:46.400000
2023-12-10 23:56:01.475000

In [55]:
enter_payment_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165061 entries, 0 to 165060
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               162362 non-null  object
 1   client_event_time  165061 non-null  datetime64[ns]
 2   country            164899 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      165060 non-null  object
 5   device_type        159066 non-null  object
 6   event_type         165061 non-null  object
 7   language           165061 non-null  object
 8   os_name            165061 non-null  object
 9   os_version         164560 non-null  object
 10  platform           165061 non-null  object
 11  user_id            158834 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 15.1+ MB

In [56]:
#user_idê°€ ì—†ì–´ë„ ê²°ì œ í˜ì´ì§€ì— ì§„ì…ì´ ê°€ëŠ¥í•œê±´ê°€?
enter_payment_page.isnull().sum()

city                   2699
client_event_time         0
country                 162
device_carrier       165061
device_family             1
device_type            5995
event_type                0
language                  0
os_name                   0
os_version              501
platform                  0
user_id                6227
dtype: int64

### 8. ì²« ê²°ì œ ì™„ë£Œ(complete.subscription)

#### ì²« ê²°ì œê°€ ì¤‘ë³µì¸ ê²½ìš°ëŠ” ì²« ê²°ì œ í™˜ë¶ˆ í›„ ë‹¤ì‹œ ê²°ì œí•œ ì¼€ì´ìŠ¤ë¡œ ê°„ì£¼ -> ê·¸ëŸ¼ ê²°êµ­ ì¤‘ë³µëœ ê²°ì œ ë‚´ì—­ì¤‘ ìµœê·¼ ë§ˆì§€ë§‰ ê¸°ë¡ë§Œ ë³´ë©´ ë˜ëŠ”ê±´ê°€?
- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.discount_amount : í• ì¸ì•¡(ì •ìƒê°€ - ì‹¤ì œ ê²°ì œ ê¸ˆì•¡ìœ¼ë¡œ ê³„ì‚°)
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…(A,B,CëŠ” ê°ê¸° ë‹¤ë¥¸ ê°„í¸ê²°ì œ ìˆ˜ë‹¨)
    -> ê²°ì œ íƒ€ì…ì´ ê²°ì¸¡ì¸ ê²½ìš°ëŠ” ë­˜ê¹Œ? ë¬´ë£Œì²´í—˜ ì„œë¹„ìŠ¤?

In [265]:
complete_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.subscription.csv')
complete_subscription.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN

In [266]:
complete_subscription['client_event_time'] = pd.to_datetime(complete_subscription['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
complete_subscription["client_event_time"] = complete_subscription["client_event_time"] + timedelta(hours=9)

In [267]:
print(complete_subscription['client_event_time'].min())
print(complete_subscription['client_event_time'].max())

2022-01-01 15:17:24.513000
2024-01-01 01:27:37.370000

In [268]:
complete_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14289 entries, 0 to 14288
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    13757 non-null  object
 1   client_event_time       14289 non-null  datetime64[ns]
 2   country                 13906 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           13914 non-null  object
 5   device_type             13764 non-null  object
 6   event_type              14289 non-null  object
 7   language                13914 non-null  object
 8   os_name                 13908 non-null  object
 9   os_version              13899 non-null  object
 10  platform                13914 non-null  object
 11  user_id                 14289 non-null  object
 12  plan.price              14289 non-null  int64
 13  paid_amount             14289 non-null  int64
 14  coupon.discount_amount  14289 non-null  int64
 15  pg.type                 1642 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 1.7+ MB

In [269]:
complete_subscription.isnull().sum()

city                        532
client_event_time             0
country                     383
device_carrier            14289
device_family               375
device_type                 525
event_type                    0
language                    375
os_name                     381
os_version                  390
platform                    375
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   12647
dtype: int64

In [270]:
# ì¤‘ë³µ ê±´ìˆ˜ í™•ì¸
complete_subscription['user_id'].value_counts()

user_id
3767d4c7a827422fccf61d45ae889669    8
f833cca4c382ac8c502c6f99bc432725    6
ccea16701cf72a9027d7d5f2c3d3019c    5
e04c24e899b1e875ed432a7b398a4308    4
62bbe9d8fe746553c1ed600ec124a423    3
                                   ..
ac62c41fb1f784bee9ac6819b299ea9c    1
7d177a26c48ab42bb9f07be513121747    1
d2cce94f7139e02152a6116806de141d    1
76552cd1c7eda558d1d99598bc5e37e5    1
bdffe1f18684704d4ea2d7eebcaed180    1
Name: count, Length: 13881, dtype: int64

In [271]:
# ì²« ê²°ì œê°€ ì¤‘ë³µì¸ ê²½ìš° ì²« ê²°ì œ í™˜ë¶ˆ í›„ ë‹¤ì‹œ ê²°ì œí•œ ì¼€ì´ìŠ¤ë¡œ ë³´ê¸° ë•Œë¬¸ì— ê°€ì¥ ìµœê·¼ ê²°ì œ ë‚´ì—­ë§Œ ë‚¨ê¸°ê¸°ë¡œ í•¨
complete_subscription_final = complete_subscription.sort_values(by = 'client_event_time')

# user_idë³„ ê°€ì¥ ìµœê·¼ ê²°ì œ ë‚´ì—­ 1ê±´ë§Œ ë‚¨ê¸°ê³  ì¤‘ë³µ ì œê±°
complete_subscription_final = complete_subscription_final.drop_duplicates(subset ='user_id', keep = 'last')
complete_subscription_final

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
9399,Seoul,2022-01-01 15:17:24.513,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,15,Web,c2fd9e1a9d094f563d6ca7a6caa538be,42960,42960,0,NaN
6914,Bucheon-si,2022-01-02 17:34:14.270,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,96,Web,8eabe35d59b6596f27552a4c71a279c1,15920,15920,0,NaN
5757,Dongjak-gu,2022-01-03 00:23:04.269,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,96,Web,97c0a306a466b44643469ebf1d4b57e3,42960,42960,0,NaN
7520,Seoul,2022-01-03 13:25:14.519,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,95,Web,29488c6f47c0f19ed631be20c40d64c0,15920,15920,0,NaN
5747,Osan,2022-01-04 22:35:09.247,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,96,Web,37ebaca2779d2f5b40d5694afa387f43,42960,42960,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12966,Seongbuk-gu,2024-01-01 00:00:17.325,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,120.0.0.0,Web,7863322f40659599730583c78e14bf5c,95520,95520,0,A
12965,Seoul,2024-01-01 00:03:12.065,South Korea,NaN,Samsung Phone,Samsung Galaxy Z Flip4,complete.subscription,Korean,Instagram,308.0.0.36.109,Web,7fdb326582ebe771300657051bea1d41,95520,95520,0,A
12964,Goyang-si,2024-01-01 00:11:02.042,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,120.0.0.0,Web,d843342190fafa2634f4cfda1462ac95,95520,95520,0,A
12035,Nam-gu,2024-01-01 01:18:10.681,South Korea,NaN,Samsung Phone,Samsung Galaxy Z Fold3 5G,complete.subscription,Korean,Instagram,265.0.0.19.301,Web,5ef5927946fa90f213ae50b9bf8b18f1,95520,95520,0,B
12036,NaN,2024-01-01 01:27:37.370,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,375b970d0ec54f77863788761f8acd03,95520,95520,0,A

In [272]:
# ê²°ì œ ìˆ˜ë‹¨ë³„ ì´ìš© ìˆ˜
complete_subscription_final['pg.type'].value_counts(dropna = False)

pg.type
NaN    12267
A       1016
B        598
Name: count, dtype: int64

In [276]:
complete_subscription_rate = complete_subscription_final[['user_id', 'client_event_time', 'plan.price', 'coupon.discount_amount', 'pg.type']].copy()

#ê²°ì œ í• ì¸ìœ¨ ê³„ì‚°
complete_subscription_rate['coupon_discount_rate(%)'] = (
    complete_subscription_rate['coupon.discount_amount'] / complete_subscription_rate['plan.price'] * 100)
print('ìœ ì €ë³„ ë°›ì€ ê²°ì œ í• ì¸ìœ¨(%)')
display(complete_subscription_rate)

#ê²°ì œ ìˆ˜ë‹¨ ë° ì›”ë³„ í‰ê·  í• ì¸ìœ¨ ê³„ì‚°
complete_subscription_rate['month'] = complete_subscription_rate['client_event_time'].dt.to_period('M')
complete_subscription_df_avg = complete_subscription_rate.groupby(['month'])['coupon_discount_rate(%)'].mean().reset_index()
print('ì›”ë³„ ê²°ì œ í• ì¸ìœ¨')
complete_subscription_df_avg

ìœ ì €ë³„ ë°›ì€ ê²°ì œ í• ì¸ìœ¨(%)

,user_id,client_event_time,plan.price,coupon.discount_amount,pg.type,coupon_discount_rate(%)
9399,c2fd9e1a9d094f563d6ca7a6caa538be,2022-01-01 15:17:24.513,42960,0,NaN,0.0
6914,8eabe35d59b6596f27552a4c71a279c1,2022-01-02 17:34:14.270,15920,0,NaN,0.0
5757,97c0a306a466b44643469ebf1d4b57e3,2022-01-03 00:23:04.269,42960,0,NaN,0.0
7520,29488c6f47c0f19ed631be20c40d64c0,2022-01-03 13:25:14.519,15920,0,NaN,0.0
5747,37ebaca2779d2f5b40d5694afa387f43,2022-01-04 22:35:09.247,42960,0,NaN,0.0
...,...,...,...,...,...,...
12966,7863322f40659599730583c78e14bf5c,2024-01-01 00:00:17.325,95520,0,A,0.0
12965,7fdb326582ebe771300657051bea1d41,2024-01-01 00:03:12.065,95520,0,A,0.0
12964,d843342190fafa2634f4cfda1462ac95,2024-01-01 00:11:02.042,95520,0,A,0.0
12035,5ef5927946fa90f213ae50b9bf8b18f1,2024-01-01 01:18:10.681,95520,0,B,0.0
12036,375b970d0ec54f77863788761f8acd03,2024-01-01 01:27:37.370,95520,0,A,0.0

ì›”ë³„ ê²°ì œ í• ì¸ìœ¨

      month  coupon_discount_rate(%)
0   2022-01                 1.192380
1   2022-02                 2.161174
2   2022-03                 5.452821
3   2022-04                 6.264453
4   2022-05                 7.133567
5   2022-06                 7.079175
6   2022-07                 6.161573
7   2022-08                 5.777208
8   2022-09                 0.534886
9   2022-10                 2.651934
10  2022-11                63.166577
11  2022-12                 0.124897
12  2023-01                 0.006284
13  2023-02                 0.547008
14  2023-03                 0.443637
15  2023-04                 0.357942
16  2023-05                 0.284974
17  2023-06                 0.671756
18  2023-07                 0.985037
19  2023-08                 1.505754
20  2023-09                 3.919383
21  2023-10                 5.480769
22  2023-11                 4.163732
23  2023-12                 0.227873
24  2024-01                 0.000000

- pt.typeì´ ê²°ì¸¡ì¸ ë¶€ë¶„ë„ í• ì¸ ë°›ì€ê²Œ ìˆì–´ì„œ ì¡°ì‹¬...
- 22ë…„ 11ì›”ì— í• ì¸ìœ¨ì´ ë†’ìŒ -> ë­ì§€??

### 9. ì •ê¸° ê²°ì œ ì™„ë£Œ(renew.subscription)

- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.discount_amount : í• ì¸ì•¡ -> ì–´ë–»ê²Œ ë°›ì€ ê±¸ê¹Œ? ì²« ê²°ì œ / êµ¬ë… ì´ëŸ°ê±° ì´ë²¤íŠ¸? -> í™•ì¸ í•„ìš”     
    ë§Œì•½ ì´ëŸ° í• ì¸ ìˆ˜ë‹¨ìœ¼ë¡œ ì •ê¸° êµ¬ë… í•œ í›„ì— ì •ê¸° êµ¬ë… ëë‚˜ë©´ ì¬êµ¬ë… í–ˆë‚˜??
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…

In [65]:
renew_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/renew.subscription.csv')
renew_subscription.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Edge,104,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN

In [66]:
renew_subscription['client_event_time'] = pd.to_datetime(renew_subscription['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
renew_subscription["client_event_time"] = renew_subscription["client_event_time"] + timedelta(hours=9)

In [67]:
print(renew_subscription['client_event_time'].min())
print(renew_subscription['client_event_time'].max())

2022-09-08 12:05:02.068000
2024-01-01 01:10:03.242000

In [69]:
renew_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15945 entries, 0 to 15944
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    15575 non-null  object
 1   client_event_time       15945 non-null  datetime64[ns]
 2   country                 15656 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           15657 non-null  object
 5   device_type             15484 non-null  object
 6   event_type              15945 non-null  object
 7   language                15657 non-null  object
 8   os_name                 15654 non-null  object
 9   os_version              15644 non-null  object
 10  platform                15657 non-null  object
 11  user_id                 15945 non-null  object
 12  plan.price              15945 non-null  int64
 13  paid_amount             15945 non-null  int64
 14  coupon.discount_amount  15945 non-null  int64
 15  pg.type                 2732 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 1.9+ MB

In [70]:
renew_subscription.isnull().sum()

city                        370
client_event_time             0
country                     289
device_carrier            15945
device_family               288
device_type                 461
event_type                    0
language                    288
os_name                     291
os_version                  301
platform                    288
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   13213
dtype: int64

In [71]:
renew_subscription['plan.price'].unique()

array([ 15920,  42960, 131600,  79200,  83200,  87200,  91200,  95200,
        14328, 118440,  95520])

### 10. ë§Œë£Œ í›„ ì¬êµ¬ë… ì™„ë£Œ(resubscribe.subscription)

- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.dicount_amount : í• ì¸ì•¡
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…

In [76]:
resubscribe_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/resubscribe.subscription.csv')
resubscribe_subscription

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,NaN,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,113.0.5672.162,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,114.0.5735.99,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,Englewood,2023-10-20 19:29:37.174,United States,NaN,Mac,Mac,resubscribe.subscription,English,Safari,17.0,Web,482cf2ed1eefbe648ce156e43d323114,15920,15920,0,NaN
787,Suwon,2023-07-31 03:01:55.489,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,115.0.1901.188,Web,b6b9428216580dbdc053e0bb19083be1,15920,15920,0,NaN
788,Buk-gu,2023-12-31 03:53:51.324,South Korea,NaN,Samsung Phone,Samsung Galaxy Z Flip4,resubscribe.subscription,Korean,Whale,1.0.0.0,Web,eaff98093acb9a109975957cafb2d105,95520,95520,0,B
789,Seoul,2023-12-29 13:33:42.128,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,120.0.0.0,Web,e6aace24ed8703d42ce43c4b8b1c7d66,95520,95520,0,A
790,Mapo-gu,2023-12-29 13:21:24.679,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Whale,3.23.214.17,Web,7f742dabddf2b60069b465e4b8ca5b43,95520,95520,0,B

In [77]:
renew_subscription['client_event_time'] = pd.to_datetime(renew_subscription['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
renew_subscription["client_event_time"] = renew_subscription["client_event_time"] + timedelta(hours=9)

In [78]:
print(renew_subscription['client_event_time'].min())
print(renew_subscription['client_event_time'].max())

2022-09-09 06:05:02.068000
2024-01-01 19:10:03.242000

In [79]:
resubscribe_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    775 non-null    object
 1   client_event_time       791 non-null    object
 2   country                 784 non-null    object
 3   device_carrier          0 non-null      float64
 4   device_family           784 non-null    object
 5   device_type             773 non-null    object
 6   event_type              791 non-null    object
 7   language                784 non-null    object
 8   os_name                 784 non-null    object
 9   os_version              784 non-null    object
 10  platform                784 non-null    object
 11  user_id                 791 non-null    object
 12  plan.price              791 non-null    int64
 13  paid_amount             791 non-null    int64
 14  coupon.discount_amount  791 non-null    int64
 15  pg.type                 173 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 99.0+ KB

In [80]:
resubscribe_subscription.isnull().sum()

city                       16
client_event_time           0
country                     7
device_carrier            791
device_family               7
device_type                18
event_type                  0
language                    7
os_name                     7
os_version                  7
platform                    7
user_id                     0
plan.price                  0
paid_amount                 0
coupon.discount_amount      0
pg.type                   618
dtype: int64

In [82]:
resubscribe_subscription['pg.type'].value_counts()

pg.type
A    123
B     50
Name: count, dtype: int64

In [ ]:
# ë§Œë£Œ í›„ ì¬êµ¬ë…ì‹œ í• ì¸ ë°›ì€ ì‚¬ëŒë„ ì¡´ì¬ 
resubscribe_subscription['coupon.discount_amount'].value_counts()

coupon.discount_amount
0        700
2388      18
796       14
478       14
7960       6
19740      6
32900      5
1289       5
3184       4
3948       4
1115       3
17184      3
6368       2
3980       2
52640      1
3867       1
1433       1
6580       1
11844      1
Name: count, dtype: int64

### 11. ì„œë¹„ìŠ¤ ë¬´ë£Œì²´í—˜ ì‹œì‘(start.free_trial)

- plan.price : ì •ìƒê°€
- plan.type : ìš”ê¸ˆì œ ì¢…ë¥˜
- trial.type : ë¬´ë£Œì²´í—˜ ë°©ì‹   

    - type A(êµ¬ë²„ì „)    
            - íŠ¹ì • ì»¨í…ì¸  í•˜ë‚˜ì— ëŒ€í•´ ì˜êµ¬ì ì¸ ë¬´ë£Œì²´í—˜ì„ ì œê³µ    
            - ì—¬ëŸ¬ ì»¨í…ì¸ ì— ê±¸ì³ì„œ ì¤‘ë³µ ë¬´ë£Œì²´í—˜ ì œê³µí•˜ì˜€ìŒ -> (ì–´ë–¤ ì»¨í…ì¸ ì¸ì§€ ì •ë³´ëŠ” ë‚¨ì•„ìˆì§€ ì•ŠìŒ) 

    - type B (ì‹ ë²„ì „)     
            - ê¸°ê°„ ë‹¨ìœ„ë¡œ ëª¨ë“  ì»¨í…ì¸ ë¥¼ ê²½í—˜í•  ìˆ˜ ìˆëŠ” ë²„ì „ìœ¼ë¡œ ì œê³µ    
            - ì¤‘ë³µ ë¬´ë£Œì²´í—˜ ì œê³µí•˜ì§€ ì•ŠìŒ

In [230]:
# user_idê°€ ê²°ì¸¡ì¸ ê°’ì€ ì œê±°í•˜ì˜€ìŠµë‹ˆë‹¤.
start_free_trial = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/start.free_trial.csv')
start_free_trial.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156000,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,15920.0,1ê°œì›” í”Œëœ,B
1,Dobong-gu,2023-03-12 08:28:29.384000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920.0,1ê°œì›” í”Œëœ,B
2,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B

In [231]:
start_free_trial['client_event_time'] = pd.to_datetime(start_free_trial['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
start_free_trial["client_event_time"] = start_free_trial["client_event_time"] + timedelta(hours=9)

In [232]:
print(start_free_trial['client_event_time'].min())
print(start_free_trial['client_event_time'].max())

2021-12-04 21:46:00.519000
2023-04-30 23:59:47.032000

In [233]:
start_free_trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30621 entries, 0 to 30620
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               30133 non-null  object
 1   client_event_time  30621 non-null  datetime64[ns]
 2   country            30491 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      30499 non-null  object
 5   device_type        30478 non-null  object
 6   event_type         30621 non-null  object
 7   language           30499 non-null  object
 8   os_name            30499 non-null  object
 9   os_version         30497 non-null  object
 10  platform           30499 non-null  object
 11  user_id            30607 non-null  object
 12  plan.price         2439 non-null   float64
 13  plan.type          2439 non-null   object
 14  trial.type         30621 non-null  object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 3.5+ MB

In [234]:
start_free_trial.isnull().sum()

city                   488
client_event_time        0
country                130
device_carrier       30621
device_family          122
device_type            143
event_type               0
language               122
os_name                122
os_version             124
platform               122
user_id                 14
plan.price           28182
plan.type            28182
trial.type               0
dtype: int64

In [235]:
#user_idê°€ ê²°ì¸¡ì¸ë°ë„ ì„œë¹„ìŠ¤ ë¬´ë£Œ ì²´í—˜ì„ í•  ìˆ˜ ìˆë‚˜? -> 14ê±´ ì‚­ì œ í–ˆìŒ(ì‹œìŠ¤í…œ ìƒ ì˜¤ë¥˜ ë“±ë“±ì˜ ì›ì¸ ì¶”ì¸¡)
start_free_trial[start_free_trial['user_id'].isna()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
3075,Seoul,2022-02-24 16:36:57.522,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
5022,Gangnam-gu,2022-01-26 17:55:47.608,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5023,Gangnam-gu,2022-01-26 17:59:01.671,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5024,Gangnam-gu,2022-01-26 17:59:11.373,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5187,Seoul,2022-06-29 18:44:22.929,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,Mobile Safari,15.0,Web,NaN,NaN,NaN,A
6457,Cheongju-si,2022-02-06 16:42:08.666,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,98.0,Web,NaN,NaN,NaN,A
11593,Gangnam-gu,2022-01-26 18:00:08.176,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
14472,Seoul,2022-06-21 16:03:55.053,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
17365,Osan,2022-01-27 08:50:18.502,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
17366,Osan,2022-01-27 08:50:56.525,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
27375,Seoul,2022-04-03 21:57:45.393,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
27801,Dong-gu,2022-01-29 03:37:17.829,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
27802,Dong-gu,2022-01-29 03:38:05.853,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
29551,NaN,2022-01-11 15:14:50.986,South Korea,NaN,Android,Android,start.free_trial,Korean,Chrome WebView,97.0,Web,NaN,NaN,NaN,A

In [243]:
# user_id ê²°ì¸¡ ë°ì´í„° ì œê±°
start_free_trial_df = start_free_trial.dropna(subset=['user_id'])
start_free_trial_df.shape

(30607, 15)

In [244]:
# user_id ì¤‘ë³µ í™•ì¸ -> íŒ€ì›ë“¤ê³¼ íšŒì˜ í•„ìš”(ì¼ë‹¨ ìµœê·¼ ë¬´ë£Œì„œë¹„ìŠ¤ ì´ìš© ë‚´ì—­ìœ¼ë¡œ trial.typeê°€ ê°™ì„ ê²½ìš°ë§Œ ì¤‘ë³µì²˜ë¦¬ë¦¬ ì œê±°í•´ì„œ ì§„í–‰í•¨)
a = start_free_trial_df[start_free_trial_df.duplicated(subset = ['user_id'], keep=False)]
a_sorted = a.sort_values(by = 'user_id')
a_sorted

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
14197,Suwon,2022-02-04 14:56:37.400,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,000ec3029411f0e0f5198abb679eebb8,NaN,NaN,A
14196,Suwon,2022-02-04 14:55:28.871,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,000ec3029411f0e0f5198abb679eebb8,NaN,NaN,A
27721,Daegu,2022-04-10 14:16:11.760,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,100.0,Web,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A
19953,Daegu,2022-04-10 13:52:40.265,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,100.0,Web,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A
18698,Daegu,2022-03-18 15:24:20.014,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,98.0,Web,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14756,Jung-gu,2022-06-19 20:03:06.914,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,English,Chrome Mobile,102.0,Web,fff219b952002818462faa3746343f09,NaN,NaN,A
18562,Seoul,2022-02-01 15:53:16.953,South Korea,NaN,Android,Android,start.free_trial,Korean,Chrome,97.0,Web,fffba676b17f9f0f228360930f238f07,NaN,NaN,A
15716,Buk-gu,2022-01-02 22:38:50.558,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,96.0,Web,fffba676b17f9f0f228360930f238f07,NaN,NaN,A
15717,Buk-gu,2022-01-02 22:39:33.974,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,96.0,Web,fffba676b17f9f0f228360930f238f07,NaN,NaN,A
15718,Buk-gu,2022-01-02 22:40:41.708,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,96.0,Web,fffba676b17f9f0f228360930f238f07,NaN,NaN,A

In [245]:
# user_idê°€ ì¤‘ë³µì¸ ë°ì´í„°ì—ì„œ trial.type í™•ì¸
a['trial.type'].value_counts()

trial.type
A    20172
B       39
Name: count, dtype: int64

In [246]:
# Aíƒ€ì…ì˜ ë¬´ë£Œ ì²´í—˜ê³¼ Bíƒ€ì… ë¬´ë£Œ ì²´í—˜ ëª¨ë‘ ì´ìš©í•œ ìœ ì € ì¶”ì¶œ

filtered_df = a.groupby('user_id').filter(
    lambda group : ('A' in group['trial.type'].values) and  ('B' in group['trial.type'].values)
)
filtered_df_sorted = filtered_df.sort_values(by = 'user_id')
filtered_df_sorted

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
22397,Mapo-gu,2022-02-27 13:24:09.164,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Chrome,98.0,Web,00c4c694c8e071de103be590a4ce4b28,NaN,NaN,A
22396,Mapo-gu,2022-02-27 13:11:49.538,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Chrome,98.0,Web,00c4c694c8e071de103be590a4ce4b28,NaN,NaN,A
22398,Mapo-gu,2022-02-27 13:25:29.638,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Chrome,98.0,Web,00c4c694c8e071de103be590a4ce4b28,NaN,NaN,A
1653,Mapo-gu,2023-02-03 17:49:09.121,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Chrome,109.0.0.0,Web,00c4c694c8e071de103be590a4ce4b28,131600.0,12ê°œì›” í”Œëœ,B
25497,Seodaemun-gu,2022-05-20 22:15:47.295,South Korea,NaN,Mac,Mac,start.free_trial,English,Firefox,100.0,Web,00dae4b5b145ebb67aab108a2e8bdab1,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24149,Buk-gu,2022-05-28 20:43:33.998,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,fac26d0181d57a6fa6eed20caca28ffe,NaN,NaN,A
24148,Buk-gu,2022-05-28 20:39:19.747,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,fac26d0181d57a6fa6eed20caca28ffe,NaN,NaN,A
24147,Buk-gu,2022-05-28 20:38:54.419,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,fac26d0181d57a6fa6eed20caca28ffe,NaN,NaN,A
24693,Songpa-gu,2022-07-06 14:16:17.120,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,fac26d0181d57a6fa6eed20caca28ffe,NaN,NaN,A
24146,Buk-gu,2022-05-28 20:38:35.821,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,fac26d0181d57a6fa6eed20caca28ffe,NaN,NaN,A

In [247]:
# í™•ì¸ì°¨ ìœ ì €_id í•œ ê°œ í™•ì¸
filtered_df[filtered_df['user_id'] == '8bdcc33893aa06c90269d85d922b7155']

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
144,Gwangju,2023-02-17 17:24:10.489,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,101,Web,8bdcc33893aa06c90269d85d922b7155,15920.0,1ê°œì›” í”Œëœ,B
17419,Dong-gu,2022-04-13 01:19:21.320,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,100.0,Web,8bdcc33893aa06c90269d85d922b7155,NaN,NaN,A
18147,Gwangju,2022-05-24 17:09:51.912,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,101.0,Web,8bdcc33893aa06c90269d85d922b7155,NaN,NaN,A

In [ ]:
#ì‚¬ìš©í•  ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
start_free_trial_df = start_free_trial_df[['user_id','client_event_time', 'plan.price', 'plan.type','trial.type']]

# user_idì™€ trial.typedl ê°™ì€ ê²½ìš°ë§Œ ì¤‘ë³µ ì œê±°í•˜ê³  ìµœê·¼ ê¸°ê°„ìœ¼ë¡œ ë‚¨ê¹€

# user_idì™€ trial.tpyeë³„ë¡œ client_event_time ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
start_free_trial_df = start_free_trial_df.sort_values(by=['user_id', 'client_event_time'])

# user_idì™€ trial.typeì´ ê°™ì€ ê²½ìš°ë§Œ ì¤‘ë³µ ì œê±°(ê°€ì¥ ìµœì‹ (ë§ˆì§€ë§‰) í–‰ë§Œ ë‚¨ê¹€)
start_free_trial_df = start_free_trial_df.drop_duplicates(subset= ['user_id', 'trial.type'], keep = 'last')

start_free_trial_df

,user_id,client_event_time,plan.price,plan.type,trial.type
1578,0000572f2ba8079bcefd2760b632e820,2023-03-18 23:39:22.844,15920.0,1ê°œì›” í”Œëœ,B
336,000087537cbfd934375364218ff10f91,2023-04-01 20:42:25.489,131600.0,12ê°œì›” í”Œëœ,B
9769,0008a61888a167f7c68df68e9e76dcf7,2022-04-04 14:13:23.483,NaN,NaN,A
22896,000be07bc09ceff42c11978f4a9f1c1a,2022-08-13 21:57:40.928,NaN,NaN,A
14197,000ec3029411f0e0f5198abb679eebb8,2022-02-04 14:56:37.400,NaN,NaN,A
...,...,...,...,...,...
21860,fff863f2a4d9ef10dc106f90c65952fc,2022-05-30 16:39:30.979,NaN,NaN,A
25327,fffacbb166b5f7f4e81b2187a23fa56f,2022-06-21 12:41:40.465,NaN,NaN,A
18562,fffba676b17f9f0f228360930f238f07,2022-02-01 15:53:16.953,NaN,NaN,A
10052,fffcbf8ded60b689e9867bff455f4ab7,2022-09-04 11:18:40.230,NaN,NaN,A
2012,fffe529de03d6187ef7ed765650c8d2b,2023-03-01 21:37:09.512,15920.0,1ê°œì›” í”Œëœ,B

In [289]:
# ì¤‘ë³µ ì œëŒ€ë¡œ ì²˜ë¦¬ë˜ì—ˆë‚˜ í™•ì¸
start_free_trial_df[start_free_trial_df['user_id'] == '8bdcc33893aa06c90269d85d922b7155']

,user_id,client_event_time,plan.price,plan.type,trial.type
18147,8bdcc33893aa06c90269d85d922b7155,2022-05-24 17:09:51.912,NaN,NaN,A
144,8bdcc33893aa06c90269d85d922b7155,2023-02-17 17:24:10.489,15920.0,1ê°œì›” í”Œëœ,B

In [290]:
start_free_trial_df['trial.type'].value_counts()

trial.type
A    13909
B     2439
Name: count, dtype: int64

In [291]:
# A íƒ€ì…ì€ í•˜ë‚˜ì˜ ì»¨í…ì¸ ì— ëŒ€í•´ ì˜êµ¬ì ì¸ ë¬´ë£Œ ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•˜ì˜€ìœ¼ë¯€ë¡œ plan.typeì´ ì—†ìŒ
start_free_trial_df.groupby(['trial.type','plan.type']).size()

trial.type  plan.type
B           12ê°œì›” í”Œëœ      1161
            1ê°œì›” í”Œëœ       1278
dtype: int64

In [293]:
start_free_trial_a = start_free_trial_df[start_free_trial_df['trial.type'] == 'A']
start_free_trial_a

,user_id,client_event_time,plan.price,plan.type,trial.type
9769,0008a61888a167f7c68df68e9e76dcf7,2022-04-04 14:13:23.483,NaN,NaN,A
22896,000be07bc09ceff42c11978f4a9f1c1a,2022-08-13 21:57:40.928,NaN,NaN,A
14197,000ec3029411f0e0f5198abb679eebb8,2022-02-04 14:56:37.400,NaN,NaN,A
11702,0012dda51051bd514053a117f3d6a2a4,2022-06-02 12:38:42.317,NaN,NaN,A
24856,001b86bc330d52dd398eb3ddfb6c55d2,2022-05-24 18:44:24.740,NaN,NaN,A
...,...,...,...,...,...
2681,fff39ee254ad1c790327191e5682c823,2022-06-17 06:37:09.525,NaN,NaN,A
21860,fff863f2a4d9ef10dc106f90c65952fc,2022-05-30 16:39:30.979,NaN,NaN,A
25327,fffacbb166b5f7f4e81b2187a23fa56f,2022-06-21 12:41:40.465,NaN,NaN,A
18562,fffba676b17f9f0f228360930f238f07,2022-02-01 15:53:16.953,NaN,NaN,A
10052,fffcbf8ded60b689e9867bff455f4ab7,2022-09-04 11:18:40.230,NaN,NaN,A

In [294]:
print(start_free_trial_a['client_event_time'].min())
print(start_free_trial_a['client_event_time'].max())

2021-12-04 21:46:00.519000
2022-11-13 23:38:56.844000

In [296]:
sign_up_free_b = start_free_trial_df[start_free_trial_df['trial.type'] == 'B']
sign_up_free_b

,user_id,client_event_time,plan.price,plan.type,trial.type
1578,0000572f2ba8079bcefd2760b632e820,2023-03-18 23:39:22.844,15920.0,1ê°œì›” í”Œëœ,B
336,000087537cbfd934375364218ff10f91,2023-04-01 20:42:25.489,131600.0,12ê°œì›” í”Œëœ,B
585,004cf75983af1fead9ecf6815b5da6ce,2023-02-16 08:10:43.334,131600.0,12ê°œì›” í”Œëœ,B
1087,00750a7dbbd08a4656e12de3cfca29e1,2023-02-28 09:45:09.560,131600.0,12ê°œì›” í”Œëœ,B
64,0086ccce1bb81f778557c58c38344316,2023-02-06 16:06:29.860,15920.0,1ê°œì›” í”Œëœ,B
...,...,...,...,...,...
775,ffa8c1ccd9af84e29a0f9aa8d7dc33a6,2023-04-03 22:52:22.245,15920.0,1ê°œì›” í”Œëœ,B
770,ffb9669fd7962fbf4b52fd745d42cfe7,2023-02-23 17:22:46.198,131600.0,12ê°œì›” í”Œëœ,B
181,ffd86a14744bbde36e2034ab2301d78b,2023-03-22 15:08:10.614,15920.0,1ê°œì›” í”Œëœ,B
1121,ffe21d3ae30ba028e5da6890e8cead38,2023-04-09 21:28:52.330,15920.0,1ê°œì›” í”Œëœ,B
2012,fffe529de03d6187ef7ed765650c8d2b,2023-03-01 21:37:09.512,15920.0,1ê°œì›” í”Œëœ,B

In [297]:
print(sign_up_free_b['client_event_time'].min())
print(sign_up_free_b['client_event_time'].max())

2023-02-01 00:03:03.291000
2023-04-30 23:59:47.032000

### 11-1. ë¬´ë£Œ ì²´í—˜ ì„œë¹„ìŠ¤ ì´ìš© í›„ ì²« ê²°ì œ ì™„ë£Œ

In [ ]:
# 1. íšŒì›ê°€ì… í›„ ë¬´ë£Œ ì²´í—˜ ì„œë¹„ìŠ¤ì„ ê²½í—˜í•´ë³¸ ìœ ì € ì¶”ì¶œ

# íšŒì›ê°€ì… ì™„ë£Œ
complete_signup_df = complete_signup[['user_id','type']]


# íšŒì› ê°€ì… ì„œë¹„ìŠ¤ ë¬´ë£Œ ì²´í—˜ ì´ìš© ìœ ì € merge
merge_df = pd.merge(complete_signup_df, start_free_trial_df, how  = 'inner', on = 'user_id')
merge_df.rename(columns = {'client_event_time' : 'start_free_trial_time'}, inplace = 'True')
merge_df

,user_id,type,start_free_trial_time,plan.price,plan.type,trial.type
0,06b6868000a5d576180aca47896d6cce,kakao,2023-04-06 06:49:36.156,15920.0,1ê°œì›” í”Œëœ,B
1,5544c5475f9c1682c352683b6dcbd005,kakao,2023-02-20 14:13:43.580,131600.0,12ê°œì›” í”Œëœ,B
2,9c07011e4f5560603ea872e26b2c04eb,email,2023-03-13 16:30:52.581,131600.0,12ê°œì›” í”Œëœ,B
3,40acc1ddfc012f3d2f58a3de95e9e748,kakao,2023-03-12 17:28:29.384,15920.0,1ê°œì›” í”Œëœ,B
4,38aca03fba9753a6b2f31b829fb16a30,kakao,2023-03-12 17:35:00.107,15920.0,1ê°œì›” í”Œëœ,B
...,...,...,...,...,...,...
14331,847f4bef2410e78a897143e7d8517ec6,kakao,2022-03-25 13:39:59.249,NaN,NaN,A
14332,d4488d048e462d6c5b69e861d35dcc6b,naver,2022-02-24 13:23:35.434,NaN,NaN,A
14333,b24c5e133d159c222668607cc601d89b,naver,2022-02-21 15:07:23.982,NaN,NaN,A
14334,a318b7d752a63d5d2302a4493835bc10,kakao,2022-02-21 13:13:10.443,NaN,NaN,A
14335,3ac7014b40708e7e9109863c7863355d,kakao,2022-02-25 10:39:20.253,NaN,NaN,A

In [282]:
# 2. íšŒì› ê°€ì… ì™„ë£Œ íšŒì›, ë¬´ë£Œ ì„œë¹„ìŠ¤ ì²´í—˜, ì²« ê²°ì œ ì™„ë£Œ ë°ì´í„° merge

# ì¤‘ë³µ ê²°ì œ ë‚´ì—­ ì œê±°í•œ ì²« ê²°ì œ ì™„ë£Œ ë°ì´í„° í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
complete_subscription_final_df = complete_subscription_final[
    ['user_id', 'client_event_time', 'plan.price', 'paid_amount','coupon.discount_amount',	'pg.type' ]]


# merge_df(ë¬´ë£Œ ì„œë¹„ìŠ¤ ì²´í—˜)ì™€ complete_subscription_final_df(ì²« ê²°ì œ ì™„ë£Œ) merge
result_df = merge_df.merge(complete_subscription_final_df, on = 'user_id', how = 'outer')
result_df.rename(columns = {'plan.price_x' : 'sft_plan_price', 'client_event_time' : 'complete_subscription_time', 'plan.price_y' : 'csf_plan_price'}, inplace = True)
result_df

,user_id,type,start_free_trial_time,sft_plan_price,plan.type,trial.type,complete_subscription_time,csf_plan_price,paid_amount,coupon.discount_amount,pg.type
0,0000572f2ba8079bcefd2760b632e820,kakao,2023-03-18 23:39:22.844,15920.0,1ê°œì›” í”Œëœ,B,2023-03-25 23:40:01.647,15920.0,15920.0,0.0,NaN
1,000087537cbfd934375364218ff10f91,email,2023-04-01 20:42:25.489,131600.0,12ê°œì›” í”Œëœ,B,2023-04-08 20:45:01.586,131600.0,131600.0,0.0,NaN
2,0001f15911b404f3bf5b8571afafa4e4,NaN,NaT,NaN,NaN,NaN,2023-11-29 10:13:51.820,15920.0,15920.0,0.0,B
3,0008a61888a167f7c68df68e9e76dcf7,email,2022-04-04 14:13:23.483,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
4,000be07bc09ceff42c11978f4a9f1c1a,kakao,2022-08-13 21:57:40.928,NaN,NaN,A,2022-08-20 22:05:01.083,42960.0,42960.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25033,fffacbb166b5f7f4e81b2187a23fa56f,kakao,2022-06-21 12:41:40.465,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
25034,fffadab35ddc8234e1c5139815bfc017,NaN,NaT,NaN,NaN,NaN,2023-09-10 12:16:01.197,15920.0,15920.0,0.0,NaN
25035,fffba676b17f9f0f228360930f238f07,kakao,2022-02-01 15:53:16.953,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
25036,fffcbf8ded60b689e9867bff455f4ab7,kakao,2022-09-04 11:18:40.230,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
25037,fffe529de03d6187ef7ed765650c8d2b,kakao,2023-03-01 21:37:09.512,15920.0,1ê°œì›” í”Œëœ,B,NaT,NaN,NaN,NaN,NaN

In [ ]:
# 3. ë¬´ë£Œì„œë¹„ìŠ¤ ì´ìš© í›„ ì²« ê²°ì œ ì™„ë£Œ í•œ ìœ ì € ì¶”ì¶œ

# start_free_trial_timeê³¼ complete_subscription_timeì´ ê²°ì¸¡ì´ ì•„ë‹Œ ë°ì´í„° ì¶”ì¶œ     
free_trial_subscription = result_df[result_df['complete_subscription_time'].notna() & result_df['start_free_trial_time'].notna()]

# ë¬´ë£Œì„œë¹„ìŠ¤ ì´ìš© í›„ ì²« ê²°ì œ ì´ìš©(ì¡°ê±´ : start_free_trial_time < complete_subscription_time)
free_trial_subscription = free_trial_subscription[free_trial_subscription['start_free_trial_time'] < free_trial_subscription['complete_subscription_time']]
free_trial_subscription

,user_id,type,start_free_trial_time,sft_plan_price,plan.type,trial.type,complete_subscription_time,csf_plan_price,paid_amount,coupon.discount_amount,pg.type
0,0000572f2ba8079bcefd2760b632e820,kakao,2023-03-18 23:39:22.844,15920.0,1ê°œì›” í”Œëœ,B,2023-03-25 23:40:01.647,15920.0,15920.0,0.0,NaN
1,000087537cbfd934375364218ff10f91,email,2023-04-01 20:42:25.489,131600.0,12ê°œì›” í”Œëœ,B,2023-04-08 20:45:01.586,131600.0,131600.0,0.0,NaN
4,000be07bc09ceff42c11978f4a9f1c1a,kakao,2022-08-13 21:57:40.928,NaN,NaN,A,2022-08-20 22:05:01.083,42960.0,42960.0,0.0,NaN
8,001cd989a26ba664b086b92c364dc9cf,kakao,2022-04-28 07:50:58.403,NaN,NaN,A,2022-04-28 19:49:02.241,131600.0,111860.0,19740.0,NaN
9,001ddbe4885db89888b34bf0eb14f6e1,kakao,2022-04-10 14:39:32.904,NaN,NaN,A,2022-04-10 15:02:28.859,15920.0,15920.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24995,ff9bb243eff83d84e2cb289ff629aba8,kakao,2023-03-15 15:26:30.990,15920.0,1ê°œì›” í”Œëœ,B,2023-03-22 15:30:01.899,15920.0,15920.0,0.0,NaN
25001,ffa1cfa6bc3b410a927be11e23ff5340,kakao,2022-09-05 00:20:39.400,NaN,NaN,A,2022-12-19 21:50:01.076,79200.0,79200.0,0.0,NaN
25004,ffa8c1ccd9af84e29a0f9aa8d7dc33a6,kakao,2023-04-03 22:52:22.245,15920.0,1ê°œì›” í”Œëœ,B,2023-04-10 22:55:02.421,15920.0,15920.0,0.0,NaN
25021,ffe13db0ad3751c9be06a73aa38bc9fc,kakao,2022-09-01 11:32:07.177,NaN,NaN,A,2022-09-08 11:35:01.476,15920.0,15920.0,0.0,NaN
25030,fff219b952002818462faa3746343f09,kakao,2022-06-19 20:39:12.642,NaN,NaN,A,2022-06-20 11:03:39.500,42960.0,36516.0,6444.0,NaN

In [302]:
free_trial_subscription['trial.type'].value_counts()

trial.type
A    2144
B     988
Name: count, dtype: int64

In [ ]:
# 4. TYPE A : ë¬´ë£Œì²´í—˜ì—ì„œ ì²« ê²°ì œ

In [ ]:
# 5. TYPE B : ë¬´ë£Œì²´í—˜ ì²« ê²°ì œ

In [ ]:
ê°•ì‚¬ë‹˜ ì´ì•¼ê¸° ì‹œê°„ëŒ€ë³„ë¡œ ë³´ëŠ”ê²Œ ì•„ë‹ˆë¼ A/B í…ŒìŠ¤íŠ¸
íŠ¹ì • ê¸°ê°„ ë™ì•ˆì´ í‰ê· ì¹˜ 1ê°œì›” /  2ê°œì›”  / 3ê°œì›” / 
êµ¬ë…ìœ¼ë¡œ ë„˜ì–´ê°„ ë¶€ë¶„

### 12. ì½˜í…ì¸  ìˆ˜ê°• ì‹œì‘(start.content)
-> 22ë…„ 8ì›”ë¶€í„° ìˆ˜ì§‘ëœ í…Œì´ë¸”

- content.id : ì½˜í…ì¸  id
- content.difficulty : ì½˜í…ì¸  ë‚œì´ë„

In [99]:
start_content = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/start.content.csv')
start_content['client_event_time'] = pd.to_datetime(start_content['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
start_content["client_event_time"] = start_content["client_event_time"] + timedelta(hours=9)
start_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-06 06:14:39.906,South Korea,NaN,Windows,Windows,start.content,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-06 06:50:19.674,South Korea,NaN,Mac,Mac,start.content,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 23:06:26.585,South Korea,NaN,Mac,Mac,start.content,Korean,Whale,3.19.166.16,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 23:15:29.040,Canada,NaN,Windows,Windows,start.content,English,Chrome,111.0.0.0,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 23:21:36.467,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124912,Dongdaemun-gu,2023-10-10 14:01:06.892,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,116.0.0.0,Web,9fe4efb5bffac9728392d3774c0894f7,f64c475280676531a31f2f8e0648599c,intermediate
124913,Namyangju,2023-10-10 14:31:21.672,South Korea,NaN,Mac,Mac,start.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,68a3658f1b936bfff3bd6960cd561b0a,beginner
124914,Seoul,2023-10-10 14:08:29.903,South Korea,NaN,Apple iPhone,Apple iPhone,start.content,Korean,Mobile Safari,17.0.1,Web,1ba78febcbf64e67d61988bdf9d5f0e1,621c7ad99b17d2d16832b618d47aea7e,advanced
124915,Incheon,2023-10-10 14:39:15.513,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,beginner
124916,Incheon,2023-10-10 14:10:25.479,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,0117038cc69fe8a40388ec19bb0a495e,f4be1a0fe0e301b03115591777fddf29,beginner

In [100]:
start_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124917 entries, 0 to 124916
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   city                121017 non-null  object
 1   client_event_time   124917 non-null  datetime64[ns]
 2   country             122032 non-null  object
 3   device_carrier      0 non-null       float64
 4   device_family       122690 non-null  object
 5   device_type         120068 non-null  object
 6   event_type          124917 non-null  object
 7   language            122692 non-null  object
 8   os_name             122671 non-null  object
 9   os_version          122585 non-null  object
 10  platform            122692 non-null  object
 11  user_id             124917 non-null  object
 12  content.id          124917 non-null  object
 13  content.difficulty  124917 non-null  object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 13.3+ MB

In [101]:
start_content.isnull().sum()

city                    3900
client_event_time          0
country                 2885
device_carrier        124917
device_family           2227
device_type             4849
event_type                 0
language                2225
os_name                 2246
os_version              2332
platform                2225
user_id                    0
content.id                 0
content.difficulty         0
dtype: int64

In [ ]:
# ì»¨í…ì¸  ë‚œì´ë„ë³„ ìˆ˜ê°• ìˆ˜
start_content['content.difficulty'].value_counts()

content.difficulty
beginner        58628
intermediate    36109
advanced        27485
hard             2695
Name: count, dtype: int64

In [ ]:
start_content[start_content['content.difficulty']]

### 13. ë ˆìŠ¨ ì‹œì‘(enter.lesson_page)
-> ì½˜í…ì¸ ëŠ” ì—¬ëŸ¬ ê°œì˜ ë ˆìŠ¨ìœ¼ë¡œ êµ¬ì„±

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id
- is_free_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì¸ì§€ ì—¬ë¶€(íŠ¹ì • ê¸°ì¤€ ì‹œì ìœ¼ë¡œ ì‚¬ìš©í•˜ì§€ ì•ŠìŒ)
- is_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì´ë©´ì„œ ê·¸ ìœ ì €ê°€ í˜„ì¬ êµ¬ë…í•˜ì§€ ì•Šì€ íšŒì›ì¸ì§€ ì—¬ë¶€

In [104]:
enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.lesson_page.csv')
enter_lesson_page['client_event_time'] = pd.to_datetime(enter_lesson_page['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
enter_lesson_page["client_event_time"] = enter_lesson_page["client_event_time"] + timedelta(hours=9)

enter_lesson_page.head(3)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_10168\73324632.py:1: DtypeWarning: Columns (9,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.lesson_page.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-06 06:46:04.333,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-06 06:55:50.787,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-06 06:55:55.684,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN

In [105]:
display(enter_lesson_page.shape)
print(enter_lesson_page.info())
display(enter_lesson_page.isnull().sum())

(21029707, 16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21029707 entries, 0 to 21029706
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  is_trial           object
 14  lesson.id          object
 15  is_free_trial      object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 2.5+ GB
None

city                   540130
client_event_time           0
country                358428
device_carrier       21029707
device_family            6482
device_type            141817
event_type                  0
language                    0
os_name                   417
os_version               6367
platform                    0
user_id               1538529
content.id                352
is_trial              7374020
lesson.id                   0
is_free_trial        18805949
dtype: int64

In [106]:
# user_idê°€ ê²°ì¸¡ì¸ ê²½ìš° ë°ì´í„° í™•ì¸í•´ë´„ -> ìˆ˜ê°•ê¸°ë¡ í™•ì¸ ê°€ëŠ¥ ê·¸ëŸ°ë° ë‹¤ë¥¸ ë°ì´í„°ë“¤ê³¼ mergeê°€ ë¶ˆê°€ëŠ¥ í•  ë“¯?
# ì´ ê²½ìš°ëŠ” ë¬´ë£Œë¡œ ë ˆìŠ¨ì´ ìˆ˜ê°•ì´ ê°€ëŠ¥í•œ ë¶€ë¶„ì´ê¸° ë•Œë¬¸ì— ì™¸ë¶€ì—ì„œ ë¹„íšŒì›ì¸ ì‚¬ëŒë“¤ì´ ë“¤ì–´ì™€ì„œ ê°•ì˜ë¥¼ ë³´ê³  í–ˆë˜ ì‹ìœ¼ë¡œ ë³´ê¸°ë¡œ í•¨.

enter_lesson_page[enter_lesson_page['user_id'].isna()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
92,NaN,2023-04-06 06:04:19.774,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,73ef28f4d72d40e571b5a3a3df826ef7,NaN
93,NaN,2023-04-06 06:16:34.067,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,8a72eed73d3f9d3ab1771548070e7338,False,127a02f25f1872a98e46467e9a02a531,NaN
94,NaN,2023-04-06 06:28:46.441,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,878bb38f14991c6ab57f3d7f5e456d75,False,1a2aaeb4aad8991aed51e24e4b7c45de,NaN
95,NaN,2023-04-06 06:36:06.042,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,6c114626032aa4a43c62fd7fcdb19543,False,5ba9d48917c21d8ad320b7a7e94b1f45,NaN
96,NaN,2023-04-06 06:40:59.422,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,685c72776f4e9f3d1f61bcc81bc244f0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21029625,Seoul,2023-10-10 14:53:38.735,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029626,Seoul,2023-10-10 14:53:41.872,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029627,Seoul,2023-10-10 14:53:46.963,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,37c7431f1601772c9a40cca96179b560,NaN
21029702,Seoul,2023-10-10 14:18:14.053,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,582f0dd769db16a3d920fd7916090efb,NaN
21029703,Seoul,2023-10-10 14:18:58.648,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,83c74d5802b04a1a50aa28b7bf8a5354,NaN

In [107]:
# ì‚¬ìš©í•  ë³€ìˆ˜ë§Œ ê°€ì ¸ì˜¤ê¸°
enter_lesson_page_df = enter_lesson_page.drop(columns = ['city', 'country','device_carrier','device_family', 'device_type',	'event_type', 'language','os_name',	'os_version','platform'])

# ë‚ ì§œë³„ 'is_free_trial'
monthly_is_free_trial = (
    enter_lesson_page_df.groupby([enter_lesson_page_df['client_event_time'].dt.to_period('M'), 'is_free_trial']).count())
monthly_is_free_trial

                                 client_event_time  user_id  content.id  \
client_event_time is_free_trial
2022-05           False                     410411   407904      410411
                  True                       28204    28201       28204
2022-06           False                     393070   389809      393070
                  True                       30330    30322       30330
2022-07           False                     422396   419404      422396
                  True                       10431    10286       10431
2022-08           False                     656874   654024      656874
                  True                          41       41          41
2022-09           False                     271992   271001      271992
                  True                           9        9           9

                                 is_trial  lesson.id
client_event_time is_free_trial
2022-05           False                 0     410411
                  True                  0      28204
2022-06           False                 0     393070
                  True                  0      30330
2022-07           False                 0     422396
                  True                  0      10431
2022-08           False                 0     656874
                  True                  0         41
2022-09           False                 0     271992
                  True                  0          9

In [108]:
# ë‚ ì§œë³„ 'is_trial'
monthly_is_trial = (
    enter_lesson_page_df.groupby([enter_lesson_page_df['client_event_time'].dt.to_period('M'), 'is_trial']).count())
monthly_is_trial

                            client_event_time  user_id  content.id  lesson.id  \
client_event_time is_trial
2022-11           False                    15       11          15         15
                  True                      1        1           1          1
2022-12           False                    90       64          90         90
                  True                     17       17          17         17
2023-01           False               1355015  1347337     1355015    1355015
                  True                  41808    40930       41808      41808
2023-02           False               1069358  1046073     1069358    1069358
                  True                   9239     8457        9239       9239
2023-03           False               1066864  1059859     1066843    1066864
                  True                   4556     4282        4556       4556
2023-04           False               1135714  1131337     1135713    1135714
                  True                     12        2          12         12
2023-05           False               1100035  1094022     1100035    1100035
                  True                   2309     2191        2309       2309
2023-06           False               1006824   998232     1006824    1006824
                  True                   8406     8185        8406       8406
2023-07           False               1592080  1245925     1591967    1592080
                  True                  10690     9620       10690      10690
2023-08           False               1559701  1183954     1559644    1559701
                  True                  10246     9083       10246      10246
2023-09           False               1356786  1079108     1356722    1356786
                  True                   4805     4279        4805       4805
2023-10           False               1324258  1089329     1324247    1324258
                  True                   4944     4433        4944       4944
2023-11           False                877236   700717      877157     877236
                  True                   6971     6287        6971       6971
2023-12           False                105498    83721      105497     105498
                  True                   1727     1272        1727       1727
2024-01           False                   478      303         478        478
                  True                      4        2           4          4

                            is_free_trial
client_event_time is_trial
2022-11           False                 0
                  True                  0
2022-12           False                 0
                  True                  0
2023-01           False                 0
                  True                  0
2023-02           False                 0
                  True                  0
2023-03           False                 0
                  True                  0
2023-04           False                 0
                  True                  0
2023-05           False                 0
                  True                  0
2023-06           False                 0
                  True                  0
2023-07           False                 0
                  True                  0
2023-08           False                 0
                  True                  0
2023-09           False                 0
                  True                  0
2023-10           False                 0
                  True                  0
2023-11           False                 0
                  True                  0
2023-12           False                 0
                  True                  0
2024-01           False                 0
                  True                  0

- is_free_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì´ ì•„ë‹Œ ê²ƒìœ¼ë¡œ ì ì°¨ ë¹„ì¤‘ì´ ë†’ì•„ì§€ëŠ” ì¤‘(False) -> is_trialë¡œ ì „í™˜í•˜ë©´ì„œ is_free_trial ì§„ì… ê°ì†Œ?
- is_trial : êµ¬ë…ì¸ì§€ ì•„ë‹Œì§€ ì—¬ë¶€ë„ ì¶”ê°€í•œ ë°ì´í„°ë¡œ -> ëŒ€ë¶€ë¶„ êµ¬ë…í•˜ì§€ ì•Šì€ ìƒíƒœë¡œ ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ ì‹œì‘

### 14. ë ˆìŠ¨ ì™„ë£Œ(complete.lesson)

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id

In [109]:
complete_lesson = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.lesson.csv')
complete_lesson['client_event_time'] = pd.to_datetime(complete_lesson['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
complete_lesson["client_event_time"] = complete_lesson["client_event_time"] + timedelta(hours=9)

complete_lesson

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-06 06:55:51.836,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-06 06:19:01.243,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-06 06:20:27.939,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-06 06:23:01.534,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-06 06:28:34.965,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405064,Seo-gu,2023-10-10 14:22:54.887,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29,4b6cc370e587d711780ed4591634d443
5405065,Incheon,2023-10-10 14:39:15.760,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,2ed4b83e65edc2b1efb193aaa3c60cf9
5405066,Incheon,2023-10-10 14:46:18.129,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,db421b66bfd27eccd0e862e30b4de1be
5405067,Incheon,2023-10-10 14:50:32.927,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,09c8a2d29087cb3d47823acb5f2705e3
5405068,Incheon,2023-10-10 14:59:28.965,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,b734f43b5123f8bdbf7d8f865bd3eacf

In [110]:
display(complete_lesson.info())
display(complete_lesson.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5405069 entries, 0 to 5405068
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  lesson.id          object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 577.3+ MB

None

city                  189679
client_event_time          0
country               148360
device_carrier       5405069
device_family          53035
device_type            80829
event_type                 0
language               53014
os_name                53291
os_version             54076
platform               53014
user_id                    0
content.id                 0
lesson.id                  0
dtype: int64

- ë¹„íšŒì›ì¸ ì‚¬ëŒë“¤ì˜ ê²½ìš° ë ˆìŠ¨ ì™„ë£Œì˜ ê¸°ë¡ì´ ë‚¨ì§€ ì•ŠëŠ” ê²ƒìœ¼ë¡œ ë³´ë©´ ë  ê²ƒ ê°™ìŒ

### 15. ë ˆìŠ¨ í˜ì´ì§€ ë‚´ ì§ˆë¬¸ ëª©ë¡ í´ë¦­(click_lesson_page_related_question_box)

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id
- question.id : ì§ˆë¬¸ id

In [111]:
click_lesson_page_related_question_box = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.lesson_page_related_question_box.csv')
click_lesson_page_related_question_box['client_event_time'] = pd.to_datetime(click_lesson_page_related_question_box['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
click_lesson_page_related_question_box["client_event_time"] = click_lesson_page_related_question_box["client_event_time"] + timedelta(hours=9)

click_lesson_page_related_question_box.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,question.id,content.id,lesson.id
0,Dong-gu,2023-04-06 06:51:48.377,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-06 06:52:21.689,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-06 06:52:42.481,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b

In [112]:
click_lesson_page_related_question_box.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379136 entries, 0 to 1379135
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   city               1355675 non-null  object
 1   client_event_time  1379136 non-null  datetime64[ns]
 2   country            1364245 non-null  object
 3   device_carrier     0 non-null        float64
 4   device_family      1379135 non-null  object
 5   device_type        1372802 non-null  object
 6   event_type         1379136 non-null  object
 7   language           1379136 non-null  object
 8   os_name            1379135 non-null  object
 9   os_version         1378923 non-null  object
 10  platform           1379136 non-null  object
 11  user_id            1326233 non-null  object
 12  question.id        824789 non-null   object
 13  content.id         824788 non-null   object
 14  lesson.id          824789 non-null   object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 157.8+ MB

In [113]:
click_lesson_page_related_question_box.isnull().sum()

city                   23461
client_event_time          0
country                14891
device_carrier       1379136
device_family              1
device_type             6334
event_type                 0
language                   0
os_name                    1
os_version               213
platform                   0
user_id                52903
question.id           554347
content.id            554348
lesson.id             554347
dtype: int64

### 16. ì½˜í…ì¸  ìˆ˜ê°• ì™„ë£Œ(end.content)
    -> ì½˜í…ì¸  ë‚´ ëª¨ë“  ë ˆìŠ¨ì„ ì‹œì²­í•˜ë©´ í•´ë‹¹ í…Œì´ë¸”ì— ë¡œê·¸ê°€ ìŒ“ì„

- content.id : ì½˜í…ì¸  id

In [114]:
end_content = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/end.content.csv')
end_content['client_event_time'] = pd.to_datetime(end_content['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
end_content["client_event_time"] = end_content["client_event_time"] + timedelta(hours=9)

end_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Yokohama,2023-04-10 23:02:10.600,Japan,NaN,Windows,Windows,end.content,Japanese,Chrome,111.0.0.0,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 23:21:26.466,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 23:37:04.440,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 23:37:19.909,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 23:08:58.968,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120577,Namyangju,2023-10-10 14:21:55.287,South Korea,NaN,Mac,Mac,end.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,710ffb5be9f89772b7baa9f62c9c8805
120578,Dalseong-gun,2023-10-10 14:52:23.524,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,a0a63b8416b759f2524918094a04d1bf,101e1d0dcc38d9c86156f008a145083e
120579,Daedeok-gu,2023-10-10 14:43:45.139,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,e209e09abc061bd69f3116ff23dcb56b,f4be1a0fe0e301b03115591777fddf29
120580,Saha-gu,2023-10-10 14:13:17.274,South Korea,NaN,Windows,Windows,end.content,Korean,Edge,117.0.2045.47,Web,e962f191e86d935bc3cf7a566156a11a,61b6463287573f00de13a930805a52d6
120581,Seo-gu,2023-10-10 14:22:54.927,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29

In [115]:
display(end_content.info())
display(end_content.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120582 entries, 0 to 120581
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               116280 non-null  object
 1   client_event_time  120582 non-null  datetime64[ns]
 2   country            117182 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      119391 non-null  object
 5   device_type        118866 non-null  object
 6   event_type         120582 non-null  object
 7   language           119392 non-null  object
 8   os_name            119387 non-null  object
 9   os_version         119362 non-null  object
 10  platform           119392 non-null  object
 11  user_id            120582 non-null  object
 12  content.id         120582 non-null  object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 12.0+ MB

None

city                   4302
client_event_time         0
country                3400
device_carrier       120582
device_family          1191
device_type            1716
event_type                0
language               1190
os_name                1195
os_version             1220
platform               1190
user_id                   0
content.id                0
dtype: int64

- ì»¨í…ì¸  ìˆ˜ê°• ì™„ë£Œ ê¸°ë¡ë„ user_idê°€ ì¡´ì¬í•´ì•¼ ê¸°ë¡ì´ ë‚¨ìŒ

### 17. êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ í´ë¦­(click.cancel_plan_button)
    -> êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ì„ í´ë¦­í–ˆë‹¤ë©´ êµ¬ë… ì·¨ì†Œê°€ ì´ë£¨ì–´ì§„ ê²ƒìœ¼ë¡œ ê°„ì£¼

In [116]:
click_cancel_plan_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.cancel_plan_button.csv')
click_cancel_plan_button['client_event_time'] = pd.to_datetime(click_cancel_plan_button['client_event_time'])

# 9ì‹œê°„ ì¶”ê°€ (KST ë³€í™˜)
click_cancel_plan_button["client_event_time"] = click_cancel_plan_button["client_event_time"] + timedelta(hours=9)
click_cancel_plan_button.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Daegu,2023-04-10 23:57:48.556,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 17:26:16.224,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,16.3,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 17:23:04.955,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,b6a1bba3cc4139d7dc821561319221e6

In [117]:
display(click_cancel_plan_button.info())
display(click_cancel_plan_button.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               17742 non-null  object
 1   client_event_time  17895 non-null  datetime64[ns]
 2   country            17893 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      17895 non-null  object
 5   device_type        17567 non-null  object
 6   event_type         17895 non-null  object
 7   language           17895 non-null  object
 8   os_name            17895 non-null  object
 9   os_version         17892 non-null  object
 10  platform           17895 non-null  object
 11  user_id            16853 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 1.6+ MB

None

city                   153
client_event_time        0
country                  2
device_carrier       17895
device_family            0
device_type            328
event_type               0
language                 0
os_name                  0
os_version               3
platform                 0
user_id               1042
dtype: int64

In [ ]:
# ì—¬ëŸ¬ ë²ˆ êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ì„ ëˆ„ë¥¸ ìœ ì € ì¡´ì¬ -> ì–´ë–¤ ì»¨í…ì¸ ?
click_cancel_plan_button['user_id'].value_counts()

user_id
9b48974f776b88ab303a43cc4db09d66    5
13dfdc8bbcd8d8dd853c2cc37c9b7226    5
8cdd971549087a4561f42858dd5ab7a5    5
e14242a188611a9c49b1831cb0f6bb74    5
2dc22bfe6872ebe3d752c86d4951c349    5
                                   ..
7f9c4216c31f85c6ed33b44a507b6a72    1
28194b919aa563aa5f712dafaf08d3a2    1
a4545c7ece2f1f266264c67080ef3ded    1
69d916faedf7e8f7e4236fea1be8d169    1
9e59ecf9a8fbe9051bd0d54f4b702f30    1
Name: count, Length: 14643, dtype: int64

- êµ¬ë… ì·¨ì†Œë¥¼ ì—¬ëŸ¬ ë²ˆí•œ íšŒì› ì¡´ì¬ -> ê·¸ëŸ¼ êµ¬ë…í•˜ê³  ìˆëŠ” ì»¨í…ì¸  ë‚¨ì•„ìˆëŠ” ê±¸ê¹Œ? / ì»¨í…ì¸  ìˆ˜ê°•ì„ ì™„ë£Œí•´ì„œ ì»¨í…ì¸  êµ¬ë…ì„ ì·¨ì†Œí•˜ëŠ” ê±¸ê¹Œ?
- user_idê°€ ì—†ì–´ë„ êµ¬ë… ì·¨ì†Œê°€ ê°€ëŠ¥í•œ ê±´ê°€??