# ğŸ“Š êµ¬ë… ì„œë¹„ìŠ¤ í”„ë¡œë•íŠ¸ ë°ì´í„° ì„¤ëª…

## **1ï¸âƒ£ ìœ ì € í–‰ë™ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.main_page` | ì„œë¹„ìŠ¤ ë©”ì¸í˜ì´ì§€ ì§„ì… |  |
| `enter.signup_page` | íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì… |  |
| `complete.signup` | íšŒì›ê°€ì… ì™„ë£Œ | ë¡œê·¸ì¸ ë°©ì‹ |

---

## **2ï¸âƒ£ ì½˜í…ì¸  ì´ìš© ê´€ë ¨ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.content_page` | ì½˜í…ì¸  ê°œë³„ í˜ì´ì§€ ì§„ì… | ì½˜í…ì¸  ID |
| `click.content_page_start_content_button` | ì½˜í…ì¸  ì‹œì²­í•˜ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID, ë²„íŠ¼ ì´ë¦„ |
| `click.content_page_more_review_button` | ì½˜í…ì¸  í›„ê¸° ë”ë³´ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID |
| `enter.episode_page` | ì—í”¼ì†Œë“œ ì‹œì²­ ì‹œì‘ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID, ë¬´ë£Œì²´í—˜ ì—¬ë¶€ |
| `start.content` | ì½˜í…ì¸  ì‹œì²­ ì‹œì‘ | ì½˜í…ì¸  ID, ì½˜í…ì¸  ì´ìš©ê°€ _(22ë…„ 8ì›”ë¶€í„° ìˆ˜ì§‘ë¨)_ |
| `complete.episode` | ì—í”¼ì†Œë“œ ì‹œì²­ ì™„ë£Œ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID |
| `end.content` | ì½˜í…ì¸  ì‹œì²­ ì™„ë£Œ | ì½˜í…ì¸  ID _(ëª¨ë“  ì—í”¼ì†Œë“œ ì‹œì²­ ì‹œ ê¸°ë¡ë¨)_ |

---

## **3ï¸âƒ£ ê²°ì œ ë° êµ¬ë… ê´€ë ¨ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `enter.payment_page` | ê²°ì œ í˜ì´ì§€ ì§„ì… |  |
| `complete.subscription` | ì²« ê²°ì œ ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… _(ì²« ê²°ì œê°€ ì¤‘ë³µì´ë©´ í™˜ë¶ˆ í›„ ì¬ê²°ì œí•œ ì¼€ì´ìŠ¤)_ |
| `renew.subscription` | ì •ê¸° ê²°ì œ ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… |
| `resubscribe.subscription` | ë§Œë£Œ í›„ ì¬êµ¬ë… ì™„ë£Œ | ìš”ê¸ˆì œ ì¢…ë¥˜, ì¿ í° ì¢…ë¥˜, ì¿ í° í˜œíƒ ì¢…ë¥˜, ì •ìƒê°€, í• ì¸ê°€, í• ì¸ì•¡, ê²°ì œìˆ˜ë‹¨ íƒ€ì… |
| `start.free_trial` | ì„œë¹„ìŠ¤ ë¬´ë£Œì²´í—˜ ì‹œì‘ | ì½˜í…ì¸  ID, ìš”ê¸ˆì œ ì¢…ë¥˜, ì •ìƒê°€ |
| `click.cancel_plan_button` | êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ í´ë¦­ | _(í´ë¦­ ì‹œ êµ¬ë… ì·¨ì†Œë¡œ ê°„ì£¼ë¨)_ |

---

## **4ï¸âƒ£ ì‚¬ìš©ì ì¸í„°ë™ì…˜ ë°ì´í„°**
| ì»¬ëŸ¼ëª… | ì»¬ëŸ¼ ì„¤ëª… | ì¶”ê°€ ì •ë³´ |
|--------|------------|--------------|
| `click.episode_page_related_comment_box` | ì—í”¼ì†Œë“œ í˜ì´ì§€ ë‚´ ëŒ“ê¸€ë³´ê¸° ë²„íŠ¼ í´ë¦­ | ì½˜í…ì¸  ID, ì—í”¼ì†Œë“œ ID, ëŒ“ê¸€ ID |

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [35]:
# ìŒ??? ë©”ëª¨ë¦¬ ì—ëŸ¬ ë‚˜ë„¤????
# folder_path = 'C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸'
# files = os.listdir(folder_path)

# # íŒŒì¼ë³„ ë°ì´í„°í”„ë ˆì„ ìƒì„±
# # rsplit()ì€ ë¬¸ìì—´ì„ ì˜¤ë¥¸ìª½(r)ì—ì„œë¶€í„° ë‚˜ëˆ”.
# # '.' ê¸°ì¤€ìœ¼ë¡œ ìµœëŒ€ 1ë²ˆ ë¶„í• í• 
# for i in files:
#         file_name = i.rsplit('.', 1)[0].replace('.', '_')  # í™•ì¥ì ì œê±° + '.' â†’ '_'
#         file_path = f'{folder_path}/{i}'  # íŒŒì¼ ê²½ë¡œddd

        
#         globals()[file_name] = pd.read_csv(file_path)

# # ë³€ìˆ˜ ë¦¬ìŠ¤íŠ¸ í™•ì¸
# print('ìƒì„±ëœ ë°ì´í„° í”„ë ˆì„ ë³€ìˆ˜')
# for name in files:
#         df_name = name.rsplit('.',1)[0].replace('.','_')
#         print(df_name)

### 1. ì„œë¹„ìŠ¤ ë©”ì¸ í˜ì´ì§€ ì§„ì…(enter.main_page)

In [36]:
enter_main_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.main_page.csv')
enter_main_page['client_event_time'] = pd.to_datetime(enter_main_page['client_event_time'])

In [37]:
enter_main_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133548 entries, 0 to 2133547
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 195.3+ MB

In [38]:
# ë©”ì¸ í˜ì´ì§€ ì§„ì… í•  ë•Œ ê²°ì¸¡ì´ ì•„ë‹Œ user_idëŠ” ìë™ ë¡œê·¸ì¸ ìƒíƒœ ì¼ ìˆ˜ ìˆë‹¤.
enter_main_page.isnull().sum()

city                   56988
client_event_time          0
country                 1869
device_carrier       2133548
device_family           2813
device_type            60050
event_type                 0
language                   0
os_name                 2304
os_version             13868
platform                   0
user_id              1611032
dtype: int64

In [39]:
enter_main_page['city'].value_counts()

city
Seoul            532425
Gangnam-gu        62074
Suwon             54819
Seongnam-si       53785
Yongin-si         40355
                  ...
Shiki                 1
Puerto JuÃ¡rez         1
Kuching               1
BrasÃ­lia              1
Daly City             1
Name: count, Length: 3429, dtype: int64

In [40]:
enter_main_page['country'].value_counts()

country
South Korea      2079303
United States      18925
Japan               5329
Canada              4142
Germany             3009
                  ...
Kosovo                 1
Somalia                1
Belize                 1
Mauritania             1
Guyana                 1
Name: count, Length: 172, dtype: int64

In [41]:
# ì›”ë³„ ì‚¬ìš©ìœ ì €
enter_main_page.groupby(enter_main_page['client_event_time'].dt.to_period('M')).count()

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
client_event_time,,,,,,,,,,,,
1978-01,2,2,2,0,2,2,2,2,2,2,2,0
1978-05,1,1,1,0,1,1,1,1,1,1,1,0
1978-06,3,3,3,0,3,3,3,3,3,3,3,0
1978-11,1,1,1,0,1,1,1,1,1,1,1,0
1978-12,3,3,3,0,3,3,3,3,3,3,3,0
2021-05,1,1,1,0,1,1,1,1,1,1,1,0
2021-11,28,29,29,0,29,29,29,29,29,29,29,7
2021-12,8,8,8,0,8,8,8,8,8,8,8,6
2022-01,76599,78320,78293,0,77923,77904,78320,78320,77932,77930,78320,50059
2022-02,109366,111979,111886,0,111915,111893,111979,111979,111930,111905,111979,52009
2022-03,107955,111278,111152,0,111082,111080,111278,111278,111087,111068,111278,50954
2022-04,84334,85995,85959,0,85883,85881,85995,85995,85910,85907,85995,39505
2022-05,84522,86673,86622,0,86589,86586,86673,86673,86595,86583,86673,39376
2022-06,92545,94146,94111,0,94071,94069,94146,94146,94074,94068,94146,42609
2022-07,80851,82109,82054,0,81996,81993,82109,82109,82003,81986,82109,41816
2022-08,58281,59473,59434,0,59377,59372,59473,59473,59387,59379,59473,23050
2022-09,45840,46633,46594,0,46569,46569,46633,46633,46570,46570,46633,17857
2022-10,42328,43738,43674,0,43686,43684,43738,43738,43646,43639,43738,15527
2022-11,104647,108079,107973,0,107947,107362,108079,108079,107975,106598,108079,20067
2022-12,148600,154465,154308,0,154325,152512,154465,154465,154359,152312,154465,28673
2023-01,181754,187735,187554,0,187626,185249,187735,187735,187674,183359,187735,36617
2023-02,94633,97644,97332,0,97531,95799,97644,97644,97600,97208,97644,20488
2023-03,108265,111625,111512,0,111501,108703,111625,111625,111564,110792,111625,10763
2023-04,68877,71013,70958,0,70898,68602,71013,71013,70943,70530,71013,3876
2023-05,57748,59271,59189,0,59154,55264,59271,59271,59180,58826,59271,2622
2023-06,65735,67566,67505,0,67445,61371,67566,67566,67449,67249,67566,2379
2023-07,78546,80674,80600,0,80548,74561,80674,80674,80561,80195,80674,2907
2023-08,84727,86861,86837,0,86699,80259,86861,86861,86715,86282,86861,3545
2023-09,79143,81060,81024,0,81005,74433,81060,81060,81006,80660,81060,4117
2023-10,82846,85350,85317,0,85146,78035,85350,85350,85250,84947,85350,5164
2023-11,102852,105425,105368,0,105403,98398,105425,105425,105407,105286,105425,6374
2023-12,35519,36388,36375,0,36368,33871,36388,36388,36379,36353,36388,2149

In [42]:
# ì›”ë³„ ìœ ì… ìœ ì €ì˜ ì´ ìˆ˜ì™€ user_idê°€ ìˆëŠ” ìœ ì €, user_idê°€ ì—†ëŠ” ìœ ì € ì¤‘ user_idê°€ ì—†ëŠ” ìœ ì €ì˜ ë¹„ìœ¨
monthly_user = pd.DataFrame()
                            
monthly_user['month'] = enter_main_page['client_event_time'].dt.to_period('M') # ì›”ë³„ë¡œ ë³€í™˜
monthly_user['user_id_status'] = enter_main_page['user_id'].notna().map({True : 'user_id_cnt', False : 'non_user_id_cnt'})

group = (monthly_user.groupby(['month','user_id_status']).size().unstack(fill_value = 0).reset_index())

#total_user ê³„ì‚°
group['total_users'] = group['user_id_cnt'] + group['non_user_id_cnt']

# user_id ì—†ëŠ” ë¹„ìœ¨ ê³„ì‚°
group['missing_user_id_ratio'] = ((group['non_user_id_cnt'] / group['total_users']) * 100).round(2)

group = group[(group['month'] >= '2022-01') & (group['month'] <= '2023-12')]

group.columns.name = None # index ì´ë¦„ ì œê±°

group

      month  non_user_id_cnt  user_id_cnt  total_users  missing_user_id_ratio
8   2022-01            28261        50059        78320                  36.08
9   2022-02            59970        52009       111979                  53.55
10  2022-03            60324        50954       111278                  54.21
11  2022-04            46490        39505        85995                  54.06
12  2022-05            47297        39376        86673                  54.57
13  2022-06            51537        42609        94146                  54.74
14  2022-07            40293        41816        82109                  49.07
15  2022-08            36423        23050        59473                  61.24
16  2022-09            28776        17857        46633                  61.71
17  2022-10            28211        15527        43738                  64.50
18  2022-11            88012        20067       108079                  81.43
19  2022-12           125792        28673       154465                  81.44
20  2023-01           151118        36617       187735                  80.50
21  2023-02            77156        20488        97644                  79.02
22  2023-03           100862        10763       111625                  90.36
23  2023-04            67137         3876        71013                  94.54
24  2023-05            56649         2622        59271                  95.58
25  2023-06            65187         2379        67566                  96.48
26  2023-07            77767         2907        80674                  96.40
27  2023-08            83316         3545        86861                  95.92
28  2023-09            76943         4117        81060                  94.92
29  2023-10            80186         5164        85350                  93.95
30  2023-11            99051         6374       105425                  93.95
31  2023-12            34239         2149        36388                  94.09

- ì´ìƒí•œ ë‚ ì§œ ì¡´ì¬(ì „ì²˜ë¦¬ í•„ìš”!)
- ì‹œê°„ì´ ì§€ë‚ ìˆ˜ë¡ user_id ì—†ì´ ì»¨í…ì¸  ì´ìš©ìê°€ ì¦ê°€í•˜ê³  ìˆìŒ -> ê·¸ë ‡ë‹¤ë©´ êµ¬ë… ì•ˆí•˜ê³  ì´íƒˆ í™•ë¥  ë†’ì•„ì§

### 2. íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì…(enter.signup_page)
- user_id ëª¨ë‘ ê²°ì¸¡ì¹˜ -> íšŒì›ê°€ì… í˜ì´ì§€ ì§„ì…ì´ê¸° ë•Œë¬¸ì— ì—†ì„ ìˆ˜ ë°–ì—!

In [43]:
enter_signup_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.signup_page.csv')
enter_signup_page['client_event_time'] = pd.to_datetime(enter_signup_page['client_event_time'])
enter_signup_page

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:30:42.557,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,112.0.0.0,Web,NaN
1,Seoul,2023-04-05 21:37:41.467,South Korea,NaN,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
2,Seoul,2023-04-05 21:05:53.237,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,16.4,Web,NaN
3,Gangnam-gu,2023-04-05 21:41:58.269,South Korea,NaN,Mac,Mac,enter.signup_page,Korean,Safari,16.3,Web,NaN
4,Seoul,2023-04-05 21:44:53.294,South Korea,NaN,Mac,Mac,enter.signup_page,Korean,Safari,15.6.1,Web,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
596824,Dalseo-gu,2023-10-10 05:32:53.865,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Edge,114.0.1823.51,Web,NaN
596825,Hanam,2023-10-10 05:33:14.433,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Chrome,116.0.0.0,Web,NaN
596826,Seoul,2023-10-10 05:49:45.856,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Edge,117.0.2045.47,Web,NaN
596827,Dongjak-gu,2023-10-10 05:57:02.640,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Edge,117.0.2045.60,Web,NaN
596828,Seoul,2023-10-10 05:54:18.285,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,17.0.1,Web,NaN

In [44]:
enter_signup_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596829 entries, 0 to 596828
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               581024 non-null  object
 1   client_event_time  596829 non-null  datetime64[ns]
 2   country            596315 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      596747 non-null  object
 5   device_type        567387 non-null  object
 6   event_type         596829 non-null  object
 7   language           596829 non-null  object
 8   os_name            596754 non-null  object
 9   os_version         594650 non-null  object
 10  platform           596829 non-null  object
 11  user_id            0 non-null       float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 54.6+ MB

In [45]:
enter_signup_page.isnull().sum()

city                  15805
client_event_time         0
country                 514
device_carrier       596829
device_family            82
device_type           29442
event_type                0
language                  0
os_name                  75
os_version             2179
platform                  0
user_id              596829
dtype: int64

In [46]:
enter_signup_page['device_family'].unique()

array(['Samsung Phone', 'Samsung SM-S916N', 'Apple iPhone', 'Mac',
       'Windows', 'Samsung Galaxy Phone', 'Samsung Tablet',
       'Motorola Phone', 'Redmi Phone', 'Apple iPad',
       'Samsung Galaxy Note', 'K', 'Samsung SM-S911N', 'LG LM-X220N',
       'Linux', 'Chromium OS', 'Samsung Galaxy Tab', 'LG LM-G910N',
       'Samsung SM-S918N', 'LG V607L', 'Ubuntu',
       'Xiaomi Redmi Note 10 Lite', 'MobiGo2', 'LGE Phone',
       'Apple iPad14,3', 'LG LM-Q630N', 'Google Phone', 'LG LM-G820N',
       'LGM-V300L', 'LG LM-V500N', 'Google Nexus Phone', 'LG V525',
       'LG LM-V409N', 'LG LM-V510N', 'LG lge', 'M2006C3MG', 'LGM-V300S',
       'A001XM', 'Huawei Phone', '2206122SC', 'LG LM-Q920N',
       'LG LM-Q510N', 'LG LM-G710N', 'LG V522', 'M2012K11AC',
       'LG LM-F100N', 'LG LM-V350N', 'LG LM-Q815K', 'LG F350S',
       '2201116SG', 'Samsung SM-A346N', 'Dicle_Tab_Lite_M',
       'Lenovo YT-X705F', 'M2101K7AG', 'LG LM-X625N', 'BTV-DL09',
       'LG LM-Q927L', 'Xiaomi Phone', 'M2002J9S', 'LG LM-Q815L',
       'LGM-V300K', 'LG F520S', 'M2003J15SC', 'Android',
       'Samsung SM-P585N', 'Samsung SM-T815N', 'LGM-X800L', 'MLT181101',
       'LG LM-Q925L', 'LGM-X600L', 'Samsung SM-S911B', 'Model 3',
       'Samsung SM-A546S', 'M2006C3LG', 'Revolution A8',
       'Samsung SM-T585N', '21061119AG', 'Lenovo TB-J606F',
       'Samsung SM-T825N', 'uie4027lgu', 'Sony Xperia Phone',
       'Xiaomi Tablet', 'LG V498S1', 'LG LM-X510K', '2201117TY',
       'Acer A2020', 'LG F600S', 'LG LM-Q520N', 'Infinix X665',
       'M2102J20SG', 'LG LM-X415K', 'LG LM-Q925S', 'LG P530L',
       'LG LM-Q310N', 'Samsung SM-T337A', 'Huawei SCM-AL09',
       'Blackberry Phone', 'Lenovo TB-J706F', 'Samsung SM-T715N',
       'Lenovo TB-J607Z', 'Samsung SM-P905F', 'Samsung SM-S918W', 'SCG11',
       'LG LM-T605', 'Samsung SM-S918B', '2201116TG', 'U10PRO', 'AT-M120',
       'Amazon Fire Tablet', 'M2007J20CG', 'Oppo Phone', 'NEON_RAY_PRO',
       'Nokia C31', 'Infinix X663', '2201117TG', 'Xiaomi Redmi 9',
       'M2012K11AG', 'ZTE Tablet', 'LG V755', 'LG F800S', 'LG LM-X420',
       'M2006C3MII', 'LGM-G600K', 'LGM-X600S', 'J9210', 'FS8032',
       'LG F800L', 'LG LM-Q725L', 'OPPO CPH2409', 'wv', 'Sony G8141',
       'K88', 'A063', 'DICLE_IPLAY40_PRO', 'HL105', '6125F', 'ZTE Phone',
       'RMX3195', 'Vivo 1906', 'POCO Phone', 'Huawei Tablet', 'TB128FU',
       'LG LM-X410S', 'M2004J19C', 'LGM-G600L', 'LG F700L', nan,
       'SHV-E250S', 'Infinix X657', 'TECNO KC8', 'SCG20', 'T40PRO_L1',
       'LG LM-X510S', 'OPPO CPH2099', 'LG F820L', 'LG X760W',
       'LG LM-Q725K', 'LG LM-Q730N', '21051182G', 'LG LM-Q925K',
       'itel S12', 'Lenovo TB128FU', 'M40', 'RMX3231', 'M40_EEA',
       'Realme Phone', 'M2105K81AC', 'Jelly2', 'Samsung Tizen',
       'Samsung SM-T807R', 'Xiaomi Redmi Note 10 Pro', 'Tab_Ultra',
       'LGM-K121K', 'muPAD L10', 'Sony G8341', 'Lenovo YT-X703F',
       'Xiaomi POCO F1', 'Active', 'SKW-H0', 'M2101K6R', 'Mi 10 Pro',
       '220333QAG', 'HD1910', 'M2007J3SG', 'LG LM-Q815S', 'LGM-X320K',
       'Huawei M2-802L', 'Samsung SM-S916B', 'Infinix X688B',
       'Samsung SM-S916U1', '22081283G', 'LG F750K', 'P80X_EEA', 'DN2103',
       'AVS1101WMT', 'IM-100S', '22041216G', 'TL99G', 'LGM-X320L',
       'M2103K19G', 'Dicle_Dtab_Kpad', 'Infinix X6511B', 'P20HD_KR',
       'LG Phone', 'LGM-K121S', 'LG LM-T600L', 'M2010J19CG', '9032T',
       'LOGIC L63', 'Mstick2', 'Z4PRO', 'LG F800K', 'iPlay_30', 'SCV42',
       'XQ-BQ72', 'DTABPLUS', 'SH-RM15', 'Lenovo TB-X606F', 'TECNO BF7',
       'LGM-G600S', 'M2002J9G', 'LG Linux', 'Lenovo TB-X704F', 'A002OP',
       'Xiaomi Redmi Note 11 Pro 5G', 'M2006C3MNG', 'LG LM-V700N',
       'WM-LG8200', 'HiPad X', 'M2006C3LVG', 'S98', 'UHD4K', 'iPlay_20',
       '8788_7', 'Mi Note 10', 'LG V940', 'TECNO CI6', '8094M', 'H8416',
       'LG F600L', 'ASUS AI2202', 'OPPO CPH2349', 'SC-51C', 'LG F650S',
       'LGM-X600K', 'EG104', '22021211RG', '2107113SG', 'PBEM00',
       'LG LM-Q725S', 'P7', 'Sony Android', 'TV BOX', 'Samsung SM-S916W',
       'Sony Phone', 'BlackBerry', 'Lenovo Tablet', 'SHV-E330K', 'H8314',
       'Samsung SM-T677N', 'P20HD_EEA', 'Lenovo L70081', '10A30Q',
       'LG F500K', 'Tizen', 'M40Pro_ROW', 'LG LM-X510L', 'T40_Plus_KR',
       '2201117TL', 'Xiaomi MID', '21091116AC', 'LG LM-X415L',
       'M2006C3MT', 'Lenovo TB-J716F', 'TECNO KG5k', 'OPPO CPH2095',
       '2109119DI', 'J9L', '2201117TI', 'Infinix X6516', 'OPPO CPH2577',
       'V2059', 'V2202', 'RMX3241', '23028RN4DI', 'RMX3511', 'itel L6005',
       'LS1542QWN', 'Infinix PR652B', 'V2252', 'OPPO CPH2363',
       'OPPO CPH2015', 'M2007J20CI', 'OPPO CPH2359', 'OPPO CPH2461',
       'Xiaomi Redmi 10C', 'Lenovo TB-J607F', 'RMX3760',
       'Samsung SM-A245N', 'OPPO CPH2495', 'Lenovo TB-X306X', 'Vivo 1909',
       'RMX3630', 'RMX3761', 'M2010J19SG', 'Vivo V2183A', 'V2152',
       'Samsung SM-S711N', 'Infinix X677', 'OPPO CPH2269',
       'Samsung SM-X216N', 'Infinix X650B', 'Huawei MGA-LX9', 'V2125',
       'M2006C3LII', 'RMX3516', 'V2052', 'Infinix X695C', 'RMX3581',
       'Infinix X682B', 'V2311', 'RMX3491', 'TECNO KG6k', 'RMX3521',
       'Huawei REP-AN00', 'Vivo Phone', 'TECNO BD3', '220733SG',
       'OPPO CPH2505', '220733SPI', 'Huawei FNE-AN00', 'LG Nexus 4',
       '220743FI', 'Huawei MNA-AL00', 'TECNO KF7j', 'V2026', 'RMX3700',
       'OPPO CPH2473', 'LAVA LMG01', 'Huawei TFY-AN40',
       'Huawei FRL-AN00a', 'Infinix X653', 'RMX3063', 'Vivo V2282A',
       'TECNO KG5h', 'Huawei CMA-AN40', 'Huawei ANY-AN00',
       'Generic Android 11', 'TECNO KG5j', 'Vivo V2284A', 'OPPO CPH2481',
       '23078RKD5C', 'OPPO CPH2565', 'OPPO CPH2113', 'NovaAirC', 'V2025',
       'LG F700S', 'Tecno Tablet', 'V2228', 'RMX3265', 'V2126',
       'M2006C3LI', 'V2033', 'V2130', 'V2153', '2201116PI', 'RMX3263',
       'TECNO KE6', 'Vivo 1901', 'TECNO AD8', '220333QBI', 'M2012K11I',
       'V2055', 'M2006C3MI', 'Xiaomi Redmi 9A', 'Atom3', '22071219CG',
       'OPPO CPH2375', 'Huawei BAH3-L09', 'Vivo 1811', 'RMX3201',
       'M2103K19C', 'itel A571L', '220233L2G', 'V2254', 'M2101K7AI',
       'V2207', 'V2204', 'Generic Android 13', 'V2247', 'TECNO LD7j',
       'itel P662L', 'Xiaomi Redmi Note 7S', 'Realme RMX1825', 'V2029',
       'M2012K11AI', 'Lenovo TB-9707F', 'LG LM-T600', 'V2312', 'V2102',
       'itel L5006C', 'Xiaomi Redmi 9T', 'V2111', 'Infinix X680D',
       'TECNO KH6', 'Vivo 1938', 'Xiaomi Redmi Note 10 5G', 'TECNO KI5k',
       'itel A632W', 'V2027', 'Vivo 1904', 'Vivo 1803', '21081111RG',
       'IN_2b', 'itel A571W', 'itel W6004P', 'TECNO P703', 'itel L6006',
       'Zeki TB128FU', 'RMX3269', '21061119AL', 'Huawei DRA-LX9',
       'TECNO CG6', '220733SFG', 'V2246', 'RMX3261', 'V2146',
       '23021RAAEG', 'G90 PRO', 'V2022', 'M2101K7BI', 'Zeki TB328FU',
       'Huawei CHL-AN00', 'PHJ110', 'Huawei JEF-AN00', 'Huawei CMA-AN00',
       'Vivo V2203A', 'HMSCore 6.12.2.302', 'OPPO PERM10', 'Vivo V2162A',
       '2211133C', 'DL4 Plus', 'Infinix X6825', 'Infinix X627',
       'Huawei NTN-AN20', 'M2010J19SI', 'M2010J19CI', 'Vivo 1818',
       'Realme RMX1901', 'Vivo 1933', 'Infinix X6517', 'PHV110',
       'Apple iPhone16,2', '2201117PI', 'Vivo 2018', 'V2168', '5033G',
       'iPlay 50 mini Pro', 'RMX3092', 'Vivo V2278A', 'RMX3612',
       'Huawei FRL-L22', 'RMX3690', 'V2117', 'OPPO CPH2223',
       'Infinix X6823C', 'OPPO CPH2477', 'V2118', 'Nokia Phone', 'PHK110',
       'Infinix X688C', 'TECNO BF6', 'Infinix X692', 'TECNO KE5',
       'Vivo V2243A', '2303CRA44A', '220733SH', '22081212C', 'ATV R1',
       'RMX3501', 'V2310', 'Infinix X650C', 'TECNO KE5j', 'itel P651L',
       'Xiaomi Redmi Note 12S', 'Huawei AQM-LX1', 'LG F700K', 'V2050',
       'V2140', '2201116SI', 'RMX3081', 'Google Pixel 7a', 'LG P451L',
       'itel S661L', 'RMX3624', 'Infinix X680', 'Huawei TAS-L29',
       'OPPO CPH2371', 'OPPO CPH2341', 'OPPO CPH2373', 'V2249',
       'Huawei NAM-L29', 'RMX3171', 'Infinix X657B', 'Vivo 1919',
       'Vivo 1804', 'LOGIC L65 LITE', 'itel A551L', 'PFTM20', '22041219I',
       'Samsung SM-A546E', 'RMX3780', 'Huawei JNY-L21', 'Vivo 1611',
       'Sparx Neo 7 Pro', 'OPPO CPH1938', 'M2103K19PI', 'Infinix X662',
       '2201116TI', 'RMX3268', 'Vivo 1920', 'V2239', 'V2040', 'V2068',
       'V2218', '21091116I', 'Xiaomi Redmi Y2', 'I2206', 'V2238', 'V2253',
       'I2126', 'V2225', 'V2065', 'I2203', 'V2141', '211033MI',
       '22122RK93C', 'p50', 'PEHM00', 'Vivo X20A', '2302EPCC4I',
       'TECNO KG6', 'Infinix X612B', 'Xiaomi Redmi Note 12 Pro 5G',
       'OPPO CPH2579', 'GMSCore 20.45.16', 'M2104K10AC', 'Vivo 1820',
       'RMX3121', 'Huawei REA-AN00', 'Huawei JNY-L22', 'Vivo V2270A',
       'Vivo V2301A', '21091116UC', 'M2006J10C', 'Vivo 1814', 'TECNO LD7',
       '23013RK75C', '220733SI', 'OPPO PDKM00', 'L202303',
       'Huawei LSA-AN00', 'Huawei BNE-AL00', 'Realme RMX2163',
       '23049RAD8C', 'PHM110', 'Huawei OCE-AN50', 'RMX3357', 'MRD-LX1F',
       'Huawei BRQ-AN00', 'Huawei CET-AL00', 'itel L6501', 'M2101K9C',
       'Huawei TNNH-AN00', 'Huawei LNA-AL00', 'Huawei JSC-AL50',
       'itel L6502', 'M2101K7BG', 'A1601', 'Infinix X6816C', 'RMX3151',
       'OPPO CPH2109', 'OPPO CPH2455', 'Huawei TFY-LX2', 'Infinix X650D',
       'V2101', 'Huawei KOB2-L09', 'Huawei ANE-L21', 'FIG-LA1',
       'Huawei STG-LX1', 'SCG12', 'Huawei CMA-LX3', 'Huawei YAL-L61',
       '220233L2I', 'TECNO KC2', 'TECNO CC7', 'OPPO CPH1823', 'RMX3710',
       '2107113SI', 'Vivo V2123A', 'V2061', 'V2037', 'Vivo 1819', 'BRAVE',
       '22041216I', 'itel A661L', 'V2203', 'Motorola moto e13',
       'TECNO KI8', 'V2158', 'SCV38', '22101316C', 'Vivo V2009A',
       'Vivo V2232A', 'Huawei NAM-AL00', 'Vivo V2156A', 'V2111-EG',
       'TECNO BD4j', 'Zeki TB320FC', 'Primo GH9', 'Huawei NTH-N29',
       'TECNO KH7', 'Huawei BLA-L29S', 'M2102J20SI', 'V2217',
       'Symphony Z45', 'M10', 'Vivo V2217A', 'HD1900', 'V2043_21',
       'Infinix X6812', 'V2120', '23053RN02A', 'Infinix X689C',
       'Infinix X687B', 'TIOK S60', 'itel L5505', 'V2058',
       'Infinix X680B', 'OPPO CPH2293', 'TECNO BB2', 'Vivo 1915',
       'itel L5002P', 'Huawei BEETHOVEN-DL09', 'Infinix X689',
       '21091116AI', 'TECNO BD4a', 'Coolpad_2041', '220733SL',
       'Huawei RMO-NX1', 'Huawei VNE-LX3', 'OPPO CPH2271', 'itel W6004',
       '22120RN86I', 'RMX3191', 'OnePlus A6010', 'itel S665L', 'Vivo Y67',
       'RMX3627', 'V2105', 'OPPO CPH2387', 'iPlay50Pro', 'OPPO CPH2325',
       'Huawei AGRK-L09', 'Huawei GDI-W09', 'TECNO BF7h', 'OPPO CPH2385',
       'Huawei CDY-AN20', '220733SPH', 'Xiaomi Redmi 12C', 'Vivo V2069A',
       'Vivo V2244A', '2109119DG', 'PHW110', 'MAR-LX1M', '22127RK46C',
       'Huawei ALN-AL80', 'Vivo V2220A', '22041216C', 'OPPO PDYM20',
       'Huawei ANN-AN00', 'Huawei CDY-TN90', 'Xiaomi Redmi Note 11',
       'TECNO CK7n', 'PHJ110H2', 'Huawei CDY-AN00', 'Infinix X665B',
       '22120RN86G', 'Video Downloader', 'LG LM-X415S', '21121210G',
       'OPPO CPH2421', 'V2145', 'Vivo 1902', 'SHARK PRS-H0', 'V2142',
       'TECNO KF8', 'V2060', 'V2231', 'Vivo 1917', 'TECNO LE6', 'V2109',
       'V2222', 'Motorola moto g13', '22087RA4DI', 'M2101K9AI',
       'itel A662LM', '23021RAA2Y', 'Xiaomi Redmi Note 11S', 'itel A662L',
       'Tecno Watch', 'itel A510W', 'SCV39', 'Infinix X659B',
       'Infinix X689F', 'OPPO CPH2237', 'Xiaomi 12 Lite', 'Infinix X6827',
       'RMX3830', 'Vivo 1806', 'Microsoft Lumia 950XL', 'SCV36',
       'Infinix X6816', 'Samsung SM-M446K', 'M40(N9H3)', 'Infinix X682C',
       'M2103K19I', 'V2036', 'OPPO CPH2471', 'Symphony Phone', 'i18',
       'V2031', 'Infinix X6817', '22127PC95I', 'LAVA LZX407',
       'itel P651W', 'OPPO CPH2235', 'Realme RMX1827', 'Vivo 1716',
       'Infinix X690', 'PGFM10', 'Vivo V2199A', 'Huawei ALA-AN70',
       'Huawei NCO-AL00', 'TECNO KD6', 'Vivo V2302A', 'Vivo V2136A',
       'PGAM10', 'Vivo V2164A', 'V2070', 'LG F460K', 'RMX3085',
       'Infinix X652A', 'V2116', 'Huawei DCO-AL00', 'OPPO CPH2333',
       'TECNO PR651H', '21121119SG', 'Infinix X624B', 'V2205',
       'LGM-X320S', 'V2069', 'RMX3381', 'Xiaomi Redmi Note 12 Pro',
       'itel P681L', 'TECNO KF6p', '4063F', '22011119TI', 'Vivo 1807',
       'Infinix X665E', 'TECNO KE5k', 'Primo R8', 'Samsung SM-X910',
       'OPPO CPH2457', 'PFJM10', 'PFUM10', 'M2101K7BL', 'Vivo 1937',
       '21091116UI', 'Z55', 'V2127', 'Infinix X6515', 'OnePlus Phone',
       'Infinix X668', 'Vivo V2283A', '2304FPN6DC', 'Huawei DIO-AN00',
       'LE2100', 'itel A507LM', 'Vivo V2148A', 'Huawei PGT-AN00',
       'Huawei OXF-AN00', '22021211RC', 'PFTM10', 'Huawei TFY-AN00',
       'Huawei PGT-AN10', 'Huawei CDL-AN50', 'RMX3706', 'PBAM00',
       'PGX110', 'M2007J17C', 'HMSCore 6.12.0.302', 'Sony C3600',
       'TECNO KE6j', 'Xiaomi POCO X3 Pro', 'RMX3661', 'RMX3235',
       'TECNO KG7h', 'SUGAR Y9', 'Infinix X693', '23046RP50C',
       'M2102J2SC', 'Samsung SM-X816N', 'Huawei NMO-L31', '22101316UG',
       '5029D', 'i80', 'TECNO KF6k', 'OPPO CPH2469', 'ETOOSPAD6',
       'Xiaomi Redmi Note 10', 'LG F770S', 'NEW 12', '2201117PG',
       'Huawei GOA-AL80', 'PGBM10', 'Vivo V2207A', 'VP005', 'PFGM00',
       'GM1913', 'V2143', 'M2104K10I', 'HM NOTE 1S', '21091116C',
       'TECNO BB4k', 'TECNO BD4i', 'Huawei EVE-LX9', 'LG LM-K315IM',
       'Infinix X689B', '23028RNCAG', '21061110AG', 'OPPO CPH2531',
       '22101320C', '22071219AI', 'Infinix X653C', 'Infinix X6512',
       'RMX3286', '2211133G', 'Infinix X6831', 'Infinix X655C'],
      dtype=object)

In [47]:
enter_signup_page['device_type'].unique()

array(['Samsung Galaxy A51 5G', nan, 'Apple iPhone', 'Mac',
       'Samsung Galaxy Quantum2', 'Windows', 'Samsung Galaxy A23',
       'Samsung Galaxy S21 Ultra 5G', 'Samsung Galaxy Note20 5G',
       'Samsung Galaxy S21 5G', 'Samsung Galaxy On7(2016)',
       'Samsung Galaxy Tab A', 'Motorola Moto G4', 'Samsung Galaxy S10',
       'Motorola moto g power (2022)', 'Redmi Note 10 Pro',
       'Samsung Galaxy A31', 'Samsung Galaxy S22',
       'Samsung Galaxy A53 5G', 'Samsung Galaxy S10+',
       'Apple iPhone 12 Pro', 'Apple iPad', 'Samsung Galaxy S20 FE 5G',
       'Samsung Galaxy Tab S6 Lite', 'Apple iPhone 13',
       'Samsung Galaxy Note20 Ultra 5G', 'Samsung Galaxy Note9',
       'Samsung Galaxy S22 Ultra', 'Samsung Galaxy S20+ 5G',
       'Samsung Galaxy A32', 'Apple iPhone 14 Pro',
       'Samsung Galaxy Z Flip4', 'Samsung Galaxy Note 8',
       'Apple iPhone 11', 'Samsung Galaxy Z Flip3 5G', 'Apple iPhone XR',
       'Apple iPhone 11 Pro', 'Apple iPhone XS Max',
       'Apple iPhone 13 mini', 'Linux', 'Samsung Galaxy Note10 5G',
       'Samsung Galaxy S20 5G', 'Samsung Galaxy Tab S8+',
       'Samsung Galaxy S9+', 'Samsung Galaxy Note10+ 5G',
       'Apple iPhone 14 Pro Max', 'Samsung Galaxy S21+ 5G',
       'Apple iPhone 13 Pro', 'Samsung Galaxy Z Flip 5G',
       'Samsung Galaxy S22+', 'Samsung Galaxy A8(2018)',
       'Apple iPhone 12 Mini', 'Chromium OS',
       'Apple iPhone SE (3rd generation)',
       'Samsung Galaxy Tab S8 Ultra 5G', 'Samsung Galaxy S8',
       'Samsung Galaxy Tab S7', 'Samsung Galaxy Quantum3',
       'Apple iPhone 13 Pro Max', 'Apple iPhone 7', 'Apple iPhone 14',
       'Samsung Galaxy A90 5G', 'Samsung Galaxy Tab A SM-T380',
       'Samsung Galaxy A80', 'Samsung Galaxy Z Fold4',
       'Samsung Galaxy A13 5G', 'Samsung Galaxy Jump',
       'Samsung Galaxy Z Fold3 5G', 'Samsung Galaxy A33 5G',
       'Samsung Galaxy Jump2', 'Samsung Galaxy Z Flip',
       'Samsung Galaxy Wide5', 'Samsung Galaxy A30',
       'Samsung Galaxy Fold 5G', 'Samsung Galaxy A12',
       'Samsung Galaxy A9 (2018)', 'Samsung Galaxy A22 5G',
       'Samsung Galaxy Wide4', 'Apple iPhone 12 Pro Max',
       'Apple iPhone SE 2nd Gen', 'Samsung Galaxy S10e', 'Ubuntu',
       'Samsung Galaxy Z Fold2 5G', 'Samsung Galaxy S20 Ultra 5G',
       'Samsung Galaxy A Quantum', 'Apple iPhone 12',
       'Samsung Galaxy Tab S7+', 'Apple iPhone 8', 'Samsung Galaxy S9',
       'Samsung Galaxy Tab S8', 'Apple iPhone XS', 'LG VELVET',
       'Samsung Galaxy A52s 5G', 'Samsung Galaxy Note20 Ultra',
       'Samsung Galaxy Wide3', 'Samsung Galaxy Tab S7 FE',
       'Samsung Galaxy Tab A with S Pen', 'Samsung Galaxy Tab Advanced2',
       'Samsung Galaxy S8+', 'Google Pixel 2 XL',
       'Apple iPad Pro 11" 3rd Gen (Wi-Fi Only)', 'Samsung Galaxy Tab S6',
       'Apple iPhone 7 Plus', 'Samsung Galaxy S7',
       'Apple iPad Air 4th Gen (Wi-Fi Only)', 'Samsung Galaxy A13',
       'Google Nexus 5', 'Samsung Galaxy A9 Pro',
       'Samsung Galaxy A8 Star', 'Samsung Galaxy Tab S7+ 5G',
       'Samsung Galaxy A5(2016)', 'Apple iPhone X',
       'Samsung Galaxy A7 (2018)', 'Apple iPhone 8 Plus',
       'Samsung Galaxy A21s', 'Samsung Galaxy A50',
       'Apple iPhone 14 Plus', 'Samsung Galaxy A03s',
       'Apple iPhone 6s Plus', 'Samsung Galaxy J7(2016)',
       'Samsung Galaxy A6', 'Apple iPhone 11 Pro Max',
       'Samsung Galaxy A5(2017)', 'Samsung Galaxy Note FE',
       'Samsung Galaxy Tab A8', 'Huawei HUAWEI Y7 2018',
       'Samsung Galaxy A2 Core', 'Samsung Galaxy Note 3',
       'Samsung Galaxy A42 5G', 'Samsung Galaxy XCover 5',
       'Samsung Galaxy M23 5G', 'Samsung Galaxy Tab A7 Lite',
       'Samsung Galaxy Note 5', 'Samsung Galaxy A04s',
       'Samsung Galaxy On7 Prime', 'Samsung Galaxy A40',
       'Samsung Galaxy Tab A7', 'Samsung Galaxy A10',
       'Samsung Galaxy S7 Edge',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi Only)', 'LGE X4(2019)',
       'Samsung Galaxy G8', 'Samsung Galaxy Tab S8 Ultra',
       'Xiaomi Pocophone F1', 'Apple iPhone 6s', 'Redmi Note 9S',
       'Apple iPad Air 4th Gen (WiFi+Celular)',
       'Samsung Galaxy Note Edge', 'Samsung Galaxy A10s',
       'Samsung Galaxy M20', 'Samsung Galaxy S20 FE', 'Android',
       'Samsung Galaxy Tab4 10.1', 'Samsung Galaxy A7(2016)',
       'Samsung Galaxy Wide', 'Samsung Galaxy Note10+', 'Google Pixel 6',
       'Samsung Galaxy Tab A (2017)', 'Samsung Galaxy Tab S4',
       'Samsung Galaxy A10e', 'Apple iPad Pro', 'Samsung Galaxy J5',
       'Samsung Galaxy A52 5G', 'Samsung Galaxy Note 10+',
       'Samsung Galaxy A03 Core', 'Samsung Galaxy A51',
       'Samsung Galaxy Tab S6 5G', 'Samsung Galaxy Tab S2 8.0',
       'Samsung Galaxy S6', 'Samsung Galaxy Tab S8 5G',
       'Samsung Galaxy Folder', 'Samsung Galaxy M02s',
       'Samsung Galaxy Tab S5e', 'Xiaomi Redmi Note 5 Pro',
       'Samsung Galaxy J6', 'Google Pixel 6 Pro',
       'Samsung Galaxy Tab A 10.1', 'Samsung Galaxy Jean2',
       'Samsung Galaxy S20+', 'Samsung Galaxy J4+',
       'Sony Xperia X Compact', 'Apple iPad 10.2" 8th Gen (Wi-Fi Only)',
       'Xiaomi MI PAD 4', 'Samsung Galaxy Tab 4 10.1',
       'Samsung Galaxy Tab S3', 'Samsung Galaxy S20 FE 5G UW',
       'Samsung Galaxy S21 FE 5G', 'Samsung Galaxy J7(2017)',
       'Samsung Galaxy Tab A (8.0", 2019)', 'Samsung Galaxy S10 Plus',
       'Redmi Note 8T', 'Xiaomi Redmi Note 8',
       'Samsung Galaxy Tab S2 9.7', 'Huawei HONOR 9X',
       'Samsung Galaxy Tab A (2016) with S Pen', 'Samsung Galaxy Jean',
       'Samsung Galaxy Note10', 'Xiaomi MI CC 9', 'BlackBerry KEY2',
       'Samsung Galaxy Tab 4 8.0', 'Apple iPad Mini 4',
       'Samsung Galaxy A32 5G', 'Xiaomi Redmi 6A', 'Samsung Galaxy A70',
       'Galaxy Note 5', 'Samsung Galaxy Note4',
       'Apple iPad Air 3rd Gen (WiFi)', 'Amazon Fire HD 10',
       'Samsung Galaxy Tab A (2018, 10.5)', 'Samsung Galaxy S6 Edge',
       'Xiaomi MI 8 Lite', 'Samsung Galaxy S6 Edge+',
       'Apple iPad (9th generation)', 'Samsung Galaxy Note10 Lite',
       'Samsung Galaxy A52', 'Oppo A1k',
       'Apple iPad Air (5th generation)', 'Samsung Galaxy M31',
       'Samsung Galaxy J2 Core', 'Samsung Galaxy Grand Prime Plus',
       'Samsung Galaxy A73 5G', 'Apple iPad 5',
       'Samsung Galaxy Tab E 8.0', 'ZTE Trek 2 HD', 'Samsung Galaxy A60',
       'Samsung Galaxy A20', 'Samsung Galaxy Note 4',
       'Xiaomi Redmi Note 8 Pro', 'Samsung Galaxy Tab S8+ 5G',
       'Samsung Galaxy J5 2017', 'Motorola moto g stylus (2022)',
       'Samsung Galaxy A7(2017)', 'Samsung Galaxy Folder2',
       'Samsung Galaxy Tab A 9.7', 'Samsung Galaxy Note4 S-LTE',
       'Samsung Galaxy M01 Core', 'Samsung Galaxy M12', 'Oppo OPPO Reno5',
       'Samsung Galaxy Tab S2', 'Samsung Galaxy A8(2016)',
       'Samsung Galaxy Note', 'Apple iPad Pro 11" (Wi-Fi Only - 4th Gen)',
       'ZTE Blade A3 2020', 'Samsung Galaxy TabE 8.0',
       'Samsung Galaxy A71', 'POCO F2 Pro',
       'Huawei HUAWEI MediaPad M5 8.4', 'Xiaomi Redmi Note 7',
       'Motorola moto e20', 'Apple iPad Pro 3', 'Huawei P20 Lite',
       'Apple iPad Mini 5th Gen', 'samsung galaxy Note9',
       'Samsung Galaxy S10E', 'Samsung Galaxy Wide2', 'Oppo A93',
       'Huawei P30', 'Motorola moto e6s', 'Samsung Galaxy S23 Ultra',
       'Google Pixel 3', 'ZTE K813', 'Samsung Galaxy Grand-Max',
       'Samsung Galaxy A22', 'Google Pixel 7 Pro',
       'Samsung Galaxy S23 5G', 'Oppo F7', 'Xiaomi MI 9',
       'Samsung Galaxy Note 9', 'Motorola moto g(50) 5G',
       'Samsung Galaxy Note 10.1', 'iPhone SE',
       'Samsung Galaxy Tab Active2', 'Realme X2', 'Samsung Galaxy A71 5G',
       'Oppo F9', 'Samsung Galaxy J7 Prime', 'Motorola moto g(20)',
       'Redmi Note 9 Pro', 'Samsung Galaxy J7', 'Samsung Galaxy M33 5G',
       'Huawei HUAWEI Y8s', 'Apple iPad 10.2" 7th Gen (Wi-Fi Only)',
       'Samsung Galaxy A04', 'Sony Xperia X Performance',
       'Apple iPad Pro 12.9" (Wi-Fi Only - 6th Gen)',
       'Apple iPad Air 3rd Gen', 'Huawei HUAWEI MediaPad M5 lite',
       'Google Pixel 3a', 'Samsung Galaxy J3(2017)',
       'Samsung Galaxy Tab A 7.0', 'Google Pixel 4a (5G)',
       'Samsung Galaxy A20s', 'Samsung Galaxy Note20',
       'Huawei Huwei Mate 20 X', 'Samsung Galaxy A72',
       'Samsung Galaxy Tab S 8.4', 'Redmi  7A', 'Samsung Galaxy A03',
       'LG V60 ThinQ 5G', 'Oppo A12', 'Google Pixel 6a',
       'Apple iPad Pro 12.9 inch 4th Gen', 'Samsung Galaxy A01 Core',
       'Realme 5i', 'Apple iPad Pro 11" 3rd Gen (Wi-Fi/Cellular)',
       'Samsung Galaxy J5(2016)', 'Samsung Galaxy A50s',
       'Samsung Galaxy Note 10', 'Motorola Moto G6 Plus',
       'Huawei HUAWEI MediaPad T5', 'Samsung Galaxy A41',
       'Motorola moto g 5G', 'Huawei P30 Lite', 'Huawei HONOR 20',
       'Xiaomi Redmi 8A', 'Motorola moto g stylus 5G',
       'Apple iPad Pro 11 inch 2nd Gen', 'Huawei Y9 Prime (2019)',
       'Google Pixel 4a', 'Motorola moto g(9) power', 'Oppo CPH1909',
       'Huawei Y6', 'Apple iPad mini (6th generation)',
       'Samsung Galaxy A3(2016)',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi/Cellular)',
       'Xiaomi MI  MAX  3', 'Oppo CPH2185', 'Xiaomi Redmi 3S',
       'Huawei MediaPad T5', 'Samsung Galaxy Note Fan Edition',
       'Samsung Galaxy S20', 'Samsung Galaxy A7',
       'Apple iPad Mini 5th Gen (WiFi)', 'Apple iPad Air 2',
       'Google Pixel 2', 'Xiaomi Redmi Note 6 Pro',
       'Samsung Galaxy Tab S7 FE 5G', 'Xiaomi Redmi Note 4',
       'Samsung Galaxy J3(2016)', 'Sony Xperia 10 II',
       'Samsung Galaxy M31s', 'Samsung Galaxy Tab4 8.0',
       'Lenovo Tab 2 A10', 'Samsung Galaxy J2 Prime',
       'Samsung Galaxy Tab A 8.0', 'Samsung Galaxy TabS 10.5',
       'Samsung Galaxy S10 Lite', 'Xiaomi Mi A3', 'Samsung Galaxy M21',
       'Samsung Galaxy A8+(2018)', 'Xiaomi Redmi K30 Pro Zoom Edition',
       'Samsung Galaxy Z Flip5', 'POCO M2 Pro', 'Samsung Galaxy S23+',
       'Samsung Galaxy S23', 'Apple iPhone 15 Pro', 'Samsung Galaxy A24',
       'Apple iPhone 15 Plus', 'Samsung Galaxy A34 5G', 'Apple iPhone 15',
       'Samsung Galaxy Z Fold5', 'Google Pixel 7', 'Samsung Galaxy F62',
       'Apple iPhone 15 Pro Max', 'Samsung Galaxy A54 5G',
       'Samsung Galaxy F23 5G', 'Oppo A54', 'Samsung Galaxy M52 5G',
       'Samsung Galaxy Tab E', 'Samsung Galaxy Tab S9+', 'Oppo F17 Pro',
       'Oppo F11 Pro', 'Oppo OPPO Reno5 Z', 'Redmi K20 Pro',
       'Oppo A9 2020', 'Oppo CPH2179', 'Oppo Reno 6',
       'Samsung Galaxy A04e', 'Oppo A5 2020', 'Samsung Galaxy J3',
       'Samsung Galaxy M14 5G', 'Samsung Galaxy A14', 'Motorola moto g32',
       'Realme 7i', 'Oppo A3s', 'Huawei P30 Pro', 'Huawei HONOR 9A',
       'Samsung Galaxy M04', 'Samsung Galaxy M13', 'Samsung Galaxy F13',
       'Redmi 6', 'Samsung Galaxy M51', 'Redmi 8A Dual', 'Realme C12',
       'Samsung Galaxy M32', 'Xiaomi Redmi 4A', 'Vivo V2072A',
       'Xiaomi Redmi 5 Plus', 'Vivo V2048A', 'Tecno-Y2', 'Vivo S1',
       'Realme X2Pro', 'Oppo A53', 'Xiaomi Redmi Note 7 Pro',
       'Apple iPad Pro 2', 'Samsung Galaxy S23 Ultra 5G',
       'Samsung Galaxy J6+', 'Realme C11', 'Realme RMX2020',
       'Motorola moto g22', 'Samsung Galaxy F22', 'Oppo F15',
       'Redmi Note 9 Pro Max', 'Xiaomi Redmi  S2', 'Xiaomi MI 5X',
       'Apple iPad 6', 'Samsung Galaxy A14 5G', 'Samsung Galaxy M30',
       'Realme 3Pro', 'Redmi Note 11 Pro+ 5G', 'Huawei Y6p',
       'Motorola moto e13', 'Samsung Galaxy A30s',
       'Samsung Galaxy Tab S9', 'Vivo V2121A', 'Huawei HONOR 20 PRO',
       'Samsung Galaxy Tab S9+ 5G', 'Huawei P40 lite E',
       'Motorola moto e(7)', 'Samsung Galaxy M30s', 'Xiaomi Redmi 7',
       'Samsung Galaxy Tab S9 Ultra', 'Samsung Galaxy Tab S9 Ultra 5G',
       'POCO X2', 'Oppo F11', 'Huawei HONOR 8A Pro', 'Oppo A94',
       'Samsung Galaxy J4', 'Apple iPhone 6 Plus', 'Nokia 7.1',
       'Oppo Reno 2F', 'Huawei Mate 10 Lite', 'Redmi 7',
       'Huawei HUAWEI P smart 2021', 'Samsung Galaxy J4 Core',
       'Realme C15', 'Oppo CPH1729', 'Samsung Galaxy A02s',
       'Samsung Galaxy J7 Neo', 'Zte Blade A31 Plus', 'Oppo Reno3',
       'Nokia G50', 'Vivo Y66', 'Xiaomi Redmi 5A', 'Samsung Galaxy M11',
       'Samsung Galaxy A70s', 'Oppo CPH1801', 'Realme RMX2040',
       'Huawei HONOR View20', 'Vivo V1818A', 'Samsung Galaxy F52 5G',
       'Oppo A32 ä¸­å›½ç‰ˆ', 'Vivo V2118A', 'Samsung Galaxy J7 Core',
       'Xiaomi Redmi Note 5A', 'Vivo V1901A',
       'Motorola moto g power (2021)', 'Oppo F19 Pro',
       'Samsung Galaxy J5 Prime', 'Realme C15 Qualcomm Edition',
       'Oppo A73', 'Oppo CPH1701', 'Huawei Nova 3i',
       'Samsung Galaxy 9 Plus', 'Oppo A92', 'Realme 2 Pro',
       'Huawei Mate 20 Pro', 'Motorola moto g 5G (2022)', 'Redmi 8',
       'Redmi Note 12 Pro+ 5G', 'Samsung Galaxy A9 2018',
       'Oppo Reno3 Pro', 'Apple iPad Pro 11" (Wi-Fi/Cell - 4th Gen)',
       'Samsung Galaxy C7 Pro', 'Samsung Galaxy F54 5G',
       'Samsung Galaxy J2 Pro',
       'Apple iPad Pro 12.9" (Wi-Fi/Cell - 6th Gen)',
       'Samsung Galaxy Grand Prime', 'Samsung Galaxy View',
       'Samsung Galaxy Tab S9 5G', 'Samsung Galaxy A11',
       'Huawei P smart 2019', 'Samsung Galaxy A9',
       'Samsung Galaxy F34 5G', 'Vivo V2055A', 'Oppo Find X2 ä¸­å›½ç‰ˆ',
       'Huawei P40', 'Samsung Galaxy F12', 'Vivo V2073A',
       'Samsung Galaxy A20e', 'Xiaomi MI 8 SE', 'Samsung Galaxy A8',
       'Huawei HONOR 9X lite', 'Realme 5', 'Samsung Galaxy M42 5G',
       'Redmi K20', 'Tecno F1', 'Samsung Galaxy S23+ 5G',
       'Symphony Atom ii', 'Sony Xperia 1 II', 'Oppo OPPO Reno5 A',
       'Samsung Galaxy A5', 'Samsung Galaxy Note Pro', 'Vivo V2057A',
       'Samsung Galaxy A23 5G', 'Realme C17', 'Sony Xperia C4',
       'HUAWEI Y9 2019', 'Samsung Galaxy M02', 'Realme C3',
       'Samsung Galaxy M32 5G', 'Oppo A74', 'Samsung Galaxy A6+',
       'ZTE Blade L210', 'Motorola Moto Z3 Play', 'Realme narzo 20A',
       'Xiaomi Mi Max', 'Xiaomi Mi 9T', 'Motorola moto e(7i) power',
       'OnePlus 6T', 'Samsung Galaxy A8s', 'Huawei Mate 8', 'Vivo V2068A',
       'Samsung Galaxy J7 Max', 'Samsung Galaxy F41', 'Realme narzo 30',
       'Samsung Galaxy Fold', 'Huawei Y5 2017',
       'Huawei HUAWEI Mate 20 X (5G)', 'Realme 7 Pro',
       'Huawei HUAWEI MediaPad M3 Lite', 'Vivo V2031A', 'Vivo V2046A',
       'Nokia 2.1', 'Samsung Galaxy J1 Mini', 'Oppo A7', 'Xiaomi Mi A2',
       'Samsung Galaxy S5', 'Samsung Galaxy A02', 'Samsung Galaxy A21',
       'ZTE 8030', 'Samsung Galaxy J1', 'Nokia 1.4'], dtype=object)

### 3. íšŒì›ê°€ì… ì™„ë£Œ(complete.signup)
- type : ë¡œê·¸ì¸ ë°©ì‹

In [48]:
complete_signup = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.signup.csv')
complete_signup['client_event_time'] = pd.to_datetime(complete_signup['client_event_time'])
complete_signup

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424,South Korea,NaN,Windows,Windows,complete.signup,Korean,Chrome,111.0.0.0,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920,South Korea,NaN,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,16.3,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145128,NaN,2023-10-10 05:10:04.854,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0117038cc69fe8a40388ec19bb0a495e,kakao
145129,NaN,2023-10-10 05:16:31.995,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,bc1a28ff902daba9399e7f602cc86285,kakao
145130,NaN,2023-10-10 05:27:53.140,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0d507104136f139cbc9f6fa1db365162,google
145131,NaN,2023-10-10 05:33:30.471,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,298e200203472e5bc0f9a14053e1dfe1,google
145132,NaN,2023-10-10 05:50:07.380,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,4252b7d6d08c1ba797ec2f5d0b244963,kakao

In [49]:
complete_signup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145133 entries, 0 to 145132
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               44774 non-null   object
 1   client_event_time  145133 non-null  datetime64[ns]
 2   country            45756 non-null   object
 3   device_carrier     0 non-null       float64
 4   device_family      45767 non-null   object
 5   device_type        44659 non-null   object
 6   event_type         145133 non-null  object
 7   language           45767 non-null   object
 8   os_name            45745 non-null   object
 9   os_version         45651 non-null   object
 10  platform           45767 non-null   object
 11  user_id            145133 non-null  object
 12  type               144958 non-null  object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 14.4+ MB

In [50]:
complete_signup.isnull().sum()

city                 100359
client_event_time         0
country               99377
device_carrier       145133
device_family         99366
device_type          100474
event_type                0
language              99366
os_name               99388
os_version            99482
platform              99366
user_id                   0
type                    175
dtype: int64

In [51]:
complete_signup['type'].value_counts()

type
kakao       89484
google      21465
naver       19440
email       14126
facebook      442
test            1
Name: count, dtype: int64

In [52]:
complete_signup[complete_signup['type'] == 'test']

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
24616,NaN,2023-02-17 07:49:50.039,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,717fd2ff22addd9f8745923ab19ee231,test

- complete_signup[complete_signup['type'] == 'test']     

    -> user_id : 717fd2ff22addd9f8745923ab19ee231 : ë‹¤ë¥¸ ë°ì´í„°ì—ì„œ ì–´ë–¤í™œë™ì¸ì§€ ë³´ê³  ì§„ì§œ testí•œ í•­ëª©ì´ë©´ ì‚­ì œì²˜ë¦¬!

In [53]:
# íƒ€ì… testí–‰ ì œê±°ê±°
complete_signup = complete_signup[complete_signup['type'] != 'test']
complete_signup['type'].value_counts()

type
kakao       89484
google      21465
naver       19440
email       14126
facebook      442
Name: count, dtype: int64

In [54]:
complete_signup

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424,South Korea,NaN,Windows,Windows,complete.signup,Korean,Chrome,111.0.0.0,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920,South Korea,NaN,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,16.3,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145128,NaN,2023-10-10 05:10:04.854,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0117038cc69fe8a40388ec19bb0a495e,kakao
145129,NaN,2023-10-10 05:16:31.995,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,bc1a28ff902daba9399e7f602cc86285,kakao
145130,NaN,2023-10-10 05:27:53.140,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0d507104136f139cbc9f6fa1db365162,google
145131,NaN,2023-10-10 05:33:30.471,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,298e200203472e5bc0f9a14053e1dfe1,google
145132,NaN,2023-10-10 05:50:07.380,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,4252b7d6d08c1ba797ec2f5d0b244963,kakao

### 4. ì½˜í…ì¸  ê°œë³„ í˜ì´ì§€ ì§„ì…(enter.content_page)
- content_id : ì½˜í…ì¸  id

In [55]:
enter_content_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.content_page.csv')
enter_content_page['client_event_time'] = pd.to_datetime(enter_content_page['client_event_time'])
enter_content_page

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,108.0.5359.112,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,111.0.0.0,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd
3,Daejeon,2023-04-05 21:14:25.355,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
4,Seoul,2023-04-05 21:44:23.759,South Korea,NaN,Samsung Phone,Samsung Galaxy S20 FE 5G,enter.content_page,Korean,Samsung Browser,14.2,Web,NaN,7cebec6e79cc981dbf421c5ec2aedd9d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914252,Dongjak-gu,2023-10-10 05:56:29.800,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,117.0.2045.60,Web,NaN,5fc64d786416b980cfda86afd69e4516
1914253,Dongjak-gu,2023-10-10 05:57:04.468,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,117.0.2045.60,Web,NaN,5fc64d786416b980cfda86afd69e4516
1914254,Dongjak-gu,2023-10-10 05:57:38.457,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,117.0.2045.60,Web,NaN,8a72eed73d3f9d3ab1771548070e7338
1914255,Seoul,2023-10-10 05:50:33.680,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,117.0.2045.47,Web,4252b7d6d08c1ba797ec2f5d0b244963,ca35d0138a7550f002f975310604a9b7
1914256,Seoul,2023-10-10 05:53:51.369,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,Mobile Safari,17.0.1,Web,NaN,7cebec6e79cc981dbf421c5ec2aedd9d

In [56]:
enter_content_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914257 entries, 0 to 1914256
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 189.9+ MB

In [57]:
enter_content_page.isnull().sum()

city                   30757
client_event_time          0
country                 7570
device_carrier       1914257
device_family            639
device_type            23651
event_type                 0
language                   0
os_name                  149
os_version              2549
platform                   0
user_id               465168
content.id                 0
dtype: int64

- user_idê°€ ìˆëŠ” íšŒì›ê³¼ ì—†ëŠ” íšŒì› ë‚˜ëˆ ì„œ content_id ì–´ë–¤ê±° ë“£ë‚˜
    -> ë°ì´í„° ê²°í•© í•„ìš”í•¨

In [58]:
# 
filtered = enter_content_page.dropna(subset=['user_id'])
filtered[filtered.duplicated(subset=['user_id'])]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
3,Daejeon,2023-04-05 21:14:25.355,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
6,Seoul,2023-04-05 21:51:59.437,South Korea,NaN,Mac,Mac,enter.content_page,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,18992b667be06d6f29ba0008f99d9745
8,Gangseo-gu,2023-04-05 21:19:47.684,South Korea,NaN,Samsung Phone,Samsung Galaxy S9,enter.content_page,Korean,Chrome,111.0.0.0,Web,5a0099deffc1e2def829590197c6f2c3,e88906bb19b773dcbf2adb5d34c49d9c
12,Seoul,2023-04-05 21:15:07.232,South Korea,NaN,Samsung Phone,Samsung Galaxy S22,enter.content_page,Korean,Chrome,110.0.0.0,Web,a861512f4cdca0cec8d58546b9c27b0b,f4be1a0fe0e301b03115591777fddf29
16,Suwon,2023-04-10 14:32:06.047,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,GSA,258.1.520699392,Web,5f7f8e69f8f016db90e92663460c027a,68a3658f1b936bfff3bd6960cd561b0a
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914209,Gwacheon,2023-10-10 05:50:15.395,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,620de3f1b229ebc5bfc95c51bfd166c6,621c7ad99b17d2d16832b618d47aea7e
1914217,Seodaemun-gu,2023-10-10 05:15:42.653,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,f4be1a0fe0e301b03115591777fddf29
1914234,Incheon,2023-10-10 05:07:28.944,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6
1914241,Anyang-si,2023-10-10 05:17:57.486,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29
1914242,Anyang-si,2023-10-10 05:18:12.218,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29

### 5. ì½˜í…ì¸  ìˆ˜ê°•í•˜ê¸° ë²„íŠ¼ í´ë¦­(click.content_page_start_content_button)

- content.id : ì½˜í…ì¸  id
- button_name : ë²„íŠ¼ ì´ë¦„(ì½˜í…ì¸  í˜ì´ì¦ˆ ê°œí¸ ì „)
- button.name : ë²„íŠ¼ ì´ë¦„(ì½˜í…ì¸  í˜ì´ì§€ ê°œë³€ í›„)

In [59]:
click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_start_content_button.csv')
click_content_page_start_content_button['client_event_time'] = pd.to_datetime(click_content_page_start_content_button['client_event_time'])
click_content_page_start_content_button = click_content_page_start_content_button.rename(
    columns = {'button.name' : 'button_b','button_name' : 'button_a'})
click_content_page_start_content_button

C:\Users\rmagm\AppData\Local\Temp\ipykernel_16356\4208080057.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_start_content_button.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,button_b,button_a
0,Daejeon,2023-04-05 21:14:38.432,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
1,Seongnam-si,2023-04-10 14:57:20.033,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,112.0.1722.34,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,ì½˜í…ì¸ ì´ì–´ë³´ê¸°,NaN
2,Yangp'yong,2023-04-10 14:28:29.515,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,111.0.0.0,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,ì½˜í…ì¸ ì´ì–´ë³´ê¸°,NaN
3,Seo-gu,2023-04-10 14:09:30.564,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa,ì½˜í…ì¸ ì´ì–´ë³´ê¸°,NaN
4,Seo-gu,2023-04-10 14:10:52.368,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,7de35a9d8f14c68e5f2a8788dda5f72e,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172906,Daedeok-gu,2023-10-10 05:57:01.036,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,117.0.0.0,Web,NaN,8a72eed73d3f9d3ab1771548070e7338,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
172907,Gangnam-gu,2023-10-10 05:02:56.671,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Avast Secure Browser,116.0.0.0,Web,NaN,61b6463287573f00de13a930805a52d6,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
172908,Seodaemun-gu,2023-10-10 05:15:44.437,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,f4be1a0fe0e301b03115591777fddf29,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
172909,Seo-gu,2023-10-10 05:41:43.314,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,117.0.0.0,Web,NaN,b314d5aba64a0aab40602cb72a4a1504,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN
172910,Seoul,2023-10-10 05:50:47.328,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,117.0.2045.47,Web,4252b7d6d08c1ba797ec2f5d0b244963,ca35d0138a7550f002f975310604a9b7,ì½˜í…ì¸ êµ¬ë…í•˜ê¸°,NaN

In [60]:
click_content_page_start_content_button.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172911 entries, 0 to 172910
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               169437 non-null  object
 1   client_event_time  172911 non-null  datetime64[ns]
 2   country            171495 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      172911 non-null  object
 5   device_type        171581 non-null  object
 6   event_type         172911 non-null  object
 7   language           172911 non-null  object
 8   os_name            172911 non-null  object
 9   os_version         172593 non-null  object
 10  platform           172911 non-null  object
 11  user_id            128361 non-null  object
 12  content.id         172699 non-null  object
 13  button_b           86242 non-null   object
 14  button_a           38951 non-null   object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 19.8+ MB

In [61]:
click_content_page_start_content_button.isnull().sum()

city                   3474
client_event_time         0
country                1416
device_carrier       172911
device_family             0
device_type            1330
event_type                0
language                  0
os_name                   0
os_version              318
platform                  0
user_id               44550
content.id              212
button_b              86669
button_a             133960
dtype: int64

In [62]:
display(click_content_page_start_content_button['button_a'].unique())
click_content_page_start_content_button['button_a'].value_counts()

array([nan, 'ì´ì–´í•˜ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°', 'ìˆ˜ê°•í•˜ê¸°', 'ìˆ˜ê°•ì‹œì‘'], dtype=object)

button_a
ì´ì–´í•˜ê¸°        23793
ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°     6094
ìˆ˜ê°•í•˜ê¸°         5348
ìˆ˜ê°•ì‹œì‘         3716
Name: count, dtype: int64

In [63]:
display(click_content_page_start_content_button['button_b'].unique())
click_content_page_start_content_button['button_b'].value_counts()

array(['ì½˜í…ì¸  êµ¬ë…í•˜ê¸°', 'ì½˜í…ì¸  ì´ì–´ë³´ê¸°', 'ìµœì €ê°€ í˜œíƒ ë°›ê¸°', 'ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°',
       'êµ¬ë… ì‹œì‘í•˜ê¸°', 'ìµœì €ê°€ë¡œ ì‹œì‘í•˜ê¸°', 'í• ì¸ë°›ê³  êµ¬ë… ì‹œì‘', nan], dtype=object)

button_b
ì½˜í…ì¸  êµ¬ë…í•˜ê¸°      40961
ì½˜í…ì¸  ì´ì–´ë³´ê¸°      27797
ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°      13596
ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°       2513
ìµœì €ê°€ í˜œíƒ ë°›ê¸°       907
ìµœì €ê°€ë¡œ ì‹œì‘í•˜ê¸°       293
êµ¬ë… ì‹œì‘í•˜ê¸°         174
í• ì¸ë°›ê³  êµ¬ë… ì‹œì‘        1
Name: count, dtype: int64

In [64]:
# ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°, ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸° 
button_start_free = click_content_page_start_content_button.loc[
    click_content_page_start_content_button['button_b'].isin(['ë¬´ë£Œë¡œ ë“¤ì–´ë³´ê¸°', 'ë¬´ë£Œë¡œ ì‹œì‘í•˜ê¸°'])
]

### 6. ì½˜í…ì¸  í›„ê¸° ë”ë³´ê¸° ë²„íŠ¼ í´ë¦­(click.content_page_more_review_button)

- content.id : ì½˜í…ì¸  id

In [65]:
click_content_page_more_review_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.content_page_more_review_button.csv')

click_content_page_more_review_button = click_content_page_more_review_button.drop(
    columns = ['device_carrier','device_family', 'device_type','os_name','os_version','platform'])

click_content_page_more_review_button['client_event_time'] = pd.to_datetime(click_content_page_more_review_button['client_event_time'])
click_content_page_more_review_button

,city,client_event_time,country,event_type,language,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402,South Korea,click.content_page_more_review_button,Korean,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417,United Kingdom,click.content_page_more_review_button,Korean,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897,South Korea,click.content_page_more_review_button,Korean,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568,South Korea,click.content_page_more_review_button,Korean,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337,South Korea,click.content_page_more_review_button,Korean,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e
...,...,...,...,...,...,...,...
93957,Goyang-si,2023-07-31 03:10:29.773,South Korea,click.content_page_more_review_button,Korean,748d20973591001e4df47a87edb79b24,c269eb6df3a374b464f7c18f12fa398f
93958,Seoul,2023-07-11 06:32:48.945,South Korea,click.content_page_more_review_button,Korean,NaN,e543c38ec7fa6bcd5045049ecc31e5f8
93959,Seoul,2023-11-01 23:37:23.165,South Korea,click.content_page_more_review_button,Korean,e8d4e1bb915de2be1b4585a5b59525a6,f351e92bba7aadae94d04c85c3fb1834
93960,Gangnam-gu,2023-12-29 13:10:12.048,South Korea,click.content_page_more_review_button,Korean,04c660e8e893dfedc0063ad681982b86,1ccd38c0253604fb48f78970736f915c
93961,Seongbuk-gu,2023-10-10 05:25:53.435,South Korea,click.content_page_more_review_button,Korean,NaN,479926b04fe824bce5bdc7e0f81a2539

In [66]:
click_content_page_more_review_button.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93962 entries, 0 to 93961
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               93792 non-null  object
 1   client_event_time  93962 non-null  datetime64[ns]
 2   country            93944 non-null  object
 3   event_type         93962 non-null  object
 4   language           93962 non-null  object
 5   user_id            10702 non-null  object
 6   content.id         93938 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 5.0+ MB

In [67]:
click_content_page_more_review_button.isnull().sum()

city                   170
client_event_time        0
country                 18
event_type               0
language                 0
user_id              83260
content.id              24
dtype: int64

In [68]:
click_content_page_more_review_button['user_id'].value_counts()

user_id
d2c7120aabd4ece896035f58b763a2dd    285
17d570bd01d51cf56c1b8aaa464d32c8    202
f8eedef539df7b9f3486c6ea72f02012    164
45473d99d11966b8791c2a1846f99cb6    143
f8868b5573dc20f97a1c65b25a02b7fb    109
                                   ...
497aec4c0647ce80f3eddc092ad1dc23      1
634c5258d31aa8761d69c0ac408f147f      1
7074ecc525fa76ffcef20d2e78a36bd3      1
31bc412a309562c92b5e4ea832261f1f      1
9098ba913f9b5171f7b93cf9f2b64e0b      1
Name: count, Length: 3195, dtype: int64

In [69]:
click_review_button_df = (
click_content_page_more_review_button.groupby(
    ['user_id','content.id']).size().reset_index(name = 'count').sort_values(by=['count'], ascending= False))

click_review_button = click_review_button_df.loc[click_review_button_df.duplicated(subset=['user_id'])]
click_review_button

# click_review_button_df_columns = ['user_id', 'content.id', 'count']
# click_review_button = click_review_button_df[click_review_button_df_columns]
# click_review_button

,user_id,content.id,count
4357,f8eedef539df7b9f3486c6ea72f02012,3c3701997224d03a95fbb3b34446d238,63
435,17d570bd01d51cf56c1b8aaa464d32c8,ddaafc2251644873b3dcde16c5d0b9ba,51
3663,d2c7120aabd4ece896035f58b763a2dd,d0bce5e5af242d6d60e16b68b4febf2e,38
3659,d2c7120aabd4ece896035f58b763a2dd,ab7068685b7aeac4d6b1a6c0e1c85819,29
3656,d2c7120aabd4ece896035f58b763a2dd,8a72eed73d3f9d3ab1771548070e7338,28
...,...,...,...
1394,4bdad5f711052a44faaf458ee557d5d3,2066918c0429f5e9814955e76b6f07ad,1
4482,fea708f23d0518b999814b1df2a2a315,a1eeebeb6c307641b75b94a2a1d5b9aa,1
4472,fe3beafec5633844a56822e010bf73f9,512a6f0abaef16c51950d52ce2d66fda,1
4473,fe3beafec5633844a56822e010bf73f9,711579bdebbf6540613290ebc8fbd3fc,1
4474,fe3beafec5633844a56822e010bf73f9,f4be1a0fe0e301b03115591777fddf29,1

In [70]:
# ê·¸ë£¹í™”í•˜ì—¬ count ì»¬ëŸ¼ ì¶”ê°€
click_review_button_df = (
    click_content_page_more_review_button
    .groupby(['user_id', 'content.id'])
    .size()
    .reset_index(name='count')
    .sort_values(by=['count'], ascending=False)
)

# íŠ¹ì • ì»¬ëŸ¼ë§Œ ì„ íƒ
click_review_button_df_columns = ['user_id', 'content.id', 'count']
click_review_button = click_review_button_df[click_review_button_df_columns]

# user_idë¥¼ ì²˜ìŒ í•œ ë²ˆë§Œ ì¶œë ¥í•˜ë„ë¡ ë³€í™˜
click_review_button.loc[click_review_button.duplicated(subset=['user_id']), 'user_id'] = ""
display(click_review_button)

,user_id,content.id,count
434,17d570bd01d51cf56c1b8aaa464d32c8,db82104b9c508953b3d00eea82844a48,94
4356,f8eedef539df7b9f3486c6ea72f02012,38df90d4de533d6296b52c6a1d90e26b,69
4357,,3c3701997224d03a95fbb3b34446d238,63
435,,ddaafc2251644873b3dcde16c5d0b9ba,51
3644,d2c7120aabd4ece896035f58b763a2dd,289ae01387d36327c04b176c6d62a626,43
...,...,...,...
4461,fdae98dafb5352bf95b5b055c3518bbb,621c7ad99b17d2d16832b618d47aea7e,1
4463,fdcd38e2f1935683bff418ef9c66ae1f,f4be1a0fe0e301b03115591777fddf29,1
4464,fdd4b3457f7179c5d4697aec95c875e7,68a3658f1b936bfff3bd6960cd561b0a,1
4466,fdfecbbb12b642fd85099a021134773d,a1eeebeb6c307641b75b94a2a1d5b9aa,1
4467,fe15f1741a86e93edd99552d289dc550,7de35a9d8f14c68e5f2a8788dda5f72e,1

### 7. ê²°ì œ í˜ì´ì§€ ì§„ì…(enter.payment_page)

In [71]:
enter_payment_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.payment_page.csv')
enter_payment_page

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:31:27.602000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,112.0.0.0,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,111.0.0.0,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,111.0.1661.62,Web,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-05 21:45:27.935000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-05 21:46:50.632000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
...,...,...,...,...,...,...,...,...,...,...,...,...
165056,Seoul,2023-10-10 05:35:10.862000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,16.3,Web,0d507104136f139cbc9f6fa1db365162
165057,Hanam,2023-10-10 05:33:29.633000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,116.0.0.0,Web,298e200203472e5bc0f9a14053e1dfe1
165058,Hanam,2023-10-10 05:33:29.691000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,116.0.0.0,Web,298e200203472e5bc0f9a14053e1dfe1
165059,Seoul,2023-10-10 05:50:08.748000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,117.0.2045.47,Web,4252b7d6d08c1ba797ec2f5d0b244963
165060,Seoul,2023-10-10 05:50:08.779000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,117.0.2045.47,Web,4252b7d6d08c1ba797ec2f5d0b244963

In [72]:
enter_payment_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165061 entries, 0 to 165060
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               162362 non-null  object
 1   client_event_time  165061 non-null  object
 2   country            164899 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      165060 non-null  object
 5   device_type        159066 non-null  object
 6   event_type         165061 non-null  object
 7   language           165061 non-null  object
 8   os_name            165061 non-null  object
 9   os_version         164560 non-null  object
 10  platform           165061 non-null  object
 11  user_id            158834 non-null  object
dtypes: float64(1), object(11)
memory usage: 15.1+ MB

In [73]:
#user_idê°€ ì—†ì–´ë„ ê²°ì œ í˜ì´ì§€ì— ì§„ì…ì´ ê°€ëŠ¥í•œê±´ê°€?
enter_payment_page.isnull().sum()

city                   2699
client_event_time         0
country                 162
device_carrier       165061
device_family             1
device_type            5995
event_type                0
language                  0
os_name                   0
os_version              501
platform                  0
user_id                6227
dtype: int64

### 8. ì²« ê²°ì œ ì™„ë£Œ(complete.subscription)

#### ì²« ê²°ì œê°€ ì¤‘ë³µì¸ ê²½ìš°ëŠ” ì²« ê²°ì œ í™˜ë¶ˆ í›„ ë‹¤ì‹œ ê²°ì œí•œ ì¼€ì´ìŠ¤ë¡œ ê°„ì£¼ -> ê·¸ëŸ¼ ê²°êµ­ ì¤‘ë³µëœ ê²°ì œ ë‚´ì—­ì¤‘ ìµœê·¼ ë§ˆì§€ë§‰ ê¸°ë¡ë§Œ ë³´ë©´ ë˜ëŠ”ê±´ê°€?
- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.discount_amount : í• ì¸ì•¡(ì •ìƒê°€ - ì‹¤ì œ ê²°ì œ ê¸ˆì•¡ìœ¼ë¡œ ê³„ì‚°)
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…(A,B,CëŠ” ê°ê¸° ë‹¤ë¥¸ ê°„í¸ê²°ì œ ìˆ˜ë‹¨)

In [74]:
complete_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.subscription.csv')
complete_subscription

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,113.0.0.0,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14284,NaN,2023-12-29 13:28:22.696000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,3280d2b1af281b9989e1708d6e3d681e,95520,95520,0,B
14285,NaN,2023-12-29 13:58:50.397000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,abebe3234041d14b5c0c5821bf90ab26,95520,95520,0,B
14286,NaN,2023-12-29 13:48:13.849000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,3ca22b0bade6b40d6274bf6d06bc4344,95520,95520,0,B
14287,Gangnam-gu,2023-10-30 00:44:45.947000,South Korea,NaN,Samsung Galaxy Phone,Samsung Galaxy S7,complete.subscription,Korean,Chrome WebView,115.0.5790.166,Web,c49ea18247c81a613f8bbf44ff029cb4,131600,131600,0,A
14288,Incheon,2023-10-10 05:02:56.229000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,131600,111860,19740,NaN

In [75]:
complete_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14289 entries, 0 to 14288
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    13757 non-null  object
 1   client_event_time       14289 non-null  object
 2   country                 13906 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           13914 non-null  object
 5   device_type             13764 non-null  object
 6   event_type              14289 non-null  object
 7   language                13914 non-null  object
 8   os_name                 13908 non-null  object
 9   os_version              13899 non-null  object
 10  platform                13914 non-null  object
 11  user_id                 14289 non-null  object
 12  plan.price              14289 non-null  int64
 13  paid_amount             14289 non-null  int64
 14  coupon.discount_amount  14289 non-null  int64
 15  pg.type                 1642 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.7+ MB

In [76]:
complete_subscription.isnull().sum()

city                        532
client_event_time             0
country                     383
device_carrier            14289
device_family               375
device_type                 525
event_type                    0
language                    375
os_name                     381
os_version                  390
platform                    375
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   12647
dtype: int64

In [77]:
complete_subscription[complete_subscription['user_id'].duplicated()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
179,Seo-gu,2023-01-02 04:44:19.374000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,108.0.0.0,Web,e842a8c98af30bc014efcea459a98b97,83200,83200,0,NaN
1057,Songpa-gu,2023-06-29 14:59:58.584000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,114.0.0.0,Web,9dd5b05df44ae64e2883b874485338c0,15920,15920,0,NaN
1087,Seo-gu,2023-02-20 02:20:42.738000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,109.0.0.0,Web,c5087a941da4a7f8721fa4bc1923c253,15920,15920,0,NaN
1241,Chungju,2023-04-07 04:45:01.962000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,ee18763162fd4ea36099e3d028176488,15920,15920,0,NaN
1320,Suwon,2023-01-31 01:27:35.380000,South Korea,NaN,Samsung Phone,Samsung Galaxy Note20 5G,complete.subscription,Korean,Whale,1.0.0.0,Web,f750f507d8a2c1db7da2a0e9af74a3d0,95200,95200,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14161,Jeongseon-gun,2023-12-23 06:16:55.087000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,120.0.0.0,Web,e878163856cdac57985dae65831aa0fe,95520,95520,0,A
14234,Seongnam-si,2023-09-27 02:03:14.852000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,WebKit,605.1.15,Web,d33975e1b7430a21e29675807e15cf57,131600,111860,19740,NaN
14248,Seoul,2023-10-20 06:49:41.880000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,118.0.0.0,Web,f833cca4c382ac8c502c6f99bc432725,131600,131600,0,NaN
14277,Gwangmyeong,2023-11-16 13:37:40.742000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,complete.subscription,Korean,Chrome WebView,119.0.6045.66,Web,433a7b7ae0c58e7badd304d9b0209e26,131600,131600,0,A
14288,Incheon,2023-10-10 05:02:56.229000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,131600,111860,19740,NaN

In [78]:
complete_subscription[complete_subscription['user_id']=='e842a8c98af30bc014efcea459a98b97']

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
178,Seo-gu,2023-01-02 04:30:45.239000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,108.0.0.0,Web,e842a8c98af30bc014efcea459a98b97,83200,83200,0,NaN
179,Seo-gu,2023-01-02 04:44:19.374000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,108.0.0.0,Web,e842a8c98af30bc014efcea459a98b97,83200,83200,0,NaN

### 9. ì •ê¸° ê²°ì œ ì™„ë£Œ(renew.subscription)

- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.discount_amount : í• ì¸ì•¡
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…

In [79]:
renew_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/renew.subscription.csv')
renew_subscription

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Edge,104,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN
3,Yongin-si,2022-09-08 04:10:06.406,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,bf14840a8cb4643e6d557da96e35a3af,15920,15920,0,NaN
4,Dongjak-gu,2022-09-08 04:40:01.895,South Korea,NaN,Android,Android,renew.subscription,Korean,Chrome Mobile,103,Web,7ddc1c2990d0645d82885394e3c518b5,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15940,Seoul,2023-12-31 14:45:02.023,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Safari,16.3,Web,65b0ef224104a149832d010417e5d698,95520,95520,0,A
15941,Cheonan,2023-12-31 14:45:02.716,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note9,renew.subscription,Korean,Chrome,108.0.0.0,Web,abf7852a86c5efeac694c93a144c7021,95520,95520,0,A
15942,Gwanak-gu,2023-12-31 14:50:01.514,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,116.0.0.0,Web,f5da5f17623107c7be18277488e4ba07,95520,95520,0,A
15943,Seoul,2023-12-31 14:50:02.215,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,114.0.0.0,Web,44b77c4b10b428a1ad5c89011d0fe27e,95520,95520,0,A
15944,Gangnam-gu,2023-12-31 16:10:03.242,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Chrome,119.0.0.0,Web,05fbedba9adfbf17a390d649f928db4f,95520,95520,0,A

In [80]:
renew_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15945 entries, 0 to 15944
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    15575 non-null  object
 1   client_event_time       15945 non-null  object
 2   country                 15656 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           15657 non-null  object
 5   device_type             15484 non-null  object
 6   event_type              15945 non-null  object
 7   language                15657 non-null  object
 8   os_name                 15654 non-null  object
 9   os_version              15644 non-null  object
 10  platform                15657 non-null  object
 11  user_id                 15945 non-null  object
 12  plan.price              15945 non-null  int64
 13  paid_amount             15945 non-null  int64
 14  coupon.discount_amount  15945 non-null  int64
 15  pg.type                 2732 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.9+ MB

In [81]:
renew_subscription.isnull().sum()

city                        370
client_event_time             0
country                     289
device_carrier            15945
device_family               288
device_type                 461
event_type                    0
language                    288
os_name                     291
os_version                  301
platform                    288
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   13213
dtype: int64

### 10. ë§Œë£Œ í›„ ì¬êµ¬ë… ì™„ë£Œ(resubscribe.subscription)

- plan.price : ì •ìƒê°€
- paid_amount : ì‹¤ì œ ê²°ì œ ê¸ˆì•¡
- coupon.dicount_amount : í• ì¸ì•¡
- pg.type : ê²°ì œìˆ˜ë‹¨ íƒ€ì…

In [82]:
resubscribe_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/resubscribe.subscription.csv')
resubscribe_subscription

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,NaN,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,113.0.5672.162,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,114.0.5735.99,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,Englewood,2023-10-20 19:29:37.174,United States,NaN,Mac,Mac,resubscribe.subscription,English,Safari,17.0,Web,482cf2ed1eefbe648ce156e43d323114,15920,15920,0,NaN
787,Suwon,2023-07-31 03:01:55.489,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,115.0.1901.188,Web,b6b9428216580dbdc053e0bb19083be1,15920,15920,0,NaN
788,Buk-gu,2023-12-31 03:53:51.324,South Korea,NaN,Samsung Phone,Samsung Galaxy Z Flip4,resubscribe.subscription,Korean,Whale,1.0.0.0,Web,eaff98093acb9a109975957cafb2d105,95520,95520,0,B
789,Seoul,2023-12-29 13:33:42.128,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,120.0.0.0,Web,e6aace24ed8703d42ce43c4b8b1c7d66,95520,95520,0,A
790,Mapo-gu,2023-12-29 13:21:24.679,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Whale,3.23.214.17,Web,7f742dabddf2b60069b465e4b8ca5b43,95520,95520,0,B

In [83]:
resubscribe_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    775 non-null    object
 1   client_event_time       791 non-null    object
 2   country                 784 non-null    object
 3   device_carrier          0 non-null      float64
 4   device_family           784 non-null    object
 5   device_type             773 non-null    object
 6   event_type              791 non-null    object
 7   language                784 non-null    object
 8   os_name                 784 non-null    object
 9   os_version              784 non-null    object
 10  platform                784 non-null    object
 11  user_id                 791 non-null    object
 12  plan.price              791 non-null    int64
 13  paid_amount             791 non-null    int64
 14  coupon.discount_amount  791 non-null    int64
 15  pg.type                 173 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 99.0+ KB

In [84]:
resubscribe_subscription.isnull().sum()

city                       16
client_event_time           0
country                     7
device_carrier            791
device_family               7
device_type                18
event_type                  0
language                    7
os_name                     7
os_version                  7
platform                    7
user_id                     0
plan.price                  0
paid_amount                 0
coupon.discount_amount      0
pg.type                   618
dtype: int64

### 11. ì„œë¹„ìŠ¤ ë¬´ë£Œì²´í—˜ ì‹œì‘(start.free_trial)

- plan.price : ì •ìƒê°€
- plan.type : ìš”ê¸ˆì œ ì¢…ë¥˜
- trial.type : ë¬´ë£Œì²´í—˜ ë°©ì‹   

    - type A(êµ¬ë²„ì „)    
            - íŠ¹ì • ì»¨í…ì¸  í•˜ë‚˜ì— ëŒ€í•´ ì˜êµ¬ì ì¸ ë¬´ë£Œì²´í—˜ì„ ì œê³µ    
            - ì—¬ëŸ¬ ì»¨í…ì¸ ì— ê±¸ì³ì„œ ì¤‘ë³µ ë¬´ë£Œì²´í—˜ ì œê³µí•˜ì˜€ìŒ -> (ì–´ë–¤ ì»¨í…ì¸ ì¸ì§€ ì •ë³´ëŠ” ë‚¨ì•„ìˆì§€ ì•ŠìŒ) 

    - type B (ì‹ ë²„ì „)     
            - ê¸°ê°„ ë‹¨ìœ„ë¡œ ëª¨ë“  ì»¨í…ì¸ ë¥¼ ê²½í—˜í•  ìˆ˜ ìˆëŠ” ë²„ì „ìœ¼ë¡œ ì œê³µ    
            - ì¤‘ë³µ ë¬´ë£Œì²´í—˜ ì œê³µí•˜ì§€ ì•ŠìŒ

In [85]:
# user_idê°€ ê²°ì¸¡ì¸ ê°’ì€ ì œê±°í•˜ì˜€ìŠµë‹ˆë‹¤.
start_free_trial = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/start.free_trial.csv')

start_free_trial['client_event_time'] = pd.to_datetime(start_free_trial['client_event_time'])

start_free_trial

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,15920.0,1ê°œì›” í”Œëœ,B
1,Dobong-gu,2023-03-12 08:28:29.384,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920.0,1ê°œì›” í”Œëœ,B
2,NaN,2023-03-12 08:35:00.107,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B
3,Seoul,2023-04-12 11:36:50.250,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.1,Web,cc8051a75f62278b0e4216dd0a182d8c,15920.0,1ê°œì›” í”Œëœ,B
4,NaN,2023-02-18 04:13:20.822,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,4cc436ad294973993ccad3e3a70053a7,131600.0,12ê°œì›” í”Œëœ,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30616,Nowon-gu,2022-02-21 04:56:12.117,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,98.0,Web,d4488d048e462d6c5b69e861d35dcc6b,NaN,NaN,A
30617,Seoul,2022-02-21 04:49:35.114,South Korea,NaN,Apple iPad,Apple iPad,start.free_trial,Korean,Mobile Safari,14.0,Web,613273af4d4e1b57d6ab93e2bf76e017,NaN,NaN,A
30618,Seodaemun-gu,2022-02-21 04:37:53.294,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,98.0,Web,fd2b864d7f354eb48a29ff2ce78d229d,NaN,NaN,A
30619,Seoul,2022-02-21 04:13:10.443,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,Mobile Safari,14.0,Web,a318b7d752a63d5d2302a4493835bc10,NaN,NaN,A
30620,Seoul,2022-02-21 04:43:01.015,South Korea,NaN,Android,Android,start.free_trial,Korean,Chrome WebView,98.0,Web,3ac7014b40708e7e9109863c7863355d,NaN,NaN,A

In [86]:
start_free_trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30621 entries, 0 to 30620
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               30133 non-null  object
 1   client_event_time  30621 non-null  datetime64[ns]
 2   country            30491 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      30499 non-null  object
 5   device_type        30478 non-null  object
 6   event_type         30621 non-null  object
 7   language           30499 non-null  object
 8   os_name            30499 non-null  object
 9   os_version         30497 non-null  object
 10  platform           30499 non-null  object
 11  user_id            30607 non-null  object
 12  plan.price         2439 non-null   float64
 13  plan.type          2439 non-null   object
 14  trial.type         30621 non-null  object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 3.5+ MB

In [87]:
start_free_trial.isnull().sum()

city                   488
client_event_time        0
country                130
device_carrier       30621
device_family          122
device_type            143
event_type               0
language               122
os_name                122
os_version             124
platform               122
user_id                 14
plan.price           28182
plan.type            28182
trial.type               0
dtype: int64

In [88]:
#user_idê°€ ê²°ì¸¡ì¸ë°ë„ ì„œë¹„ìŠ¤ ë¬´ë£Œ ì²´í—˜ì„ í•  ìˆ˜ ìˆë‚˜? -> 14ê±´ ì‚­ì œ í–ˆìŒ
start_free_trial[start_free_trial['user_id'].isna()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
3075,Seoul,2022-02-24 07:36:57.522,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
5022,Gangnam-gu,2022-01-26 08:55:47.608,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5023,Gangnam-gu,2022-01-26 08:59:01.671,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5024,Gangnam-gu,2022-01-26 08:59:11.373,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
5187,Seoul,2022-06-29 09:44:22.929,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,Mobile Safari,15.0,Web,NaN,NaN,NaN,A
6457,Cheongju-si,2022-02-06 07:42:08.666,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,98.0,Web,NaN,NaN,NaN,A
11593,Gangnam-gu,2022-01-26 09:00:08.176,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,97.0,Web,NaN,NaN,NaN,A
14472,Seoul,2022-06-21 07:03:55.053,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
17365,Osan,2022-01-26 23:50:18.502,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
17366,Osan,2022-01-26 23:50:56.525,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
27375,Seoul,2022-04-03 12:57:45.393,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.0,Web,NaN,NaN,NaN,A
27801,Dong-gu,2022-01-28 18:37:17.829,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
27802,Dong-gu,2022-01-28 18:38:05.853,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,WebKit,605.0,Web,NaN,NaN,NaN,A
29551,NaN,2022-01-11 06:14:50.986,South Korea,NaN,Android,Android,start.free_trial,Korean,Chrome WebView,97.0,Web,NaN,NaN,NaN,A

In [89]:
start_free_trial['trial.type'].value_counts()

trial.type
A    28182
B     2439
Name: count, dtype: int64

In [90]:
# A íƒ€ì…ì€ í•˜ë‚˜ì˜ ì»¨í…ì¸ ì— ëŒ€í•´ ì˜êµ¬ì ì¸ ë¬´ë£Œ ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•˜ì˜€ìœ¼ë¯€ë¡œ plan.typeì´ ì—†ìŒ
start_free_trial.groupby(['trial.type','plan.type']).size()

trial.type  plan.type
B           12ê°œì›” í”Œëœ      1161
            1ê°œì›” í”Œëœ       1278
dtype: int64

In [91]:
# ë¬´ë£Œì²´í—˜ ì‹œì‘í•œ ìœ ì €ë“¤ -> ì²«ê²°ì œ -> ì •ê¸°ê²°ì œ ì „í™˜ìœ¨
# 1. tiral.type a / b
# 2. íƒ€ì… bì—ì„œ plan.type

### sign_up ë°ì´í„°,  start_free_trial ë°ì´í„° -> merge

In [95]:
# íšŒì›ê°€ì… í›„ ë¬´ë£Œì²´í—˜ ì‹œì‘ìœ¼ë¡œ ì²« ìˆ˜ì—…ì„ ì‹œì‘í•œ ìœ ì €ë“¤

# íšŒì›ê°€ì… ì™„ë£Œ
sign_up = complete_signup[['user_id', 'client_event_time', 'type']]


# ë¬´ë£Œ ì²´í—˜ ì„œë¹„ìŠ¤
start_free = start_free_trial[['user_id','client_event_time', 'plan.price', 'plan.type','trial.type']]


merge_sign_up_free = pd.merge(sign_up, start_free, how  = 'inner', on = 'user_id')
merge_sign_up_free

,user_id,client_event_time_x,type,client_event_time_y,plan.price,plan.type,trial.type
0,06b6868000a5d576180aca47896d6cce,2023-04-05 21:45:18.672,kakao,2023-04-05 21:49:36.156,15920.0,1ê°œì›” í”Œëœ,B
1,5544c5475f9c1682c352683b6dcbd005,2023-01-12 19:10:05.902,kakao,2023-02-20 05:13:43.580,131600.0,12ê°œì›” í”Œëœ,B
2,9c07011e4f5560603ea872e26b2c04eb,2023-03-12 08:22:12.542,email,2023-03-13 07:30:52.581,131600.0,12ê°œì›” í”Œëœ,B
3,40acc1ddfc012f3d2f58a3de95e9e748,2023-03-12 08:24:47.674,kakao,2023-03-12 08:28:29.384,15920.0,1ê°œì›” í”Œëœ,B
4,38aca03fba9753a6b2f31b829fb16a30,2023-03-12 08:30:46.328,kakao,2023-03-12 08:35:00.107,15920.0,1ê°œì›” í”Œëœ,B
...,...,...,...,...,...,...,...
26701,d4488d048e462d6c5b69e861d35dcc6b,2022-02-21 04:55:59.763,naver,2022-02-21 04:56:12.117,NaN,NaN,A
26702,b24c5e133d159c222668607cc601d89b,2022-02-21 04:45:02.269,naver,2022-02-21 06:07:23.982,NaN,NaN,A
26703,a318b7d752a63d5d2302a4493835bc10,2022-02-21 04:13:03.625,kakao,2022-02-21 04:13:10.443,NaN,NaN,A
26704,3ac7014b40708e7e9109863c7863355d,2022-02-21 04:42:50.928,kakao,2022-02-25 01:39:20.253,NaN,NaN,A
26705,3ac7014b40708e7e9109863c7863355d,2022-02-21 04:42:50.928,kakao,2022-02-21 04:43:01.015,NaN,NaN,A

### 12. ì½˜í…ì¸  ìˆ˜ê°• ì‹œì‘(start.content)
-> 22ë…„ 8ì›”ë¶€í„° ìˆ˜ì§‘ëœ í…Œì´ë¸”

- content.id : ì½˜í…ì¸  id
- content.difficulty : ì½˜í…ì¸  ë‚œì´ë„

In [ ]:
start_content = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/start.content.csv')
start_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-05 21:14:39.906000,South Korea,NaN,Windows,Windows,start.content,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-05 21:50:19.674000,South Korea,NaN,Mac,Mac,start.content,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 14:06:26.585000,South Korea,NaN,Mac,Mac,start.content,Korean,Whale,3.19.166.16,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 14:15:29.040000,Canada,NaN,Windows,Windows,start.content,English,Chrome,111.0.0.0,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 14:21:36.467000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124912,Dongdaemun-gu,2023-10-10 05:01:06.892000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,116.0.0.0,Web,9fe4efb5bffac9728392d3774c0894f7,f64c475280676531a31f2f8e0648599c,intermediate
124913,Namyangju,2023-10-10 05:31:21.672000,South Korea,NaN,Mac,Mac,start.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,68a3658f1b936bfff3bd6960cd561b0a,beginner
124914,Seoul,2023-10-10 05:08:29.903000,South Korea,NaN,Apple iPhone,Apple iPhone,start.content,Korean,Mobile Safari,17.0.1,Web,1ba78febcbf64e67d61988bdf9d5f0e1,621c7ad99b17d2d16832b618d47aea7e,advanced
124915,Incheon,2023-10-10 05:39:15.513000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,beginner
124916,Incheon,2023-10-10 05:10:25.479000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,0117038cc69fe8a40388ec19bb0a495e,f4be1a0fe0e301b03115591777fddf29,beginner

### 13. ë ˆìŠ¨ ì‹œì‘(enter.lesson_page)
-> ì½˜í…ì¸ ëŠ” ì—¬ëŸ¬ ê°œì˜ ë ˆìŠ¨ìœ¼ë¡œ êµ¬ì„±

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id
- is_free_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì¸ì§€ ì—¬ë¶€(íŠ¹ì • ê¸°ì¤€ ì‹œì ìœ¼ë¡œ ì‚¬ìš©í•˜ì§€ ì•ŠìŒ)
- is_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì´ë©´ì„œ ê·¸ ìœ ì €ê°€ í˜„ì¬ êµ¬ë…í•˜ì§€ ì•Šì€ íšŒì›ì¸ì§€ ì—¬ë¶€

In [ ]:
enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.lesson_page.csv')
enter_lesson_page

C:\Users\rmagm\AppData\Local\Temp\ipykernel_9148\1297204633.py:1: DtypeWarning: Columns (9,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/enter.lesson_page.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-05 21:46:04.333000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-05 21:55:50.787000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-05 21:55:55.684000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN
3,Dongdaemun-gu,2023-04-05 21:04:55.828000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,5fc64d786416b980cfda86afd69e4516,False,68cc362ca81b5899b3c9b4dea0aaddff,NaN
4,Dongdaemun-gu,2023-04-05 21:05:34.139000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,144682f4648f81de8e6aabd11b92105e,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21029702,Seoul,2023-10-10 05:18:14.053000,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,582f0dd769db16a3d920fd7916090efb,NaN
21029703,Seoul,2023-10-10 05:18:58.648000,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,83c74d5802b04a1a50aa28b7bf8a5354,NaN
21029704,Anyang-si,2023-10-10 05:17:45.578000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.lesson_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29,False,633d1b30ed699e261ea338ad28952338,NaN
21029705,Anyang-si,2023-10-10 05:18:05.629000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.lesson_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29,False,b05e0fb8ab15def4b33878b9a759b4f2,NaN
21029706,Seoul,2023-10-10 05:50:48.275000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Edge,117.0.2045.47,Web,4252b7d6d08c1ba797ec2f5d0b244963,ca35d0138a7550f002f975310604a9b7,False,e6582220c81bb1a3e46da2a5e1671444,NaN

In [ ]:
display(enter_lesson_page.shape)
print(enter_lesson_page.info())
display(enter_lesson_page.isnull().sum())

(21029707, 16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21029707 entries, 0 to 21029706
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  is_trial           object
 14  lesson.id          object
 15  is_free_trial      object
dtypes: float64(1), object(15)
memory usage: 2.5+ GB
None

city                   540130
client_event_time           0
country                358428
device_carrier       21029707
device_family            6482
device_type            141817
event_type                  0
language                    0
os_name                   417
os_version               6367
platform                    0
user_id               1538529
content.id                352
is_trial              7374020
lesson.id                   0
is_free_trial        18805949
dtype: int64

In [ ]:
enter_lesson_page['client_event_time'] = pd.to_datetime(enter_lesson_page['client_event_time'])
enter_lesson_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21029707 entries, 0 to 21029706
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  is_trial           object
 14  lesson.id          object
 15  is_free_trial      object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 2.5+ GB

In [ ]:
# user_idê°€ ê²°ì¸¡ì¸ ê²½ìš° ë°ì´í„° í™•ì¸í•´ë´„ -> ìˆ˜ê°•ê¸°ë¡ í™•ì¸ ê°€ëŠ¥ ê·¸ëŸ°ë° ë‹¤ë¥¸ ë°ì´í„°ë“¤ê³¼ mergeê°€ ë¶ˆê°€ëŠ¥ í•  ë“¯?
# ì´ ê²½ìš°ëŠ” ë¬´ë£Œë¡œ ë ˆìŠ¨ì´ ìˆ˜ê°•ì´ ê°€ëŠ¥í•œ ë¶€ë¶„ì´ê¸° ë•Œë¬¸ì— ì™¸ë¶€ì—ì„œ ë¹„íšŒì›ì¸ ì‚¬ëŒë“¤ì´ ë“¤ì–´ì™€ì„œ ê°•ì˜ë¥¼ ë³´ê³  í–ˆë˜ ì‹ìœ¼ë¡œ ë³´ê¸°ë¡œ í•¨.

enter_lesson_page[enter_lesson_page['user_id'].isna()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
92,NaN,2023-04-05 21:04:19.774,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,73ef28f4d72d40e571b5a3a3df826ef7,NaN
93,NaN,2023-04-05 21:16:34.067,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,8a72eed73d3f9d3ab1771548070e7338,False,127a02f25f1872a98e46467e9a02a531,NaN
94,NaN,2023-04-05 21:28:46.441,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,878bb38f14991c6ab57f3d7f5e456d75,False,1a2aaeb4aad8991aed51e24e4b7c45de,NaN
95,NaN,2023-04-05 21:36:06.042,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,6c114626032aa4a43c62fd7fcdb19543,False,5ba9d48917c21d8ad320b7a7e94b1f45,NaN
96,NaN,2023-04-05 21:40:59.422,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,685c72776f4e9f3d1f61bcc81bc244f0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21029625,Seoul,2023-10-10 05:53:38.735,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029626,Seoul,2023-10-10 05:53:41.872,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029627,Seoul,2023-10-10 05:53:46.963,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,37c7431f1601772c9a40cca96179b560,NaN
21029702,Seoul,2023-10-10 05:18:14.053,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,582f0dd769db16a3d920fd7916090efb,NaN
21029703,Seoul,2023-10-10 05:18:58.648,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,83c74d5802b04a1a50aa28b7bf8a5354,NaN

In [ ]:
# ì‚¬ìš©í•  ë³€ìˆ˜ë§Œ ê°€ì ¸ì˜¤ê¸°
monthly_trial = enter_lesson_page.drop(columns = ['city', 'country','device_carrier','device_family', 'device_type',	'event_type', 'language','os_name',	'os_version','platform'])

# ë‚ ì§œë³„ 'is_free_trial'
monthly_is_free_trial = (
    monthly_trial.groupby([monthly_trial['client_event_time'].dt.to_period('M'), 'is_free_trial']).count())
monthly_is_free_trial

                                 client_event_time  user_id  content.id  \
client_event_time is_free_trial
2022-05           False                     411902   409337      411902
                  True                       28331    28328       28331
2022-06           False                     393320   390063      393320
                  True                       30400    30392       30400
2022-07           False                     422730   419740      422730
                  True                       10235    10090       10235
2022-08           False                     657692   654884      657692
                  True                          40       40          40
2022-09           False                     269099   268118      269099
                  True                           9        9           9

                                 is_trial  lesson.id
client_event_time is_free_trial
2022-05           False                 0     411902
                  True                  0      28331
2022-06           False                 0     393320
                  True                  0      30400
2022-07           False                 0     422730
                  True                  0      10235
2022-08           False                 0     657692
                  True                  0         40
2022-09           False                 0     269099
                  True                  0          9

In [ ]:
# ë‚ ì§œë³„ 'is_trial'
monthly_is_trial = (
    monthly_trial.groupby([monthly_trial['client_event_time'].dt.to_period('M'), 'is_trial']).count())
monthly_is_trial

                            client_event_time  user_id  content.id  lesson.id  \
client_event_time is_trial
2022-11           False                    15       11          15         15
                  True                      1        1           1          1
2022-12           False                    91       65          91         91
                  True                     18       17          18         18
2023-01           False               1360373  1352641     1360373    1360373
                  True                  41972    41094       41972      41972
2023-02           False               1068088  1044763     1068088    1068088
                  True                   9106     8318        9106       9106
2023-03           False               1065585  1058655     1065564    1065585
                  True                   4524     4257        4524       4524
2023-04           False               1137827  1133438     1137826    1137827
                  True                     12        2          12         12
2023-05           False               1098667  1092655     1098667    1098667
                  True                   2342     2223        2342       2342
2023-06           False               1008306   999664     1008306    1008306
                  True                   8419     8189        8419       8419
2023-07           False               1597001  1249567     1596888    1597001
                  True                  10778     9716       10778      10778
2023-08           False               1554544  1178851     1554487    1554544
                  True                  10117     8955       10117      10117
2023-09           False               1356322  1079106     1356258    1356322
                  True                   4838     4313        4838       4838
2023-10           False               1325205  1089814     1325194    1325205
                  True                   4959     4446        4959       4959
2023-11           False                872477   697162      872398     872477
                  True                   6929     6245        6929       6929
2023-12           False                105451    83600      105450     105451
                  True                   1720     1265        1720       1720

                            is_free_trial
client_event_time is_trial
2022-11           False                 0
                  True                  0
2022-12           False                 0
                  True                  0
2023-01           False                 0
                  True                  0
2023-02           False                 0
                  True                  0
2023-03           False                 0
                  True                  0
2023-04           False                 0
                  True                  0
2023-05           False                 0
                  True                  0
2023-06           False                 0
                  True                  0
2023-07           False                 0
                  True                  0
2023-08           False                 0
                  True                  0
2023-09           False                 0
                  True                  0
2023-10           False                 0
                  True                  0
2023-11           False                 0
                  True                  0
2023-12           False                 0
                  True                  0

- is_free_trial : ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ì— ëŒ€í•œ ì§„ì…ì´ ì•„ë‹Œ ê²ƒìœ¼ë¡œ ì ì°¨ ë¹„ì¤‘ì´ ë†’ì•„ì§€ëŠ” ì¤‘(False) -> is_trialë¡œ ì „í™˜í•˜ë©´ì„œ is_free_trial ì§„ì… ê°ì†Œ?
- is_trial : êµ¬ë…ì¸ì§€ ì•„ë‹Œì§€ ì—¬ë¶€ë„ ì¶”ê°€í•œ ë°ì´í„°ë¡œ -> ëŒ€ë¶€ë¶„ êµ¬ë…í•˜ì§€ ì•Šì€ ìƒíƒœë¡œ ë¬´ë£Œ ê³µê°œ ë ˆìŠ¨ ì‹œì‘

In [ ]:
enter_lesson_page[enter_lesson_page['user_id'] == '717fd2ff22addd9f8745923ab19ee231']

Empty DataFrame
Columns: [city, client_event_time, country, device_carrier, device_family, device_type, event_type, language, os_name, os_version, platform, user_id, content.id, is_trial, lesson.id, is_free_trial]
Index: []

### 14. ë ˆìŠ¨ ì™„ë£Œ(complete.lesson)

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id

In [ ]:
complete_lesson = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/complete.lesson.csv')
complete_lesson

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-05 21:55:51.836000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-05 21:19:01.243000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-05 21:20:27.939000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-05 21:23:01.534000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-05 21:28:34.965000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405064,Seo-gu,2023-10-10 05:22:54.887000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29,4b6cc370e587d711780ed4591634d443
5405065,Incheon,2023-10-10 05:39:15.760000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,2ed4b83e65edc2b1efb193aaa3c60cf9
5405066,Incheon,2023-10-10 05:46:18.129000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,db421b66bfd27eccd0e862e30b4de1be
5405067,Incheon,2023-10-10 05:50:32.927000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,09c8a2d29087cb3d47823acb5f2705e3
5405068,Incheon,2023-10-10 05:59:28.965000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,b734f43b5123f8bdbf7d8f865bd3eacf

In [ ]:
display(complete_lesson.info())
display(complete_lesson.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5405069 entries, 0 to 5405068
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  lesson.id          object
dtypes: float64(1), object(13)
memory usage: 577.3+ MB

None

city                  189679
client_event_time          0
country               148360
device_carrier       5405069
device_family          53035
device_type            80829
event_type                 0
language               53014
os_name                53291
os_version             54076
platform               53014
user_id                    0
content.id                 0
lesson.id                  0
dtype: int64

- ë¹„íšŒì›ì¸ ì‚¬ëŒë“¤ì˜ ê²½ìš° ë ˆìŠ¨ ì™„ë£Œì˜ ê¸°ë¡ì´ ë‚¨ì§€ ì•ŠëŠ” ê²ƒìœ¼ë¡œ ë³´ë©´ ë  ê²ƒ ê°™ìŒ

### 15. ë ˆìŠ¨ í˜ì´ì§€ ë‚´ ì§ˆë¬¸ ëª©ë¡ í´ë¦­(click_lesson_page_related_question_box)

- content.id : ì½˜í…ì¸  id
- lesson.id : ë ˆìŠ¨ id
- question.id : ì§ˆë¬¸ id

In [ ]:
click_lesson_page_related_question_box = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.lesson_page_related_question_box.csv')
click_lesson_page_related_question_box

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,question.id,content.id,lesson.id
0,Dong-gu,2023-04-05 21:51:48.377000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-05 21:52:21.689000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-05 21:52:42.481000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
3,Goyang-si,2023-04-05 21:20:15.032000,South Korea,NaN,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,9016e2246486e852992ccd9ae0eb27ca,c269eb6df3a374b464f7c18f12fa398f,395bdf0293b24ec47d5a9e960574f851
4,Goyang-si,2023-04-05 21:21:55.275000,South Korea,NaN,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,4ecd552eeded70b3274b8edf3ecacbd9,c269eb6df3a374b464f7c18f12fa398f,a738c7835388066e2618af1e5ebacb3c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379131,Seodaemun-gu,2023-10-10 05:25:08.357000,South Korea,NaN,Windows,Windows,click.lesson_page_related_question_box,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,e848503eff144ef08f52630654e60cb3,d6227ba76134f6cf821bb98b5f235bd0,0f31f42569e2ee9efa1d4b86e5232327
1379132,Seodaemun-gu,2023-10-10 05:26:00.402000,South Korea,NaN,Windows,Windows,click.lesson_page_related_question_box,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,cc241a1e49538294af0f457d647b620e,d6227ba76134f6cf821bb98b5f235bd0,0f31f42569e2ee9efa1d4b86e5232327
1379133,Seongnam-si,2023-10-10 05:55:03.270000,South Korea,NaN,Windows,Windows,click.lesson_page_related_question_box,English,Chrome,117.0.0.0,Web,NaN,f5e256dd4c1b0ede53751feb17fb413a,61b6463287573f00de13a930805a52d6,4d65e0729706704bf34953f2613d6ecd
1379134,Seo-gu,2023-10-10 05:11:03.355000,South Korea,NaN,Windows,Windows,click.lesson_page_related_question_box,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,ef084966fcd796b202c7021457b47a94,f4be1a0fe0e301b03115591777fddf29,4b6cc370e587d711780ed4591634d443
1379135,Seo-gu,2023-10-10 05:17:52.194000,South Korea,NaN,Windows,Windows,click.lesson_page_related_question_box,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,a52ee7b0a4cb63fd8df34c05bd9aa906,f4be1a0fe0e301b03115591777fddf29,4b6cc370e587d711780ed4591634d443

In [ ]:
click_lesson_page_related_question_box.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379136 entries, 0 to 1379135
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   city               1355675 non-null  object
 1   client_event_time  1379136 non-null  object
 2   country            1364245 non-null  object
 3   device_carrier     0 non-null        float64
 4   device_family      1379135 non-null  object
 5   device_type        1372802 non-null  object
 6   event_type         1379136 non-null  object
 7   language           1379136 non-null  object
 8   os_name            1379135 non-null  object
 9   os_version         1378923 non-null  object
 10  platform           1379136 non-null  object
 11  user_id            1326233 non-null  object
 12  question.id        824789 non-null   object
 13  content.id         824788 non-null   object
 14  lesson.id          824789 non-null   object
dtypes: float64(1), object(14)
memory usage: 157.8+ MB

In [ ]:
click_lesson_page_related_question_box.isnull().sum()

city                   23461
client_event_time          0
country                14891
device_carrier       1379136
device_family              1
device_type             6334
event_type                 0
language                   0
os_name                    1
os_version               213
platform                   0
user_id                52903
question.id           554347
content.id            554348
lesson.id             554347
dtype: int64

### 16. ì½˜í…ì¸  ìˆ˜ê°• ì™„ë£Œ(end.content)
    -> ì½˜í…ì¸  ë‚´ ëª¨ë“  ë ˆìŠ¨ì„ ì‹œì²­í•˜ë©´ í•´ë‹¹ í…Œì´ë¸”ì— ë¡œê·¸ê°€ ìŒ“ì„

- content.id : ì½˜í…ì¸  id

In [ ]:
end_content = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/end.content.csv')
end_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Yokohama,2023-04-10 14:02:10.600000,Japan,NaN,Windows,Windows,end.content,Japanese,Chrome,111.0.0.0,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 14:21:26.466000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 14:37:04.440000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 14:37:19.909000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 14:08:58.968000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120577,Namyangju,2023-10-10 05:21:55.287000,South Korea,NaN,Mac,Mac,end.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,710ffb5be9f89772b7baa9f62c9c8805
120578,Dalseong-gun,2023-10-10 05:52:23.524000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,a0a63b8416b759f2524918094a04d1bf,101e1d0dcc38d9c86156f008a145083e
120579,Daedeok-gu,2023-10-10 05:43:45.139000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,e209e09abc061bd69f3116ff23dcb56b,f4be1a0fe0e301b03115591777fddf29
120580,Saha-gu,2023-10-10 05:13:17.274000,South Korea,NaN,Windows,Windows,end.content,Korean,Edge,117.0.2045.47,Web,e962f191e86d935bc3cf7a566156a11a,61b6463287573f00de13a930805a52d6
120581,Seo-gu,2023-10-10 05:22:54.927000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29

In [ ]:
display(end_content.info())
display(end_content.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120582 entries, 0 to 120581
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               116280 non-null  object
 1   client_event_time  120582 non-null  object
 2   country            117182 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      119391 non-null  object
 5   device_type        118866 non-null  object
 6   event_type         120582 non-null  object
 7   language           119392 non-null  object
 8   os_name            119387 non-null  object
 9   os_version         119362 non-null  object
 10  platform           119392 non-null  object
 11  user_id            120582 non-null  object
 12  content.id         120582 non-null  object
dtypes: float64(1), object(12)
memory usage: 12.0+ MB

None

city                   4302
client_event_time         0
country                3400
device_carrier       120582
device_family          1191
device_type            1716
event_type                0
language               1190
os_name                1195
os_version             1220
platform               1190
user_id                   0
content.id                0
dtype: int64

In [ ]:
end_content[end_content['user_id'].isna()]

Empty DataFrame
Columns: [city, client_event_time, country, device_carrier, device_family, device_type, event_type, language, os_name, os_version, platform, user_id, content.id]
Index: []

### 17. êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ í´ë¦­(click.cancel_plan_button)
    -> êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ì„ í´ë¦­í–ˆë‹¤ë©´ êµ¬ë… ì·¨ì†Œê°€ ì´ë£¨ì–´ì§„ ê²ƒìœ¼ë¡œ ê°„ì£¼

In [ ]:
click_cancel_plan_button = pd.read_csv('C:/Users/rmagm/OneDrive/ë°”íƒ• í™”ë©´/vscode/êµ¬ë…ì„œë¹„ìŠ¤í”„ë¡œë•íŠ¸ë°ì´í„°/click.cancel_plan_button.csv')
click_cancel_plan_button

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Daegu,2023-04-10 14:57:48.556,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 08:26:16.224,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,16.3,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 08:23:04.955,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-12 08:32:39.271,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-12 11:36:28.311,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180
...,...,...,...,...,...,...,...,...,...,...,...,...
17890,Bucheon-si,2023-12-29 13:24:05.824,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,120.0.0.0,Web,47808512b9855c0b004f104d0392a2f4
17891,Gwangmyeong,2023-12-29 13:24:02.553,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,16.1,Web,NaN
17892,Seocho-gu,2023-09-28 23:53:44.629,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Whale,3.0.4.3960,Web,5b6769071cb4ce3b4592bf12607baf44
17893,Seoul,2023-10-15 22:33:39.885,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,WebKit,605.1.15,Web,5023eb38ded0a4cf510226dd3ad2718c
17894,Seoul,2023-10-10 05:58:25.643,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,Korean,Mobile Safari,16.3,Web,59a99d27ccd00f2fc02678e3b5d95161

In [ ]:
display(click_cancel_plan_button.info())
display(click_cancel_plan_button.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               17742 non-null  object
 1   client_event_time  17895 non-null  object
 2   country            17893 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      17895 non-null  object
 5   device_type        17567 non-null  object
 6   event_type         17895 non-null  object
 7   language           17895 non-null  object
 8   os_name            17895 non-null  object
 9   os_version         17892 non-null  object
 10  platform           17895 non-null  object
 11  user_id            16853 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.6+ MB

None

city                   153
client_event_time        0
country                  2
device_carrier       17895
device_family            0
device_type            328
event_type               0
language                 0
os_name                  0
os_version               3
platform                 0
user_id               1042
dtype: int64

In [ ]:
click_cancel_plan_button['user_id'].value_counts()

user_id
9b48974f776b88ab303a43cc4db09d66    5
13dfdc8bbcd8d8dd853c2cc37c9b7226    5
8cdd971549087a4561f42858dd5ab7a5    5
e14242a188611a9c49b1831cb0f6bb74    5
2dc22bfe6872ebe3d752c86d4951c349    5
                                   ..
f18bc1bb99cc8ff3a0be9d0cceb4dab2    1
52ea4934dac0fc5b501a7a7962cb9f84    1
31541de78fc9d2a67e64ed4a2eaea36c    1
b2e2706154511eaf63689f34a81d9602    1
58888eaa1094003a208747305d463ada    1
Name: count, Length: 14643, dtype: int64

- êµ¬ë… ì·¨ì†Œë¥¼ ì—¬ëŸ¬ ë²ˆí•œ íšŒì› ì¡´ì¬ -> ê·¸ëŸ¼ êµ¬ë…í•˜ê³  ìˆëŠ” ì»¨í…ì¸  ë‚¨ì•„ìˆëŠ” ê±¸ê¹Œ? / ì»¨í…ì¸  ìˆ˜ê°•ì„ ì™„ë£Œí•´ì„œ ì»¨í…ì¸  êµ¬ë…ì„ ì·¨ì†Œí•˜ëŠ” ê±¸ê¹Œ?
- user_idê°€ ì—†ì–´ë„ êµ¬ë… ì·¨ì†Œê°€ ê°€ëŠ¥í•œ ê±´ê°€??