# üìä Íµ¨ÎèÖ ÏÑúÎπÑÏä§ ÌîÑÎ°úÎçïÌä∏ Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö

## **1Ô∏è‚É£ Ïú†Ï†Ä ÌñâÎèô Îç∞Ïù¥ÌÑ∞**
| Ïª¨ÎüºÎ™Ö | Ïª¨Îüº ÏÑ§Î™Ö | Ï∂îÍ∞Ä Ï†ïÎ≥¥ |
|--------|------------|--------------|
| `enter.main_page` | ÏÑúÎπÑÏä§ Î©îÏù∏ÌéòÏù¥ÏßÄ ÏßÑÏûÖ |  |
| `enter.signup_page` | ÌöåÏõêÍ∞ÄÏûÖ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ |  |
| `complete.signup` | ÌöåÏõêÍ∞ÄÏûÖ ÏôÑÎ£å | Î°úÍ∑∏Ïù∏ Î∞©Ïãù |

---

## **2Ô∏è‚É£ ÏΩòÌÖêÏ∏† Ïù¥Ïö© Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞**
| Ïª¨ÎüºÎ™Ö | Ïª¨Îüº ÏÑ§Î™Ö | Ï∂îÍ∞Ä Ï†ïÎ≥¥ |
|--------|------------|--------------|
| `enter.content_page` | ÏΩòÌÖêÏ∏† Í∞úÎ≥Ñ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ | ÏΩòÌÖêÏ∏† ID |
| `click.content_page_start_content_button` | ÏΩòÌÖêÏ∏† ÏãúÏ≤≠ÌïòÍ∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠ | ÏΩòÌÖêÏ∏† ID, Î≤ÑÌäº Ïù¥Î¶Ñ |
| `click.content_page_more_review_button` | ÏΩòÌÖêÏ∏† ÌõÑÍ∏∞ ÎçîÎ≥¥Í∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠ | ÏΩòÌÖêÏ∏† ID |
| `enter.episode_page` | ÏóêÌîºÏÜåÎìú ÏãúÏ≤≠ ÏãúÏûë | ÏΩòÌÖêÏ∏† ID, ÏóêÌîºÏÜåÎìú ID, Î¨¥Î£åÏ≤¥Ìóò Ïó¨Î∂Ä |
| `start.content` | ÏΩòÌÖêÏ∏† ÏãúÏ≤≠ ÏãúÏûë | ÏΩòÌÖêÏ∏† ID, ÏΩòÌÖêÏ∏† Ïù¥Ïö©Í∞Ä _(22ÎÖÑ 8ÏõîÎ∂ÄÌÑ∞ ÏàòÏßëÎê®)_ |
| `complete.episode` | ÏóêÌîºÏÜåÎìú ÏãúÏ≤≠ ÏôÑÎ£å | ÏΩòÌÖêÏ∏† ID, ÏóêÌîºÏÜåÎìú ID |
| `end.content` | ÏΩòÌÖêÏ∏† ÏãúÏ≤≠ ÏôÑÎ£å | ÏΩòÌÖêÏ∏† ID _(Î™®Îì† ÏóêÌîºÏÜåÎìú ÏãúÏ≤≠ Ïãú Í∏∞Î°ùÎê®)_ |

---

## **3Ô∏è‚É£ Í≤∞Ï†ú Î∞è Íµ¨ÎèÖ Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞**
| Ïª¨ÎüºÎ™Ö | Ïª¨Îüº ÏÑ§Î™Ö | Ï∂îÍ∞Ä Ï†ïÎ≥¥ |
|--------|------------|--------------|
| `enter.payment_page` | Í≤∞Ï†ú ÌéòÏù¥ÏßÄ ÏßÑÏûÖ |  |
| `complete.subscription` | Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å | ÏöîÍ∏àÏ†ú Ï¢ÖÎ•ò, Ïø†Ìè∞ Ï¢ÖÎ•ò, Ïø†Ìè∞ ÌòúÌÉù Ï¢ÖÎ•ò, Ï†ïÏÉÅÍ∞Ä, Ìï†Ïù∏Í∞Ä, Ìï†Ïù∏Ïï°, Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ _(Ï≤´ Í≤∞Ï†úÍ∞Ä Ï§ëÎ≥µÏù¥Î©¥ ÌôòÎ∂à ÌõÑ Ïû¨Í≤∞Ï†úÌïú ÏºÄÏù¥Ïä§)_ |
| `renew.subscription` | Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å | ÏöîÍ∏àÏ†ú Ï¢ÖÎ•ò, Ïø†Ìè∞ Ï¢ÖÎ•ò, Ïø†Ìè∞ ÌòúÌÉù Ï¢ÖÎ•ò, Ï†ïÏÉÅÍ∞Ä, Ìï†Ïù∏Í∞Ä, Ìï†Ïù∏Ïï°, Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ |
| `resubscribe.subscription` | ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖ ÏôÑÎ£å | ÏöîÍ∏àÏ†ú Ï¢ÖÎ•ò, Ïø†Ìè∞ Ï¢ÖÎ•ò, Ïø†Ìè∞ ÌòúÌÉù Ï¢ÖÎ•ò, Ï†ïÏÉÅÍ∞Ä, Ìï†Ïù∏Í∞Ä, Ìï†Ïù∏Ïï°, Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ |
| `start.free_trial` | ÏÑúÎπÑÏä§ Î¨¥Î£åÏ≤¥Ìóò ÏãúÏûë | ÏΩòÌÖêÏ∏† ID, ÏöîÍ∏àÏ†ú Ï¢ÖÎ•ò, Ï†ïÏÉÅÍ∞Ä |
| `click.cancel_plan_button` | Íµ¨ÎèÖ Ï∑®ÏÜå Î≤ÑÌäº ÌÅ¥Î¶≠ | _(ÌÅ¥Î¶≠ Ïãú Íµ¨ÎèÖ Ï∑®ÏÜåÎ°ú Í∞ÑÏ£ºÎê®)_ |

---

## **4Ô∏è‚É£ ÏÇ¨Ïö©Ïûê Ïù∏ÌÑ∞ÎûôÏÖò Îç∞Ïù¥ÌÑ∞**
| Ïª¨ÎüºÎ™Ö | Ïª¨Îüº ÏÑ§Î™Ö | Ï∂îÍ∞Ä Ï†ïÎ≥¥ |
|--------|------------|--------------|
| `click.episode_page_related_comment_box` | ÏóêÌîºÏÜåÎìú ÌéòÏù¥ÏßÄ ÎÇ¥ ÎåìÍ∏ÄÎ≥¥Í∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠ | ÏΩòÌÖêÏ∏† ID, ÏóêÌîºÏÜåÎìú ID, ÎåìÍ∏Ä ID |

In [230]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import timedelta

In [231]:
# Ïùå??? Î©îÎ™®Î¶¨ ÏóêÎü¨ ÎÇòÎÑ§????
# folder_path = 'C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏'
# files = os.listdir(folder_path)

# # ÌååÏùºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
# # rsplit()ÏùÄ Î¨∏ÏûêÏó¥ÏùÑ Ïò§Î•∏Ï™Ω(r)ÏóêÏÑúÎ∂ÄÌÑ∞ ÎÇòÎàî.
# # '.' Í∏∞Ï§ÄÏúºÎ°ú ÏµúÎåÄ 1Î≤à Î∂ÑÌï†Ìï†
# for i in files:
#         file_name = i.rsplit('.', 1)[0].replace('.', '_')  # ÌôïÏû•Ïûê Ï†úÍ±∞ + '.' ‚Üí '_'
#         file_path = f'{folder_path}/{i}'  # ÌååÏùº Í≤ΩÎ°úddd

        
#         globals()[file_name] = pd.read_csv(file_path)

# # Î≥ÄÏàò Î¶¨Ïä§Ìä∏ ÌôïÏù∏
# print('ÏÉùÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î≥ÄÏàò')
# for name in files:
#         df_name = name.rsplit('.',1)[0].replace('.','_')
#         print(df_name)

- Ïõπ ÌÅ¨Î°§Îü¨Î°ú Î≥¥Ïù¥Îäî chrome headless(os_name)Îäî Ï†úÍ±∞ Ìï† ÌïÑÏöî ÏûàÏùå : Í∞úÎ∞úÏûê ÎèÑÍµ¨
- Î≥ÄÏàòÎ™ÖÏóê ÏûàÎäî . -> _(Ïñ∏ÎçîÎ∞î)Î°ú Î≥ÄÍ≤Ω
- Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö©Ìï† Í∏∞Ìïú 2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî

### 1. ÏÑúÎπÑÏä§ Î©îÏù∏ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ(enter.main_page)

In [232]:
enter_main_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.main_page.csv')
enter_main_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,1.0.0.0,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN

In [233]:
# Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω ÌôïÏù∏
enter_main_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133548 entries, 0 to 2133547
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
dtypes: float64(1), object(11)
memory usage: 195.3+ MB

In [234]:
# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
enter_main_page.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enterenter_main_page =enter_main_page.loc[enter_main_page['os_name'] != 'Chrome Headless']

# reset_index
enterenter_main_page =enter_main_page.reset_index(drop=True)

# Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
enter_main_page['client_event_time'] = pd.to_datetime(enter_main_page['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
enter_main_page["client_event_time"] = enter_main_page["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
enter_main_page = enter_main_page[(enter_main_page['client_event_time'] >= '2022-01-01') 
                                  & (enter_main_page['client_event_time'] <= '2023-12-31')]

In [235]:
print(enter_main_page['client_event_time'].min())
print(enter_main_page['client_event_time'].max())

2022-01-01 09:02:20.959000
2023-12-15 11:46:11.182000

In [236]:
# Î©îÏù∏ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ Ìï† Îïå Í≤∞Ï∏°Ïù¥ ÏïÑÎãå user_idÎäî ÏûêÎèô Î°úÍ∑∏Ïù∏ ÏÉÅÌÉú Ïùº Ïàò ÏûàÎã§.
enter_main_page.isnull().sum()

city                   56987
client_event_time          0
country                 1869
device_family           2813
device_type            60050
event_type                 0
language                   0
os_name                 2304
os_version             13868
platform                   0
user_id              1610997
dtype: int64

In [237]:
enter_main_page['city'].value_counts()

city
Seoul              532417
Gangnam-gu          62073
Suwon               54818
Seongnam-si         53783
Yongin-si           40355
                    ...
Mandi Bahauddin         1
Ismailia                1
Alexander City          1
Pijon-dong              1
Haldwani                1
Name: count, Length: 3429, dtype: int64

In [238]:
enter_main_page['country'].value_counts()

country
South Korea      2079265
United States      18915
Japan               5329
Canada              4142
Germany             3009
                  ...
Kosovo                 1
Somalia                1
Belize                 1
Mauritania             1
Guyana                 1
Name: count, Length: 172, dtype: int64

In [239]:
# ÏõîÎ≥Ñ ÏÇ¨Ïö©Ïú†Ï†Ä
enter_main_page.groupby(enter_main_page['client_event_time'].dt.to_period('M')).count()

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
client_event_time,,,,,,,,,,,
2022-01,75492,77191,77166,76794,76775,77191,77191,76803,76801,77191,49587
2022-02,109786,112409,112319,112347,112325,112409,112409,112362,112339,112409,52250
2022-03,107938,111261,111130,111064,111062,111261,111261,111069,111048,111261,50858
2022-04,84605,86276,86240,86164,86162,86276,86276,86191,86188,86276,39664
2022-05,84453,86600,86549,86516,86513,86600,86600,86522,86510,86600,39307
2022-06,92566,94169,94134,94093,94091,94169,94169,94096,94090,94169,42615
2022-07,80908,82166,82111,82054,82051,82166,82166,82061,82044,82166,41906
2022-08,58431,59615,59577,59522,59517,59615,59615,59530,59522,59615,23111
2022-09,45901,46703,46663,46636,46636,46703,46703,46639,46639,46703,17845
2022-10,42167,43564,43500,43511,43509,43564,43564,43471,43464,43564,15540
2022-11,104370,107789,107683,107659,107093,107789,107789,107686,106323,107789,19999
2022-12,148164,154000,153843,153860,152040,154000,154000,153894,151859,154000,28611
2023-01,182213,188240,188059,188131,185749,188240,188240,188180,183844,188240,36605
2023-02,93966,96943,96632,96828,95117,96943,96943,96897,96508,96943,20594
2023-03,109062,112445,112333,112323,109522,112445,112445,112386,111612,112445,10871
2023-04,69019,71171,71114,71054,68759,71171,71171,71099,70686,71171,3870
2023-05,57735,59256,59174,59141,55260,59256,59256,59167,58808,59256,2622
2023-06,65698,67525,67464,67403,61343,67525,67525,67407,67210,67525,2384
2023-07,78427,80554,80480,80428,74438,80554,80554,80441,80073,80554,2888
2023-08,84690,86820,86796,86660,80234,86820,86820,86676,86249,86820,3566
2023-09,79299,81225,81189,81169,74582,81225,81225,81170,80816,81225,4102
2023-10,82639,85137,85105,84932,77829,85137,85137,85036,84734,85137,5143
2023-11,102753,105333,105275,105311,98299,105333,105333,105315,105193,105333,6373
2023-12,36231,37108,37095,37087,34544,37108,37108,37098,37072,37108,2192

In [240]:
# ÏõîÎ≥Ñ Ïú†ÏûÖ Ïú†Ï†ÄÏùò Ï¥ù ÏàòÏôÄ user_idÍ∞Ä ÏûàÎäî Ïú†Ï†Ä, user_idÍ∞Ä ÏóÜÎäî Ïú†Ï†Ä Ï§ë user_idÍ∞Ä ÏóÜÎäî Ïú†Ï†ÄÏùò ÎπÑÏú®

monthly_user = pd.DataFrame()
                            
monthly_user['month'] = enter_main_page['client_event_time'].dt.to_period('M') # ÏõîÎ≥ÑÎ°ú Î≥ÄÌôò

# Ïú†Ï†Ä ÏïÑÏù¥ÎîîÍ∞Ä ÏûàÏùë Ïú†Ï†Ä ÏàòÏôÄ Ïú†Ï†Ä ÏïÑÏù¥ÎîîÍ∞Ä ÏóÜÎäî Ïàò ÏõîÎ≥ÑÎ°ú Í∑∏Î£πÌôîÌôî
monthly_user['user_id_status'] = enter_main_page['user_id'].notna().map({True : 'user_id_cnt', False : 'non_user_id_cnt'})
group = (monthly_user.groupby(['month','user_id_status']).size().unstack(fill_value = 0).reset_index())

#total_user Ï¥ù Ïú†Ï†Ä Ïàò Í≥ÑÏÇ∞
group['total_users'] = group['user_id_cnt'] + group['non_user_id_cnt']

# user_id ÏóÜÎäî Ïú†Ï†Ä ÏàòÏàò ÎπÑÏú® Í≥ÑÏÇ∞
group['missing_user_id_ratio'] = ((group['non_user_id_cnt'] / group['total_users']) * 100).round(2)

# 2022ÎÖÑ 1ÏõîÎ∂ÄÌÑ∞ 2023ÎÖÑ 12Ïõî Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂úÏ∂ú
group = group[(group['month'] >= '2022-01') & (group['month'] <= '2023-12')]

group.columns.name = None # index Ïù¥Î¶Ñ Ï†úÍ±∞

group

      month  non_user_id_cnt  user_id_cnt  total_users  missing_user_id_ratio
0   2022-01            27604        49587        77191                  35.76
1   2022-02            60159        52250       112409                  53.52
2   2022-03            60403        50858       111261                  54.29
3   2022-04            46612        39664        86276                  54.03
4   2022-05            47293        39307        86600                  54.61
5   2022-06            51554        42615        94169                  54.75
6   2022-07            40260        41906        82166                  49.00
7   2022-08            36504        23111        59615                  61.23
8   2022-09            28858        17845        46703                  61.79
9   2022-10            28024        15540        43564                  64.33
10  2022-11            87790        19999       107789                  81.45
11  2022-12           125389        28611       154000                  81.42
12  2023-01           151635        36605       188240                  80.55
13  2023-02            76349        20594        96943                  78.76
14  2023-03           101574        10871       112445                  90.33
15  2023-04            67301         3870        71171                  94.56
16  2023-05            56634         2622        59256                  95.58
17  2023-06            65141         2384        67525                  96.47
18  2023-07            77666         2888        80554                  96.41
19  2023-08            83254         3566        86820                  95.89
20  2023-09            77123         4102        81225                  94.95
21  2023-10            79994         5143        85137                  93.96
22  2023-11            98960         6373       105333                  93.95
23  2023-12            34916         2192        37108                  94.09

- Ïù¥ÏÉÅÌïú ÎÇ†Ïßú Ï°¥Ïû¨(Ï†ÑÏ≤òÎ¶¨ ÌïÑÏöî!)
- ÏãúÍ∞ÑÏù¥ ÏßÄÎÇ†ÏàòÎ°ù user_id ÏóÜÏù¥ Ïª®ÌÖêÏ∏† Ïù¥Ïö©ÏûêÍ∞Ä Ï¶ùÍ∞ÄÌïòÍ≥† ÏûàÏùå -> Í∑∏Î†áÎã§Î©¥ Íµ¨ÎèÖ ÏïàÌïòÍ≥† Ïù¥ÌÉà ÌôïÎ•† ÎÜíÏïÑÏßê
- user_idÍ∞Ä ÏóÜÏù¥ Î©îÏù∏ ÌéòÏù¥ÏßÄÏóê ÏßÑÏûÖÌïòÏó¨ Ìï† Ïàò ÏûàÎäîÍ±¥ Î≠êÍ∞Ä ÏûàÏùÑÍπå?
    -> 5Î≤à ÏΩòÌÖêÏ∏† ÏàòÍ∞ïÌïòÍ∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠ÏóêÏÑú Î≤ÑÌäº Ïù¥Î¶ÑÍ≥º Ïó∞Í¥ÄÏßÄÏñ¥ Î≥º Ïàò ÏûàÏùÑÍπå?

### 2. ÌöåÏõêÍ∞ÄÏûÖ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ(enter.signup_page)
- user_id Î™®Îëê Í≤∞Ï∏°Ïπò -> ÌöåÏõêÍ∞ÄÏûÖ ÌéòÏù¥ÏßÄ ÏßÑÏûÖÏù¥Í∏∞ ÎïåÎ¨∏Ïóê ÏóÜÏùÑ Ïàò Î∞ñÏóê!

In [241]:
enter_signup_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.signup_page.csv')
enter_signup_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:30:42.557000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,112.0.0.0,Web,NaN
1,Seoul,2023-04-05 21:37:41.467000,South Korea,NaN,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
2,Seoul,2023-04-05 21:05:53.237000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,16.4,Web,NaN

In [242]:
# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
enter_signup_page.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enterenter_signup_page =enter_signup_page.loc[enter_signup_page['os_name'] != 'Chrome Headless']

# reset_index
enterenter_signup_page =enter_signup_page.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
enter_signup_page['client_event_time'] = pd.to_datetime(enter_signup_page['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
enter_signup_page["client_event_time"] = enter_signup_page["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
enter_signup_page = enter_signup_page[(enter_signup_page['client_event_time'] >= '2022-01-01') 
                                  & (enter_signup_page['client_event_time'] <= '2023-12-31')]

In [243]:
print(enter_signup_page['client_event_time'].min())
print(enter_signup_page['client_event_time'].max())

2022-01-01 00:26:57.049000
2023-12-30 23:59:23.159000

In [244]:
# Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
enter_signup_page.info()

<class 'pandas.core.frame.DataFrame'>
Index: 594374 entries, 0 to 596828
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               578621 non-null  object
 1   client_event_time  594374 non-null  datetime64[ns]
 2   country            593860 non-null  object
 3   device_family      594292 non-null  object
 4   device_type        565128 non-null  object
 5   event_type         594374 non-null  object
 6   language           594374 non-null  object
 7   os_name            594299 non-null  object
 8   os_version         592195 non-null  object
 9   platform           594374 non-null  object
 10  user_id            0 non-null       float64
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 54.4+ MB

In [245]:
# Í≤∞Ï∏°Í∞í ÌôïÏù∏ ÌöåÏõêÍ∞ÄÏûÖ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ -> user_idÍ∞Ä ÏóÜÎäî Ïú†Ï†ÄÎì§
enter_signup_page.isnull().sum()

city                  15753
client_event_time         0
country                 514
device_family            82
device_type           29246
event_type                0
language                  0
os_name                  75
os_version             2179
platform                  0
user_id              594374
dtype: int64

In [246]:
enter_signup_page['device_family'].unique()

array(['Samsung Phone', 'Samsung SM-S916N', 'Apple iPhone', 'Mac',
       'Windows', 'Samsung Galaxy Phone', 'Samsung Tablet',
       'Motorola Phone', 'Redmi Phone', 'Apple iPad',
       'Samsung Galaxy Note', 'K', 'Samsung SM-S911N', 'LG LM-X220N',
       'Linux', 'Chromium OS', 'Samsung Galaxy Tab', 'LG LM-G910N',
       'Samsung SM-S918N', 'LG V607L', 'Ubuntu',
       'Xiaomi Redmi Note 10 Lite', 'MobiGo2', 'LGE Phone',
       'Apple iPad14,3', 'LG LM-Q630N', 'Google Phone', 'LG LM-G820N',
       'LGM-V300L', 'LG LM-V500N', 'Google Nexus Phone', 'LG V525',
       'LG LM-V409N', 'LG LM-V510N', 'LG lge', 'M2006C3MG', 'LGM-V300S',
       'A001XM', 'Huawei Phone', '2206122SC', 'LG LM-Q920N',
       'LG LM-Q510N', 'LG LM-G710N', 'LG V522', 'M2012K11AC',
       'LG LM-F100N', 'LG LM-V350N', 'LG LM-Q815K', 'LG F350S',
       '2201116SG', 'Samsung SM-A346N', 'Dicle_Tab_Lite_M',
       'Lenovo YT-X705F', 'M2101K7AG', 'LG LM-X625N', 'BTV-DL09',
       'LG LM-Q927L', 'Xiaomi Phone', 'M2002J9S', 'LG LM-Q815L',
       'LGM-V300K', 'LG F520S', 'M2003J15SC', 'Android',
       'Samsung SM-P585N', 'Samsung SM-T815N', 'LGM-X800L', 'MLT181101',
       'LG LM-Q925L', 'LGM-X600L', 'Samsung SM-S911B', 'Model 3',
       'Samsung SM-A546S', 'M2006C3LG', 'Revolution A8',
       'Samsung SM-T585N', '21061119AG', 'Lenovo TB-J606F',
       'Samsung SM-T825N', 'uie4027lgu', 'Sony Xperia Phone',
       'Xiaomi Tablet', 'LG V498S1', 'LG LM-X510K', '2201117TY',
       'Acer A2020', 'LG F600S', 'LG LM-Q520N', 'Infinix X665',
       'M2102J20SG', 'LG LM-X415K', 'LG LM-Q925S', 'LG P530L',
       'LG LM-Q310N', 'Samsung SM-T337A', 'Huawei SCM-AL09',
       'Blackberry Phone', 'Lenovo TB-J706F', 'Samsung SM-T715N',
       'Lenovo TB-J607Z', 'Samsung SM-P905F', 'Samsung SM-S918W', 'SCG11',
       'LG LM-T605', 'Samsung SM-S918B', '2201116TG', 'U10PRO', 'AT-M120',
       'Amazon Fire Tablet', 'M2007J20CG', 'Oppo Phone', 'NEON_RAY_PRO',
       'Nokia C31', 'Infinix X663', '2201117TG', 'Xiaomi Redmi 9',
       'M2012K11AG', 'ZTE Tablet', 'LG V755', 'LG F800S', 'LG LM-X420',
       'M2006C3MII', 'LGM-G600K', 'LGM-X600S', 'J9210', 'FS8032',
       'LG F800L', 'LG LM-Q725L', 'OPPO CPH2409', 'wv', 'Sony G8141',
       'K88', 'A063', 'DICLE_IPLAY40_PRO', 'HL105', '6125F', 'ZTE Phone',
       'RMX3195', 'Vivo 1906', 'POCO Phone', 'Huawei Tablet', 'TB128FU',
       'LG LM-X410S', 'M2004J19C', 'LGM-G600L', 'LG F700L', nan,
       'SHV-E250S', 'Infinix X657', 'TECNO KC8', 'SCG20', 'T40PRO_L1',
       'LG LM-X510S', 'OPPO CPH2099', 'LG F820L', 'LG X760W',
       'LG LM-Q725K', 'LG LM-Q730N', '21051182G', 'LG LM-Q925K',
       'itel S12', 'Lenovo TB128FU', 'M40', 'RMX3231', 'M40_EEA',
       'Realme Phone', 'M2105K81AC', 'Jelly2', 'Samsung Tizen',
       'Samsung SM-T807R', 'Xiaomi Redmi Note 10 Pro', 'Tab_Ultra',
       'LGM-K121K', 'muPAD L10', 'Sony G8341', 'Lenovo YT-X703F',
       'Xiaomi POCO F1', 'Active', 'SKW-H0', 'M2101K6R', 'Mi 10 Pro',
       '220333QAG', 'HD1910', 'M2007J3SG', 'LG LM-Q815S', 'LGM-X320K',
       'Huawei M2-802L', 'Samsung SM-S916B', 'Infinix X688B',
       'Samsung SM-S916U1', '22081283G', 'LG F750K', 'P80X_EEA', 'DN2103',
       'AVS1101WMT', 'IM-100S', '22041216G', 'TL99G', 'LGM-X320L',
       'M2103K19G', 'Dicle_Dtab_Kpad', 'Infinix X6511B', 'P20HD_KR',
       'LG Phone', 'LGM-K121S', 'LG LM-T600L', 'M2010J19CG', '9032T',
       'LOGIC L63', 'Mstick2', 'Z4PRO', 'LG F800K', 'iPlay_30', 'SCV42',
       'XQ-BQ72', 'DTABPLUS', 'SH-RM15', 'Lenovo TB-X606F', 'TECNO BF7',
       'LGM-G600S', 'M2002J9G', 'LG Linux', 'Lenovo TB-X704F', 'A002OP',
       'Xiaomi Redmi Note 11 Pro 5G', 'M2006C3MNG', 'LG LM-V700N',
       'WM-LG8200', 'HiPad X', 'M2006C3LVG', 'S98', 'UHD4K', 'iPlay_20',
       '8788_7', 'Mi Note 10', 'LG V940', 'TECNO CI6', '8094M', 'H8416',
       'LG F600L', 'ASUS AI2202', 'OPPO CPH2349', 'SC-51C', 'LG F650S',
       'LGM-X600K', 'EG104', '22021211RG', '2107113SG', 'PBEM00',
       'LG LM-Q725S', 'P7', 'Sony Android', 'TV BOX', 'Samsung SM-S916W',
       'Sony Phone', 'BlackBerry', 'Lenovo Tablet', 'SHV-E330K', 'H8314',
       'Samsung SM-T677N', 'P20HD_EEA', 'Lenovo L70081', '10A30Q',
       'LG F500K', 'Tizen', 'M40Pro_ROW', 'LG LM-X510L', 'T40_Plus_KR',
       '2201117TL', 'Xiaomi MID', '21091116AC', 'LG LM-X415L',
       'M2006C3MT', 'Lenovo TB-J716F', 'TECNO KG5k', 'OPPO CPH2095',
       '2109119DI', 'J9L', '2201117TI', 'Infinix X6516', 'OPPO CPH2577',
       'V2059', 'V2202', 'RMX3241', '23028RN4DI', 'RMX3511', 'itel L6005',
       'LS1542QWN', 'Infinix PR652B', 'V2252', 'OPPO CPH2363',
       'OPPO CPH2015', 'M2007J20CI', 'OPPO CPH2359', 'OPPO CPH2461',
       'Xiaomi Redmi 10C', 'Lenovo TB-J607F', 'RMX3760',
       'Samsung SM-A245N', 'OPPO CPH2495', 'Lenovo TB-X306X', 'Vivo 1909',
       'RMX3630', 'RMX3761', 'M2010J19SG', 'Vivo V2183A', 'V2152',
       'Samsung SM-S711N', 'Infinix X677', 'OPPO CPH2269',
       'Samsung SM-X216N', 'Infinix X650B', 'Huawei MGA-LX9', 'V2125',
       'M2006C3LII', 'RMX3516', 'V2052', 'Infinix X695C', 'RMX3581',
       'Infinix X682B', 'V2311', 'RMX3491', 'TECNO KG6k', 'RMX3521',
       'Huawei REP-AN00', 'Vivo Phone', 'TECNO BD3', '220733SG',
       'OPPO CPH2505', '220733SPI', 'Huawei FNE-AN00', 'LG Nexus 4',
       '220743FI', 'Huawei MNA-AL00', 'TECNO KF7j', 'V2026', 'RMX3700',
       'OPPO CPH2473', 'LAVA LMG01', 'Huawei TFY-AN40',
       'Huawei FRL-AN00a', 'Infinix X653', 'RMX3063', 'Vivo V2282A',
       'TECNO KG5h', 'Huawei CMA-AN40', 'Huawei ANY-AN00',
       'Generic Android 11', 'TECNO KG5j', 'Vivo V2284A', 'OPPO CPH2481',
       '23078RKD5C', 'OPPO CPH2565', 'OPPO CPH2113', 'NovaAirC', 'V2025',
       'LG F700S', 'Tecno Tablet', 'V2228', 'RMX3265', 'V2126',
       'M2006C3LI', 'V2033', 'V2130', 'V2153', '2201116PI', 'RMX3263',
       'TECNO KE6', 'Vivo 1901', 'TECNO AD8', '220333QBI', 'M2012K11I',
       'V2055', 'M2006C3MI', 'Xiaomi Redmi 9A', 'Atom3', '22071219CG',
       'OPPO CPH2375', 'Huawei BAH3-L09', 'Vivo 1811', 'RMX3201',
       'M2103K19C', 'itel A571L', '220233L2G', 'V2254', 'M2101K7AI',
       'V2207', 'V2204', 'Generic Android 13', 'V2247', 'TECNO LD7j',
       'itel P662L', 'Xiaomi Redmi Note 7S', 'Realme RMX1825', 'V2029',
       'M2012K11AI', 'Lenovo TB-9707F', 'LG LM-T600', 'V2312', 'V2102',
       'itel L5006C', 'Xiaomi Redmi 9T', 'V2111', 'Infinix X680D',
       'TECNO KH6', 'Vivo 1938', 'Xiaomi Redmi Note 10 5G', 'TECNO KI5k',
       'itel A632W', 'V2027', 'Vivo 1904', 'Vivo 1803', '21081111RG',
       'IN_2b', 'itel A571W', 'itel W6004P', 'TECNO P703', 'itel L6006',
       'Zeki TB128FU', 'RMX3269', '21061119AL', 'Huawei DRA-LX9',
       'TECNO CG6', '220733SFG', 'V2246', 'RMX3261', 'V2146',
       '23021RAAEG', 'G90 PRO', 'V2022', 'M2101K7BI', 'Zeki TB328FU',
       'Huawei CHL-AN00', 'PHJ110', 'Huawei JEF-AN00', 'Huawei CMA-AN00',
       'Vivo V2203A', 'HMSCore 6.12.2.302', 'OPPO PERM10', 'Vivo V2162A',
       '2211133C', 'DL4 Plus', 'Infinix X6825', 'Infinix X627',
       'Huawei NTN-AN20', 'M2010J19SI', 'M2010J19CI', 'Vivo 1818',
       'Realme RMX1901', 'Vivo 1933', 'Infinix X6517', 'PHV110',
       'Apple iPhone16,2', '2201117PI', 'Vivo 2018', 'V2168', '5033G',
       'iPlay 50 mini Pro', 'RMX3092', 'Vivo V2278A', 'RMX3612',
       'Huawei FRL-L22', 'RMX3690', 'V2117', 'OPPO CPH2223',
       'Infinix X6823C', 'OPPO CPH2477', 'V2118', 'Nokia Phone', 'PHK110',
       'Infinix X688C', 'TECNO BF6', 'Infinix X692', 'TECNO KE5',
       'Vivo V2243A', '2303CRA44A', '220733SH', '22081212C', 'ATV R1',
       'RMX3501', 'V2310', 'Infinix X650C', 'TECNO KE5j', 'itel P651L',
       'Xiaomi Redmi Note 12S', 'Huawei AQM-LX1', 'LG F700K', 'V2050',
       'V2140', '2201116SI', 'RMX3081', 'Google Pixel 7a', 'LG P451L',
       'itel S661L', 'RMX3624', 'Infinix X680', 'Huawei TAS-L29',
       'OPPO CPH2371', 'OPPO CPH2341', 'OPPO CPH2373', 'V2249',
       'Huawei NAM-L29', 'RMX3171', 'Infinix X657B', 'Vivo 1919',
       'Vivo 1804', 'LOGIC L65 LITE', 'itel A551L', 'PFTM20', '22041219I',
       'Samsung SM-A546E', 'RMX3780', 'Huawei JNY-L21', 'Vivo 1611',
       'Sparx Neo 7 Pro', 'OPPO CPH1938', 'M2103K19PI', 'Infinix X662',
       '2201116TI', 'RMX3268', 'Vivo 1920', 'V2239', 'V2040', 'V2068',
       'V2218', '21091116I', 'Xiaomi Redmi Y2', 'I2206', 'V2238', 'V2253',
       'I2126', 'V2225', 'V2065', 'I2203', 'V2141', '211033MI',
       '22122RK93C', 'p50', 'PEHM00', 'Vivo X20A', '2302EPCC4I',
       'TECNO KG6', 'Infinix X612B', 'Xiaomi Redmi Note 12 Pro 5G',
       'OPPO CPH2579', 'GMSCore 20.45.16', 'M2104K10AC', 'Vivo 1820',
       'RMX3121', 'Huawei REA-AN00', 'Huawei JNY-L22', 'Vivo V2270A',
       'Vivo V2301A', '21091116UC', 'M2006J10C', 'Vivo 1814', 'TECNO LD7',
       '23013RK75C', '220733SI', 'OPPO PDKM00', 'L202303',
       'Huawei LSA-AN00', 'Huawei BNE-AL00', 'Realme RMX2163',
       '23049RAD8C', 'PHM110', 'Huawei OCE-AN50', 'RMX3357', 'MRD-LX1F',
       'Huawei BRQ-AN00', 'Huawei CET-AL00', 'itel L6501', 'M2101K9C',
       'Huawei TNNH-AN00', 'Huawei LNA-AL00', 'Huawei JSC-AL50',
       'itel L6502', 'M2101K7BG', 'A1601', 'Infinix X6816C', 'RMX3151',
       'OPPO CPH2109', 'OPPO CPH2455', 'Huawei TFY-LX2', 'Infinix X650D',
       'V2101', 'Huawei KOB2-L09', 'Huawei ANE-L21', 'FIG-LA1',
       'Huawei STG-LX1', 'SCG12', 'Huawei CMA-LX3', '220233L2I',
       'TECNO KC2', 'TECNO CC7', 'OPPO CPH1823', 'RMX3710', '2107113SI',
       'Vivo V2123A', 'V2061', 'V2037', 'Vivo 1819', 'BRAVE', '22041216I',
       'itel A661L', 'V2203', 'Motorola moto e13', 'TECNO KI8', 'V2158',
       'SCV38', '22101316C', 'Vivo V2009A', 'Vivo V2232A',
       'Huawei NAM-AL00', 'Vivo V2156A', 'V2111-EG', 'TECNO BD4j',
       'Zeki TB320FC', 'Primo GH9', 'Huawei NTH-N29', 'TECNO KH7',
       'Huawei BLA-L29S', 'M2102J20SI', 'V2217', 'Symphony Z45', 'M10',
       'Vivo V2217A', 'HD1900', 'V2043_21', 'Infinix X6812', 'V2120',
       '23053RN02A', 'Infinix X689C', 'Infinix X687B', 'TIOK S60',
       'itel L5505', 'V2058', 'Infinix X680B', 'OPPO CPH2293',
       'TECNO BB2', 'Vivo 1915', 'itel L5002P', 'Huawei BEETHOVEN-DL09',
       'Infinix X689', '21091116AI', 'TECNO BD4a', 'Coolpad_2041',
       '220733SL', 'Huawei RMO-NX1', 'Huawei VNE-LX3', 'OPPO CPH2271',
       'itel W6004', '22120RN86I', 'RMX3191', 'OnePlus A6010',
       'itel S665L', 'Vivo Y67', 'RMX3627', 'V2105', 'OPPO CPH2387',
       'iPlay50Pro', 'OPPO CPH2325', 'Huawei AGRK-L09', 'Huawei GDI-W09',
       'TECNO BF7h', 'OPPO CPH2385', 'Huawei CDY-AN20', '220733SPH',
       'Xiaomi Redmi 12C', 'Vivo V2069A', 'Vivo V2244A', '2109119DG',
       'PHW110', 'MAR-LX1M', '22127RK46C', 'Huawei ALN-AL80',
       'Vivo V2220A', '22041216C', 'OPPO PDYM20', 'Huawei ANN-AN00',
       'Huawei CDY-TN90', 'Xiaomi Redmi Note 11', 'TECNO CK7n',
       'PHJ110H2', 'Huawei CDY-AN00', 'Infinix X665B', '22120RN86G',
       'Video Downloader', 'LG LM-X415S', '21121210G', 'OPPO CPH2421',
       'V2145', 'Vivo 1902', 'SHARK PRS-H0', 'V2142', 'TECNO KF8',
       'V2060', 'V2231', 'Vivo 1917', 'TECNO LE6', 'V2109', 'V2222',
       'Motorola moto g13', '22087RA4DI', 'M2101K9AI', 'itel A662LM',
       '23021RAA2Y', 'Xiaomi Redmi Note 11S', 'itel A662L', 'Tecno Watch',
       'itel A510W', 'SCV39', 'Infinix X659B', 'Infinix X689F',
       'OPPO CPH2237', 'Xiaomi 12 Lite', 'Infinix X6827', 'RMX3830',
       'Vivo 1806', 'Microsoft Lumia 950XL', 'SCV36', 'Infinix X6816',
       'Samsung SM-M446K', 'M40(N9H3)', 'Infinix X682C', 'M2103K19I',
       'V2036', 'OPPO CPH2471', 'Symphony Phone', 'i18', 'V2031',
       'Infinix X6817', '22127PC95I', 'LAVA LZX407', 'itel P651W',
       'OPPO CPH2235', 'Realme RMX1827', 'Vivo 1716', 'Infinix X690',
       'PGFM10', 'Vivo V2199A', 'Huawei ALA-AN70', 'Huawei NCO-AL00',
       'TECNO KD6', 'Vivo V2302A', 'Vivo V2136A', 'PGAM10', 'Vivo V2164A',
       'V2070', 'LG F460K', 'RMX3085', 'Infinix X652A', 'V2116',
       'Huawei DCO-AL00', 'OPPO CPH2333', 'TECNO PR651H', '21121119SG',
       'Infinix X624B', 'V2205', 'LGM-X320S', 'V2069', 'RMX3381',
       'Xiaomi Redmi Note 12 Pro', 'itel P681L', 'TECNO KF6p', '4063F',
       '22011119TI', 'Vivo 1807', 'Infinix X665E', 'TECNO KE5k',
       'Primo R8', 'Samsung SM-X910', 'OPPO CPH2457', 'PFJM10', 'PFUM10',
       'M2101K7BL', 'Vivo 1937', '21091116UI', 'Z55', 'V2127',
       'Infinix X6515', 'OnePlus Phone', 'Infinix X668', 'Vivo V2283A',
       '2304FPN6DC', 'Huawei DIO-AN00', 'LE2100', 'itel A507LM',
       'Vivo V2148A', 'Huawei PGT-AN00', 'Huawei OXF-AN00', '22021211RC',
       'PFTM10', 'Huawei TFY-AN00', 'Huawei PGT-AN10', 'Huawei CDL-AN50',
       'RMX3706', 'PBAM00', 'PGX110', 'M2007J17C', 'HMSCore 6.12.0.302',
       'Sony C3600', 'TECNO KE6j', 'Xiaomi POCO X3 Pro', 'RMX3661',
       'RMX3235', 'TECNO KG7h', 'SUGAR Y9', 'Infinix X693', '23046RP50C',
       'M2102J2SC', 'Samsung SM-X816N', 'Huawei NMO-L31', '22101316UG',
       '5029D', 'i80', 'TECNO KF6k', 'OPPO CPH2469', 'ETOOSPAD6',
       'Xiaomi Redmi Note 10', 'LG F770S', 'NEW 12', '2201117PG',
       'Huawei GOA-AL80', 'PGBM10', 'Vivo V2207A', 'VP005', 'PFGM00',
       'GM1913', 'V2143', 'M2104K10I', 'HM NOTE 1S', '21091116C',
       'TECNO BB4k', 'TECNO BD4i', 'Huawei EVE-LX9', 'LG LM-K315IM',
       'Infinix X689B', '23028RNCAG', '21061110AG', 'OPPO CPH2531',
       '22101320C', '22071219AI', 'Infinix X653C', 'Infinix X6512',
       'RMX3286', '2211133G', 'Infinix X6831', 'Infinix X655C'],
      dtype=object)

In [247]:
enter_signup_page['device_type'].unique()

array(['Samsung Galaxy A51 5G', nan, 'Apple iPhone', 'Mac',
       'Samsung Galaxy Quantum2', 'Windows', 'Samsung Galaxy A23',
       'Samsung Galaxy S21 Ultra 5G', 'Samsung Galaxy Note20 5G',
       'Samsung Galaxy S21 5G', 'Samsung Galaxy On7(2016)',
       'Samsung Galaxy Tab A', 'Motorola Moto G4', 'Samsung Galaxy S10',
       'Motorola moto g power (2022)', 'Redmi Note 10 Pro',
       'Samsung Galaxy A31', 'Samsung Galaxy S22',
       'Samsung Galaxy A53 5G', 'Samsung Galaxy S10+',
       'Apple iPhone 12 Pro', 'Apple iPad', 'Samsung Galaxy S20 FE 5G',
       'Samsung Galaxy Tab S6 Lite', 'Apple iPhone 13',
       'Samsung Galaxy Note20 Ultra 5G', 'Samsung Galaxy Note9',
       'Samsung Galaxy S22 Ultra', 'Samsung Galaxy S20+ 5G',
       'Samsung Galaxy A32', 'Apple iPhone 14 Pro',
       'Samsung Galaxy Z Flip4', 'Samsung Galaxy Note 8',
       'Apple iPhone 11', 'Samsung Galaxy Z Flip3 5G', 'Apple iPhone XR',
       'Apple iPhone 11 Pro', 'Apple iPhone XS Max',
       'Apple iPhone 13 mini', 'Linux', 'Samsung Galaxy Note10 5G',
       'Samsung Galaxy S20 5G', 'Samsung Galaxy Tab S8+',
       'Samsung Galaxy S9+', 'Samsung Galaxy Note10+ 5G',
       'Apple iPhone 14 Pro Max', 'Samsung Galaxy S21+ 5G',
       'Apple iPhone 13 Pro', 'Samsung Galaxy Z Flip 5G',
       'Samsung Galaxy S22+', 'Samsung Galaxy A8(2018)',
       'Apple iPhone 12 Mini', 'Chromium OS',
       'Apple iPhone SE (3rd generation)',
       'Samsung Galaxy Tab S8 Ultra 5G', 'Samsung Galaxy S8',
       'Samsung Galaxy Tab S7', 'Samsung Galaxy Quantum3',
       'Apple iPhone 13 Pro Max', 'Apple iPhone 7', 'Apple iPhone 14',
       'Samsung Galaxy A90 5G', 'Samsung Galaxy Tab A SM-T380',
       'Samsung Galaxy A80', 'Samsung Galaxy Z Fold4',
       'Samsung Galaxy A13 5G', 'Samsung Galaxy Jump',
       'Samsung Galaxy Z Fold3 5G', 'Samsung Galaxy A33 5G',
       'Samsung Galaxy Jump2', 'Samsung Galaxy Z Flip',
       'Samsung Galaxy Wide5', 'Samsung Galaxy A30',
       'Samsung Galaxy Fold 5G', 'Samsung Galaxy A12',
       'Samsung Galaxy A9 (2018)', 'Samsung Galaxy A22 5G',
       'Samsung Galaxy Wide4', 'Apple iPhone 12 Pro Max',
       'Apple iPhone SE 2nd Gen', 'Samsung Galaxy S10e', 'Ubuntu',
       'Samsung Galaxy Z Fold2 5G', 'Samsung Galaxy S20 Ultra 5G',
       'Samsung Galaxy A Quantum', 'Apple iPhone 12',
       'Samsung Galaxy Tab S7+', 'Apple iPhone 8', 'Samsung Galaxy S9',
       'Samsung Galaxy Tab S8', 'Apple iPhone XS', 'LG VELVET',
       'Samsung Galaxy A52s 5G', 'Samsung Galaxy Note20 Ultra',
       'Samsung Galaxy Wide3', 'Samsung Galaxy Tab S7 FE',
       'Samsung Galaxy Tab A with S Pen', 'Samsung Galaxy Tab Advanced2',
       'Samsung Galaxy S8+', 'Google Pixel 2 XL',
       'Apple iPad Pro 11" 3rd Gen (Wi-Fi Only)', 'Samsung Galaxy Tab S6',
       'Apple iPhone 7 Plus', 'Samsung Galaxy S7',
       'Apple iPad Air 4th Gen (Wi-Fi Only)', 'Samsung Galaxy A13',
       'Google Nexus 5', 'Samsung Galaxy A9 Pro',
       'Samsung Galaxy A8 Star', 'Samsung Galaxy Tab S7+ 5G',
       'Samsung Galaxy A5(2016)', 'Apple iPhone X',
       'Samsung Galaxy A7 (2018)', 'Apple iPhone 8 Plus',
       'Samsung Galaxy A21s', 'Samsung Galaxy A50',
       'Apple iPhone 14 Plus', 'Samsung Galaxy A03s',
       'Apple iPhone 6s Plus', 'Samsung Galaxy J7(2016)',
       'Samsung Galaxy A6', 'Apple iPhone 11 Pro Max',
       'Samsung Galaxy A5(2017)', 'Samsung Galaxy Note FE',
       'Samsung Galaxy Tab A8', 'Huawei HUAWEI Y7 2018',
       'Samsung Galaxy A2 Core', 'Samsung Galaxy Note 3',
       'Samsung Galaxy A42 5G', 'Samsung Galaxy XCover 5',
       'Samsung Galaxy M23 5G', 'Samsung Galaxy Tab A7 Lite',
       'Samsung Galaxy Note 5', 'Samsung Galaxy A04s',
       'Samsung Galaxy On7 Prime', 'Samsung Galaxy A40',
       'Samsung Galaxy Tab A7', 'Samsung Galaxy A10',
       'Samsung Galaxy S7 Edge',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi Only)', 'LGE X4(2019)',
       'Samsung Galaxy G8', 'Samsung Galaxy Tab S8 Ultra',
       'Xiaomi Pocophone F1', 'Apple iPhone 6s', 'Redmi Note 9S',
       'Apple iPad Air 4th Gen (WiFi+Celular)',
       'Samsung Galaxy Note Edge', 'Samsung Galaxy A10s',
       'Samsung Galaxy M20', 'Samsung Galaxy S20 FE', 'Android',
       'Samsung Galaxy Tab4 10.1', 'Samsung Galaxy A7(2016)',
       'Samsung Galaxy Wide', 'Samsung Galaxy Note10+', 'Google Pixel 6',
       'Samsung Galaxy Tab A (2017)', 'Samsung Galaxy Tab S4',
       'Samsung Galaxy A10e', 'Apple iPad Pro', 'Samsung Galaxy J5',
       'Samsung Galaxy A52 5G', 'Samsung Galaxy Note 10+',
       'Samsung Galaxy A03 Core', 'Samsung Galaxy A51',
       'Samsung Galaxy Tab S6 5G', 'Samsung Galaxy Tab S2 8.0',
       'Samsung Galaxy S6', 'Samsung Galaxy Tab S8 5G',
       'Samsung Galaxy Folder', 'Samsung Galaxy M02s',
       'Samsung Galaxy Tab S5e', 'Xiaomi Redmi Note 5 Pro',
       'Samsung Galaxy J6', 'Google Pixel 6 Pro',
       'Samsung Galaxy Tab A 10.1', 'Samsung Galaxy Jean2',
       'Samsung Galaxy S20+', 'Samsung Galaxy J4+',
       'Sony Xperia X Compact', 'Apple iPad 10.2" 8th Gen (Wi-Fi Only)',
       'Xiaomi MI PAD 4', 'Samsung Galaxy Tab 4 10.1',
       'Samsung Galaxy Tab S3', 'Samsung Galaxy S20 FE 5G UW',
       'Samsung Galaxy S21 FE 5G', 'Samsung Galaxy J7(2017)',
       'Samsung Galaxy Tab A (8.0", 2019)', 'Samsung Galaxy S10 Plus',
       'Redmi Note 8T', 'Xiaomi Redmi Note 8',
       'Samsung Galaxy Tab S2 9.7', 'Huawei HONOR 9X',
       'Samsung Galaxy Tab A (2016) with S Pen', 'Samsung Galaxy Jean',
       'Samsung Galaxy Note10', 'Xiaomi MI CC 9', 'BlackBerry KEY2',
       'Samsung Galaxy Tab 4 8.0', 'Apple iPad Mini 4',
       'Samsung Galaxy A32 5G', 'Xiaomi Redmi 6A', 'Samsung Galaxy A70',
       'Galaxy Note 5', 'Samsung Galaxy Note4',
       'Apple iPad Air 3rd Gen (WiFi)', 'Amazon Fire HD 10',
       'Samsung Galaxy Tab A (2018, 10.5)', 'Samsung Galaxy S6 Edge',
       'Xiaomi MI 8 Lite', 'Samsung Galaxy S6 Edge+',
       'Apple iPad (9th generation)', 'Samsung Galaxy Note10 Lite',
       'Samsung Galaxy A52', 'Oppo A1k',
       'Apple iPad Air (5th generation)', 'Samsung Galaxy M31',
       'Samsung Galaxy J2 Core', 'Samsung Galaxy Grand Prime Plus',
       'Samsung Galaxy A73 5G', 'Apple iPad 5',
       'Samsung Galaxy Tab E 8.0', 'ZTE Trek 2 HD', 'Samsung Galaxy A60',
       'Samsung Galaxy A20', 'Samsung Galaxy Note 4',
       'Xiaomi Redmi Note 8 Pro', 'Samsung Galaxy Tab S8+ 5G',
       'Samsung Galaxy J5 2017', 'Motorola moto g stylus (2022)',
       'Samsung Galaxy A7(2017)', 'Samsung Galaxy Folder2',
       'Samsung Galaxy Tab A 9.7', 'Samsung Galaxy Note4 S-LTE',
       'Samsung Galaxy M01 Core', 'Samsung Galaxy M12', 'Oppo OPPO Reno5',
       'Samsung Galaxy Tab S2', 'Samsung Galaxy A8(2016)',
       'Samsung Galaxy Note', 'Apple iPad Pro 11" (Wi-Fi Only - 4th Gen)',
       'ZTE Blade A3 2020', 'Samsung Galaxy TabE 8.0',
       'Samsung Galaxy A71', 'POCO F2 Pro',
       'Huawei HUAWEI MediaPad M5 8.4', 'Xiaomi Redmi Note 7',
       'Motorola moto e20', 'Apple iPad Pro 3', 'Huawei P20 Lite',
       'Apple iPad Mini 5th Gen', 'samsung galaxy Note9',
       'Samsung Galaxy S10E', 'Samsung Galaxy Wide2', 'Oppo A93',
       'Huawei P30', 'Motorola moto e6s', 'Samsung Galaxy S23 Ultra',
       'Google Pixel 3', 'ZTE K813', 'Samsung Galaxy Grand-Max',
       'Samsung Galaxy A22', 'Google Pixel 7 Pro',
       'Samsung Galaxy S23 5G', 'Oppo F7', 'Xiaomi MI 9',
       'Samsung Galaxy Note 9', 'Motorola moto g(50) 5G',
       'Samsung Galaxy Note 10.1', 'iPhone SE',
       'Samsung Galaxy Tab Active2', 'Realme X2', 'Samsung Galaxy A71 5G',
       'Oppo F9', 'Samsung Galaxy J7 Prime', 'Motorola moto g(20)',
       'Redmi Note 9 Pro', 'Samsung Galaxy J7', 'Samsung Galaxy M33 5G',
       'Huawei HUAWEI Y8s', 'Apple iPad 10.2" 7th Gen (Wi-Fi Only)',
       'Samsung Galaxy A04', 'Sony Xperia X Performance',
       'Apple iPad Pro 12.9" (Wi-Fi Only - 6th Gen)',
       'Apple iPad Air 3rd Gen', 'Huawei HUAWEI MediaPad M5 lite',
       'Google Pixel 3a', 'Samsung Galaxy J3(2017)',
       'Samsung Galaxy Tab A 7.0', 'Google Pixel 4a (5G)',
       'Samsung Galaxy A20s', 'Samsung Galaxy Note20',
       'Huawei Huwei Mate 20 X', 'Samsung Galaxy A72',
       'Samsung Galaxy Tab S 8.4', 'Redmi  7A', 'Samsung Galaxy A03',
       'LG V60 ThinQ 5G', 'Oppo A12', 'Google Pixel 6a',
       'Apple iPad Pro 12.9 inch 4th Gen', 'Samsung Galaxy A01 Core',
       'Realme 5i', 'Apple iPad Pro 11" 3rd Gen (Wi-Fi/Cellular)',
       'Samsung Galaxy J5(2016)', 'Samsung Galaxy A50s',
       'Samsung Galaxy Note 10', 'Motorola Moto G6 Plus',
       'Huawei HUAWEI MediaPad T5', 'Samsung Galaxy A41',
       'Motorola moto g 5G', 'Huawei P30 Lite', 'Huawei HONOR 20',
       'Xiaomi Redmi 8A', 'Motorola moto g stylus 5G',
       'Apple iPad Pro 11 inch 2nd Gen', 'Huawei Y9 Prime (2019)',
       'Google Pixel 4a', 'Motorola moto g(9) power', 'Oppo CPH1909',
       'Huawei Y6', 'Apple iPad mini (6th generation)',
       'Samsung Galaxy A3(2016)',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi/Cellular)',
       'Xiaomi MI  MAX  3', 'Oppo CPH2185', 'Xiaomi Redmi 3S',
       'Huawei MediaPad T5', 'Samsung Galaxy Note Fan Edition',
       'Samsung Galaxy S20', 'Samsung Galaxy A7',
       'Apple iPad Mini 5th Gen (WiFi)', 'Apple iPad Air 2',
       'Google Pixel 2', 'Xiaomi Redmi Note 6 Pro',
       'Samsung Galaxy Tab S7 FE 5G', 'Xiaomi Redmi Note 4',
       'Samsung Galaxy J3(2016)', 'Sony Xperia 10 II',
       'Samsung Galaxy M31s', 'Samsung Galaxy Tab4 8.0',
       'Lenovo Tab 2 A10', 'Samsung Galaxy J2 Prime',
       'Samsung Galaxy Tab A 8.0', 'Samsung Galaxy TabS 10.5',
       'Samsung Galaxy S10 Lite', 'Xiaomi Mi A3', 'Samsung Galaxy M21',
       'Samsung Galaxy A8+(2018)', 'Xiaomi Redmi K30 Pro Zoom Edition',
       'Samsung Galaxy Z Flip5', 'POCO M2 Pro', 'Samsung Galaxy S23+',
       'Samsung Galaxy S23', 'Apple iPhone 15 Pro', 'Samsung Galaxy A24',
       'Apple iPhone 15 Plus', 'Samsung Galaxy A34 5G', 'Apple iPhone 15',
       'Samsung Galaxy Z Fold5', 'Google Pixel 7', 'Samsung Galaxy F62',
       'Apple iPhone 15 Pro Max', 'Samsung Galaxy A54 5G',
       'Samsung Galaxy F23 5G', 'Oppo A54', 'Samsung Galaxy M52 5G',
       'Samsung Galaxy Tab E', 'Samsung Galaxy Tab S9+', 'Oppo F17 Pro',
       'Oppo F11 Pro', 'Oppo OPPO Reno5 Z', 'Redmi K20 Pro',
       'Oppo A9 2020', 'Oppo CPH2179', 'Oppo Reno 6',
       'Samsung Galaxy A04e', 'Oppo A5 2020', 'Samsung Galaxy J3',
       'Samsung Galaxy M14 5G', 'Samsung Galaxy A14', 'Motorola moto g32',
       'Realme 7i', 'Oppo A3s', 'Huawei P30 Pro', 'Huawei HONOR 9A',
       'Samsung Galaxy M04', 'Samsung Galaxy M13', 'Samsung Galaxy F13',
       'Redmi 6', 'Samsung Galaxy M51', 'Redmi 8A Dual', 'Realme C12',
       'Samsung Galaxy M32', 'Xiaomi Redmi 4A', 'Vivo V2072A',
       'Xiaomi Redmi 5 Plus', 'Vivo V2048A', 'Tecno-Y2', 'Vivo S1',
       'Realme X2Pro', 'Oppo A53', 'Xiaomi Redmi Note 7 Pro',
       'Apple iPad Pro 2', 'Samsung Galaxy S23 Ultra 5G',
       'Samsung Galaxy J6+', 'Realme C11', 'Realme RMX2020',
       'Motorola moto g22', 'Samsung Galaxy F22', 'Oppo F15',
       'Redmi Note 9 Pro Max', 'Xiaomi Redmi  S2', 'Xiaomi MI 5X',
       'Apple iPad 6', 'Samsung Galaxy A14 5G', 'Samsung Galaxy M30',
       'Realme 3Pro', 'Redmi Note 11 Pro+ 5G', 'Huawei Y6p',
       'Motorola moto e13', 'Samsung Galaxy A30s',
       'Samsung Galaxy Tab S9', 'Vivo V2121A', 'Huawei HONOR 20 PRO',
       'Samsung Galaxy Tab S9+ 5G', 'Huawei P40 lite E',
       'Motorola moto e(7)', 'Samsung Galaxy M30s', 'Xiaomi Redmi 7',
       'Samsung Galaxy Tab S9 Ultra', 'Samsung Galaxy Tab S9 Ultra 5G',
       'POCO X2', 'Oppo F11', 'Huawei HONOR 8A Pro', 'Oppo A94',
       'Samsung Galaxy J4', 'Apple iPhone 6 Plus', 'Nokia 7.1',
       'Oppo Reno 2F', 'Huawei Mate 10 Lite', 'Redmi 7',
       'Huawei HUAWEI P smart 2021', 'Samsung Galaxy J4 Core',
       'Realme C15', 'Oppo CPH1729', 'Samsung Galaxy A02s',
       'Samsung Galaxy J7 Neo', 'Zte Blade A31 Plus', 'Oppo Reno3',
       'Nokia G50', 'Vivo Y66', 'Xiaomi Redmi 5A', 'Samsung Galaxy M11',
       'Samsung Galaxy A70s', 'Oppo CPH1801', 'Realme RMX2040',
       'Huawei HONOR View20', 'Vivo V1818A', 'Samsung Galaxy F52 5G',
       'Oppo A32 ‰∏≠ÂõΩÁâà', 'Vivo V2118A', 'Samsung Galaxy J7 Core',
       'Xiaomi Redmi Note 5A', 'Vivo V1901A',
       'Motorola moto g power (2021)', 'Oppo F19 Pro',
       'Samsung Galaxy J5 Prime', 'Realme C15 Qualcomm Edition',
       'Oppo A73', 'Oppo CPH1701', 'Huawei Nova 3i',
       'Samsung Galaxy 9 Plus', 'Oppo A92', 'Realme 2 Pro',
       'Huawei Mate 20 Pro', 'Motorola moto g 5G (2022)', 'Redmi 8',
       'Redmi Note 12 Pro+ 5G', 'Samsung Galaxy A9 2018',
       'Oppo Reno3 Pro', 'Apple iPad Pro 11" (Wi-Fi/Cell - 4th Gen)',
       'Samsung Galaxy C7 Pro', 'Samsung Galaxy F54 5G',
       'Samsung Galaxy J2 Pro',
       'Apple iPad Pro 12.9" (Wi-Fi/Cell - 6th Gen)',
       'Samsung Galaxy Grand Prime', 'Samsung Galaxy View',
       'Samsung Galaxy Tab S9 5G', 'Samsung Galaxy A11',
       'Huawei P smart 2019', 'Samsung Galaxy A9',
       'Samsung Galaxy F34 5G', 'Vivo V2055A', 'Oppo Find X2 ‰∏≠ÂõΩÁâà',
       'Huawei P40', 'Samsung Galaxy F12', 'Vivo V2073A',
       'Samsung Galaxy A20e', 'Xiaomi MI 8 SE', 'Samsung Galaxy A8',
       'Huawei HONOR 9X lite', 'Realme 5', 'Samsung Galaxy M42 5G',
       'Redmi K20', 'Tecno F1', 'Samsung Galaxy S23+ 5G',
       'Symphony Atom ii', 'Sony Xperia 1 II', 'Oppo OPPO Reno5 A',
       'Samsung Galaxy A5', 'Samsung Galaxy Note Pro', 'Vivo V2057A',
       'Samsung Galaxy A23 5G', 'Realme C17', 'Sony Xperia C4',
       'HUAWEI Y9 2019', 'Samsung Galaxy M02', 'Realme C3',
       'Samsung Galaxy M32 5G', 'Oppo A74', 'Samsung Galaxy A6+',
       'ZTE Blade L210', 'Motorola Moto Z3 Play', 'Realme narzo 20A',
       'Xiaomi Mi Max', 'Xiaomi Mi 9T', 'Motorola moto e(7i) power',
       'OnePlus 6T', 'Samsung Galaxy A8s', 'Huawei Mate 8', 'Vivo V2068A',
       'Samsung Galaxy J7 Max', 'Samsung Galaxy F41', 'Realme narzo 30',
       'Samsung Galaxy Fold', 'Huawei Y5 2017',
       'Huawei HUAWEI Mate 20 X (5G)', 'Realme 7 Pro',
       'Huawei HUAWEI MediaPad M3 Lite', 'Vivo V2031A', 'Vivo V2046A',
       'Nokia 2.1', 'Samsung Galaxy J1 Mini', 'Oppo A7', 'Xiaomi Mi A2',
       'Samsung Galaxy S5', 'Samsung Galaxy A02', 'Samsung Galaxy A21',
       'ZTE 8030', 'Samsung Galaxy J1', 'Nokia 1.4'], dtype=object)

### 3. ÌöåÏõêÍ∞ÄÏûÖ ÏôÑÎ£å(complete.signup)
- type : Î°úÍ∑∏Ïù∏ Î∞©Ïãù

In [248]:
complete_signup = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/complete.signup.csv')
complete_signup

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424000,South Korea,NaN,Windows,Windows,complete.signup,Korean,Chrome,111.0.0.0,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,16.3,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145128,NaN,2023-10-10 05:10:04.854000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0117038cc69fe8a40388ec19bb0a495e,kakao
145129,NaN,2023-10-10 05:16:31.995000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,bc1a28ff902daba9399e7f602cc86285,kakao
145130,NaN,2023-10-10 05:27:53.140000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,0d507104136f139cbc9f6fa1db365162,google
145131,NaN,2023-10-10 05:33:30.471000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,298e200203472e5bc0f9a14053e1dfe1,google
145132,NaN,2023-10-10 05:50:07.380000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,4252b7d6d08c1ba797ec2f5d0b244963,kakao

In [249]:
complete_signup_df = complete_signup.copy()

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
complete_signup_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
complete_signup_df =complete_signup_df.loc[complete_signup_df['os_name'] != 'Chrome Headless']

# reset_index
entercomplete_signup_df =complete_signup_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
complete_signup_df['client_event_time'] = pd.to_datetime(complete_signup_df['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
complete_signup_df["client_event_time"] = complete_signup_df["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
complete_signup_df = complete_signup_df[(complete_signup_df['client_event_time'] >= '2022-01-01') 
                                  & (complete_signup_df['client_event_time'] <= '2023-12-31')]

In [250]:
print(complete_signup_df['client_event_time'].min())
print(complete_signup_df['client_event_time'].max())

2022-01-01 09:06:31.232000
2023-12-30 23:58:56.454000

In [251]:
complete_signup_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144616 entries, 0 to 145132
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               44774 non-null   object
 1   client_event_time  144616 non-null  datetime64[ns]
 2   country            45756 non-null   object
 3   device_family      45767 non-null   object
 4   device_type        44659 non-null   object
 5   event_type         144616 non-null  object
 6   language           45767 non-null   object
 7   os_name            45745 non-null   object
 8   os_version         45651 non-null   object
 9   platform           45767 non-null   object
 10  user_id            144616 non-null  object
 11  type               144441 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 14.3+ MB

In [252]:
complete_signup_df.isnull().sum()

city                 99842
client_event_time        0
country              98860
device_family        98849
device_type          99957
event_type               0
language             98849
os_name              98871
os_version           98965
platform             98849
user_id                  0
type                   175
dtype: int64

In [253]:
# typeÎ≥Ñ Ïù¥Ïö© Ïàò ÌôïÏù∏ 
complete_signup_df['type'].value_counts()

type
kakao       89151
google      21383
naver       19386
email       14081
facebook      439
test            1
Name: count, dtype: int64

In [254]:
# ÌöåÏõêÍ∞ÄÏûÖ ÏôÑÎ£åÏóêÏÑú user_id Ï§ëÎ≥µ ÏóÜÏùå
complete_signup_df[complete_signup_df.duplicated(subset = ['user_id'])]

Empty DataFrame
Columns: [city, client_event_time, country, device_family, device_type, event_type, language, os_name, os_version, platform, user_id, type]
Index: []

In [255]:
complete_signup_df[complete_signup_df['type'] == 'test']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
24616,NaN,2023-02-17 16:49:50.039,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,717fd2ff22addd9f8745923ab19ee231,test

- complete_signup[complete_signup['type'] == 'test']     

    -> user_id : 717fd2ff22addd9f8745923ab19ee231 : Îã§Î•∏ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Ïñ¥Îñ§ÌôúÎèôÏù∏ÏßÄ Î≥¥Í≥† ÏßÑÏßú testÌïú Ìï≠Î™©Ïù¥Î©¥ ÏÇ≠Ï†úÏ≤òÎ¶¨!

In [256]:
# ÌÉÄÏûÖ testÌñâ Ï†úÍ±∞
complete_signup_df = complete_signup_df[complete_signup_df['type'] != 'test']
complete_signup_df['type'].value_counts()

type
kakao       89151
google      21383
naver       19386
email       14081
facebook      439
Name: count, dtype: int64

In [257]:
complete_signup_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144615 entries, 0 to 145132
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               44774 non-null   object
 1   client_event_time  144615 non-null  datetime64[ns]
 2   country            45756 non-null   object
 3   device_family      45767 non-null   object
 4   device_type        44659 non-null   object
 5   event_type         144615 non-null  object
 6   language           45767 non-null   object
 7   os_name            45745 non-null   object
 8   os_version         45651 non-null   object
 9   platform           45767 non-null   object
 10  user_id            144615 non-null  object
 11  type               144440 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 14.3+ MB

### 4. ÏΩòÌÖêÏ∏† Í∞úÎ≥Ñ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ(enter.content_page)
- content_id : ÏΩòÌÖêÏ∏† id
- ÏΩòÌÖêÏ∏† Í∞úÎ≥Ñ ÌéòÏù¥ÏßÄ Ï≤¥Î•ò ÏãúÍ∞Ñ

In [258]:
enter_content_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.content_page.csv')
enter_content_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,108.0.5359.112,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,111.0.0.0,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd

In [259]:
print(enter_content_page['client_event_time'].min())
print(enter_content_page['client_event_time'].max())

2021-11-03 19:15:12.076000
2023-12-31 23:59:18.981000

In [260]:
enter_content_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914257 entries, 0 to 1914256
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
dtypes: float64(1), object(12)
memory usage: 189.9+ MB

In [261]:
enter_content_page.isnull().sum()

city                   30757
client_event_time          0
country                 7570
device_carrier       1914257
device_family            639
device_type            23651
event_type                 0
language                   0
os_name                  149
os_version              2549
platform                   0
user_id               465168
content.id                 0
dtype: int64

In [262]:
enter_content_page_df = enter_content_page[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id','content.id']].rename(
    columns = {'content.id' : 'content_id'}
)

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#enter_content_page_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enterenter_content_page_df =enter_content_page_df.loc[enter_content_page_df['os_name'] != 'Chrome Headless']

# reset_index
enterenter_content_page_df =enter_content_page_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
enter_content_page_df['client_event_time'] = pd.to_datetime(enter_content_page_df['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
enter_content_page_df["client_event_time"] = enter_content_page_df["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
enter_content_page_df = enter_content_page_df[(enter_content_page_df['client_event_time'] >= '2022-01-01') 
                                  & (enter_content_page_df['client_event_time'] <= '2023-12-31')]

In [263]:
enter_content_page['user_id'].unique()

array(['d57aba7b4527e71b96135deaaec57def', nan,
       '41362ad5ebcade2bb1b78344a53e7ccf', ...,
       'bc1a28ff902daba9399e7f602cc86285',
       '298e200203472e5bc0f9a14053e1dfe1',
       '4252b7d6d08c1ba797ec2f5d0b244963'], shape=(72707,), dtype=object)

In [264]:
enter_content_page['user_id'].value_counts()

user_id
4f74b6e2f650f4c8db87579e44f5b7d6    29654
d21dc741fde11ffb6768d8bdb3547398    24270
e9261fd1140ae566bddb38c7a4c997cc     2153
2d9b821bb7ad4ae411fc3eab9c0ebfe5     1992
d3b2f51ede04364bd9861f8d261f26ec     1912
                                    ...
12190f6c1b2b6f97ac0e0b505d7a3951        1
b6a1dc1d69e2a9fec058fc5a76393829        1
4114c1e748ef95ac3e87dd7ac1b542ca        1
727ff42ef092950f053d52bcd35597b5        1
298e200203472e5bc0f9a14053e1dfe1        1
Name: count, Length: 72706, dtype: int64

- ÏÉÅÏúÑ 2Í∞ú Ïª®ÌÖêÏ∏† Ïú†Ï†Ä Ï†ëÍ∑º Ïàò Îã§Î•∏ Ïú†Ï†Ä ÎåÄÎπÑ ÏÉÅÎãπÌûà ÎÜíÏùå -> Ìó§ÎπÑÏú†Ï†Ä? Í∞úÎ∞úÏûê?

In [265]:
enter_contents_error = enter_content_page[enter_content_page['user_id'] == '4f74b6e2f650f4c8db87579e44f5b7d6'].sort_values('client_event_time')

In [266]:
filtered_df = enter_content_page.dropna(subset=['user_id'])
filtered_df[filtered_df.duplicated(subset=['user_id'])]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
3,Daejeon,2023-04-05 21:14:25.355000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
6,Seoul,2023-04-05 21:51:59.437000,South Korea,NaN,Mac,Mac,enter.content_page,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,18992b667be06d6f29ba0008f99d9745
8,Gangseo-gu,2023-04-05 21:19:47.684000,South Korea,NaN,Samsung Phone,Samsung Galaxy S9,enter.content_page,Korean,Chrome,111.0.0.0,Web,5a0099deffc1e2def829590197c6f2c3,e88906bb19b773dcbf2adb5d34c49d9c
12,Seoul,2023-04-05 21:15:07.232000,South Korea,NaN,Samsung Phone,Samsung Galaxy S22,enter.content_page,Korean,Chrome,110.0.0.0,Web,a861512f4cdca0cec8d58546b9c27b0b,f4be1a0fe0e301b03115591777fddf29
16,Suwon,2023-04-10 14:32:06.047000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,GSA,258.1.520699392,Web,5f7f8e69f8f016db90e92663460c027a,68a3658f1b936bfff3bd6960cd561b0a
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914209,Gwacheon,2023-10-10 05:50:15.395000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,620de3f1b229ebc5bfc95c51bfd166c6,621c7ad99b17d2d16832b618d47aea7e
1914217,Seodaemun-gu,2023-10-10 05:15:42.653000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,b27f37352be57de11cd62c262b2e1628,f4be1a0fe0e301b03115591777fddf29
1914234,Incheon,2023-10-10 05:07:28.944000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6
1914241,Anyang-si,2023-10-10 05:17:57.486000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29
1914242,Anyang-si,2023-10-10 05:18:12.218000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.content_page,Korean,Samsung Browser,22.0,Web,bc1a28ff902daba9399e7f602cc86285,f4be1a0fe0e301b03115591777fddf29

### 5. ÏΩòÌÖêÏ∏† ÏàòÍ∞ïÌïòÍ∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠(click.content_page_start_content_button)

- content.id : ÏΩòÌÖêÏ∏† id
- button_name : Î≤ÑÌäº Ïù¥Î¶Ñ(ÏΩòÌÖêÏ∏† ÌéòÏù¥Ï¶à Í∞úÌé∏ Ï†Ñ)
- button.name : Î≤ÑÌäº Ïù¥Î¶Ñ(ÏΩòÌÖêÏ∏† ÌéòÏù¥ÏßÄ Í∞úÎ≥Ä ÌõÑ)

In [267]:
click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/click.content_page_start_content_button.csv')
click_content_page_start_content_button.head(3)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_9484\3659375697.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  click_content_page_start_content_button = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/click.content_page_start_content_button.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,button.name,button_name
0,Daejeon,2023-04-05 21:14:38.432000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ÏΩòÌÖêÏ∏† Íµ¨ÎèÖÌïòÍ∏∞,NaN
1,Seongnam-si,2023-04-10 14:57:20.033000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,112.0.1722.34,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,ÏΩòÌÖêÏ∏† Ïù¥Ïñ¥Î≥¥Í∏∞,NaN
2,Yangp'yong,2023-04-10 14:28:29.515000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,111.0.0.0,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,ÏΩòÌÖêÏ∏† Ïù¥Ïñ¥Î≥¥Í∏∞,NaN

In [268]:
print(click_content_page_start_content_button['client_event_time'].min())
print(click_content_page_start_content_button['client_event_time'].max())

2021-11-25 18:40:50.968000
2023-12-31 23:51:15.363000

In [269]:
click_content_page_start_content_button.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172911 entries, 0 to 172910
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               169437 non-null  object
 1   client_event_time  172911 non-null  object
 2   country            171495 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      172911 non-null  object
 5   device_type        171581 non-null  object
 6   event_type         172911 non-null  object
 7   language           172911 non-null  object
 8   os_name            172911 non-null  object
 9   os_version         172593 non-null  object
 10  platform           172911 non-null  object
 11  user_id            128361 non-null  object
 12  content.id         172699 non-null  object
 13  button.name        86242 non-null   object
 14  button_name        38951 non-null   object
dtypes: float64(1), object(14)
memory usage: 19.8+ MB

In [270]:
click_content_page_start_content_button.isnull().sum()

city                   3474
client_event_time         0
country                1416
device_carrier       172911
device_family             0
device_type            1330
event_type                0
language                  0
os_name                   0
os_version              318
platform                  0
user_id               44550
content.id              212
button.name           86669
button_name          133960
dtype: int64

In [271]:
click_content_page_start_content_button_df = click_content_page_start_content_button[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id','content.id', 'button.name', 'button_name']].rename(
    columns = {'content.id' : 'content_id', 'button.name' : 'button_name_type_b','button_name' : 'button_name_type_a'}
)

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#click_content_page_start_content_button_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enterclick_content_page_start_content_button_df =click_content_page_start_content_button_df.loc[click_content_page_start_content_button_df['os_name'] != 'Chrome Headless']

# reset_index
enterclick_content_page_start_content_button_df =click_content_page_start_content_button_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
click_content_page_start_content_button_df['client_event_time'] = pd.to_datetime(click_content_page_start_content_button_df['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
click_content_page_start_content_button_df["client_event_time"] = click_content_page_start_content_button_df["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
click_content_page_start_content_button_df = click_content_page_start_content_button_df[(click_content_page_start_content_button_df['client_event_time'] >= '2022-01-01') 
                                  & (click_content_page_start_content_button_df['client_event_time'] <= '2023-12-31')]

In [272]:
# button_a Ìï≠Î™©Í≥º ÌÅ¥Î¶≠ Ïàò ÌôïÏù∏
display(click_content_page_start_content_button_df['button_name_type_a'].unique())
click_content_page_start_content_button_df['button_name_type_a'].value_counts()

array([nan, 'Ïù¥Ïñ¥ÌïòÍ∏∞', 'Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞', 'ÏàòÍ∞ïÌïòÍ∏∞', 'ÏàòÍ∞ïÏãúÏûë'], dtype=object)

button_name_type_a
Ïù¥Ïñ¥ÌïòÍ∏∞        23787
Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞     6093
ÏàòÍ∞ïÌïòÍ∏∞         5345
ÏàòÍ∞ïÏãúÏûë         3716
Name: count, dtype: int64

In [273]:
# button_b Ìï≠Î™©Í≥º ÌÅ¥Î¶≠ Ïàò ÌôïÏù∏
display(click_content_page_start_content_button_df['button_name_type_b'].unique())
click_content_page_start_content_button_df['button_name_type_b'].value_counts()

array(['ÏΩòÌÖêÏ∏† Íµ¨ÎèÖÌïòÍ∏∞', 'ÏΩòÌÖêÏ∏† Ïù¥Ïñ¥Î≥¥Í∏∞', 'ÏµúÏ†ÄÍ∞Ä ÌòúÌÉù Î∞õÍ∏∞', 'Î¨¥Î£åÎ°ú Îì§Ïñ¥Î≥¥Í∏∞', 'Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞',
       'Íµ¨ÎèÖ ÏãúÏûëÌïòÍ∏∞', 'ÏµúÏ†ÄÍ∞ÄÎ°ú ÏãúÏûëÌïòÍ∏∞', 'Ìï†Ïù∏Î∞õÍ≥† Íµ¨ÎèÖ ÏãúÏûë', nan], dtype=object)

button_name_type_b
ÏΩòÌÖêÏ∏† Íµ¨ÎèÖÌïòÍ∏∞      40883
ÏΩòÌÖêÏ∏† Ïù¥Ïñ¥Î≥¥Í∏∞      27673
Î¨¥Î£åÎ°ú Îì§Ïñ¥Î≥¥Í∏∞      13596
Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞       2513
ÏµúÏ†ÄÍ∞Ä ÌòúÌÉù Î∞õÍ∏∞       907
ÏµúÏ†ÄÍ∞ÄÎ°ú ÏãúÏûëÌïòÍ∏∞       293
Íµ¨ÎèÖ ÏãúÏûëÌïòÍ∏∞         174
Ìï†Ïù∏Î∞õÍ≥† Íµ¨ÎèÖ ÏãúÏûë        1
Name: count, dtype: int64

In [274]:
# Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞, Î¨¥Î£åÎ°ú Îì§Ïñ¥Î≥¥Í∏∞ 
button_start_free = click_content_page_start_content_button.loc[
    click_content_page_start_content_button['button_b'].isin(['Î¨¥Î£åÎ°ú Îì§Ïñ¥Î≥¥Í∏∞', 'Î¨¥Î£åÎ°ú ÏãúÏûëÌïòÍ∏∞'])
]

KeyError: 'button_b'

### 6. ÏΩòÌÖêÏ∏† ÌõÑÍ∏∞ ÎçîÎ≥¥Í∏∞ Î≤ÑÌäº ÌÅ¥Î¶≠(click.content_page_more_review_button)

- content.id : ÏΩòÌÖêÏ∏† id

In [ ]:
click_content_page_more_review_button = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/click.content_page_more_review_button.csv')
click_content_page_more_review_button

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417000,United Kingdom,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Whale,3.18.154.13,Web,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,109.0.0.0,Web,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,Mobile Safari,15.6.1,Web,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,110.0.0.0,Web,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93957,Goyang-si,2023-07-31 03:10:29.773000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,WebKit,605.1.15,Web,748d20973591001e4df47a87edb79b24,c269eb6df3a374b464f7c18f12fa398f
93958,Seoul,2023-07-11 06:32:48.945000,South Korea,NaN,Mac,Mac,click.content_page_more_review_button,Korean,Safari,15.4,Web,NaN,e543c38ec7fa6bcd5045049ecc31e5f8
93959,Seoul,2023-11-01 23:37:23.165000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,118.0.0.0,Web,e8d4e1bb915de2be1b4585a5b59525a6,f351e92bba7aadae94d04c85c3fb1834
93960,Gangnam-gu,2023-12-29 13:10:12.048000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,120.0.0.0,Web,04c660e8e893dfedc0063ad681982b86,1ccd38c0253604fb48f78970736f915c
93961,Seongbuk-gu,2023-10-10 05:25:53.435000,South Korea,NaN,K,NaN,click.content_page_more_review_button,Korean,Chrome,116.0.0.0,Web,NaN,479926b04fe824bce5bdc7e0f81a2539

In [ ]:
print(click_content_page_more_review_button['client_event_time'].min())
print(click_content_page_more_review_button['client_event_time'].max())

2022-01-01 10:34:02.834000
2023-12-30 20:16:23.102000

In [ ]:
click_content_page_more_review_button.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93949 entries, 0 to 93961
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               93780 non-null  object
 1   client_event_time  93949 non-null  datetime64[ns]
 2   country            93931 non-null  object
 3   device_family      93949 non-null  object
 4   device_type        93897 non-null  object
 5   event_type         93949 non-null  object
 6   language           93949 non-null  object
 7   os_name            93949 non-null  object
 8   os_version         93946 non-null  object
 9   platform           93949 non-null  object
 10  user_id            10694 non-null  object
 11  content.id         93925 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 9.3+ MB

In [ ]:
click_content_page_more_review_button.isnull().sum()

city                   169
client_event_time        0
country                 18
device_family            0
device_type             52
event_type               0
language                 0
os_name                  0
os_version               3
platform                 0
user_id              83255
content.id              24
dtype: int64

In [ ]:
click_content_page_more_review_button_df = click_content_page_more_review_button[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id','content.id']].rename(
    columns = {'content.id' : 'content_id'}
)
# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#click_content_page_more_review_button_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enterclick_content_page_more_review_button_df =click_content_page_more_review_button_df.loc[click_content_page_more_review_button_df['os_name'] != 'Chrome Headless']

# reset_index
enterclick_content_page_more_review_button_df =click_content_page_more_review_button_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
click_content_page_more_review_button_df['client_event_time'] = pd.to_datetime(click_content_page_more_review_button_df['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
click_content_page_more_review_button_df["client_event_time"] = click_content_page_more_review_button_df["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
click_content_page_more_review_button_df = click_content_page_more_review_button_df[(click_content_page_more_review_button_df['client_event_time'] >= '2022-01-01') 
                                  & (click_content_page_more_review_button_df['client_event_time'] <= '2023-12-31')]

In [ ]:
# Ïú†Ï†ÄÎ≥Ñ Î¶¨Î∑∞ Î≤ÑÌäº ÌÅ¥Î¶≠ Ïàò
click_content_page_more_review_button['user_id'].value_counts()

user_id
d2c7120aabd4ece896035f58b763a2dd    285
17d570bd01d51cf56c1b8aaa464d32c8    202
f8eedef539df7b9f3486c6ea72f02012    164
45473d99d11966b8791c2a1846f99cb6    143
f8868b5573dc20f97a1c65b25a02b7fb    109
                                   ...
e28e336f5c8ab4af71e780a11bc9eed7      1
7daa327236f9f864864e6f320ecddb35      1
74c417971fed77273658b0bc69036556      1
0675bf9f0c103f7b61ebfcb48db3f67e      1
148c6900916b1c6e4ae3aa53b3823a95      1
Name: count, Length: 3195, dtype: int64

In [ ]:

click_review_button_df = (
click_content_page_more_review_button_df.groupby(
    ['user_id','content_id']).size().reset_index(name = 'count').sort_values(by=['count'], ascending= False))

#click_review_button = click_review_button_df.loc[click_review_button_df.duplicated(subset=['user_id'])]
click_review_button_df

# click_review_button_df_columns = ['user_id', 'content.id', 'count']
# click_review_button = click_review_button_df[click_review_button_df_columns]
# click_review_button

,user_id,content_id,count
432,17d570bd01d51cf56c1b8aaa464d32c8,db82104b9c508953b3d00eea82844a48,94
4349,f8eedef539df7b9f3486c6ea72f02012,38df90d4de533d6296b52c6a1d90e26b,69
4350,f8eedef539df7b9f3486c6ea72f02012,3c3701997224d03a95fbb3b34446d238,63
433,17d570bd01d51cf56c1b8aaa464d32c8,ddaafc2251644873b3dcde16c5d0b9ba,51
2414,8c7c7766fa75bcd1eb4ee6230d6e0815,595cb4bbfc83e683b0314ca1312cfbde,43
...,...,...,...
4494,ff9ed2f643d4ab354fdb45922b1c4136,32cf55a55adcc30ad80b674c0fee2ff4,1
970,367edff63c801ddfed29137d32230802,61b6463287573f00de13a930805a52d6,1
971,368e1d2011eb0ed0dd55b1eae03362ae,479926b04fe824bce5bdc7e0f81a2539,1
4497,fff863f2a4d9ef10dc106f90c65952fc,f4be1a0fe0e301b03115591777fddf29,1
3936,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0,1

In [ ]:
# Ïú†Ï†ÄÏùò Ïª®ÌÖêÏ∏†Î≥Ñ Î¶¨Î∑∞ Î≤ÑÌäº ÌÅ¥Î¶≠ Ïàò

# Í∑∏Î£πÌôîÌïòÏó¨ count Ïª¨Îüº Ï∂îÍ∞Ä
click_review_button_df = (
    click_content_page_more_review_button_df
    .groupby(['user_id', 'content_id'])
    .size()
    .reset_index(name='count')
    .sort_values(by=['count'], ascending=False)
)

# ÌäπÏ†ï Ïª¨ÎüºÎßå ÏÑ†ÌÉù
click_review_button_df_columns = ['user_id', 'content_id', 'count']
click_review_button = click_review_button_df[click_review_button_df_columns]

# user_idÎ•º Ï≤òÏùå Ìïú Î≤àÎßå Ï∂úÎ†•ÌïòÎèÑÎ°ù Î≥ÄÌôò
click_review_button.loc[click_review_button.duplicated(subset=['user_id']), 'user_id'] = ""
display(click_review_button)

,user_id,content_id,count
432,17d570bd01d51cf56c1b8aaa464d32c8,db82104b9c508953b3d00eea82844a48,94
4349,f8eedef539df7b9f3486c6ea72f02012,38df90d4de533d6296b52c6a1d90e26b,69
4350,,3c3701997224d03a95fbb3b34446d238,63
433,,ddaafc2251644873b3dcde16c5d0b9ba,51
2414,8c7c7766fa75bcd1eb4ee6230d6e0815,595cb4bbfc83e683b0314ca1312cfbde,43
...,...,...,...
4494,,32cf55a55adcc30ad80b674c0fee2ff4,1
970,367edff63c801ddfed29137d32230802,61b6463287573f00de13a930805a52d6,1
971,,479926b04fe824bce5bdc7e0f81a2539,1
4497,fff863f2a4d9ef10dc106f90c65952fc,f4be1a0fe0e301b03115591777fddf29,1
3936,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0,1

### 7. Í≤∞Ï†ú ÌéòÏù¥ÏßÄ ÏßÑÏûÖ(enter.payment_page)

In [ ]:
enter_payment_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.payment_page.csv')
enter_payment_page.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:31:27.602000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,112.0.0.0,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,111.0.0.0,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,111.0.1661.62,Web,62cfa08370da60b8db4495baaff62806

In [ ]:
# Í≤∞Ï†ú ÌéòÏù¥ÏßÄ ÏßÑÏûÖÏùò Í≤ΩÏö∞ 2022ÎÖÑ 11ÏõîÎ∂ÄÌÑ∞ 2023ÎÖÑ 12ÏõîÍπåÏßÄ ÏûàÏùå

print(enter_payment_page['client_event_time'].min())
print(enter_payment_page['client_event_time'].max())

2022-11-03 02:39:46.400000
2023-12-10 14:56:01.475000

In [ ]:
enter_payment_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165061 entries, 0 to 165060
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               162362 non-null  object
 1   client_event_time  165061 non-null  object
 2   country            164899 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      165060 non-null  object
 5   device_type        159066 non-null  object
 6   event_type         165061 non-null  object
 7   language           165061 non-null  object
 8   os_name            165061 non-null  object
 9   os_version         164560 non-null  object
 10  platform           165061 non-null  object
 11  user_id            158834 non-null  object
dtypes: float64(1), object(11)
memory usage: 15.1+ MB

In [ ]:
#user_idÍ∞Ä ÏóÜÏñ¥ÎèÑ Í≤∞Ï†ú ÌéòÏù¥ÏßÄÏóê ÏßÑÏûÖÏù¥ Í∞ÄÎä•ÌïúÍ±¥Í∞Ä?
enter_payment_page.isnull().sum()

city                   2699
client_event_time         0
country                 162
device_carrier       165061
device_family             1
device_type            5995
event_type                0
language                  0
os_name                   0
os_version              501
platform                  0
user_id                6227
dtype: int64

In [ ]:
enter_payment_page_df = enter_payment_page[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id']]

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#enter_payment_page_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
enter_payment_page_df =enter_payment_page_df.loc[enter_payment_page_df['os_name'] != 'Chrome Headless']

# reset_index
enter_payment_page_df =enter_payment_page_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
enter_payment_page_df['client_event_time'] = pd.to_datetime(enter_payment_page_df['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
enter_payment_page_df["client_event_time"] = enter_payment_page_df["client_event_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
enter_payment_page_df = enter_payment_page_df[(enter_payment_page_df['client_event_time'] >= '2022-01-01') 
                                  & (enter_payment_page_df['client_event_time'] <= '2023-12-31')]
enter_payment_page_df.head()

,city,client_event_time,country,device_family,event_type,language,os_name,user_id
0,Seoul,2023-04-06 06:31:27.602,South Korea,Samsung Phone,enter.payment_page,Korean,Chrome,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-06 06:33:30.699,South Korea,Windows,enter.payment_page,Korean,Chrome,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-06 06:05:28.337,South Korea,Windows,enter.payment_page,Korean,Edge,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-06 06:45:27.935,South Korea,Mac,enter.payment_page,Korean,Safari,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-06 06:46:50.632,South Korea,Mac,enter.payment_page,Korean,Safari,06b6868000a5d576180aca47896d6cce

In [ ]:
enter_payment_page_df['user_id'].unique()

array(['8ee58bcaa05b234cdbf84167c0983385',
       '74d17c27a41656e7788b0c81d9f76cda',
       '62cfa08370da60b8db4495baaff62806', ...,
       '0d507104136f139cbc9f6fa1db365162',
       '298e200203472e5bc0f9a14053e1dfe1',
       '4252b7d6d08c1ba797ec2f5d0b244963'], shape=(63919,), dtype=object)

In [ ]:
enter_payment_page_df['user_id'].value_counts()

user_id
233094e3798cb9f681d9d1466e276ed8    101
d3b2f51ede04364bd9861f8d261f26ec     55
fe3beafec5633844a56822e010bf73f9     55
23380fbcdeecb36c1ad92a7558315b63     49
29126bff58f932e3b36adef464f8fdbb     49
                                   ...
1fe73e3496ab9c8e58e990822927975c      1
824d513dac110ef6e59c804b6ef49f16      1
aa3f191e037db904bb78e27f23b19fff      1
b5403d5f53eedad8a843f0d62e064c46      1
eb75bdef427fafaf336fd4e4996af277      1
Name: count, Length: 63918, dtype: int64

### 8. Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å(complete.subscription)

- Ï≤´ Í≤∞Ï†úÍ∞Ä Ï§ëÎ≥µÏù∏ Í≤ΩÏö∞Îäî Ï≤´ Í≤∞Ï†ú ÌôòÎ∂à ÌõÑ Îã§Ïãú Í≤∞Ï†úÌïú ÏºÄÏù¥Ïä§Î°ú Í∞ÑÏ£º -> Í∑∏Îüº Í≤∞Íµ≠ Ï§ëÎ≥µÎêú Í≤∞Ï†ú ÎÇ¥Ïó≠Ï§ë ÏµúÍ∑º ÎßàÏßÄÎßâ Í∏∞Î°ùÎßå Î≥¥Î©¥ ÎêòÎäîÍ±¥Í∞Ä?
- plan.price : Ï†ïÏÉÅÍ∞Ä
- paid_amount : Ïã§Ï†ú Í≤∞Ï†ú Í∏àÏï°
- coupon.discount_amount : Ìï†Ïù∏Ïï°(Ï†ïÏÉÅÍ∞Ä - Ïã§Ï†ú Í≤∞Ï†ú Í∏àÏï°ÏúºÎ°ú Í≥ÑÏÇ∞)
- pg.type : Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ(A,B,CÎäî Í∞ÅÍ∏∞ Îã§Î•∏ Í∞ÑÌé∏Í≤∞Ï†ú ÏàòÎã®)
    -> Í≤∞Ï†ú ÌÉÄÏûÖÏù¥ Í≤∞Ï∏°Ïù∏ Í≤ΩÏö∞Îäî Î≠òÍπå? Î¨¥Î£åÏ≤¥Ìóò ÏÑúÎπÑÏä§?

In [297]:
complete_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/complete.subscription.csv')
complete_subscription.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN

In [298]:
print(complete_subscription['client_event_time'].min())
print(complete_subscription['client_event_time'].max())

2022-01-01 06:17:24.513000
2023-12-31 16:27:37.370000

In [299]:
complete_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14289 entries, 0 to 14288
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    13757 non-null  object
 1   client_event_time       14289 non-null  object
 2   country                 13906 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           13914 non-null  object
 5   device_type             13764 non-null  object
 6   event_type              14289 non-null  object
 7   language                13914 non-null  object
 8   os_name                 13908 non-null  object
 9   os_version              13899 non-null  object
 10  platform                13914 non-null  object
 11  user_id                 14289 non-null  object
 12  plan.price              14289 non-null  int64
 13  paid_amount             14289 non-null  int64
 14  coupon.discount_amount  14289 non-null  int64
 15  pg.type                 1642 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.7+ MB

In [300]:
complete_subscription.shape

(14289, 16)

In [301]:
complete_subscription.isnull().sum()

city                        532
client_event_time             0
country                     383
device_carrier            14289
device_family               375
device_type                 525
event_type                    0
language                    375
os_name                     381
os_version                  390
platform                    375
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   12647
dtype: int64

In [303]:
complete_subscription_df = complete_subscription[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id',
                                            'plan.price','paid_amount',	'coupon.discount_amount',	'pg.type']].rename(columns = {
                                                                                                                    'plan.price' : 'complete_sub_plan_price',
                                                                                                                    'paid_amount' : 'complete_sub_paid_amount',
                                                                                                                    'coupon.discount_amount' : 'complete_sub_coupon_discount_amount',
                                                                                                                    'pg.type' : 'pg_type',
                                                                                                                    'client_event_time' : 'complete_sub_time'})

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#complete_subscription_df.drop(columns='device_carrier',inplace=True)

# ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
complete_subscription_df =complete_subscription_df.loc[complete_subscription_df['os_name'] != 'Chrome Headless']

# reset_index
complete_subscription_df =complete_subscription_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
complete_subscription_df['complete_sub_time'] = pd.to_datetime(complete_subscription_df['complete_sub_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
complete_subscription_df["complete_sub_time"] = complete_subscription_df["complete_sub_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
complete_subscription_df = complete_subscription_df[(complete_subscription_df['complete_sub_time'] >= '2022-01-01') 
                                  & (complete_subscription_df['complete_sub_time'] <= '2023-12-31')]
complete_subscription_df.head()

,city,complete_sub_time,country,device_family,event_type,language,os_name,user_id,complete_sub_plan_price,complete_sub_paid_amount,complete_sub_coupon_discount_amount,pg_type
0,Nowon-gu,2023-04-06 06:40:04.000,South Korea,Windows,complete.subscription,Korean,Edge,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 23:20:03.008,South Korea,Apple iPhone,complete.subscription,Korean,Mobile Safari,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 17:46:14.026,South Korea,Windows,complete.subscription,Korean,Chrome,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 20:35:01.865,South Korea,Windows,complete.subscription,Korean,Chrome,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 10:25:55.820,South Korea,Mac,complete.subscription,Korean,Chrome,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN

In [304]:
# Ï§ëÎ≥µ Í±¥Ïàò ÌôïÏù∏ -> Ï≤´ Í≤∞Ï†ú Ïó¨Îü¨Î≤à Ìïú ÏÇ¨Îûå Ï°¥Ïû¨ : ÏµúÏã† ÎßàÏßÄÎßâ ÎÇ†Ïßú Ï≤´ Í≤∞Ï†úÎßå ÎÇ®Í∏∞Í∏∞
complete_subscription_df['user_id'].value_counts()

user_id
3767d4c7a827422fccf61d45ae889669    8
f833cca4c382ac8c502c6f99bc432725    6
ccea16701cf72a9027d7d5f2c3d3019c    5
e04c24e899b1e875ed432a7b398a4308    4
508023b34654ca6b261bbe4fb56e1e3b    3
                                   ..
ac62c41fb1f784bee9ac6819b299ea9c    1
7d177a26c48ab42bb9f07be513121747    1
d2cce94f7139e02152a6116806de141d    1
76552cd1c7eda558d1d99598bc5e37e5    1
8f258b2290100e5dd4da53f8beed8608    1
Name: count, Length: 13669, dtype: int64

In [360]:
# Ï≤´ Í≤∞Ï†úÍ∞Ä Ï§ëÎ≥µÏù∏ Í≤ΩÏö∞ Ï≤´ Í≤∞Ï†ú ÌôòÎ∂à ÌõÑ Îã§Ïãú Í≤∞Ï†úÌïú ÏºÄÏù¥Ïä§Î°ú Î≥¥Í∏∞ ÎïåÎ¨∏Ïóê Í∞ÄÏû• ÏµúÍ∑º Í≤∞Ï†ú ÎÇ¥Ïó≠Îßå ÎÇ®Í∏∞Í∏∞Î°ú Ìï®
complete_subscription_df = complete_subscription_df.sort_values(by = 'complete_sub_time')

# user_idÎ≥Ñ Í∞ÄÏû• ÏµúÍ∑º Í≤∞Ï†ú ÎÇ¥Ïó≠ 1Í±¥Îßå ÎÇ®Í∏∞Í≥† Ï§ëÎ≥µ Ï†úÍ±∞
complete_subscription_df = complete_subscription_df.drop_duplicates(subset ='user_id', keep = 'last')
complete_subscription_df

,city,complete_sub_time,country,device_family,event_type,language,os_name,user_id,complete_sub_plan_price,complete_sub_paid_amount,complete_sub_coupon_discount_amount,pg_type
9399,Seoul,2022-01-01 15:17:24.513,South Korea,Apple iPhone,complete.subscription,Korean,Mobile Safari,c2fd9e1a9d094f563d6ca7a6caa538be,42960,42960,0,NaN
6914,Bucheon-si,2022-01-02 17:34:14.270,South Korea,Windows,complete.subscription,Korean,Edge,8eabe35d59b6596f27552a4c71a279c1,15920,15920,0,NaN
5757,Dongjak-gu,2022-01-03 00:23:04.269,South Korea,Windows,complete.subscription,Korean,Chrome,97c0a306a466b44643469ebf1d4b57e3,42960,42960,0,NaN
7520,Seoul,2022-01-03 13:25:14.519,South Korea,Windows,complete.subscription,Korean,Chrome,29488c6f47c0f19ed631be20c40d64c0,15920,15920,0,NaN
5747,Osan,2022-01-04 22:35:09.247,South Korea,Windows,complete.subscription,Korean,Chrome,37ebaca2779d2f5b40d5694afa387f43,42960,42960,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13427,NaN,2023-12-30 23:16:17.471,NaN,NaN,complete.subscription,NaN,NaN,1f2aac92d6a892eec90bbe2e5eb7e0a8,95520,95520,0,A
13426,NaN,2023-12-30 23:22:19.273,NaN,NaN,complete.subscription,NaN,NaN,d98f95015e9d910bf4196880d8be3fb9,95520,95520,0,A
13423,Gongju,2023-12-30 23:26:06.993,South Korea,Apple iPhone,complete.subscription,Korean,WebKit,1956e14bdc9b123fc14031f791368f37,95520,95520,0,B
13424,Jeju City,2023-12-30 23:37:11.223,South Korea,Apple iPhone,complete.subscription,Korean,WebKit,8ea6b5c95f6d255648b8f50ed39bee9c,95520,95520,0,B
13425,Yeonje-gu,2023-12-30 23:40:23.221,South Korea,K,complete.subscription,Korean,Whale,7fe2be89fb4c82046890b3041c9a8a83,95520,95520,0,A

In [361]:
# Í≤∞Ï†ú ÏàòÎã®Î≥Ñ Ïù¥Ïö© Ïàò
complete_subscription_df['pg_type'].value_counts(dropna = False)

pg_type
NaN    12268
A        912
B        489
Name: count, dtype: int64

In [362]:
complete_subscription_df.shape

(13669, 12)

In [363]:
complete_subscription_rate = complete_subscription_df[['user_id', 'complete_sub_time', 'complete_sub_plan_price', 'complete_sub_coupon_discount_amount', 'pg_type']].copy()

#Í≤∞Ï†ú Ìï†Ïù∏Ïú® Í≥ÑÏÇ∞
complete_subscription_rate['coupon_discount_rate(%)'] = (
    complete_subscription_rate['complete_sub_coupon_discount_amount'] / complete_subscription_rate['complete_sub_plan_price'] * 100).round(2)
print('Ïú†Ï†ÄÎ≥Ñ Î∞õÏùÄ Í≤∞Ï†ú Ìï†Ïù∏Ïú®(%)')
display(complete_subscription_rate)

#Í≤∞Ï†ú ÏàòÎã® Î∞è ÏõîÎ≥Ñ ÌèâÍ∑† Ìï†Ïù∏Ïú® Í≥ÑÏÇ∞
complete_subscription_rate['month'] = complete_subscription_rate['complete_sub_time'].dt.to_period('M')
complete_subscription_df_avg = complete_subscription_rate.groupby(['month'])['coupon_discount_rate(%)'].mean().reset_index()
print('ÏõîÎ≥Ñ Í≤∞Ï†ú Ìï†Ïù∏Ïú®')
complete_subscription_df_avg

Ïú†Ï†ÄÎ≥Ñ Î∞õÏùÄ Í≤∞Ï†ú Ìï†Ïù∏Ïú®(%)

,user_id,complete_sub_time,complete_sub_plan_price,complete_sub_coupon_discount_amount,pg_type,coupon_discount_rate(%)
9399,c2fd9e1a9d094f563d6ca7a6caa538be,2022-01-01 15:17:24.513,42960,0,NaN,0.0
6914,8eabe35d59b6596f27552a4c71a279c1,2022-01-02 17:34:14.270,15920,0,NaN,0.0
5757,97c0a306a466b44643469ebf1d4b57e3,2022-01-03 00:23:04.269,42960,0,NaN,0.0
7520,29488c6f47c0f19ed631be20c40d64c0,2022-01-03 13:25:14.519,15920,0,NaN,0.0
5747,37ebaca2779d2f5b40d5694afa387f43,2022-01-04 22:35:09.247,42960,0,NaN,0.0
...,...,...,...,...,...,...
13427,1f2aac92d6a892eec90bbe2e5eb7e0a8,2023-12-30 23:16:17.471,95520,0,A,0.0
13426,d98f95015e9d910bf4196880d8be3fb9,2023-12-30 23:22:19.273,95520,0,A,0.0
13423,1956e14bdc9b123fc14031f791368f37,2023-12-30 23:26:06.993,95520,0,B,0.0
13424,8ea6b5c95f6d255648b8f50ed39bee9c,2023-12-30 23:37:11.223,95520,0,B,0.0
13425,7fe2be89fb4c82046890b3041c9a8a83,2023-12-30 23:40:23.221,95520,0,A,0.0

ÏõîÎ≥Ñ Í≤∞Ï†ú Ìï†Ïù∏Ïú®

      month  coupon_discount_rate(%)
0   2022-01                 1.192308
1   2022-02                 2.161165
2   2022-03                 5.452800
3   2022-04                 6.264432
4   2022-05                 7.133550
5   2022-06                 7.079174
6   2022-07                 6.161572
7   2022-08                 5.777188
8   2022-09                 0.534884
9   2022-10                 2.651934
10  2022-11                63.170233
11  2022-12                 0.124904
12  2023-01                 0.006283
13  2023-02                 0.547016
14  2023-03                 0.443609
15  2023-04                 0.357942
16  2023-05                 0.284974
17  2023-06                 0.671756
18  2023-07                 0.985037
19  2023-08                 1.505747
20  2023-09                 3.919383
21  2023-10                 5.480769
22  2023-11                 4.163732
23  2023-12                 0.282695

In [311]:
# ÏõîÎ≥Ñ, Ïø†Ìè∞ Ìï†Ïù∏Ïú®Î≥Ñ ÏÇ¨Ïö©Ïûê Ïàò Í≥ÑÏÇ∞
monthly_coupon_users = complete_subscription_rate.groupby(
    [complete_subscription_rate["complete_sub_time"].dt.to_period("M"), "coupon_discount_rate(%)"])["user_id"].nunique().unstack()
monthly_coupon_users

coupon_discount_rate(%),0.00,2.09,3.00,4.59,5.00,7.00,9.00,10.00,15.00,20.00,25.00,30.00,40.00,50.00,75.13
complete_sub_time,,,,,,,,,,,,,,,
2022-01,46.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2022-02,448.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,42.0,21.0,NaN,NaN,NaN,1.0,NaN
2022-03,410.0,NaN,3.0,NaN,1.0,2.0,NaN,NaN,168.0,39.0,NaN,NaN,2.0,NaN,NaN
2022-04,330.0,NaN,4.0,NaN,1.0,NaN,3.0,NaN,160.0,33.0,NaN,1.0,2.0,3.0,NaN
2022-05,349.0,NaN,5.0,NaN,2.0,NaN,NaN,NaN,183.0,70.0,NaN,NaN,4.0,1.0,NaN
2022-06,323.0,NaN,1.0,NaN,3.0,NaN,NaN,NaN,211.0,40.0,NaN,NaN,2.0,1.0,NaN
2022-07,468.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,93.0,70.0,51.0,NaN,4.0,NaN,NaN
2022-08,278.0,NaN,3.0,NaN,1.0,NaN,1.0,NaN,18.0,16.0,57.0,NaN,1.0,2.0,NaN
2022-09,251.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,NaN,1.0,NaN,NaN
2022-10,157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2022-11,145.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,3.0,790.0
2022-12,1201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2023-01,1459.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-02,253.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0
2023-03,258.0,NaN,3.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
2023-04,439.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN
2023-05,376.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2023-06,611.0,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07,727.0,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2023-08,452.0,NaN,NaN,NaN,NaN,1.0,1.0,58.0,8.0,1.0,NaN,NaN,NaN,1.0,NaN
2023-09,421.0,NaN,NaN,NaN,NaN,NaN,NaN,38.0,121.0,NaN,2.0,NaN,1.0,NaN,NaN
2023-10,226.0,NaN,NaN,NaN,NaN,NaN,NaN,29.0,107.0,NaN,NaN,NaN,NaN,2.0,NaN
2023-11,399.0,NaN,NaN,NaN,NaN,NaN,NaN,39.0,129.0,NaN,NaN,NaN,1.0,NaN,NaN
2023-12,750.0,15.0,NaN,NaN,NaN,NaN,NaN,16.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [364]:
# Ïø†Ìè∞ Ìï†Ïù∏Ïú®Î≥Ñ Ïàò
complete_subscription_rate['coupon_discount_rate(%)'].value_counts()

coupon_discount_rate(%)
0.00     10777
15.00     1244
75.13      793
20.00      331
10.00      308
25.00      110
3.00        27
40.00       22
50.00       16
2.09        15
5.00        11
9.00         7
7.00         5
4.59         2
30.00        1
Name: count, dtype: int64

In [365]:
#<Ï†ïÌôïÌïú Ìï†Ïù∏ ÌîÑÎ°úÎ™®ÏÖò ÎÇ†ÏßúÎ•º Ï∂îÏ∏°Ìï¥Î≥¥Í≥†Ïûê Ïã§ÌñâÌï®>

# Ìï†Ïù∏Ïú®Ïù¥ Í∞ÄÏû• ÎÜíÏïòÎçò 2022ÎÖÑ 11ÏõîÏùò Í∞Å Ïú†Ï†ÄÎ≥Ñ Ìï†Ïù∏Ïú®ÏùÑ Î≥¥Í≥†ÏûêÌï®
complete_subscription_rate_filtered = complete_subscription_rate[complete_subscription_rate['month'] == '2022-11']

# 75% Ìï†Ïù∏Ïú® Í±¥ÏàòÍ∞Ä Ï†ÑÏ≤¥ÏóêÏÑú 793Í±¥Ïù¥ÏóàÎäîÎç∞ 790Í±¥Ïù¥ 11ÏõîÎã¨Ïóê ÏûàÏùå
print(complete_subscription_rate_filtered['coupon_discount_rate(%)'].value_counts())


# Ìï†Ïù∏Ïú®Ïù¥ 75%ÏòÄÎçò ÎÇ†ÏßúÎäî Ïñ∏Ï†úÏù∏ÏßÄ Ï∂îÏ∂ú
coupoun_discount_rate = complete_subscription_rate[complete_subscription_rate['coupon_discount_rate(%)'] == 75.13]
coupoun_discount_rate

coupon_discount_rate(%)
75.13    790
0.00     145
50.00      3
20.00      2
40.00      2
7.00       1
3.00       1
Name: count, dtype: int64

,user_id,complete_sub_time,complete_sub_plan_price,complete_sub_coupon_discount_amount,pg_type,coupon_discount_rate(%),month
9311,88a14a5e16c3c0963cde35d1e31e1182,2022-11-14 00:21:00.810,15920,11960,NaN,75.13,2022-11
9310,5ab8b5bcb6c0bc770bd22ab2df7e87a9,2022-11-14 00:24:58.812,15920,11960,NaN,75.13,2022-11
9307,1a689497c40f8b54b20e19ec8e4c7342,2022-11-14 00:47:29.466,15920,11960,NaN,75.13,2022-11
4127,7612345dfdaaba9b71db226ebbd3cd87,2022-11-14 01:35:32.307,15920,11960,NaN,75.13,2022-11
7344,1dd32475d99482be1d5600d92c741893,2022-11-14 04:39:47.755,15920,11960,NaN,75.13,2022-11
...,...,...,...,...,...,...,...
7353,fcd35117552cb1517dee6b99a0473307,2022-11-30 23:55:01.097,15920,11960,NaN,75.13,2022-11
7382,38c2908f6c1a111ee7cecdedfa668841,2022-11-30 23:56:53.802,15920,11960,NaN,75.13,2022-11
8898,ff136ba6f35b8eaadc3e27f3a9d02959,2022-12-01 00:00:08.684,15920,11960,NaN,75.13,2022-12
8899,ba016b25a5a844957fe85d50be6ba6cd,2022-12-01 00:00:23.212,15920,11960,NaN,75.13,2022-12
2666,2b1d088792b5327d0b2191b6ba69e355,2023-02-09 17:25:04.249,15920,11960,NaN,75.13,2023-02

In [366]:
# Ìï†Ïù∏Ïú®Ïù¥ 75%ÏòÄÎçò Í∏∞Í∞Ñ Ï∂îÏ∂ú
print(coupoun_discount_rate['complete_sub_time'].min())
print(coupoun_discount_rate['complete_sub_time'].max())

2022-11-14 00:21:00.810000
2023-02-09 17:25:04.249000

- pt.typeÏù¥ Í≤∞Ï∏°Ïù∏ Î∂ÄÎ∂ÑÎèÑ Ìï†Ïù∏ Î∞õÏùÄÍ≤å ÏûàÏñ¥ÏÑú Ï°∞Ïã¨...
- 22ÎÖÑ 11ÏõîÏóê Ìï†Ïù∏Ïú®Ïù¥ ÎÜíÏùå -> Î≠êÏßÄ??

### 9. Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å(renew.subscription)

- plan.price : Ï†ïÏÉÅÍ∞Ä
- paid_amount : Ïã§Ï†ú Í≤∞Ï†ú Í∏àÏï°
- coupon.discount_amount : Ìï†Ïù∏Ïï° -> Ïñ¥ÎñªÍ≤å Î∞õÏùÄ Í±∏Íπå? Ï≤´ Í≤∞Ï†ú / Íµ¨ÎèÖ Ïù¥Îü∞Í±∞ Ïù¥Î≤§Ìä∏? -> ÌôïÏù∏ ÌïÑÏöî     
    ÎßåÏïΩ Ïù¥Îü∞ Ìï†Ïù∏ ÏàòÎã®ÏúºÎ°ú Ï†ïÍ∏∞ Íµ¨ÎèÖ Ìïú ÌõÑÏóê Ï†ïÍ∏∞ Íµ¨ÎèÖ ÎÅùÎÇòÎ©¥ Ïû¨Íµ¨ÎèÖ ÌñàÎÇò??
- pg.type : Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ

In [343]:
renew_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/renew.subscription.csv')
renew_subscription.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Edge,104,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN

In [344]:
renew_subscription.shape

(15945, 16)

In [345]:
print(renew_subscription['client_event_time'].min())
print(renew_subscription['client_event_time'].max())

2022-09-08 03:05:02.068
2023-12-31 16:10:03.242

In [346]:
renew_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15945 entries, 0 to 15944
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    15575 non-null  object
 1   client_event_time       15945 non-null  object
 2   country                 15656 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           15657 non-null  object
 5   device_type             15484 non-null  object
 6   event_type              15945 non-null  object
 7   language                15657 non-null  object
 8   os_name                 15654 non-null  object
 9   os_version              15644 non-null  object
 10  platform                15657 non-null  object
 11  user_id                 15945 non-null  object
 12  plan.price              15945 non-null  int64
 13  paid_amount             15945 non-null  int64
 14  coupon.discount_amount  15945 non-null  int64
 15  pg.type                 2732 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.9+ MB

In [347]:
renew_subscription.isnull().sum()

city                        370
client_event_time             0
country                     289
device_carrier            15945
device_family               288
device_type                 461
event_type                    0
language                    288
os_name                     291
os_version                  301
platform                    288
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   13213
dtype: int64

In [348]:
# ÌïÑÏöîÌïú Ïª¨Îüº ÏÑ†ÌÉù ÌõÑ Ïª¨ÎüºÎ™Ö Î≥ÄÍ≤Ω
renew_subscription_df = renew_subscription[['city', 'client_event_time', 'country', 'device_family', 
                                            'event_type', 'language', 'os_name', 'user_id',
                                            'plan.price', 'paid_amount', 'coupon.discount_amount', 'pg.type']].rename(
    columns={'plan.price': 'renew_sub_plan_price',
             'paid_amount': 'renew_sub_paid_amount',
             'coupon.discount_amount': 'renew_sub_coupon_discount_amount',
             'pg.type': 'pg_type',
             'client_event_time': 'renew_sub_time'})

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞ (Chrome Headless ÏÇ¨Ïö©Ïûê Ï†úÍ±∞)
renew_subscription_df = renew_subscription_df.loc[renew_subscription_df['os_name'] != 'Chrome Headless']

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî Ïª¨Îüº Ï†úÍ±∞ (os_nameÏùÄ  ÌïÑÏöî ÏóÜÏúºÎØÄÎ°ú ÏÇ≠Ï†ú Í∞ÄÎä•)
#renew_subscription_df = renew_subscription_df.drop(columns=['device_carrier', 'os_name', 'platform'])

# Ïù∏Îç±Ïä§ Î¶¨ÏÖã
renew_subscription_df = renew_subscription_df.reset_index(drop=True)

# renew_sub_timeÏùÑ datetime ÌòïÏãùÏúºÎ°ú Î≥ÄÌôò
renew_subscription_df['renew_sub_time'] = pd.to_datetime(renew_subscription_df['renew_sub_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (UTC ‚Üí KST Î≥ÄÌôò)
renew_subscription_df["renew_sub_time"] = renew_subscription_df["renew_sub_time"] + timedelta(hours=9)

# 2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî Îç∞Ïù¥ÌÑ∞ ÌïÑÌÑ∞ÎßÅ
renew_subscription_df = renew_subscription_df[
    (renew_subscription_df['renew_sub_time'] >= '2022-01-01') & 
    (renew_subscription_df['renew_sub_time'] <= '2023-12-31')
]

In [355]:
# Ï†ïÍ∏∞ Í≤∞Ï†ú Ïó¨Îü¨ Î≤à Ìïú Ïú†Ï†Ä ÌôïÏù∏
renew_subscription_df[renew_subscription_df.duplicated(subset='user_id')]

,city,renew_sub_time,country,device_family,event_type,language,os_name,user_id,renew_sub_plan_price,renew_sub_paid_amount,renew_sub_coupon_discount_amount,pg_type
371,Seoul,2022-09-18 10:23:21.907,South Korea,Apple iPhone,renew.subscription,Korean,Mobile Safari,5a1157d27bedba5aa78471f8466545ed,15920,15920,0,NaN
803,Seoul,2022-09-29 18:46:30.843,South Korea,Apple iPhone,renew.subscription,Korean,Mobile Safari,6686b6d185ef0cf2880f4923be24be2a,15920,12736,3184,NaN
958,Bucheon-si,2022-10-03 19:08:56.562,South Korea,Android,renew.subscription,Korean,Samsung Browser,0a6c37562330d3aeb48eee50ea65724e,131600,105280,26320,NaN
1135,Gijang-gun,2022-10-08 12:45:01.734,South Korea,Windows,renew.subscription,Korean,Chrome,c2d47034960fdff5df495822ff66fbc1,15920,7960,7960,NaN
1136,Seoul,2022-10-08 13:15:06.712,South Korea,Windows,renew.subscription,Korean,Chrome,bf14840a8cb4643e6d557da96e35a3af,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Chuncheon,2023-12-30 22:45:01.345,South Korea,Windows,renew.subscription,Russian,Chrome,739dbcf52bbeaf72d19718a0b4c2f577,15920,15920,0,A
15811,University Park,2023-12-30 22:50:01.622,United States,Mac,renew.subscription,Korean,Chrome,157ff3aeeb3e11657aa49951f1a439ec,15920,7960,7960,A
15814,Busan,2023-12-30 23:30:02.112,South Korea,Windows,renew.subscription,Korean,Chrome,df44d7a890e0c3e8a49b405029307755,95520,95520,0,A
15816,Yuseong-gu,2023-12-30 23:45:01.563,South Korea,Windows,renew.subscription,Korean,Chrome,42384418903bd501fbdfe9c6bf1e5cc8,95520,95520,0,A
15817,Seo-gu,2023-12-30 23:50:01.486,South Korea,Windows,renew.subscription,Korean,Edge,a05aec1e1a9f065cda4e904877d7382e,95520,95520,0,A

In [356]:
renew_subscription_df['user_id'].nunique()

7399

In [357]:
# Ïú†Ï†ÄÏùò Ï†ïÍ∏∞ Í≤∞Ï†ú ÌöüÏàò
user_subscription_counts = renew_subscription_df.groupby('user_id').size().reset_index(name = 'subscription_count')

# Ï†ïÍ∏∞ Í≤∞Ï†ú ÌöüÏàò Í∏∞Ï§Ä ÎÇ¥Î¶ºÏ∞®Ïàú
user_subscription_counts = user_subscription_counts.sort_values(by = 'subscription_count', ascending = False).reset_index(drop = True)
user_subscription_counts

                               user_id  subscription_count
0     9f12c110740a42edb3c837d2562de2e9                  17
1     41741c33a86486de88b1c2dbcd9559f3                  16
2     1b1c5c2427a6054cd3c111c93788027f                  16
3     43733984736cf2806cca7f98fbd27b05                  16
4     38f7e82989652ff42f89a818378f84cb                  16
...                                ...                 ...
7394  ffe3e486f61399d62d83727e53a850dc                   1
7395  ff9da2883e4ca40860f43e0539474371                   1
7396  ff9c73fd15da305b55ff7eaf854c0915                   1
7397  ff9bb243eff83d84e2cb289ff629aba8                   1
7398  ff981a0f1f704b60de77fadb1fec86a9                   1

[7399 rows x 2 columns]

In [358]:
# Ï†ïÏÉÅÍ∞Ä Ï¢ÖÎ•òÍ∞Ä Îã§ÏñëÌï®(1Í∞úÏõî : 15920Ïõê, 2Í∞úÏõî : 131600Ïõê)
renew_subscription_df['renew_sub_plan_price'].unique()

array([ 15920,  42960, 131600,  79200,  83200,  87200,  91200,  95200,
        14328, 118440,  95520])

In [359]:
# Ï†ïÏÉÅÍ∞ÄÎ≥Ñ Í≤∞Ï†ú Ïàò
renew_subscription_df['renew_sub_plan_price'].value_counts()

renew_sub_plan_price
15920     11809
42960      1062
79200       954
131600      890
95520       419
83200       287
87200       160
95200       115
91200       105
14328        16
118440        1
Name: count, dtype: int64

### 10. ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖ ÏôÑÎ£å(resubscribe.subscription)

- plan.price : Ï†ïÏÉÅÍ∞Ä
- paid_amount : Ïã§Ï†ú Í≤∞Ï†ú Í∏àÏï°
- coupon.dicount_amount : Ìï†Ïù∏Ïï°
- pg.type : Í≤∞Ï†úÏàòÎã® ÌÉÄÏûÖ

In [435]:
resubscribe_subscription = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/resubscribe.subscription.csv')
resubscribe_subscription

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,NaN,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,113.0.5672.162,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,114.0.5735.99,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,Englewood,2023-10-20 19:29:37.174,United States,NaN,Mac,Mac,resubscribe.subscription,English,Safari,17.0,Web,482cf2ed1eefbe648ce156e43d323114,15920,15920,0,NaN
787,Suwon,2023-07-31 03:01:55.489,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,115.0.1901.188,Web,b6b9428216580dbdc053e0bb19083be1,15920,15920,0,NaN
788,Buk-gu,2023-12-31 03:53:51.324,South Korea,NaN,Samsung Phone,Samsung Galaxy Z Flip4,resubscribe.subscription,Korean,Whale,1.0.0.0,Web,eaff98093acb9a109975957cafb2d105,95520,95520,0,B
789,Seoul,2023-12-29 13:33:42.128,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,120.0.0.0,Web,e6aace24ed8703d42ce43c4b8b1c7d66,95520,95520,0,A
790,Mapo-gu,2023-12-29 13:21:24.679,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Whale,3.23.214.17,Web,7f742dabddf2b60069b465e4b8ca5b43,95520,95520,0,B

In [436]:
print(renew_subscription['client_event_time'].min())
print(renew_subscription['client_event_time'].max())

2022-09-08 03:05:02.068
2023-12-31 16:10:03.242

In [388]:
resubscribe_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    775 non-null    object
 1   client_event_time       791 non-null    object
 2   country                 784 non-null    object
 3   device_carrier          0 non-null      float64
 4   device_family           784 non-null    object
 5   device_type             773 non-null    object
 6   event_type              791 non-null    object
 7   language                784 non-null    object
 8   os_name                 784 non-null    object
 9   os_version              784 non-null    object
 10  platform                784 non-null    object
 11  user_id                 791 non-null    object
 12  plan.price              791 non-null    int64
 13  paid_amount             791 non-null    int64
 14  coupon.discount_amount  791 non-null    int64
 15  pg.type                 173 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 99.0+ KB

In [389]:
resubscribe_subscription.isnull().sum()

city                       16
client_event_time           0
country                     7
device_carrier            791
device_family               7
device_type                18
event_type                  0
language                    7
os_name                     7
os_version                  7
platform                    7
user_id                     0
plan.price                  0
paid_amount                 0
coupon.discount_amount      0
pg.type                   618
dtype: int64

In [437]:
resubscribe_subscription_df = resubscribe_subscription[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id',
                                            'plan.price','paid_amount',	'coupon.discount_amount',	'pg.type']].rename(columns = {
                                                                                                                    'plan.price' : 'resub_plan_price',
                                                                                                                    'paid_amount' : 'resub_paid_amount',
                                                                                                                    'coupon.discount_amount' : 'resub_coupon_discount_amount',
                                                                                                                    'pg.type' : 'pg_type',
                                                                                                                    'client_event_time' : 'resubscribe_time'})

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞

#resubscribe_subscription_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞
resubscribe_subscription_df =resubscribe_subscription_df.loc[resubscribe_subscription_df['os_name'] != 'Chrome Headless']

# reset_index
resubscribe_subscription_df =resubscribe_subscription_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
resubscribe_subscription_df['resubscribe_time'] = pd.to_datetime(resubscribe_subscription_df['resubscribe_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
resubscribe_subscription_df["resubscribe_time"] = resubscribe_subscription_df["resubscribe_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
resubscribe_subscription_df = resubscribe_subscription_df[(resubscribe_subscription_df['resubscribe_time'] >= '2022-01-01') 
                                  & (resubscribe_subscription_df['resubscribe_time'] <= '2023-12-31')]

In [391]:
resubscribe_subscription_df['pg_type'].value_counts()

pg_type
A    107
B     41
Name: count, dtype: int64

In [438]:
renew_subscription_df['user_id'].value_counts()

user_id
9f12c110740a42edb3c837d2562de2e9    17
44ed773b6eefda44c7fdf9ea2e6ddaa5    16
3adf8df3e3eeb8ccd24d3810ccd5357c    16
c106a313802738f58d0663d5290ebc70    16
7734b5e7f3c7e0f80885672cbe56f0ae    16
                                    ..
9a2bde5c35d351a84d9207eb4b16495f     1
2a343d934fbd1d5be0e9a715a98e5809     1
d471fe14e9a01aba5955dd97ba65ff47     1
258942cb8d889a0887b4af8ad856320a     1
eb60bf83f0d8511c8ed940f42e3735f6     1
Name: count, Length: 7399, dtype: int64

In [439]:
# ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖÏãú Ìï†Ïù∏ Î∞õÏùÄ ÏÇ¨ÎûåÎèÑ Ï°¥Ïû¨ 
resubscribe_subscription_df['resub_coupon_discount_amount'].value_counts()

resub_coupon_discount_amount
0        675
2388      18
796       14
478       14
7960       6
19740      6
32900      5
1289       5
3184       4
3948       4
1115       3
17184      3
6368       2
3980       2
52640      1
3867       1
1433       1
6580       1
11844      1
Name: count, dtype: int64

In [440]:
# ÎßåÎ£å Ïû¨Íµ¨ÎèÖÏãú Î∞õÏùÄ Ìï†Ïù∏Ïú®
resubscribe_subscription_rate = resubscribe_subscription_df[['user_id', 'resubscribe_time', 'resub_plan_price', 'resub_paid_amount','resub_coupon_discount_amount', 'pg_type']].copy()

#Í≤∞Ï†ú Ìï†Ïù∏Ïú® Í≥ÑÏÇ∞
resubscribe_subscription_rate['coupon_discount_rate(%)'] = (
    resubscribe_subscription_rate['resub_coupon_discount_amount'] / resubscribe_subscription_rate['resub_plan_price'] * 100).round(2)
print('Ïú†Ï†ÄÎ≥Ñ Ïû¨Íµ¨ÎèÖÏãú Î∞õÏùÄ Í≤∞Ï†ú Ìï†Ïù∏Ïú®(%)')
display(resubscribe_subscription_rate)

#Í≤∞Ï†ú ÏàòÎã® Î∞è ÏõîÎ≥Ñ ÌèâÍ∑† Ìï†Ïù∏Ïú® Í≥ÑÏÇ∞
resubscribe_subscription_rate['month'] = resubscribe_subscription_rate['resubscribe_time'].dt.to_period('M')
resubscribe_subscription_df_avg = resubscribe_subscription_rate.groupby(['month'])['coupon_discount_rate(%)'].mean().reset_index()
print('ÏõîÎ≥Ñ Ïû¨Íµ¨ÎèÖ Í≤∞Ï†ú Ìï†Ïù∏Ïú®')
resubscribe_subscription_df_avg

Ïú†Ï†ÄÎ≥Ñ Ïû¨Íµ¨ÎèÖÏãú Î∞õÏùÄ Í≤∞Ï†ú Ìï†Ïù∏Ïú®(%)

,user_id,resubscribe_time,resub_plan_price,resub_paid_amount,resub_coupon_discount_amount,pg_type,coupon_discount_rate(%)
0,41362ad5ebcade2bb1b78344a53e7ccf,2023-04-06 06:11:45.525,15920,15920,0,NaN,0.0
1,68831c27e47f0e8f04ba809baeec218e,2023-06-30 18:59:56.848,15920,15920,0,NaN,0.0
2,4e7568cb7db01f8386614ec2c6c961cd,2023-06-13 15:20:22.524,15920,15920,0,NaN,0.0
3,f91f19527b9ec688e028ec884b1b5c1c,2023-06-11 20:02:11.878,131600,131600,0,NaN,0.0
4,2276d7d2a31e05f4a5558c6406cc36c9,2023-06-13 23:39:25.736,131600,131600,0,NaN,0.0
...,...,...,...,...,...,...,...
785,d77f6d0cb941179f981240b741e2e036,2023-12-29 00:30:38.224,95520,95520,0,B,0.0
786,482cf2ed1eefbe648ce156e43d323114,2023-10-21 04:29:37.174,15920,15920,0,NaN,0.0
787,b6b9428216580dbdc053e0bb19083be1,2023-07-31 12:01:55.489,15920,15920,0,NaN,0.0
789,e6aace24ed8703d42ce43c4b8b1c7d66,2023-12-29 22:33:42.128,95520,95520,0,A,0.0
790,7f742dabddf2b60069b465e4b8ca5b43,2023-12-29 22:21:24.679,95520,95520,0,B,0.0

ÏõîÎ≥Ñ Ïû¨Íµ¨ÎèÖ Í≤∞Ï†ú Ìï†Ïù∏Ïú®

      month  coupon_discount_rate(%)
0   2022-09                 2.488372
1   2022-10                 3.666667
2   2022-11                 4.977778
3   2023-03                 0.937500
4   2023-04                 1.187500
5   2023-05                 0.000000
6   2023-06                 0.000000
7   2023-07                 0.000000
8   2023-08                 0.513158
9   2023-09                 4.671642
10  2023-10                 3.140000
11  2023-11                 3.238095
12  2023-12                 0.000000

In [441]:
resubscribe_subscription_rate['coupon_discount_rate(%)'].unique()

array([ 0.,  7.,  5., 20.,  3., 50., 40., 15.,  9., 25.])

- ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖÏùò Í≤ΩÏö∞ ÌÅ∞ Ìï†Ïù∏ÏùÄ ÏóÜÎçò Í≤ÉÏúºÎ°ú Î≥¥ÏûÑ

In [396]:
# ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖ Ïó¨Îü¨Î≤à Ìïú Ïú†Ï†Ä ÌôïÏù∏
resubscribe_subscription_df[resubscribe_subscription_df.duplicated(subset='user_id')]

,city,resubscribe_time,country,device_family,event_type,language,os_name,user_id,resub_plan_price,resub_paid_amount,resub_coupon_discount_amount,pg_type
183,Seoul,2023-04-04 16:56:56.160,South Korea,Samsung Phone,resubscribe.subscription,Korean,Whale,0b701fd2a173038f42a4562a57fb9a2b,15920,15920,0,NaN
225,Seoul,2022-11-08 23:58:55.689,South Korea,Apple iPhone,resubscribe.subscription,Korean,Mobile Safari,688a59aa0378a80cf660175bd6d2e226,42960,41671,1289,NaN
267,Gwangju,2022-11-12 13:48:28.116,South Korea,Windows,resubscribe.subscription,Korean,Chrome,3966266887fba64584a2c890fd7400d5,15920,15442,478,NaN
272,Seongbuk-gu,2022-09-23 08:17:07.196,South Korea,Windows,resubscribe.subscription,English,Chrome,dd038cd3b6630a91bf870d338b45d3a6,15920,15920,0,NaN
309,Mapo-gu,2022-11-19 13:12:03.189,South Korea,Apple iPad,resubscribe.subscription,Korean,Mobile Safari,ea08d0030696141e2ec26b54b5fd2ee1,15920,15920,0,NaN
345,Gwanak-gu,2022-10-01 23:09:50.556,South Korea,Mac,resubscribe.subscription,Korean,Chrome,374312364e615be115ae0b43759a2b72,42960,42960,0,NaN
438,Seoul,2023-09-19 16:37:07.132,South Korea,Mac,resubscribe.subscription,Korean,Chrome,a5d9a882e39e7e1baf665ad6b7ac93a5,15920,15124,796,NaN
458,Goyang-si,2023-09-27 19:53:25.178,South Korea,Windows,resubscribe.subscription,Korean,Chrome,03f4b626f647e17db0f26fb15bbc0e63,15920,13532,2388,NaN
477,Yongsan-gu,2023-10-08 20:22:58.576,South Korea,Windows,resubscribe.subscription,English,Chrome,c9ca83ec5f91a308ef458d2745819b77,15920,15920,0,NaN
480,Geumjeong-gu,2023-07-22 15:44:57.770,South Korea,Windows,resubscribe.subscription,Korean,Chrome,44f6fb22f1c473d718e692f8de901b5e,15920,15920,0,NaN
515,Jungnang-gu,2023-07-25 17:05:36.289,South Korea,Windows,resubscribe.subscription,Korean,Edge,3ebb00a18691d94271c6f8ac1e102606,15920,15920,0,NaN
517,Cheonan,2023-08-04 18:22:36.855,South Korea,Windows,resubscribe.subscription,Korean,Chrome,283ac3be2e9cf59284cf995e8d46e0df,15920,15920,0,NaN
529,Namyangju,2023-11-22 10:22:52.372,South Korea,Mac,resubscribe.subscription,Korean,Chrome,709e41c97d8b384e115bef2578cbd2ce,131600,111860,19740,A
531,Seoul,2023-10-30 22:13:57.834,South Korea,Mac,resubscribe.subscription,Korean,Safari,516f3638c5160767678c40c6cdbc63ea,15920,15920,0,A
538,Seoul,2023-08-10 09:24:20.161,South Korea,Apple iPhone,resubscribe.subscription,Korean,Mobile Safari,2466261a18d5757e8504ff8045d4b0e1,15920,15920,0,NaN
552,Seoul,2023-11-28 22:33:38.175,South Korea,Apple iPhone,resubscribe.subscription,Korean,Mobile Safari,688a59aa0378a80cf660175bd6d2e226,131600,131600,0,A
572,Seongdong-gu,2023-09-26 08:21:51.665,South Korea,Windows,resubscribe.subscription,English,Chrome,dd038cd3b6630a91bf870d338b45d3a6,15920,15920,0,NaN
632,Jung-gu,2023-12-30 22:57:45.498,South Korea,Mac,resubscribe.subscription,Korean,Chrome,d6572f0294788cb08cf7c59c1782e4f6,95520,95520,0,A
647,Dobong-gu,2023-07-15 17:42:07.538,South Korea,Mac,resubscribe.subscription,English,Chrome,bef67ccd94018623270269f2623132dc,15920,15920,0,NaN
651,Iksan,2023-10-31 17:12:59.086,South Korea,Windows,resubscribe.subscription,Korean,Chrome,3966266887fba64584a2c890fd7400d5,15920,15920,0,A
678,Jung-gu,2023-08-28 00:15:17.076,South Korea,Windows,resubscribe.subscription,Korean,Chrome,2819d9c74a4729355f14966f1e395f5d,15920,15920,0,NaN
698,Seocho-gu,2023-10-31 11:06:47.959,South Korea,Windows,resubscribe.subscription,Korean,Chrome,dced25721d62131eeb16439a3de08d64,15920,15920,0,A
706,Dalseo-gu,2023-09-19 11:44:18.492,South Korea,Mac,resubscribe.subscription,Korean,Chrome,e2b33750d8e206c309a70db1131cdf37,15920,15920,0,NaN
721,Seongju-gun,2023-08-17 22:13:18.739,South Korea,Windows,resubscribe.subscription,Korean,Chrome,2d615fbb946f650182d937bf3f70a71d,15920,15920,0,NaN
728,Suncheon,2023-08-06 12:06:54.356,South Korea,Windows,resubscribe.subscription,Korean,Chrome,08ca32dc8907493bb0fde412b02a0ed6,15920,15920,0,NaN
740,Yongin-si,2023-11-18 16:41:37.613,South Korea,Windows,resubscribe.subscription,Korean,Chrome,480468e1d173be446e19c48fa87644cf,131600,131600,0,A
759,Geoje-si,2023-09-02 21:04:09.279,South Korea,Mac,resubscribe.subscription,Korean,Chrome,63b033e79bafc057da4c8121821eafaa,15920,11940,3980,NaN
778,Jungnang-gu,2023-08-30 16:11:13.023,South Korea,Mac,resubscribe.subscription,English,Chrome,0695bdf05f0891a192e831ecd33a5ba9,15920,15920,0,NaN

In [442]:
# Ïú†Ï†ÄÏùò ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖ Í≤∞Ï†ú ÌöüÏàò
resubscribe_subscription_df_counts = resubscribe_subscription_df.groupby('user_id').size().reset_index(name = 'subscription_count')

# ÎßåÎ£åÌõÑ Ïû¨Íµ¨ÎèÖ Í≤∞Ï†ú ÌöüÏàò Í∏∞Ï§Ä ÎÇ¥Î¶ºÏ∞®Ïàú
resubscribe_subscription_df_counts = resubscribe_subscription_df_counts.sort_values(by = 'subscription_count', ascending = False).reset_index(drop = True)
resubscribe_subscription_df_counts

                              user_id  subscription_count
0    3966266887fba64584a2c890fd7400d5                   3
1    688a59aa0378a80cf660175bd6d2e226                   3
2    dd038cd3b6630a91bf870d338b45d3a6                   3
3    480468e1d173be446e19c48fa87644cf                   2
4    3ebb00a18691d94271c6f8ac1e102606                   2
..                                ...                 ...
733  ff917e8b6bcf53a48bd1b1efae5d00f5                   1
734  ff9bb243eff83d84e2cb289ff629aba8                   1
735  ffd42b112242c93d77b874a8668443f8                   1
736  ffe13db0ad3751c9be06a73aa38bc9fc                   1
737  f9b974072886988b91cbd70f0e35a85a                   1

[738 rows x 2 columns]

- ÎßåÎ£å ÌõÑ Ïû¨Íµ¨ÎèÖÏùÑ Ïó¨Îü¨ Î≤à Ìïú Ïú†Ï†ÄÎèÑ Ï°¥Ïû¨Ìï®
- Ï§ëÍ∞ÑÏóê Ï∑®ÏÜåÌñàÎçò Í≤ΩÌóòÏù¥ ÏûàÏùÑÍπå?

### 11. ÏÑúÎπÑÏä§ Î¨¥Î£åÏ≤¥Ìóò ÏãúÏûë(start.free_trial)

- plan.price : Ï†ïÏÉÅÍ∞Ä
- plan.type : ÏöîÍ∏àÏ†ú Ï¢ÖÎ•ò
- trial.type : Î¨¥Î£åÏ≤¥Ìóò Î∞©Ïãù   

    - type A(Íµ¨Î≤ÑÏ†Ñ)    
            - ÌäπÏ†ï Ïª®ÌÖêÏ∏† ÌïòÎÇòÏóê ÎåÄÌï¥ ÏòÅÍµ¨Ï†ÅÏù∏ Î¨¥Î£åÏ≤¥ÌóòÏùÑ Ï†úÍ≥µ    
            - Ïó¨Îü¨ Ïª®ÌÖêÏ∏†Ïóê Í±∏Ï≥êÏÑú Ï§ëÎ≥µ Î¨¥Î£åÏ≤¥Ìóò Ï†úÍ≥µÌïòÏòÄÏùå -> (Ïñ¥Îñ§ Ïª®ÌÖêÏ∏†Ïù∏ÏßÄ Ï†ïÎ≥¥Îäî ÎÇ®ÏïÑÏûàÏßÄ ÏïäÏùå) 

    - type B (Ïã†Î≤ÑÏ†Ñ)     
            - Í∏∞Í∞Ñ Îã®ÏúÑÎ°ú Î™®Îì† Ïª®ÌÖêÏ∏†Î•º Í≤ΩÌóòÌï† Ïàò ÏûàÎäî Î≤ÑÏ†ÑÏúºÎ°ú Ï†úÍ≥µ    
            - Ï§ëÎ≥µ Î¨¥Î£åÏ≤¥Ìóò Ï†úÍ≥µÌïòÏßÄ ÏïäÏùå

In [ ]:
# user_idÍ∞Ä Í≤∞Ï∏°Ïù∏ Í∞íÏùÄ Ï†úÍ±∞ÌïòÏòÄÏäµÎãàÎã§.
start_free_trial = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/start.free_trial.csv')
start_free_trial.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156000,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,15920.0,1Í∞úÏõî ÌîåÎûú,B
1,Dobong-gu,2023-03-12 08:28:29.384000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920.0,1Í∞úÏõî ÌîåÎûú,B
2,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1Í∞úÏõî ÌîåÎûú,B

In [ ]:
print(start_free_trial['client_event_time'].min())
print(start_free_trial['client_event_time'].max())

2021-12-04 12:46:00.519000
2023-04-30 14:59:47.032000

In [ ]:
start_free_trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30621 entries, 0 to 30620
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               30133 non-null  object
 1   client_event_time  30621 non-null  object
 2   country            30491 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      30499 non-null  object
 5   device_type        30478 non-null  object
 6   event_type         30621 non-null  object
 7   language           30499 non-null  object
 8   os_name            30499 non-null  object
 9   os_version         30497 non-null  object
 10  platform           30499 non-null  object
 11  user_id            30607 non-null  object
 12  plan.price         2439 non-null   float64
 13  plan.type          2439 non-null   object
 14  trial.type         30621 non-null  object
dtypes: float64(2), object(13)
memory usage: 3.5+ MB

In [ ]:
start_free_trial.isnull().sum()

city                   488
client_event_time        0
country                130
device_carrier       30621
device_family          122
device_type            143
event_type               0
language               122
os_name                122
os_version             124
platform               122
user_id                 14
plan.price           28182
plan.type            28182
trial.type               0
dtype: int64

In [ ]:
start_free_trial.shape

(30621, 15)

In [276]:
start_free_trial_df = start_free_trial[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id',
                                            'plan.price','plan.type','trial.type']].rename(columns = {'plan.price' : 'start_free_trial_plan_price',
                                                                                                        'plan.type' : 'start_free_trial_plan_type',
                                                                                                        'trial.type' : 'start_free_trial_type',
                                                                                                        'client_event_time' : 'start_free_trial_time'})

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#start_free_trial_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞
start_free_trial_df =start_free_trial_df.loc[start_free_trial_df['os_name'] != 'Chrome Headless']

# reset_index
start_free_trial_df =start_free_trial_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
start_free_trial_df['start_free_trial_time'] = pd.to_datetime(start_free_trial_df['start_free_trial_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
start_free_trial_df["start_free_trial_time"] = start_free_trial_df["start_free_trial_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
start_free_trial_df = start_free_trial_df[(start_free_trial_df['start_free_trial_time'] >= '2022-01-01') 
                                  & (start_free_trial_df['start_free_trial_time'] <= '2023-12-31')]
start_free_trial_df

,city,start_free_trial_time,country,device_family,event_type,language,os_name,user_id,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
0,Seoul,2023-04-06 06:49:36.156,South Korea,Mac,start.free_trial,Korean,Safari,06b6868000a5d576180aca47896d6cce,15920.0,1Í∞úÏõî ÌîåÎûú,B
1,Dobong-gu,2023-03-12 17:28:29.384,South Korea,Windows,start.free_trial,Korean,Chrome,40acc1ddfc012f3d2f58a3de95e9e748,15920.0,1Í∞úÏõî ÌîåÎûú,B
2,NaN,2023-03-12 17:35:00.107,NaN,NaN,start.free_trial,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1Í∞úÏõî ÌîåÎûú,B
3,Seoul,2023-04-12 20:36:50.250,South Korea,Mac,start.free_trial,Korean,Safari,cc8051a75f62278b0e4216dd0a182d8c,15920.0,1Í∞úÏõî ÌîåÎûú,B
4,NaN,2023-02-18 13:13:20.822,NaN,NaN,start.free_trial,NaN,NaN,4cc436ad294973993ccad3e3a70053a7,131600.0,12Í∞úÏõî ÌîåÎûú,B
...,...,...,...,...,...,...,...,...,...,...,...
30616,Nowon-gu,2022-02-21 13:56:12.117,South Korea,Windows,start.free_trial,Korean,Chrome,d4488d048e462d6c5b69e861d35dcc6b,NaN,NaN,A
30617,Seoul,2022-02-21 13:49:35.114,South Korea,Apple iPad,start.free_trial,Korean,Mobile Safari,613273af4d4e1b57d6ab93e2bf76e017,NaN,NaN,A
30618,Seodaemun-gu,2022-02-21 13:37:53.294,South Korea,Windows,start.free_trial,Korean,Chrome,fd2b864d7f354eb48a29ff2ce78d229d,NaN,NaN,A
30619,Seoul,2022-02-21 13:13:10.443,South Korea,Apple iPhone,start.free_trial,Korean,Mobile Safari,a318b7d752a63d5d2302a4493835bc10,NaN,NaN,A
30620,Seoul,2022-02-21 13:43:01.015,South Korea,Android,start.free_trial,Korean,Chrome WebView,3ac7014b40708e7e9109863c7863355d,NaN,NaN,A

In [277]:
#user_idÍ∞Ä Í≤∞Ï∏°Ïù∏Îç∞ÎèÑ ÏÑúÎπÑÏä§ Î¨¥Î£å Ï≤¥ÌóòÏùÑ Ìï† Ïàò ÏûàÎÇò? -> 14Í±¥ ÏÇ≠Ï†ú ÌñàÏùå(ÏãúÏä§ÌÖú ÏÉÅ Ïò§Î•ò Îì±Îì±Ïùò ÏõêÏù∏ Ï∂îÏ∏°)
start_free_trial_df[start_free_trial_df['user_id'].isna()]

,city,start_free_trial_time,country,device_family,event_type,language,os_name,user_id,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
3075,Seoul,2022-02-24 16:36:57.522,South Korea,Mac,start.free_trial,Korean,Safari,NaN,NaN,NaN,A
5022,Gangnam-gu,2022-01-26 17:55:47.608,South Korea,Windows,start.free_trial,Korean,Chrome,NaN,NaN,NaN,A
5023,Gangnam-gu,2022-01-26 17:59:01.671,South Korea,Windows,start.free_trial,Korean,Chrome,NaN,NaN,NaN,A
5024,Gangnam-gu,2022-01-26 17:59:11.373,South Korea,Windows,start.free_trial,Korean,Chrome,NaN,NaN,NaN,A
5187,Seoul,2022-06-29 18:44:22.929,South Korea,Apple iPhone,start.free_trial,Korean,Mobile Safari,NaN,NaN,NaN,A
6457,Cheongju-si,2022-02-06 16:42:08.666,South Korea,Windows,start.free_trial,Korean,Chrome,NaN,NaN,NaN,A
11593,Gangnam-gu,2022-01-26 18:00:08.176,South Korea,Windows,start.free_trial,Korean,Chrome,NaN,NaN,NaN,A
14472,Seoul,2022-06-21 16:03:55.053,South Korea,Mac,start.free_trial,Korean,Safari,NaN,NaN,NaN,A
17365,Osan,2022-01-27 08:50:18.502,South Korea,Apple iPhone,start.free_trial,Korean,WebKit,NaN,NaN,NaN,A
17366,Osan,2022-01-27 08:50:56.525,South Korea,Apple iPhone,start.free_trial,Korean,WebKit,NaN,NaN,NaN,A
27375,Seoul,2022-04-03 21:57:45.393,South Korea,Mac,start.free_trial,Korean,Safari,NaN,NaN,NaN,A
27801,Dong-gu,2022-01-29 03:37:17.829,South Korea,Apple iPhone,start.free_trial,Korean,WebKit,NaN,NaN,NaN,A
27802,Dong-gu,2022-01-29 03:38:05.853,South Korea,Apple iPhone,start.free_trial,Korean,WebKit,NaN,NaN,NaN,A
29551,NaN,2022-01-11 15:14:50.986,South Korea,Android,start.free_trial,Korean,Chrome WebView,NaN,NaN,NaN,A

In [278]:
# user_id Í≤∞Ï∏° Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
start_free_trial_df = start_free_trial_df.dropna(subset=['user_id'])
start_free_trial_df.shape

(30602, 11)

In [279]:
print(start_free_trial_df.columns)

Index(['city', 'start_free_trial_time', 'country', 'device_family',
       'event_type', 'language', 'os_name', 'user_id',
       'start_free_trial_plan_price', 'start_free_trial_plan_type',
       'start_free_trial_type'],
      dtype='object')

In [280]:
# Î™®Îì† Ï§ëÎ≥µ Ï†úÍ±∞ ÌõÑ Type A Ïù¥Ïö©Í∏∞Í∞Ñ (ÏµúÏÜå, ÏµúÎåÄ)
a_trial_period = start_free_trial_df.loc[
    start_free_trial_df['start_free_trial_type'] == 'A', 'start_free_trial_time'].agg(['min', 'max'])

# Î™®Îì† Ï§ëÎ≥µ Ï†úÍ±∞ ÌõÑ Type B Ïù¥Ïö©Í∏∞Í∞Ñ (ÏµúÏÜå, ÏµúÎåÄ)
b_trial_priod = start_free_trial_df.loc[
    start_free_trial_df['start_free_trial_type'] == 'B', 'start_free_trial_time'].agg(['min','max'])

print(f"TYPE A Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú {a_trial_period['min']},\n"
      f"                 ÎßàÏßÄÎßâ ÎÇ†Ïßú {a_trial_period['max']}")


print('-' * 60)


print(f'TYPE B Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú {b_trial_priod['min']},\n'
      f"                 ÎßàÏßÄÎßâ ÎÇ†Ïßú {b_trial_priod['max']}")

TYPE A Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú 2022-01-01 09:17:55.165000,
                 ÎßàÏßÄÎßâ ÎÇ†Ïßú 2022-11-13 23:38:56.844000
------------------------------------------------------------
TYPE B Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú 2023-02-01 00:03:03.291000,
                 ÎßàÏßÄÎßâ ÎÇ†Ïßú 2023-04-30 23:59:47.032000

- user_id, trial_typeÏùò Ï§ëÎ≥µÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í≥†Ïûê Ìï®

In [281]:
# user_id Ï§ëÎ≥µ ÌôïÏù∏ 
# -> user_idÏôÄ trial.type(Í∞ôÏùÄ user_idÏóê A,B Î™®Îëê Ïù¥Ïö© Í∞ÄÎä•ÏÑ±)Ïù¥ Í∞ôÏùÑ Í≤ΩÏö∞Îßå Ï§ëÎ≥µÏ≤òÎ¶¨ Ï†úÍ±∞Ìï¥ÏÑú ÏßÑÌñâÌï®)

# Ïù¥Î≤§Ìä∏ ÌÉÄÏûÖ, user_id Í∏∞Ï§Ä Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨
duplicated_sorted = start_free_trial_df.sort_values(by = ['user_id', 'start_free_trial_time'])
duplicated_sorted

# user_idÍ∞Ä Ï§ëÎ≥µÏù¥ ÏûàÎäî Í∞íÎßå Ï∂îÏ∂ú
start_free_trial_duplicate= duplicated_sorted[duplicated_sorted.duplicated(subset = ['user_id'], keep= False)]
start_free_trial_duplicate.head()

,city,start_free_trial_time,country,device_family,event_type,language,os_name,user_id,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
14196,Suwon,2022-02-04 14:55:28.871,South Korea,Windows,start.free_trial,Korean,Chrome,000ec3029411f0e0f5198abb679eebb8,NaN,NaN,A
14197,Suwon,2022-02-04 14:56:37.400,South Korea,Windows,start.free_trial,Korean,Chrome,000ec3029411f0e0f5198abb679eebb8,NaN,NaN,A
18698,Daegu,2022-03-18 15:24:20.014,South Korea,Windows,start.free_trial,Korean,Chrome,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A
18699,Daegu,2022-03-18 15:37:46.294,South Korea,Windows,start.free_trial,Korean,Chrome,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A
18700,Daegu,2022-03-18 15:48:47.524,South Korea,Windows,start.free_trial,Korean,Chrome,001ddbe4885db89888b34bf0eb14f6e1,NaN,NaN,A

In [282]:
# user_idÍ∞Ä Ï§ëÎ≥µÏù∏ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú trial.type ÌôïÏù∏
start_free_trial_duplicate['start_free_trial_type'].value_counts()

start_free_trial_type
A    20167
B       39
Name: count, dtype: int64

In [283]:
# Ï§ëÎ≥µ Ï†úÍ±∞ Ï†Ñ AÌÉÄÏûÖÏùò Î¨¥Î£å Ï≤¥ÌóòÍ≥º BÌÉÄÏûÖ Î¨¥Î£å Ï≤¥Ìóò Î™®Îëê Ïù¥Ïö©Ìïú Ïú†Ï†Ä Ï∂îÏ∂ú
# filterted_df_sorted AÌÉÄÏûÖÍ≥º B ÌÉÄÏûÖÏùÑ Î™®Îëê Ïù¥Ïö©ÌïòÎ©¥ÏÑú Í∞Å ÌÉÄÏûÖ Ïù¥Ïö© ÌöüÏàò

filtered_df = start_free_trial_df.groupby('user_id').filter(
    lambda group : ('A' in group['start_free_trial_type'].values) and  ('B' in group['start_free_trial_type'].values)
)
user_free_trial = filtered_df.groupby('user_id')['start_free_trial_type'].value_counts().unstack(fill_value=0)
user_free_trial

start_free_trial_type             A  B
user_id
00c4c694c8e071de103be590a4ce4b28  3  1
00dae4b5b145ebb67aab108a2e8bdab1  6  1
039ec92c347a0c3b9b8b6710e2e02f3e  1  1
096a9e35a84b0c7ff1a591885d13cca8  8  1
0b3f816f3fca3737099841d7769c7c96  1  1
0e22f6361c85b85b372ece2d2f78fdcb  3  1
0fd76a81503fd3510bbeb5ea0e74b1a2  1  1
27c2b57f4c26c7c97acc83e846632225  1  1
36637cc347af0c19b4e23c8d3a6c7250  1  1
393d8753cf0adbf637ef4347c1390a4d  1  1
3a10510dd5b089b68f7c6d17e9eed9a8  2  1
3ac4a36e6e7932cb74ea209709ddf67b  5  1
3e6fff146af5b676175852fefe75630a  1  1
568cd9fc86d91543b2ed27d79c4d70c0  2  1
5dab7423015ada477a91326b61b32f17  2  1
5f1e9d935344ea09896b7d1adedd5c22  1  1
5fcc7b3c4a7c5340b65bcf2644c91340  7  1
6404c1d99d60d57bcc9a27ce68568687  1  1
645b5262a61f78cadb299d06f7bdd829  3  1
7049442e9ce2c8f40514edb35fa03748  4  1
7528cf7cea8eba650ef76627e5012672  1  1
8629b238b94cdfe46cdf9a0d56a17ceb  1  1
8bdcc33893aa06c90269d85d922b7155  2  1
971fc17b4ba7db212257b6291b983aef  1  1
97c7e60ade836510b86d39e5b74f0461  2  1
9be56f7436a9ac272c600cd5d647dd82  1  1
9ee7e7960645e9582b5ca9d9bfa4695a  1  1
a13ac0297a9b8bf37bed989d50b58d90  2  1
a266d34e72b56fd17fcb41ff9a9d3a75  3  1
a8eaa728e163fcc37d63a580eded87e1  1  1
aa0058f6714546c9e3a95edb21a98b5e  1  1
aefd2d8b617f311b866d0387b0e53fcf  1  1
bdaccf3b8535d78a81114fb5855232c3  1  1
bef0e8eb2d33e91d14398032b7e54610  6  1
c4ed53a0c2e81717fa579d12f6d80e23  1  1
d13341178a636be5641198592349c03c  1  1
d87dbeb5a9a4889d1dc7ac15990303f0  4  1
e813dd35f04157cb1729e66a5e1b7f59  2  1
fac26d0181d57a6fa6eed20caca28ffe  5  1

In [284]:
# ÌôïÏù∏Ï∞® TYPE AÏôÄ TYPE B Î™®Îëê ÏÇ¨Ïö©ÌïòÎäî Ïú†Ï†Ä_id Ìïú Í∞ú Ï≤¥ÌÅ¨
filtered_df[filtered_df['user_id'] == '096a9e35a84b0c7ff1a591885d13cca8']

,city,start_free_trial_time,country,device_family,event_type,language,os_name,user_id,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
1553,Seoul,2023-04-04 08:23:33.500,South Korea,Windows,start.free_trial,Korean,Whale,096a9e35a84b0c7ff1a591885d13cca8,15920.0,1Í∞úÏõî ÌîåÎûú,B
4919,Seongbuk-gu,2022-05-24 16:25:16.699,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
12488,Seongbuk-gu,2022-05-27 20:37:30.436,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
12489,Seongbuk-gu,2022-05-27 20:59:33.813,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
19145,Seongbuk-gu,2022-05-24 20:17:28.290,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
22327,Seongbuk-gu,2022-05-24 07:37:21.520,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
22328,Seongbuk-gu,2022-05-24 07:50:18.919,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
22526,Seongbuk-gu,2022-05-25 07:26:28.521,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A
28970,Seongbuk-gu,2022-05-24 08:11:40.963,South Korea,Windows,start.free_trial,Korean,Edge,096a9e35a84b0c7ff1a591885d13cca8,NaN,NaN,A

In [285]:
# ÌÉÄÏûÖ A, BÎ•º Î™®Îëê ÏÇ¨Ïö©Ìïú Ïú†Ï†Ä -> 39Î™Ö
# Ïú†Ï†ÄÎ≥Ñ A, B ÏÇ¨Ïö© ÌöüÏàò ÏßëÍ≥Ñ
user_trial_counts = filtered_df.groupby('user_id')['start_free_trial_type'].value_counts().unstack(fill_value=0)

# Í∞Å Í∞íÏùÑ Ìï¥Îãπ Î¨∏Ïûê(A/B)Î°ú Î∞òÎ≥µÌï¥ÏÑú Î¨∏ÏûêÏó¥Î°ú Î≥ÄÌôò
user_trial_counts = user_trial_counts.apply(lambda x: ''.join(x.index[i] * int(x[i]) for i in range(len(x))), axis=1).reset_index()
user_trial_counts.columns = ['user_id', 'start_free_trial_type']

user_trial_counts

C:\Users\rmagm\AppData\Local\Temp\ipykernel_9484\1973124368.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  user_trial_counts = user_trial_counts.apply(lambda x: ''.join(x.index[i] * int(x[i]) for i in range(len(x))), axis=1).reset_index()

                             user_id start_free_trial_type
0   00c4c694c8e071de103be590a4ce4b28                  AAAB
1   00dae4b5b145ebb67aab108a2e8bdab1               AAAAAAB
2   039ec92c347a0c3b9b8b6710e2e02f3e                    AB
3   096a9e35a84b0c7ff1a591885d13cca8             AAAAAAAAB
4   0b3f816f3fca3737099841d7769c7c96                    AB
5   0e22f6361c85b85b372ece2d2f78fdcb                  AAAB
6   0fd76a81503fd3510bbeb5ea0e74b1a2                    AB
7   27c2b57f4c26c7c97acc83e846632225                    AB
8   36637cc347af0c19b4e23c8d3a6c7250                    AB
9   393d8753cf0adbf637ef4347c1390a4d                    AB
10  3a10510dd5b089b68f7c6d17e9eed9a8                   AAB
11  3ac4a36e6e7932cb74ea209709ddf67b                AAAAAB
12  3e6fff146af5b676175852fefe75630a                    AB
13  568cd9fc86d91543b2ed27d79c4d70c0                   AAB
14  5dab7423015ada477a91326b61b32f17                   AAB
15  5f1e9d935344ea09896b7d1adedd5c22                    AB
16  5fcc7b3c4a7c5340b65bcf2644c91340              AAAAAAAB
17  6404c1d99d60d57bcc9a27ce68568687                    AB
18  645b5262a61f78cadb299d06f7bdd829                  AAAB
19  7049442e9ce2c8f40514edb35fa03748                 AAAAB
20  7528cf7cea8eba650ef76627e5012672                    AB
21  8629b238b94cdfe46cdf9a0d56a17ceb                    AB
22  8bdcc33893aa06c90269d85d922b7155                   AAB
23  971fc17b4ba7db212257b6291b983aef                    AB
24  97c7e60ade836510b86d39e5b74f0461                   AAB
25  9be56f7436a9ac272c600cd5d647dd82                    AB
26  9ee7e7960645e9582b5ca9d9bfa4695a                    AB
27  a13ac0297a9b8bf37bed989d50b58d90                   AAB
28  a266d34e72b56fd17fcb41ff9a9d3a75                  AAAB
29  a8eaa728e163fcc37d63a580eded87e1                    AB
30  aa0058f6714546c9e3a95edb21a98b5e                    AB
31  aefd2d8b617f311b866d0387b0e53fcf                    AB
32  bdaccf3b8535d78a81114fb5855232c3                    AB
33  bef0e8eb2d33e91d14398032b7e54610               AAAAAAB
34  c4ed53a0c2e81717fa579d12f6d80e23                    AB
35  d13341178a636be5641198592349c03c                    AB
36  d87dbeb5a9a4889d1dc7ac15990303f0                 AAAAB
37  e813dd35f04157cb1729e66a5e1b7f59                   AAB
38  fac26d0181d57a6fa6eed20caca28ffe                AAAAAB

- ÌÉÄÏûÖ AÏùò Í≤ΩÏö∞ Ïó¨Îü¨ Î≤à Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©Ìïú Í≤ΩÏö∞Í∞Ä Ï°¥Ïû¨
- ÌÉÄÏûÖ BÏùò Í≤ΩÏö∞ Ïú†Ï†ÄÏóêÍ≤å Ï§ëÎ≥µÏúºÎ°ú Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ï†úÍ≥µÌïòÏßÄ ÏïäÎäî Í≤ÉÏùÑ ÌôïÏù∏ Ìï®

### 11-1. Ï§ëÎ≥µ Ï†úÍ±∞ -> A,B Î™®Îëê ÏÇ¨Ïö©ÌïòÎäî Ïú†Ï†ÄÎäî Ï†úÏô∏ÌïòÍ∏∞Î°úÌï®

In [286]:
#ÏÇ¨Ïö©Ìï† Ïª¨ÎüºÎßå Ï∂îÏ∂ú
free_trial_df = start_free_trial_df[['user_id','start_free_trial_time', 'start_free_trial_plan_price', 'start_free_trial_plan_type','start_free_trial_type']]

# AÏôÄ B Î™®Îëê ÏÇ¨Ïö©Ìïú Ïú†Ï†Ä Î™©Î°ù Ï∂îÏ∂ú
users_to_remove = filtered_df["user_id"].unique()

# AÏôÄ B Î™®Îëê ÏÇ¨Ïö©Ìïú Ïú†Ï†Ä Ï†úÍ±∞ 
free_trial_df = free_trial_df[free_trial_df["user_id"].isin(users_to_remove) == False]
free_trial_df.head()

,user_id,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
0,06b6868000a5d576180aca47896d6cce,2023-04-06 06:49:36.156,15920.0,1Í∞úÏõî ÌîåÎûú,B
1,40acc1ddfc012f3d2f58a3de95e9e748,2023-03-12 17:28:29.384,15920.0,1Í∞úÏõî ÌîåÎûú,B
2,38aca03fba9753a6b2f31b829fb16a30,2023-03-12 17:35:00.107,15920.0,1Í∞úÏõî ÌîåÎûú,B
3,cc8051a75f62278b0e4216dd0a182d8c,2023-04-12 20:36:50.250,15920.0,1Í∞úÏõî ÌîåÎûú,B
4,4cc436ad294973993ccad3e3a70053a7,2023-02-18 13:13:20.822,131600.0,12Í∞úÏõî ÌîåÎûú,B

In [287]:
# user_idÏôÄ trial.type Í∞ôÏùÄ Í≤ΩÏö∞Îßå Ï§ëÎ≥µ Ï†úÍ±∞ÌïòÍ≥† ÏµúÍ∑º Í∏∞Í∞ÑÏúºÎ°ú ÎÇ®ÍπÄ

# user_idÏôÄ client_event_time Í∏∞Ï§Ä Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨
free_trial_df = free_trial_df.sort_values(by=['user_id','start_free_trial_time'])

# user_idÏôÄ trial.typeÏù¥ Í∞ôÏùÄ Í≤ΩÏö∞Îßå Ï§ëÎ≥µ Ï†úÍ±∞(Í∞ÄÏû• ÏµúÏã†(ÎßàÏßÄÎßâ) ÌñâÎßå ÎÇ®ÍπÄ)
#free_trial_df = free_trial_df.drop_duplicates(subset= ['user_id', 'trial.type'], keep = 'last')
free_trial_df

,user_id,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
1578,0000572f2ba8079bcefd2760b632e820,2023-03-18 23:39:22.844,15920.0,1Í∞úÏõî ÌîåÎûú,B
336,000087537cbfd934375364218ff10f91,2023-04-01 20:42:25.489,131600.0,12Í∞úÏõî ÌîåÎûú,B
9769,0008a61888a167f7c68df68e9e76dcf7,2022-04-04 14:13:23.483,NaN,NaN,A
22896,000be07bc09ceff42c11978f4a9f1c1a,2022-08-13 21:57:40.928,NaN,NaN,A
14196,000ec3029411f0e0f5198abb679eebb8,2022-02-04 14:55:28.871,NaN,NaN,A
...,...,...,...,...,...
15717,fffba676b17f9f0f228360930f238f07,2022-01-02 22:39:33.974,NaN,NaN,A
15718,fffba676b17f9f0f228360930f238f07,2022-01-02 22:40:41.708,NaN,NaN,A
18562,fffba676b17f9f0f228360930f238f07,2022-02-01 15:53:16.953,NaN,NaN,A
10052,fffcbf8ded60b689e9867bff455f4ab7,2022-09-04 11:18:40.230,NaN,NaN,A
2012,fffe529de03d6187ef7ed765650c8d2b,2023-03-01 21:37:09.512,15920.0,1Í∞úÏõî ÌîåÎûú,B

In [288]:
# Ï§ëÎ≥µ ÌôïÏù∏
free_duplicated = free_trial_df[free_trial_df.duplicated(subset = ['user_id'])]
free_duplicated

,user_id,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
14197,000ec3029411f0e0f5198abb679eebb8,2022-02-04 14:56:37.400,NaN,NaN,A
18699,001ddbe4885db89888b34bf0eb14f6e1,2022-03-18 15:37:46.294,NaN,NaN,A
18700,001ddbe4885db89888b34bf0eb14f6e1,2022-03-18 15:48:47.524,NaN,NaN,A
13763,001ddbe4885db89888b34bf0eb14f6e1,2022-03-21 08:05:23.986,NaN,NaN,A
29333,001ddbe4885db89888b34bf0eb14f6e1,2022-04-10 00:33:16.519,NaN,NaN,A
...,...,...,...,...,...
14760,fff219b952002818462faa3746343f09,2022-06-19 20:29:36.032,NaN,NaN,A
14761,fff219b952002818462faa3746343f09,2022-06-19 20:39:12.642,NaN,NaN,A
15717,fffba676b17f9f0f228360930f238f07,2022-01-02 22:39:33.974,NaN,NaN,A
15718,fffba676b17f9f0f228360930f238f07,2022-01-02 22:40:41.708,NaN,NaN,A
18562,fffba676b17f9f0f228360930f238f07,2022-02-01 15:53:16.953,NaN,NaN,A

In [289]:
# trial_typeÎ≥Ñ Ïù¥Ïö©Ïûê Ïàò -> Ìïú Ïú†Ï†ÄÏùò Ï§ëÎ≥µ ÏÇ¨Ïö©ÏùÄ A ÌÉÄÏûÖÎßå Ï°¥Ïû¨
free_duplicated['start_free_trial_type'].value_counts()

start_free_trial_type
A    14204
Name: count, dtype: int64

In [290]:
# A ÌÉÄÏûÖÏùÄ ÌïòÎÇòÏùò Ïª®ÌÖêÏ∏†Ïóê ÎåÄÌï¥ ÏòÅÍµ¨Ï†ÅÏù∏ Î¨¥Î£å ÏÑúÎπÑÏä§Î•º Ï†úÍ≥µÌïòÏòÄÏúºÎØÄÎ°ú plan.typeÏù¥ ÏóÜÏùå
free_trial_df.groupby(['start_free_trial_type','start_free_trial_plan_type']).size()

start_free_trial_type  start_free_trial_plan_type
B                      12Í∞úÏõî ÌîåÎûú                       1145
                       1Í∞úÏõî ÌîåÎûú                        1255
dtype: int64

In [291]:
# Î™®Îì† Ï§ëÎ≥µ Ï†úÍ±∞ ÌõÑ Type A Ïù¥Ïö©Í∏∞Í∞Ñ (ÏµúÏÜå, ÏµúÎåÄ)
a_trial_period = free_trial_df.loc[
    free_trial_df['start_free_trial_type'] == 'A', 'start_free_trial_time'].agg(['min', 'max'])

# Î™®Îì† Ï§ëÎ≥µ Ï†úÍ±∞ ÌõÑ Type B Ïù¥Ïö©Í∏∞Í∞Ñ (ÏµúÏÜå, ÏµúÎåÄ)
b_trial_priod = free_trial_df.loc[
    free_trial_df['start_free_trial_type'] == 'B', 'start_free_trial_time'].agg(['min','max'])

print(f"TYPE A Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú {a_trial_period['min']},\n"
      f"                 ÎßàÏßÄÎßâ ÎÇ†Ïßú {a_trial_period['max']}")


print('-' * 60)


print(f'TYPE B Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú {b_trial_priod['min']},\n'
      f"                 ÎßàÏßÄÎßâ ÎÇ†Ïßú {b_trial_priod['max']}")

TYPE A Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú 2022-01-01 09:17:55.165000,
                 ÎßàÏßÄÎßâ ÎÇ†Ïßú 2022-11-13 23:38:56.844000
------------------------------------------------------------
TYPE B Ïù¥Ïö©Í∏∞Í∞Ñ : ÏãúÏûë ÎÇ†Ïßú 2023-02-01 00:03:03.291000,
                 ÎßàÏßÄÎßâ ÎÇ†Ïßú 2023-04-30 23:59:47.032000

### 11-2. ÌöåÏõêÍ∞ÄÏûÖ Ïú†Ï†Ä -> Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© -> Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å

In [292]:
# 1. ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ÏùÑ Í≤ΩÌóòÌï¥Î≥∏ Ïú†Ï†Ä Ï∂îÏ∂ú

# ÌöåÏõêÍ∞ÄÏûÖ ÏôÑÎ£å
complete_signup_df = complete_signup[['user_id','client_event_time','type']]

# ÌöåÏõê Í∞ÄÏûÖ ÏÑúÎπÑÏä§ Î¨¥Î£å Ï≤¥Ìóò Ïù¥Ïö© Ïú†Ï†Ä merge
signup_free_trial = pd.merge(complete_signup_df, free_trial_df, how  = 'inner', on = 'user_id')

signup_free_trial

,user_id,client_event_time,type,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type
0,06b6868000a5d576180aca47896d6cce,2023-04-05 21:45:18.672000,kakao,2023-04-06 06:49:36.156,15920.0,1Í∞úÏõî ÌîåÎûú,B
1,5544c5475f9c1682c352683b6dcbd005,2023-01-12 19:10:05.902000,kakao,2023-02-20 14:13:43.580,131600.0,12Í∞úÏõî ÌîåÎûú,B
2,9c07011e4f5560603ea872e26b2c04eb,2023-03-12 08:22:12.542000,email,2023-03-13 16:30:52.581,131600.0,12Í∞úÏõî ÌîåÎûú,B
3,40acc1ddfc012f3d2f58a3de95e9e748,2023-03-12 08:24:47.674000,kakao,2023-03-12 17:28:29.384,15920.0,1Í∞úÏõî ÌîåÎûú,B
4,38aca03fba9753a6b2f31b829fb16a30,2023-03-12 08:30:46.328000,kakao,2023-03-12 17:35:00.107,15920.0,1Í∞úÏõî ÌîåÎûú,B
...,...,...,...,...,...,...,...
26597,d4488d048e462d6c5b69e861d35dcc6b,2022-02-21 04:55:59.763000,naver,2022-02-24 13:23:35.434,NaN,NaN,A
26598,b24c5e133d159c222668607cc601d89b,2022-02-21 04:45:02.269000,naver,2022-02-21 15:07:23.982,NaN,NaN,A
26599,a318b7d752a63d5d2302a4493835bc10,2022-02-21 04:13:03.625000,kakao,2022-02-21 13:13:10.443,NaN,NaN,A
26600,3ac7014b40708e7e9109863c7863355d,2022-02-21 04:42:50.928000,kakao,2022-02-21 13:43:01.015,NaN,NaN,A
26601,3ac7014b40708e7e9109863c7863355d,2022-02-21 04:42:50.928000,kakao,2022-02-25 10:39:20.253,NaN,NaN,A

In [294]:
# Ï†ÑÏ≤¥ ÌöåÏõêÍ∞ÄÏûÖ Ïú†Ï†Ä Ïàò Î∞è ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£åÏ≤¥Ìóò Ïù¥Ïö© Ïú†Ï†Ä Ïàò Í≥ÑÏÇ∞
total_signup = complete_signup_df["user_id"].nunique()  # Ï†ÑÏ≤¥ ÌöåÏõêÍ∞ÄÏûÖ Ïú†Ï†Ä Ïàò
total_trial_users = signup_free_trial["user_id"].nunique()  # ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£åÏ≤¥ÌóòÏùÑ Ïù¥Ïö©Ìïú Ïú†Ï†Ä Ïàò

# ÎπÑÏú® Í≥ÑÏÇ∞
trial_users_ratio = (total_trial_users / total_signup) * 100

# Í≤∞Í≥º - type a,b Î™®Îëê ÏÇ¨Ïö©Ìïú Í≤ΩÏö∞Í∞Ä Ìè¨Ìï® ÎêòÏñ¥ÏûàÏùå...
print("ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©Ìïú Ïú†Ï†Ä Ïàò:", total_trial_users)
print("ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©Ìïú Ïú†Ï†Ä ÎπÑÏú® (%):", trial_users_ratio)

ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©Ìïú Ïú†Ï†Ä Ïàò: 14274
ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©Ìïú Ïú†Ï†Ä ÎπÑÏú® (%): 9.83511675497647

In [371]:
#2. Ï≤´ Í≤∞Ï†úÍ∞Ä Ï†ïÍ∏∞ Íµ¨ÎèÖÏù∏ Ïú†Ï†Ä

# Ï§ëÎ≥µ Í≤∞Ï†ú ÎÇ¥Ïó≠ Ï†úÍ±∞Ìïú Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Îç∞Ïù¥ÌÑ∞ ÌïÑÏöîÌïú Ïª¨ÎüºÎßå Ï∂îÏ∂ú(Ï≤´ Ï†ïÍ∏∞ Í≤∞Ï†ú : renew_subscription_df)
complete_subscription_final = complete_subscription_df[
    ['user_id', 'complete_sub_time', 'complete_sub_plan_price', 'complete_sub_paid_amount','complete_sub_coupon_discount_amount','pg_type' ]]

# Ï≤´ Í≤∞Ï†ú Ïú†Ï†ÄÏôÄ Ï†ïÍ∏∞ Íµ¨ÎèÖÏù∏ Ïú†Ï†Ä Í≤∞Ìï© 
complete_renew = pd.merge(complete_subscription_final, renew_subscription_df, how  = 'inner', on = 'user_id')

complete_renew

,user_id,complete_sub_time,complete_sub_plan_price,complete_sub_paid_amount,complete_sub_coupon_discount_amount,pg_type_x,city,renew_sub_time,country,device_family,event_type,language,os_name,renew_sub_plan_price,renew_sub_paid_amount,renew_sub_coupon_discount_amount,pg_type_y
0,dc9964299acacaa2ac98c787885804a1,2022-01-11 20:50:09.062,42960,42960,0,NaN,NaN,2022-10-11 21:05:06.884,NaN,NaN,renew.subscription,NaN,NaN,42960,42960,0,NaN
1,c6002e047b7008efdc2afaf88a71506a,2022-01-12 14:15:09.529,15920,15920,0,NaN,Seo-gu,2022-09-12 16:35:07.101,South Korea,Mac,renew.subscription,Korean,Chrome,15920,15920,0,NaN
2,c6002e047b7008efdc2afaf88a71506a,2022-01-12 14:15:09.529,15920,15920,0,NaN,Yeonje-gu,2022-10-12 16:40:08.296,South Korea,Mac,renew.subscription,Korean,Chrome,15920,15920,0,NaN
3,c6002e047b7008efdc2afaf88a71506a,2022-01-12 14:15:09.529,15920,15920,0,NaN,Nam-gu,2022-11-12 16:45:07.320,South Korea,Mac,renew.subscription,Korean,Chrome,15920,15920,0,NaN
4,c6002e047b7008efdc2afaf88a71506a,2022-01-12 14:15:09.529,15920,15920,0,NaN,Nam-gu,2022-12-28 16:00:04.535,South Korea,Mac,renew.subscription,Korean,Chrome,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12013,cb4001edce4d7756a48b773f4371a694,2023-11-30 18:55:41.518,15920,13532,2388,B,Hwaseong-si,2023-12-30 19:00:06.540,South Korea,Windows,renew.subscription,Korean,Chrome,15920,15920,0,B
12014,8899aabfc9fdb211c503c85f92ceb476,2023-11-30 22:50:21.284,15920,15920,0,A,Cheonan,2023-12-30 22:55:02.107,South Korea,Windows,renew.subscription,Korean,Chrome,15920,15920,0,A
12015,567af100f8b6b7ea3e2d2a470ebbb2c6,2023-12-04 21:06:09.238,15920,15920,0,A,Songpa-gu,2023-12-13 21:53:52.848,South Korea,Windows,renew.subscription,Korean,Edge,95520,95520,0,B
12016,47eead507b7e0d31d0df3c599cfac42d,2023-12-05 14:25:44.691,15920,15920,0,B,Gangnam-gu,2023-12-11 17:48:05.994,South Korea,Mac,renew.subscription,Korean,Chrome,95520,95520,0,B
12017,bbf2ee9c4d3800bd5ddd90e61d199dfc,2023-12-07 15:11:19.370,15920,15920,0,B,Dong-gu,2023-12-13 17:20:59.164,South Korea,Windows,renew.subscription,Korean,Chrome,95520,95520,0,B

In [372]:
# 2. ÌöåÏõê Í∞ÄÏûÖ ÏôÑÎ£å ÌöåÏõêÏùò Î¨¥Î£å ÏÑúÎπÑÏä§ Ï≤¥Ìóò ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å

# Ï§ëÎ≥µ Í≤∞Ï†ú ÎÇ¥Ïó≠ Ï†úÍ±∞Ìïú Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Îç∞Ïù¥ÌÑ∞ ÌïÑÏöîÌïú Ïª¨ÎüºÎßå Ï∂îÏ∂ú
complete_subscription_final = complete_subscription_df[
    ['user_id', 'complete_sub_time', 'complete_sub_plan_price', 'complete_sub_paid_amount','complete_sub_coupon_discount_amount','pg_type' ]]

# merge_df(Î¨¥Î£å ÏÑúÎπÑÏä§ Ï≤¥Ìóò)ÏôÄ complete_subscription_final_df(Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å) merge
free_trial_complete_outer = signup_free_trial.merge(complete_subscription_final, on = 'user_id', how = 'outer')
free_trial_complete_outer

,user_id,client_event_time,type,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type,complete_sub_time,complete_sub_plan_price,complete_sub_paid_amount,complete_sub_coupon_discount_amount,pg_type
0,0000572f2ba8079bcefd2760b632e820,2023-03-18 10:33:16.237000,kakao,2023-03-18 23:39:22.844,15920.0,1Í∞úÏõî ÌîåÎûú,B,2023-03-25 23:40:01.647,15920.0,15920.0,0.0,NaN
1,000087537cbfd934375364218ff10f91,2023-03-27 04:54:01.257000,email,2023-04-01 20:42:25.489,131600.0,12Í∞úÏõî ÌîåÎûú,B,2023-04-08 20:45:01.586,131600.0,131600.0,0.0,NaN
2,0001f15911b404f3bf5b8571afafa4e4,NaN,NaN,NaT,NaN,NaN,NaN,2023-11-29 10:13:51.820,15920.0,15920.0,0.0,B
3,0008a61888a167f7c68df68e9e76dcf7,2022-04-04 05:10:23.033000,email,2022-04-04 14:13:23.483,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
4,000be07bc09ceff42c11978f4a9f1c1a,2022-08-12 03:25:00.762000,kakao,2022-08-13 21:57:40.928,NaN,NaN,A,2022-08-20 22:05:01.083,42960.0,42960.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37106,fffba676b17f9f0f228360930f238f07,2022-01-02 13:33:57.086000,kakao,2022-01-02 22:39:33.974,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
37107,fffba676b17f9f0f228360930f238f07,2022-01-02 13:33:57.086000,kakao,2022-01-02 22:40:41.708,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
37108,fffba676b17f9f0f228360930f238f07,2022-01-02 13:33:57.086000,kakao,2022-02-01 15:53:16.953,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
37109,fffcbf8ded60b689e9867bff455f4ab7,2022-09-04 02:16:00.765000,kakao,2022-09-04 11:18:40.230,NaN,NaN,A,NaT,NaN,NaN,NaN,NaN
37110,fffe529de03d6187ef7ed765650c8d2b,2023-02-26 13:40:51.953000,kakao,2023-03-01 21:37:09.512,15920.0,1Í∞úÏõî ÌîåÎûú,B,NaT,NaN,NaN,NaN,NaN

### 11-3. Î¨¥Î£å Ï≤¥Ìóò Í≤ΩÌóò ÏûàÎäî Ïú†Ï†Ä -> Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ù O / Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ù X

In [ ]:
# 3. Î¨¥Î£åÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ùÏûàÎäî Ïú†Ï†Ä & Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ù ÏóÜÎäî Ïú†Ï†Ä

# 3-1.  Î¨¥Î£å Ï≤¥Ìóò Í≤ΩÌóòÏù¥ ÏûàÎäî Ïú†Ï†ÄÎßå Ï∂îÏ∂ú(start_free_trial_time Í≤∞Ï∏°Ïù¥ ÏïÑÎãå Îç∞Ïù¥ÌÑ∞)
free_trial_complete = free_trial_complete_outer[free_trial_complete_outer['start_free_trial_time'].notna()]

# 3-2. Î¨¥Î£åÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä    
#(Ï°∞Í±¥ : start_free_trial_time < complete_subscription_time) : row = 3143 -> Íµ¨ÎèÖÏ†ÑÌôòÏú®
# Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÏãúÍ∞ÑÏù¥ Î®ºÏ†ÄÏó¨Ïïº ÌïòÎäî Ïù¥Ïú†Îäî ÎßåÏïΩ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å ÌõÑÏóê Î¨¥Î£å Ï≤¥Ìóò Î†àÏä®ÏùÑ Îì§ÏóàÏùÑ Î≥ÄÏàòÎ•º Ï†úÏô∏ÏãúÌÇ§Í∏∞ ÏúÑÌï¥ÏÑú

free_trial_complete_yes =  free_trial_complete[free_trial_complete['complete_sub_time'].notna()
                                                     & (free_trial_complete['start_free_trial_time'] < free_trial_complete['complete_sub_time'])]
print(free_trial_complete_yes.shape)

# 3-3. Î¨¥Î£å ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä Ïàò Î∞è Ï†ÑÌôòÏú®
free_trial_complete_yes_users = free_trial_complete_yes['user_id'].nunique()
free_trial_complete_yes_rate = (free_trial_complete_yes_users /total_trial_users) * 100

print(f'Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä Ïàò : {free_trial_complete_yes_users}')
print(f'Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä ÎπÑÏú® : {free_trial_complete_yes_rate}')

(5784, 12)
Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä Ïàò : 3143
Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä ÎπÑÏú® : 22.019055625613003

In [375]:
# 4. TYPEÎ≥Ñ Î¨¥Î£åÏ≤¥ÌóòÏóêÏÑú Ï≤´ Í≤∞Ï†ú Ï†ÑÌôòÏú®

# TYPE AÏùò Ï†ÑÌôòÏú®
free_trial_subscription_A = free_trial_complete_yes[free_trial_complete_yes['start_free_trial_type'] == 'A']

free_trial_subscription_A_users = free_trial_subscription_A['user_id'].nunique()
free_trial_subscription_A_rate = (free_trial_complete_yes_users / free_trial_complete_yes_users) * 100

# TYPE BÏùò Ï†ÑÌôòÏú® 
free_trial_subscription_B = free_trial_complete_yes[free_trial_complete_yes['start_free_trial_type'] == 'B']

free_trial_subscription_B_users = free_trial_subscription_B['user_id'].nunique()
free_trial_subscription_B_rate = (free_trial_subscription_B_users / free_trial_complete_yes_users) * 100

print(f'TYPE AÏùò Ï≤´ Í≤∞Ï†ú Ï†ÑÌôò Ïú†Ï†Ä Ïàò : {free_trial_subscription_A_users}')
print(f'TYPE AÏùò Ï≤´ Í≤∞Ï†ú Ï†ÑÌôòÏú® : {free_trial_subscription_A_rate}')

print('-' * 60)

print(f'TYPE BÏùò Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú Ï†ÑÌôò Ïú†Ï†Ä Ïàò : {free_trial_subscription_B_users}')
print(f'TYPE BÏùò Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú Ï†ÑÌôòÏú® : {free_trial_subscription_B_rate}')

TYPE AÏùò Ï≤´ Í≤∞Ï†ú Ï†ÑÌôò Ïú†Ï†Ä Ïàò : 2171
TYPE AÏùò Ï≤´ Í≤∞Ï†ú Ï†ÑÌôòÏú® : 100.0
------------------------------------------------------------
TYPE BÏùò Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú Ï†ÑÌôò Ïú†Ï†Ä Ïàò : 972
TYPE BÏùò Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú Ï†ÑÌôòÏú® : 30.92586700604518

In [382]:
# 5.Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ùÏóÜÎäî Ïú†Ï†Ä Ï∂îÏ∂ú(Ïù¥ÌÉà)
free_trial_complete_no = free_trial_complete[free_trial_complete['complete_sub_time'].isna()]

# 5-1. Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Í∏∞Î°ù ÏóÜÎäî Ïú†Ï†Ä Ïàò  
free_trial_complete_no_users = free_trial_complete_no['user_id'].nunique()
free_trial_complete_no_rate = (free_trial_complete_no_users / total_trial_users) * 100

print(f'Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ïù¥ÌÉà Ïú†Ï†Ä Ïàò : {free_trial_complete_no_users}')
print(f'Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ïù¥ÌÉàÎ•† : {free_trial_complete_no_rate}')

Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ïù¥ÌÉà Ïú†Ï†Ä Ïàò : 11114
Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ïù¥ÌÉàÎ•† : 77.86184671430573

In [385]:
# 6. Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ Ìïú Ïú†Ï†Ä(ÏÇ¨Ïö© Ïó¨Î∂Ä ÏïÑÏßÅ Î™®Î¶Ñ)
free_trial_complete_yesno =  free_trial_complete[free_trial_complete['complete_sub_time'].notna()
                                                     & (free_trial_complete['start_free_trial_time'] > free_trial_complete['complete_sub_time'])]
display(free_trial_complete_yesno.head())

print('Ï≤´ Í≤∞Ï†ú ÌõÑ Î¨¥Î£åÏ≤¥Ìóò ÏÑúÎπÑÏä§Ïùò typeÏù¥ AÏù∏ Í≤ÉÏúºÎ°ú Î≥¥ÏïÑ Íµ¨ÎèÖ Ìïú Ïª®ÌÖêÏ∏†Í∞Ä Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïª®ÌÖêÏ∏†ÏòÄÏùÑ Í≤ÉÏúºÎ°ú Ï∂îÏ∏°')
free_trial_complete_yesno['start_free_trial_type'].unique()

,user_id,client_event_time,type,start_free_trial_time,start_free_trial_plan_price,start_free_trial_plan_type,start_free_trial_type,complete_sub_time,complete_sub_plan_price,complete_sub_paid_amount,complete_sub_coupon_discount_amount,pg_type
346,02805904483310fc050f7c05f33b6434,2022-03-16 05:30:44.609000,google,2022-03-16 15:21:24.650,NaN,NaN,A,2022-03-16 15:19:38.570,15920.0,15920.0,0.0,NaN
347,02805904483310fc050f7c05f33b6434,2022-03-16 05:30:44.609000,google,2022-03-16 15:22:19.154,NaN,NaN,A,2022-03-16 15:19:38.570,15920.0,15920.0,0.0,NaN
733,04dd034e854d2e7e88a650d74ae53c05,2022-04-03 04:16:28.848000,kakao,2022-04-03 13:33:59.161,NaN,NaN,A,2022-04-03 13:30:36.015,15920.0,15920.0,0.0,NaN
734,04dd034e854d2e7e88a650d74ae53c05,2022-04-03 04:16:28.848000,kakao,2022-04-03 13:37:51.562,NaN,NaN,A,2022-04-03 13:30:36.015,15920.0,15920.0,0.0,NaN
735,04dd034e854d2e7e88a650d74ae53c05,2022-04-03 04:16:28.848000,kakao,2022-04-03 13:38:03.677,NaN,NaN,A,2022-04-03 13:30:36.015,15920.0,15920.0,0.0,NaN

Ï≤´ Í≤∞Ï†ú ÌõÑ Î¨¥Î£åÏ≤¥Ìóò ÏÑúÎπÑÏä§Ïùò typeÏù¥ AÏù∏ Í≤ÉÏúºÎ°ú Î≥¥ÏïÑ Íµ¨ÎèÖ Ìïú Ïª®ÌÖêÏ∏†Í∞Ä Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïª®ÌÖêÏ∏†ÏòÄÏùÑ Í≤ÉÏúºÎ°ú Ï∂îÏ∏°

array(['A'], dtype=object)

### 11-4. ÌöåÏõêÍ∞ÄÏûÖ -> Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ -> Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å

In [ ]:
# Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å -> Ï†ïÍ∏∞Í≤∞Ï†ú Ïú†Ï†Ä
complete_sub_df = complete_subscription_df[
    ['user_id', 'complete_sub_time', 'complete_sub_plan_price', 'complete_sub_paid_amount','complete_sub_coupon_discount_amount','pg_type' ]]


# user_idÏùò Ï†ïÍ∏∞Í≤∞Ï†ú ÎÇ¥Ïó≠Îßå ÏûàÎäî Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å Îç∞Ïù¥ÌÑ∞ : renew_subscription_df
free_trial_complete_sub = pd.merge(signup_free_trial, complete_sub_df, how  = 'inner', on = 'user_id')

free_trial_complete_df =  free_trial_complete_sub[(free_trial_complete_sub['start_free_trial_time']) <= (free_trial_complete_sub['complete_sub_time'])]

# Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä
complete_renew_users = free_trial_complete_df['user_id'].nunique()
complete_renew_users_rate = (complete_renew_users/total_trial_users) * 100

print(f"Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ ÏÇ¨Ïö© ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä Ïàò : {complete_renew_users}")
print(f"Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ ÏÇ¨Ïö© ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†ú Ï†ÑÌôòÏú® : {complete_renew_users_rate}")

Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ ÏÇ¨Ïö© ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä Ïàò : 3143
Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ ÏÇ¨Ïö© ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†ú Ï†ÑÌôòÏú® : 22.019055625613003

In [400]:
free_trial_complete_df['start_free_trial_type'].value_counts()

start_free_trial_type
A    4812
B     972
Name: count, dtype: int64

### 11-5. ÌöåÏõê Í∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä

In [403]:
# 1. ÌöåÏõê Í∞ÄÏûÖ ÏôÑÎ£å ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ï≤¥ÌóòÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä
signup_no_trial = complete_signup_df[~complete_signup_df['user_id'].isin(start_free_trial_df['user_id'])]
signup_no_trial

                                 user_id           client_event_time    type
0       74d17c27a41656e7788b0c81d9f76cda  2023-04-05 21:33:26.068000   kakao
2       e131c319972bd580146c5a2faba26613  2023-04-10 14:47:56.424000   kakao
3       e3b8bfa80d866f296aad139e09023ef3  2023-04-10 14:25:45.920000   naver
4       5208a60918f18562ac9d668a35b20303  2023-04-10 14:09:50.698000   kakao
5       b90215a242d2b564d8be13193e6aa09e  2023-04-10 14:17:20.457000   naver
...                                  ...                         ...     ...
145128  0117038cc69fe8a40388ec19bb0a495e  2023-10-10 05:10:04.854000   kakao
145129  bc1a28ff902daba9399e7f602cc86285  2023-10-10 05:16:31.995000   kakao
145130  0d507104136f139cbc9f6fa1db365162  2023-10-10 05:27:53.140000  google
145131  298e200203472e5bc0f9a14053e1dfe1  2023-10-10 05:33:30.471000  google
145132  4252b7d6d08c1ba797ec2f5d0b244963  2023-10-10 05:50:07.380000   kakao

[130828 rows x 3 columns]

In [404]:
# 2. ÌöåÏõê Í∞ÄÏûÖ ÏôÑÎ£å ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ï≤¥ÌóòÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä ÏàòÏôÄ ÎπÑÏú®(signup_no_trial_df/total_signup )

total_signup_no_trial = signup_no_trial["user_id"].nunique()  # ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£åÏ≤¥ÌóòÏùÑ Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò

# ÎπÑÏú® Í≥ÑÏÇ∞
total_signup_no_trial_ratio = (total_signup_no_trial / total_signup) * 100

# Í≤∞Í≥º - type a,b Î™®Îëê ÏÇ¨Ïö©Ìïú Í≤ΩÏö∞Í∞Ä Ìè¨Ìï® ÎêòÏñ¥ÏûàÏùå...
print("ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò:", total_signup_no_trial)
print("ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä ÎπÑÏú® (%):",total_signup_no_trial_ratio )


# 3. ÌöåÏõê Í∞ÄÏûÖ ÏôÑÎ£å ÌõÑ Î¨¥Î£å ÏÑúÎπÑÏä§ Ï≤¥Ìóò ÏóÜÏù¥ Î∞îÎ°ú Ï≤´ Í≤∞Ï†ú ÏôÑÎ£å Ïú†Ï†Ä


# 4. ÌöåÏõê Í∞ÄÏûÖ ÏôÑÎ£å ÌõÑ Î¨¥Î£å ÏÑúÎπÑÏä§ Ï≤¥Ìóò ÏóÜÏù¥ Î∞îÎ°ú Ï†ïÍ∏∞ Íµ¨ÎèÖ ÏôÑÎ£å Ïú†Ï†Ä

ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò: 130828
ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§Î•º Ïù¥Ïö©ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä ÎπÑÏú® (%): 90.1435235266962

### 12. ÏΩòÌÖêÏ∏† ÏàòÍ∞ï ÏãúÏûë(start.content)
-> 22ÎÖÑ 8ÏõîÎ∂ÄÌÑ∞ ÏàòÏßëÎêú ÌÖåÏù¥Î∏î

- content.id : ÏΩòÌÖêÏ∏† id
- content.difficulty : ÏΩòÌÖêÏ∏† ÎÇúÏù¥ÎèÑ

In [ ]:
start_content = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/start.content.csv')
start_content['client_event_time'] = pd.to_datetime(start_content['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
start_content["client_event_time"] = start_content["client_event_time"] + timedelta(hours=9)
start_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-06 06:14:39.906,South Korea,NaN,Windows,Windows,start.content,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-06 06:50:19.674,South Korea,NaN,Mac,Mac,start.content,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 23:06:26.585,South Korea,NaN,Mac,Mac,start.content,Korean,Whale,3.19.166.16,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 23:15:29.040,Canada,NaN,Windows,Windows,start.content,English,Chrome,111.0.0.0,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 23:21:36.467,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124912,Dongdaemun-gu,2023-10-10 14:01:06.892,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,116.0.0.0,Web,9fe4efb5bffac9728392d3774c0894f7,f64c475280676531a31f2f8e0648599c,intermediate
124913,Namyangju,2023-10-10 14:31:21.672,South Korea,NaN,Mac,Mac,start.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,68a3658f1b936bfff3bd6960cd561b0a,beginner
124914,Seoul,2023-10-10 14:08:29.903,South Korea,NaN,Apple iPhone,Apple iPhone,start.content,Korean,Mobile Safari,17.0.1,Web,1ba78febcbf64e67d61988bdf9d5f0e1,621c7ad99b17d2d16832b618d47aea7e,advanced
124915,Incheon,2023-10-10 14:39:15.513,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,beginner
124916,Incheon,2023-10-10 14:10:25.479,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,117.0.0.0,Web,0117038cc69fe8a40388ec19bb0a495e,f4be1a0fe0e301b03115591777fddf29,beginner

In [ ]:
start_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124917 entries, 0 to 124916
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   city                121017 non-null  object
 1   client_event_time   124917 non-null  datetime64[ns]
 2   country             122032 non-null  object
 3   device_carrier      0 non-null       float64
 4   device_family       122690 non-null  object
 5   device_type         120068 non-null  object
 6   event_type          124917 non-null  object
 7   language            122692 non-null  object
 8   os_name             122671 non-null  object
 9   os_version          122585 non-null  object
 10  platform            122692 non-null  object
 11  user_id             124917 non-null  object
 12  content.id          124917 non-null  object
 13  content.difficulty  124917 non-null  object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 13.3+ MB

In [ ]:
start_content.isnull().sum()

city                    3900
client_event_time          0
country                 2885
device_carrier        124917
device_family           2227
device_type             4849
event_type                 0
language                2225
os_name                 2246
os_version              2332
platform                2225
user_id                    0
content.id                 0
content.difficulty         0
dtype: int64

In [ ]:
# Ïª®ÌÖêÏ∏† ÎÇúÏù¥ÎèÑÎ≥Ñ ÏàòÍ∞ï Ïàò
start_content['content.difficulty'].value_counts()

content.difficulty
beginner        58628
intermediate    36109
advanced        27485
hard             2695
Name: count, dtype: int64

In [ ]:
start_content[start_content['content.difficulty']]

KeyError: "None of [Index(['beginner', 'beginner', 'beginner', 'beginner', 'advanced', 'beginner',\n       'advanced', 'advanced', 'intermediate', 'intermediate',\n       ...\n       'beginner', 'advanced', 'beginner', 'advanced', 'advanced',\n       'intermediate', 'beginner', 'advanced', 'beginner', 'beginner'],\n      dtype='object', length=124917)] are in the [columns]"

### 13. Î†àÏä® ÏãúÏûë(enter.lesson_page)
-> ÏΩòÌÖêÏ∏†Îäî Ïó¨Îü¨ Í∞úÏùò Î†àÏä®ÏúºÎ°ú Íµ¨ÏÑ±

- content.id : ÏΩòÌÖêÏ∏† id
- lesson.id : Î†àÏä® id
- is_free_trial : Î¨¥Î£å Í≥µÍ∞ú Î†àÏä®Ïóê ÎåÄÌïú ÏßÑÏûÖÏù∏ÏßÄ Ïó¨Î∂Ä(ÌäπÏ†ï Í∏∞Ï§Ä ÏãúÏ†êÏúºÎ°ú ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÏùå)
- is_trial : Î¨¥Î£å Í≥µÍ∞ú Î†àÏä®Ïóê ÎåÄÌïú ÏßÑÏûÖÏù¥Î©¥ÏÑú Í∑∏ Ïú†Ï†ÄÍ∞Ä ÌòÑÏû¨ Íµ¨ÎèÖÌïòÏßÄ ÏïäÏùÄ ÌöåÏõêÏù∏ÏßÄ Ïó¨Î∂Ä

In [ ]:
enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.lesson_page.csv')
enter_lesson_page['client_event_time'] = pd.to_datetime(enter_lesson_page['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
enter_lesson_page["client_event_time"] = enter_lesson_page["client_event_time"] + timedelta(hours=9)

enter_lesson_page.head(3)

C:\Users\rmagm\AppData\Local\Temp\ipykernel_10168\73324632.py:1: DtypeWarning: Columns (9,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  enter_lesson_page = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/enter.lesson_page.csv')

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-06 06:46:04.333,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-06 06:55:50.787,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-06 06:55:55.684,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN

In [ ]:
display(enter_lesson_page.shape)
print(enter_lesson_page.info())
display(enter_lesson_page.isnull().sum())

(21029707, 16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21029707 entries, 0 to 21029706
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  is_trial           object
 14  lesson.id          object
 15  is_free_trial      object
dtypes: datetime64[ns](1), float64(1), object(14)
memory usage: 2.5+ GB
None

city                   540130
client_event_time           0
country                358428
device_carrier       21029707
device_family            6482
device_type            141817
event_type                  0
language                    0
os_name                   417
os_version               6367
platform                    0
user_id               1538529
content.id                352
is_trial              7374020
lesson.id                   0
is_free_trial        18805949
dtype: int64

In [ ]:
# user_idÍ∞Ä Í≤∞Ï∏°Ïù∏ Í≤ΩÏö∞ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏Ìï¥Î¥Ñ -> ÏàòÍ∞ïÍ∏∞Î°ù ÌôïÏù∏ Í∞ÄÎä• Í∑∏Îü∞Îç∞ Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Îì§Í≥º mergeÍ∞Ä Î∂àÍ∞ÄÎä• Ìï† ÎìØ?
# Ïù¥ Í≤ΩÏö∞Îäî Î¨¥Î£åÎ°ú Î†àÏä®Ïù¥ ÏàòÍ∞ïÏù¥ Í∞ÄÎä•Ìïú Î∂ÄÎ∂ÑÏù¥Í∏∞ ÎïåÎ¨∏Ïóê Ïô∏Î∂ÄÏóêÏÑú ÎπÑÌöåÏõêÏù∏ ÏÇ¨ÎûåÎì§Ïù¥ Îì§Ïñ¥ÏôÄÏÑú Í∞ïÏùòÎ•º Î≥¥Í≥† ÌñàÎçò ÏãùÏúºÎ°ú Î≥¥Í∏∞Î°ú Ìï®.

enter_lesson_page[enter_lesson_page['user_id'].isna()]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
92,NaN,2023-04-06 06:04:19.774,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,73ef28f4d72d40e571b5a3a3df826ef7,NaN
93,NaN,2023-04-06 06:16:34.067,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,8a72eed73d3f9d3ab1771548070e7338,False,127a02f25f1872a98e46467e9a02a531,NaN
94,NaN,2023-04-06 06:28:46.441,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,878bb38f14991c6ab57f3d7f5e456d75,False,1a2aaeb4aad8991aed51e24e4b7c45de,NaN
95,NaN,2023-04-06 06:36:06.042,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,6c114626032aa4a43c62fd7fcdb19543,False,5ba9d48917c21d8ad320b7a7e94b1f45,NaN
96,NaN,2023-04-06 06:40:59.422,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,110.0.0.0,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,685c72776f4e9f3d1f61bcc81bc244f0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21029625,Seoul,2023-10-10 14:53:38.735,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029626,Seoul,2023-10-10 14:53:41.872,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,bf96b80a2dbcab54b289aba0b06d7198,NaN
21029627,Seoul,2023-10-10 14:53:46.963,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Safari,16.6,Web,NaN,db1819d3a7a4c4d85dccb3b9e982fbcd,False,37c7431f1601772c9a40cca96179b560,NaN
21029702,Seoul,2023-10-10 14:18:14.053,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,582f0dd769db16a3d920fd7916090efb,NaN
21029703,Seoul,2023-10-10 14:18:58.648,South Korea,NaN,Apple iPad,Apple iPad,enter.lesson_page,Korean,Mobile Safari,16.6,Web,NaN,c269eb6df3a374b464f7c18f12fa398f,False,83c74d5802b04a1a50aa28b7bf8a5354,NaN

In [ ]:
# ÏÇ¨Ïö©Ìï† Î≥ÄÏàòÎßå Í∞ÄÏ†∏Ïò§Í∏∞
enter_lesson_page_df = enter_lesson_page.drop(columns = ['city', 'country','device_carrier','device_family', 'device_type',	'event_type', 'language','os_name',	'os_version','platform'])

# ÎÇ†ÏßúÎ≥Ñ 'is_free_trial'
monthly_is_free_trial = (
    enter_lesson_page_df.groupby([enter_lesson_page_df['client_event_time'].dt.to_period('M'), 'is_free_trial']).count())
monthly_is_free_trial

                                 client_event_time  user_id  content.id  \
client_event_time is_free_trial
2022-05           False                     410411   407904      410411
                  True                       28204    28201       28204
2022-06           False                     393070   389809      393070
                  True                       30330    30322       30330
2022-07           False                     422396   419404      422396
                  True                       10431    10286       10431
2022-08           False                     656874   654024      656874
                  True                          41       41          41
2022-09           False                     271992   271001      271992
                  True                           9        9           9

                                 is_trial  lesson.id
client_event_time is_free_trial
2022-05           False                 0     410411
                  True                  0      28204
2022-06           False                 0     393070
                  True                  0      30330
2022-07           False                 0     422396
                  True                  0      10431
2022-08           False                 0     656874
                  True                  0         41
2022-09           False                 0     271992
                  True                  0          9

In [ ]:
# ÎÇ†ÏßúÎ≥Ñ 'is_trial'
monthly_is_trial = (
    enter_lesson_page_df.groupby([enter_lesson_page_df['client_event_time'].dt.to_period('M'), 'is_trial']).count())
monthly_is_trial

                            client_event_time  user_id  content.id  lesson.id  \
client_event_time is_trial
2022-11           False                    15       11          15         15
                  True                      1        1           1          1
2022-12           False                    90       64          90         90
                  True                     17       17          17         17
2023-01           False               1355015  1347337     1355015    1355015
                  True                  41808    40930       41808      41808
2023-02           False               1069358  1046073     1069358    1069358
                  True                   9239     8457        9239       9239
2023-03           False               1066864  1059859     1066843    1066864
                  True                   4556     4282        4556       4556
2023-04           False               1135714  1131337     1135713    1135714
                  True                     12        2          12         12
2023-05           False               1100035  1094022     1100035    1100035
                  True                   2309     2191        2309       2309
2023-06           False               1006824   998232     1006824    1006824
                  True                   8406     8185        8406       8406
2023-07           False               1592080  1245925     1591967    1592080
                  True                  10690     9620       10690      10690
2023-08           False               1559701  1183954     1559644    1559701
                  True                  10246     9083       10246      10246
2023-09           False               1356786  1079108     1356722    1356786
                  True                   4805     4279        4805       4805
2023-10           False               1324258  1089329     1324247    1324258
                  True                   4944     4433        4944       4944
2023-11           False                877236   700717      877157     877236
                  True                   6971     6287        6971       6971
2023-12           False                105498    83721      105497     105498
                  True                   1727     1272        1727       1727
2024-01           False                   478      303         478        478
                  True                      4        2           4          4

                            is_free_trial
client_event_time is_trial
2022-11           False                 0
                  True                  0
2022-12           False                 0
                  True                  0
2023-01           False                 0
                  True                  0
2023-02           False                 0
                  True                  0
2023-03           False                 0
                  True                  0
2023-04           False                 0
                  True                  0
2023-05           False                 0
                  True                  0
2023-06           False                 0
                  True                  0
2023-07           False                 0
                  True                  0
2023-08           False                 0
                  True                  0
2023-09           False                 0
                  True                  0
2023-10           False                 0
                  True                  0
2023-11           False                 0
                  True                  0
2023-12           False                 0
                  True                  0
2024-01           False                 0
                  True                  0

- is_free_trial : Î¨¥Î£å Í≥µÍ∞ú Î†àÏä®Ïóê ÎåÄÌïú ÏßÑÏûÖÏù¥ ÏïÑÎãå Í≤ÉÏúºÎ°ú Ï†êÏ∞® ÎπÑÏ§ëÏù¥ ÎÜíÏïÑÏßÄÎäî Ï§ë(False) -> is_trialÎ°ú Ï†ÑÌôòÌïòÎ©¥ÏÑú is_free_trial ÏßÑÏûÖ Í∞êÏÜå?
- is_trial : Íµ¨ÎèÖÏù∏ÏßÄ ÏïÑÎãåÏßÄ Ïó¨Î∂ÄÎèÑ Ï∂îÍ∞ÄÌïú Îç∞Ïù¥ÌÑ∞Î°ú -> ÎåÄÎ∂ÄÎ∂Ñ Íµ¨ÎèÖÌïòÏßÄ ÏïäÏùÄ ÏÉÅÌÉúÎ°ú Î¨¥Î£å Í≥µÍ∞ú Î†àÏä® ÏãúÏûë

### 14. Î†àÏä® ÏôÑÎ£å(complete.lesson)

- content.id : ÏΩòÌÖêÏ∏† id
- lesson.id : Î†àÏä® id

In [ ]:
complete_lesson = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/complete.lesson.csv')
complete_lesson['client_event_time'] = pd.to_datetime(complete_lesson['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
complete_lesson["client_event_time"] = complete_lesson["client_event_time"] + timedelta(hours=9)

complete_lesson

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-06 06:55:51.836,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-06 06:19:01.243,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-06 06:20:27.939,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-06 06:23:01.534,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-06 06:28:34.965,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405064,Seo-gu,2023-10-10 14:22:54.887,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29,4b6cc370e587d711780ed4591634d443
5405065,Incheon,2023-10-10 14:39:15.760,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,2ed4b83e65edc2b1efb193aaa3c60cf9
5405066,Incheon,2023-10-10 14:46:18.129,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,db421b66bfd27eccd0e862e30b4de1be
5405067,Incheon,2023-10-10 14:50:32.927,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,09c8a2d29087cb3d47823acb5f2705e3
5405068,Incheon,2023-10-10 14:59:28.965,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,b734f43b5123f8bdbf7d8f865bd3eacf

In [ ]:
display(complete_lesson.info())
display(complete_lesson.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5405069 entries, 0 to 5405068
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  datetime64[ns]
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  lesson.id          object
dtypes: datetime64[ns](1), float64(1), object(12)
memory usage: 577.3+ MB

None

city                  189679
client_event_time          0
country               148360
device_carrier       5405069
device_family          53035
device_type            80829
event_type                 0
language               53014
os_name                53291
os_version             54076
platform               53014
user_id                    0
content.id                 0
lesson.id                  0
dtype: int64

- ÎπÑÌöåÏõêÏù∏ ÏÇ¨ÎûåÎì§Ïùò Í≤ΩÏö∞ Î†àÏä® ÏôÑÎ£åÏùò Í∏∞Î°ùÏù¥ ÎÇ®ÏßÄ ÏïäÎäî Í≤ÉÏúºÎ°ú Î≥¥Î©¥ Îê† Í≤É Í∞ôÏùå

### 15. Î†àÏä® ÌéòÏù¥ÏßÄ ÎÇ¥ ÏßàÎ¨∏ Î™©Î°ù ÌÅ¥Î¶≠(click_lesson_page_related_question_box)

- content.id : ÏΩòÌÖêÏ∏† id
- lesson.id : Î†àÏä® id
- question.id : ÏßàÎ¨∏ id

In [ ]:
click_lesson_page_related_question_box = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/click.lesson_page_related_question_box.csv')
click_lesson_page_related_question_box['client_event_time'] = pd.to_datetime(click_lesson_page_related_question_box['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
click_lesson_page_related_question_box["client_event_time"] = click_lesson_page_related_question_box["client_event_time"] + timedelta(hours=9)

click_lesson_page_related_question_box.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,question.id,content.id,lesson.id
0,Dong-gu,2023-04-06 06:51:48.377,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-06 06:52:21.689,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-06 06:52:42.481,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b

In [ ]:
click_lesson_page_related_question_box.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379136 entries, 0 to 1379135
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   city               1355675 non-null  object
 1   client_event_time  1379136 non-null  datetime64[ns]
 2   country            1364245 non-null  object
 3   device_carrier     0 non-null        float64
 4   device_family      1379135 non-null  object
 5   device_type        1372802 non-null  object
 6   event_type         1379136 non-null  object
 7   language           1379136 non-null  object
 8   os_name            1379135 non-null  object
 9   os_version         1378923 non-null  object
 10  platform           1379136 non-null  object
 11  user_id            1326233 non-null  object
 12  question.id        824789 non-null   object
 13  content.id         824788 non-null   object
 14  lesson.id          824789 non-null   object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 157.8+ MB

In [ ]:
click_lesson_page_related_question_box.isnull().sum()

city                   23461
client_event_time          0
country                14891
device_carrier       1379136
device_family              1
device_type             6334
event_type                 0
language                   0
os_name                    1
os_version               213
platform                   0
user_id                52903
question.id           554347
content.id            554348
lesson.id             554347
dtype: int64

### 16. ÏΩòÌÖêÏ∏† ÏàòÍ∞ï ÏôÑÎ£å(end.content)
    -> ÏΩòÌÖêÏ∏† ÎÇ¥ Î™®Îì† Î†àÏä®ÏùÑ ÏãúÏ≤≠ÌïòÎ©¥ Ìï¥Îãπ ÌÖåÏù¥Î∏îÏóê Î°úÍ∑∏Í∞Ä ÏåìÏûÑ

- content.id : ÏΩòÌÖêÏ∏† id

In [ ]:
end_content = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/end.content.csv')
end_content['client_event_time'] = pd.to_datetime(end_content['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
end_content["client_event_time"] = end_content["client_event_time"] + timedelta(hours=9)

end_content

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Yokohama,2023-04-10 23:02:10.600,Japan,NaN,Windows,Windows,end.content,Japanese,Chrome,111.0.0.0,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 23:21:26.466,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 23:37:04.440,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 23:37:19.909,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 23:08:58.968,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120577,Namyangju,2023-10-10 14:21:55.287,South Korea,NaN,Mac,Mac,end.content,Korean,Chrome,117.0.0.0,Web,86453faaa4d0da97c471665e8d35642b,710ffb5be9f89772b7baa9f62c9c8805
120578,Dalseong-gun,2023-10-10 14:52:23.524,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,a0a63b8416b759f2524918094a04d1bf,101e1d0dcc38d9c86156f008a145083e
120579,Daedeok-gu,2023-10-10 14:43:45.139,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,e209e09abc061bd69f3116ff23dcb56b,f4be1a0fe0e301b03115591777fddf29
120580,Saha-gu,2023-10-10 14:13:17.274,South Korea,NaN,Windows,Windows,end.content,Korean,Edge,117.0.2045.47,Web,e962f191e86d935bc3cf7a566156a11a,61b6463287573f00de13a930805a52d6
120581,Seo-gu,2023-10-10 14:22:54.927,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,117.0.0.0,Web,465eb0e5c339bcc42ec3f4f14c4d00b0,f4be1a0fe0e301b03115591777fddf29

In [ ]:
display(end_content.info())
display(end_content.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120582 entries, 0 to 120581
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               116280 non-null  object
 1   client_event_time  120582 non-null  datetime64[ns]
 2   country            117182 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      119391 non-null  object
 5   device_type        118866 non-null  object
 6   event_type         120582 non-null  object
 7   language           119392 non-null  object
 8   os_name            119387 non-null  object
 9   os_version         119362 non-null  object
 10  platform           119392 non-null  object
 11  user_id            120582 non-null  object
 12  content.id         120582 non-null  object
dtypes: datetime64[ns](1), float64(1), object(11)
memory usage: 12.0+ MB

None

city                   4302
client_event_time         0
country                3400
device_carrier       120582
device_family          1191
device_type            1716
event_type                0
language               1190
os_name                1195
os_version             1220
platform               1190
user_id                   0
content.id                0
dtype: int64

- Ïª®ÌÖêÏ∏† ÏàòÍ∞ï ÏôÑÎ£å Í∏∞Î°ùÎèÑ user_idÍ∞Ä Ï°¥Ïû¨Ìï¥Ïïº Í∏∞Î°ùÏù¥ ÎÇ®Ïùå

### 17. Íµ¨ÎèÖ Ï∑®ÏÜå Î≤ÑÌäº ÌÅ¥Î¶≠(click.cancel_plan_button)
    -> Íµ¨ÎèÖ Ï∑®ÏÜå Î≤ÑÌäºÏùÑ ÌÅ¥Î¶≠ÌñàÎã§Î©¥ Íµ¨ÎèÖ Ï∑®ÏÜåÍ∞Ä Ïù¥Î£®Ïñ¥ÏßÑ Í≤ÉÏúºÎ°ú Í∞ÑÏ£º

In [423]:
click_cancel_plan_button = pd.read_csv('C:/Users/rmagm/OneDrive/Î∞îÌÉï ÌôîÎ©¥/vscode/Íµ¨ÎèÖÏÑúÎπÑÏä§ÌîÑÎ°úÎçïÌä∏Îç∞Ïù¥ÌÑ∞/click.cancel_plan_button.csv')
click_cancel_plan_button['client_event_time'] = pd.to_datetime(click_cancel_plan_button['client_event_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
click_cancel_plan_button["client_event_time"] = click_cancel_plan_button["client_event_time"] + timedelta(hours=9)
click_cancel_plan_button.head(3)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Daegu,2023-04-10 23:57:48.556,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 17:26:16.224,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,16.3,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 17:23:04.955,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,b6a1bba3cc4139d7dc821561319221e6

In [424]:
display(click_cancel_plan_button.info())
display(click_cancel_plan_button.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               17742 non-null  object
 1   client_event_time  17895 non-null  datetime64[ns]
 2   country            17893 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      17895 non-null  object
 5   device_type        17567 non-null  object
 6   event_type         17895 non-null  object
 7   language           17895 non-null  object
 8   os_name            17895 non-null  object
 9   os_version         17892 non-null  object
 10  platform           17895 non-null  object
 11  user_id            16853 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 1.6+ MB

None

city                   153
client_event_time        0
country                  2
device_carrier       17895
device_family            0
device_type            328
event_type               0
language                 0
os_name                  0
os_version               3
platform                 0
user_id               1042
dtype: int64

In [428]:
click_cancel_plan_button_df = click_cancel_plan_button[['city',	'client_event_time','country','device_family','event_type',	'language',	'os_name','user_id']
].rename(columns = {'client_event_time' : 'click_cancel_button_time'})

# ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÎäî device carrier Ïª¨Îüº Ï†úÍ±∞
#click_cancel_plan_button_df.drop(columns='device_carrier',inplace=True)

# Î™ÖÌôïÌïú ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞
click_cancel_plan_button_df =click_cancel_plan_button_df.loc[click_cancel_plan_button_df['os_name'] != 'Chrome Headless']

# reset_index
click_cancel_plan_button_df =click_cancel_plan_button_df.reset_index(drop=True)

# client_event_time Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Î≥ÄÍ≤Ω
click_cancel_plan_button_df['click_cancel_button_time'] = pd.to_datetime(click_cancel_plan_button_df['click_cancel_button_time'])

# 9ÏãúÍ∞Ñ Ï∂îÍ∞Ä (KST Î≥ÄÌôò)
click_cancel_plan_button_df["click_cancel_button_time"] = click_cancel_plan_button_df["click_cancel_button_time"] + timedelta(hours=9)

#2022ÎÖÑ 1Ïõî ~ 2023ÎÖÑ 12Ïõî
click_cancel_plan_button_df = click_cancel_plan_button_df[(click_cancel_plan_button_df['click_cancel_button_time'] >= '2022-01-01') 
                                  & (click_cancel_plan_button_df['click_cancel_button_time'] <= '2023-12-31')]
click_cancel_plan_button_df

,city,click_cancel_button_time,country,device_family,event_type,language,os_name,user_id
0,Daegu,2023-04-11 08:57:48.556,South Korea,Windows,click.cancel_plan_button,Korean,Chrome,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-13 02:26:16.224,South Korea,Apple iPad,click.cancel_plan_button,English,Mobile Safari,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-13 02:23:04.955,South Korea,Windows,click.cancel_plan_button,Korean,Chrome,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-13 02:32:39.271,South Korea,Windows,click.cancel_plan_button,Korean,Chrome,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-13 05:36:28.311,South Korea,Windows,click.cancel_plan_button,Korean,Chrome,bdffe1f18684704d4ea2d7eebcaed180
...,...,...,...,...,...,...,...,...
17890,Bucheon-si,2023-12-30 07:24:05.824,South Korea,Windows,click.cancel_plan_button,Korean,Chrome,47808512b9855c0b004f104d0392a2f4
17891,Gwangmyeong,2023-12-30 07:24:02.553,South Korea,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,NaN
17892,Seocho-gu,2023-09-29 17:53:44.629,South Korea,Apple iPhone,click.cancel_plan_button,Korean,Whale,5b6769071cb4ce3b4592bf12607baf44
17893,Seoul,2023-10-16 16:33:39.885,South Korea,Apple iPhone,click.cancel_plan_button,Korean,WebKit,5023eb38ded0a4cf510226dd3ad2718c
17894,Seoul,2023-10-10 23:58:25.643,South Korea,Apple iPad,click.cancel_plan_button,Korean,Mobile Safari,59a99d27ccd00f2fc02678e3b5d95161

In [429]:
# Ïó¨Îü¨ Î≤à Íµ¨ÎèÖ Ï∑®ÏÜå Î≤ÑÌäºÏùÑ ÎàÑÎ•∏ Ïú†Ï†Ä Ï°¥Ïû¨ -> Ïñ¥Îñ§ Ïª®ÌÖêÏ∏†?
click_cancel_plan_button_df['user_id'].value_counts()

user_id
13dfdc8bbcd8d8dd853c2cc37c9b7226    5
2dc22bfe6872ebe3d752c86d4951c349    5
fd3883f506ad8d88e532efd7b320e79d    5
8cdd971549087a4561f42858dd5ab7a5    5
6b889dac8d1646374b43ccd0130182ff    5
                                   ..
7f9c4216c31f85c6ed33b44a507b6a72    1
28194b919aa563aa5f712dafaf08d3a2    1
a4545c7ece2f1f266264c67080ef3ded    1
69d916faedf7e8f7e4236fea1be8d169    1
805f45812f9c4b6b4081477b23c6180c    1
Name: count, Length: 14604, dtype: int64

- Íµ¨ÎèÖ Ï∑®ÏÜåÎ•º Ïó¨Îü¨ Î≤àÌïú ÌöåÏõê Ï°¥Ïû¨ -> Í∑∏Îüº Íµ¨ÎèÖÌïòÍ≥† ÏûàÎäî Ïª®ÌÖêÏ∏† ÎÇ®ÏïÑÏûàÎäî Í±∏Íπå? / Ïª®ÌÖêÏ∏† ÏàòÍ∞ïÏùÑ ÏôÑÎ£åÌï¥ÏÑú Ïª®ÌÖêÏ∏† Íµ¨ÎèÖÏùÑ Ï∑®ÏÜåÌïòÎäî Í±∏Íπå?
- user_idÍ∞Ä ÏóÜÏñ¥ÎèÑ Íµ¨ÎèÖ Ï∑®ÏÜåÍ∞Ä Í∞ÄÎä•Ìïú Í±¥Í∞Ä??

### Ï£ºÏ†ú ÏÑ†Ï†ï ÌõÑ Î∂ÑÏÑù ÏßÑÌñâ

- Î£®Ìå° Ïú†Ï†Ä ÌåêÎ≥Ñ Í∏∞Ï§Ä(Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö©Îßå ÌïòÍ≥† ÏÇ¨ÎùºÏßÑ Ïú†Ï†Ä)
    1. Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö©ÏùÄ ÌñàÏßÄÎßå Ï†ïÍ∏∞ Íµ¨ÎèÖÏùÑ ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä(Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© Í∏∞Î°ùÎßå Ï°¥Ïû¨)
    2. Ï†ïÍ∏∞ Íµ¨ÎèÖÏùÑ ÌñàÎã§Í∞Ä (Ï§ëÍ∞ÑÏóê Ïª®ÌÖêÏ∏†, Î†àÏä® ÏÇ¨Ïö© Í∏∞Î°ù ÏóÜÏñ¥ÏïºÌï®) Íµ¨ÎèÖ Ï∑®ÏÜå ÌõÑ Î¨¥Î£å Ï≤¥ÌóòÌïú Ïú†Ï†Ä(Ïù¥ÌõÑ Ï†ïÍ∏∞ Íµ¨ÎèÖÏùÄ Ï†àÎåÄ ÏóÜÏùå)

- Î£®Ìå° Ïú†Ï†ÄÎì§Ïùò Í≤∞Ï†ú ÌéòÏù¥ÏßÄ ÏßÑÏûÖ Í∏∞Î°ù
- Î£®Ìå° Ïú†Ï†ÄÎì§Ïùò Î©îÏù∏ ÌéòÏù¥ÏßÄ ÏßÑÏûÖ Ïàò
- Î£®Ìå° Ïú†Ï†ÄÎì§Ïùò Ïú†ÏûÖ Í≤ΩÎ°ú ÎπÑÍµê -> ÎßàÏºÄÌåÖ Ï†ÑÎûµ Ï†úÏïà Í∞ÄÎä•

- PQL(Ï†úÌíàÏùÑ Î¨¥Î£åÎ°ú ÏÇ¨Ïö©Ìï¥ Î≥∏ ÌõÑ, Ïú†Î£å Ï†ÑÌôò Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ Ïû†Ïû¨ Í≥†Í∞ùÏùÑ ÏùòÎØ∏)

In [ ]:
# 1Ô∏è. Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ Ïù¥Ïö© ÌõÑ Ï†ïÍ∏∞ Íµ¨ÎèÖ ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä('totoal_trial_users' : ÌöåÏõêÍ∞ÄÏûÖ ÌõÑ Î¨¥Î£å Ï≤¥Ìóò ÏÑúÎπÑÏä§ ÏÇ¨Ïö© Ïú†Ï†Ä Ïàò)

# Î¨¥Î£å Ï≤¥ÌóòÌïú Ï†ÑÏ≤¥ Ïú†Ï†Ä Î™©Î°ù
all_trial_users = signup_free_trial[['user_id']]

# Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÌïú Ïú†Ï†Ä Î™©Î°ù
trial_complete_users = free_trial_complete_df[['user_id']]

# Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÎ•º ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä (Ï∞®ÏßëÌï© ÌôúÏö©)
trial_no_sub_df = all_trial_users.merge(trial_complete_users, on="user_id", how="left", indicator=True)
trial_no_sub_df = trial_no_sub_df[trial_no_sub_df["_merge"] == "left_only"].drop(columns=["_merge"])

# Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÎ•º ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò Î∞è ÎπÑÏú®
trial_no_sub_users_count = trial_no_sub_df["user_id"].nunique()  # nunique() ÎåÄÏã† count() ÏÇ¨Ïö©
trial_no_sub_users_rate = (trial_no_sub_users_count / total_trial_users * 100) if all_trial_users["user_id"].count() > 0 else 0  # ZeroDivision Î∞©ÏßÄ

# Í≤∞Í≥º Ï∂úÎ†•
print(f"Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÎ•º ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò : {trial_no_sub_users_count}")
print(f"Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä ÎπÑÏú® : {trial_no_sub_users_rate:.2f}%")

Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÎ•º ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ïàò : 11131
Î¨¥Î£å Ï≤¥Ìóò ÌõÑ Ï†ïÍ∏∞ Í≤∞Ï†úÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä ÎπÑÏú® : 77.98%

In [454]:
# 2. Ï†ïÍ∏∞ Íµ¨ÎèÖÏùÑ ÌñàÏßÄÎßå Î¨¥Î£å Ï≤¥ÌóòÏùÑ Î®ºÏ†Ä ÏßÑÌñâÌïú Ïú†Ï†Ä (client_event_time Í≥†Î†§)

merged_trial_sub_df = pd.merge(signup_free_trial, complete_sub_df, how  = 'inner', on = 'user_id')


# 2-1. Î¨¥Î£å Ï≤¥ÌóòÎ≥¥Îã§ Ï†ïÍ∏∞ Íµ¨ÎèÖÏù¥ Î®ºÏ†Ä Î∞úÏÉùÌïú Ïú†Ï†Ä -> Í∏∞Ï§ÄÏúºÎ°ú Ïû°Í≥† Î∂ÑÏÑù ÏßÑÌñâ
trial_then_subscribed_users = merged_trial_sub_df[
    merged_trial_sub_df['start_free_trial_time'] > merged_trial_sub_df['complete_sub_time']
]

# 2-2. Íµ¨ÎèÖ Ìï¥ÏßÄÎäî 2022ÎÖÑÎ∂ÄÌÑ∞ 2023ÎÖÑ 4Ïõî 30Ïùº Ïù¥ÎÇ¥Ïóê Ïù¥Î£®Ïñ¥ÏßÑ ÎÇ¥Ïó≠Îßå ÏÇ¨Ïö©
cancel_df = click_cancel_plan_button_df[
    (click_cancel_plan_button_df['click_cancel_button_time'] >= '2022-01-01') &
    (click_cancel_plan_button_df['click_cancel_button_time'] <= '2023-04-30')
]

# 2-3. Ï†ïÍ∏∞ Íµ¨ÎèÖÏùÑ ÌñàÎã§Í∞Ä Íµ¨ÎèÖÏùÑ Ìï¥ÏßÄÌïòÍ≥† Îã§Ïãú Î¨¥Î£å Ï≤¥ÌóòÌïú Ïú†Ï†Ä (client_event_time Í≥†Î†§)
merged_cancel_trial_df = pd.merge(
    trial_then_subscribed_users[['user_id', 'start_free_trial_time', 'complete_sub_time']],
    cancel_df[['user_id', 'click_cancel_button_time']],
    on='user_id',
    how='inner',
)
merged_cancel_trial_df
# merged_cancel_trial_df = pd.merge(
#     merged_cancel_trial_df,
#     free_trial_df[['user_id', 'start_free_trial_time']],
#     on='user_id',
#     how='inner'
# )


# # 2-4. Íµ¨ÎèÖ Ï∑®ÏÜå ÌõÑ Îã§Ïãú Î¨¥Î£å Ï≤¥ÌóòÌïú Ïú†Ï†Ä Ï§ë Îã§Ïãú Ï†ïÍ∏∞Íµ¨ÎèÖ ÌïòÏßÄ ÏïäÏùÄ Ïú†Ï†Ä Ï∞æÍ∏∞
# resubscribe_subscription_df = resubscribe_subscription_df[
#     (resubscribe_subscription_df['resubscribe_time'] >= '2022-01-01') &
#     (resubscribe_subscription_df['resubscribe_time'] <= '2023-04-30')
# ]


# merged_resubscribe_trial_df = pd.merge(
#     merged_cancel_trial_df,
#     resubscribe_subscription_df[['user_id', 'resubscribe_time']],
#     on='user_id',
#     how='inner',
# )

# renew_then_trial_users = merged_cancel_trial_df[
#     (merged_cancel_trial_df['client_event_time_complete_subs'] < merged_cancel_trial_df['client_event_time_cancel']) &
#     (merged_cancel_trial_df['client_event_time_cancel'] < merged_cancel_trial_df['client_event_time'])
# ]['user_id'].unique()

# # 2. ÏµúÏ¢Ö Î£®Ìå° Ïú†Ï†Ä Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
# lupin_analysis_df = pd.DataFrame({
#     "user_id": list(free_trial_users),
#     "only_free_trial": [uid in only_free_trial_users for uid in free_trial_users],
#     "multiple_trials_A": [uid in multiple_trial_users for uid in free_trial_users],
#     "trial_then_subscribed": [uid in trial_then_subscribed_users for uid in free_trial_users],
#     "renew_then_trial": [uid in renew_then_trial_users for uid in free_trial_users]
# })

# # 3. Í≤∞Í≥º Ï†ÄÏû• Î∞è ÌôïÏù∏
# lupin_analysis_df.to_csv("lupin_users_analysis.csv", index=False)

# # Í≤∞Í≥º Ï∂úÎ†•
# print(lupin_analysis_df.head())

,user_id,start_free_trial_time,complete_sub_time,click_cancel_button_time
0,fad13e44b3287079c99a054b8b8b426e,2022-04-29 00:47:44.403,2022-04-29 00:38:49.490,2022-04-29 09:40:13.887
1,fad13e44b3287079c99a054b8b8b426e,2022-04-29 00:47:44.403,2022-04-29 00:38:49.490,2022-05-14 07:56:19.515
2,60629a01df51210f5dd3bef9b24944bd,2022-05-12 00:59:42.224,2022-05-12 00:27:27.655,2022-08-14 03:42:53.885
3,2db7f9d827322007877514c68447d7b1,2022-03-10 21:05:36.738,2022-03-09 13:20:15.344,2022-04-09 23:32:22.492
4,26921b3bf4c7e4bca9a705b0cc199aaa,2022-03-18 02:34:19.827,2022-03-17 17:47:12.980,2022-06-18 04:41:20.790
...,...,...,...,...
108,04dd034e854d2e7e88a650d74ae53c05,2022-04-03 13:37:51.562,2022-04-03 13:30:36.015,2022-04-07 05:55:21.512
109,04dd034e854d2e7e88a650d74ae53c05,2022-04-03 13:38:03.677,2022-04-03 13:30:36.015,2022-04-07 05:55:21.512
110,710e20f73fb6a67c24d70cb080d36e31,2022-04-05 15:04:06.371,2022-04-05 14:34:55.529,2022-07-05 23:56:11.803
111,710e20f73fb6a67c24d70cb080d36e31,2022-04-05 15:07:56.324,2022-04-05 14:34:55.529,2022-07-05 23:56:11.803
112,ba4ec271752bcc3a27f90429915f79c2,2022-06-22 17:03:21.932,2022-06-22 16:15:50.610,2022-07-23 03:23:35.049