In [2]:
import os
from os import path
import glob
import pickle
import gc
import json
import csv

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from datasets import *

from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns', 150)

# ì¸ì½”ë” ë¶€ë¶„ (ì™„ë£Œì‹œ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” ë€)

In [ ]:
# ë°ì´í„° íŒŒì¼ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
file_list = glob.glob("data/*.csv")

# ì‚­ì œí•  ì»¬ëŸ¼ ëª©ë¡
columns_to_drop = ["device_carrier", "platform", "os_version", "device_type"]

# LabelEncoder ì´ˆê¸°í™”
encoders = {}

# ë³€í™˜ëœ ë°ì´í„°ë¥¼ ì €ì¥í•  CSV íŒŒì¼
encoded_file = "./lwc_encoder/merged_encoded_data.csv"

# ê¸°ì¡´ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
if os.path.exists(encoded_file):
    existing_df = pd.read_csv(encoded_file)
    all_columns = set(existing_df.columns)
else:
    existing_df = pd.DataFrame()
    all_columns = set()

# ê¸°ì¡´ LabelEncoder ë¶ˆëŸ¬ì˜¤ê¸° (ìˆë‹¤ë©´)
encoder_file = "./lwc_encoder/label_encoders.pkl"
if os.path.exists(encoder_file):
    with open(encoder_file, "rb") as f:
        encoders = pickle.load(f)

# ìƒˆë¡œìš´ ë°ì´í„°ë¥¼ ì €ì¥í•  ë¦¬ìŠ¤íŠ¸
new_data_list = []

# ëª¨ë“  íŒŒì¼ ì²˜ë¦¬
for file in file_list:
    for chunk in pd.read_csv(file, chunksize=100000):
        chunk.drop(columns=columns_to_drop, errors="ignore", inplace=True)

        # ìƒˆë¡œìš´ ì»¬ëŸ¼ì´ ìˆìœ¼ë©´ ì¶”ê°€
        new_columns = set(chunk.columns) - all_columns
        if new_columns:
            # print(f"ìƒˆë¡œìš´ ì»¬ëŸ¼ ë°œê²¬: {new_columns}")
            all_columns.update(new_columns)

        # ì¸ì½”ë”©í•  ì»¬ëŸ¼ ì„ íƒ (ë¬¸ìì—´ ì»¬ëŸ¼ ì¤‘ ì‚­ì œí•˜ì§€ ì•Šì€ ì»¬ëŸ¼)
        all_string_columns = chunk.select_dtypes(include=["object"]).columns.tolist()
        columns_to_encode = [col for col in all_string_columns if col not in columns_to_drop and col != "client_event_time"]

        # ìƒˆë¡œ ë°œê²¬ëœ ë¬¸ìì—´ ì»¬ëŸ¼ì— ëŒ€í•´ LabelEncoder ì¶”ê°€
        for col in columns_to_encode:
            if col not in encoders:
                encoders[col] = LabelEncoder()
                encoders[col].fit(chunk[col].astype(str).fillna(""))
            else:
                # ìƒˆë¡œìš´ ê°’ì´ ìˆì„ ê²½ìš° ê¸°ì¡´ LabelEncoder ì—…ë°ì´íŠ¸
                new_values = set(chunk[col].astype(str).fillna("").unique()) - set(encoders[col].classes_)
                if new_values:
                    # print(f"ğŸ”„ ìƒˆë¡œìš´ ê°’ ì¶”ê°€ë¨ ({col}): {new_values}")
                    updated_classes = np.append(encoders[col].classes_, list(new_values))
                    encoders[col].fit(updated_classes)  # ìƒˆ ê°’ í¬í•¨í•˜ì—¬ ë‹¤ì‹œ í•™ìŠµ

        # Label Encoding ì ìš©
        for col in columns_to_encode:
            chunk[col] = chunk[col].astype(str).fillna("")
            chunk[col] = encoders[col].transform(chunk[col])

        # ê¸°ì¡´ ë°ì´í„°ì™€ ì»¬ëŸ¼ì„ ë§ì¶¤ (ìƒˆë¡œìš´ ì»¬ëŸ¼ì´ ì¶”ê°€ë˜ë©´ NaNìœ¼ë¡œ ì±„ì›€)
        chunk = chunk.reindex(columns=all_columns, fill_value=np.nan)

        # ë¦¬ìŠ¤íŠ¸ì— ì¶”ê°€
        new_data_list.append(chunk)

        del chunk
        gc.collect()

# ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ë³‘í•©
new_data_df = pd.concat([existing_df] + new_data_list, ignore_index=True)

# ì •ë¦¬ëœ ë°ì´í„°ë¥¼ CSVë¡œ ì €ì¥
new_data_df.to_csv(encoded_file, index=False, sep=",", quoting=csv.QUOTE_MINIMAL)

print(f"ì—…ë°ì´íŠ¸ ì™„ë£Œ, ì €ì¥ë¨: {encoded_file}")

# ì¸ì½”ë”© ë§µí•‘ ì €ì¥ (ë””ì½”ë”©ì„ ì‰½ê²Œ í•˜ê¸° ìœ„í•´)
encoding_map = {col: {label: idx for idx, label in enumerate(encoders[col].classes_)} for col in encoders}

with open("./lwc_encoder/encoding_map.json", "w", encoding="utf-8") as f:
    json.dump(encoding_map, f, ensure_ascii=False, indent=4)

# ì¸ì½”ë” ì €ì¥ (ë””ì½”ë”©ìš©)
with open(encoder_file, "wb") as f:
    pickle.dump(encoders, f)

print("ì¸ì½”ë”© ë° ì €ì¥ ì™„ë£Œ âœ…")

C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):
C:\Users\lento\AppData\Local\Temp\ipykernel_26568\3439702640.py:32: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(file, chunksize=100000):

ì—…ë°ì´íŠ¸ ì™„ë£Œ, ì €ì¥ë¨: ./lwc_encoder/merged_encoded_data.csv
ì¸ì½”ë”© ë° ì €ì¥ ì™„ë£Œ âœ…

# ì¸ì½”ë” ë°ì´í„° ë¡œë“œ

In [ ]:
total_df = pd.read_csv('./lwc_encoder/merged_encoded_data.csv')

C:\Users\lento\AppData\Local\Temp\ipykernel_11268\67430114.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  total_df = pd.read_csv('./lwc_encoder/merged_encoded_data.csv')

Series([], Name: count, dtype: int64)

# ë””ì½”ë” íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° ë° ë””ì½”ë” í•¨ìˆ˜ ì •ì˜

# AARRR Framework ì§€í‘œ ë‚´ìš©

## Acquisition

| ì§€í‘œ | ì •ì˜ | ê³„ì‚°ì‹ |
|------|------|------|
| **ì‹ ê·œ ì‚¬ìš©ì ìˆ˜ (NU, New User)** | íŠ¹ì • ì„œë¹„ìŠ¤ì— ë°©ë¬¸í•œ ì´ë ¥ì´ ì—†ëŠ” ìƒíƒœì—ì„œ, ì²˜ìŒ ë°©ë¬¸í•˜ê±°ë‚˜ ìƒí˜¸ì‘ìš©í•œ ì‚¬ìš©ìì˜ ìˆ˜ | - |
| **íšŒì› ê°€ì… ìˆ˜ (Sign Up)** | íŠ¹ì • ì„œë¹„ìŠ¤ì— íšŒì› ê°€ì…í•œ ì‚¬ìš©ìì˜ ìˆ˜ | - |
| **ì•± ë‹¤ìš´ë¡œë“œ ìˆ˜ (App Installs)** | íŠ¹ì • ì•±(ì–´í”Œë¦¬ì¼€ì´ì…˜)ì„ ë‹¤ìš´ë¡œë“œí•œ ìˆ˜ | - |
| **ë¦¬ë“œ ìˆ˜ (Leads)** | ì¼ì • ìˆ˜ì¤€ì˜ ì •ë³´ë¥¼ ì œê³µí•˜ëŠ” ì ì¬ ê³ ê°, í˜¹ì€ ê³ ê° ì •ë³´ ê·¸ ìì²´ì˜ ìˆ˜ | - |
| **ê³ ê° íšë“ ë¹„ìš© (CAC, Customer Acquisition Cost)** | ì‹ ê·œ ê³ ê° 1ëª…ì„ íšë“í•˜ê¸° ìœ„í•´ í•„ìš”í•œ ë¹„ìš© | **ë¸”ë Œë””ë“œ CAC** : ê³ ê° íšë“ì„ ìœ„í•´ íˆ¬ì…í•œ ì „ì²´ ê¸ˆì•¡ / íšë“í•œ ì „ì²´ ê³ ê° ìˆ˜ <br> **ë§¤ì²´ë³„ CAC** : íŠ¹ì • ê´‘ê³  ë§¤ì²´ì—ì„œ ê³ ê° íšë“ì„ ìœ„í•´ íˆ¬ì…í•œ ê¸ˆì•¡ / í•´ë‹¹ ë§¤ì²´ì—ì„œ íšë“í•œ ê³ ê° ìˆ˜ |
| **(ê´‘ê³ ) í´ë¦­ë¥  (CTR, Click-Through Rate)** | ê´‘ê³ ì— ë…¸ì¶œëœ ì‚¬ìš©ì ì¤‘ì—, ê´‘ê³ ë¥¼ í´ë¦­í•œ ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (ê´‘ê³  í´ë¦­ ìˆ˜ / ê´‘ê³  ë…¸ì¶œ ìˆ˜) * 100 |
| **(ê´‘ê³ ) ì¡°íšŒìœ¨ (VTR, View-Through Rate)** | ì˜ìƒ ê´‘ê³ ì— ë…¸ì¶œëœ ì‚¬ìš©ì ì¤‘ì—, ì˜ìƒì„ ì¡°íšŒí•œ ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (ê´‘ê³  ì¡°íšŒ ìˆ˜ / ê´‘ê³  ë…¸ì¶œ ìˆ˜) * 100 |
| **(ê´‘ê³ ) ì „í™˜ìœ¨ (CVR, Conversion Rate)** | ê´‘ê³ ë¥¼ í´ë¦­í•˜ì—¬ ìœ ì…ëœ ì‚¬ìš©ì ì¤‘ì—, ì£¼ìš”í•œ ì „í™˜ í–‰ë™ì„ í•œ ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (ì „í™˜ ìˆ˜ / ê´‘ê³  í´ë¦­ ìˆ˜) * 100 |
| **CPM (Cost-Per-Mille)** | ê´‘ê³  1,000ë²ˆ ë…¸ì¶œë‹¹ ë¹„ìš© | (ì´ ê´‘ê³  ë¹„ìš© / ê´‘ê³  ë…¸ì¶œ ìˆ˜) * 1000 |
| **CPC (Cost-Per-Click)** | ê´‘ê³  í´ë¦­ë‹¹ ë¹„ìš© | ì´ ê´‘ê³  ë¹„ìš© / ê´‘ê³  í´ë¦­ ìˆ˜ |
| **CPV (Cost-Per-View)** | ì˜ìƒ ê´‘ê³  ì¡°íšŒë‹¹ ë¹„ìš© | ì´ ê´‘ê³  ë¹„ìš© / ê´‘ê³  ì¡°íšŒ ìˆ˜ |
| **CPA (Cost-Per-Action)** | íŠ¹ì • ì•¡ì…˜(íšŒì›ê°€ì…, ìƒí’ˆ êµ¬ë§¤, ì´ë²¤íŠ¸ ì°¸ì—¬ ë“±)ë‹¹ ë¹„ìš© | ì´ ê´‘ê³  ë¹„ìš© / íŠ¹ì • ì•¡ì…˜ì´ ë°œìƒí•œ ìˆ˜ |
| **CPI (Cost-Per-Install)** | ì•± ì„¤ì¹˜ë‹¹ ë¹„ìš© | ì´ ê´‘ê³  ë¹„ìš© / ì•± ì„¤ì¹˜ ìˆ˜ |

## Activation

| ì§€í‘œ | ì •ì˜ | ê³„ì‚°ì‹ |
|------|------|------|
| **ì²´ë¥˜ ì‹œê°„ (DT, Duration Time)** | ì‚¬ìš©ìê°€ íŠ¹ì • ì„œë¹„ìŠ¤ì— ë¨¸ë¬´ë¥¸ ì‹œê°„ | **í‰ê·  ì²´ë¥˜ ì‹œê°„** = ì´ ì²´ë¥˜ ì‹œê°„(ì‚¬ìš©ìë“¤ì´ ë°©ë¬¸í•˜ì—¬ ë¨¸ë¬´ë¥¸ ì „ì²´ ì‹œê°„) / ë°©ë¬¸í•œ ì „ì²´ ì‚¬ìš©ì ìˆ˜ |
| **í‰ê·  í˜ì´ì§€ ì²´ë¥˜ ì‹œê°„ (Average Time on Page)** | ì‚¬ìš©ìê°€ ì„œë¹„ìŠ¤ ë‚´ì˜ ë‹¨ì¼ í˜ì´ì§€ì—ì„œ ë¨¸ë¬´ë¥¸ í‰ê·  ì‹œê°„ | ë‹¨ì¼ í˜ì´ì§€ì˜ ì´ ì²´ë¥˜ ì‹œê°„ / í•´ë‹¹ í˜ì´ì§€ë¥¼ ë°©ë¬¸í•œ ì‚¬ìš©ì ìˆ˜ |
| **í‰ê·  ì„¸ì…˜ ì‹œê°„ (Average Session Duration)** | ë‹¨ì¼ ì„¸ì…˜ ë™ì•ˆ ì‚¬ìš©ìê°€ íŠ¹ì • ì„œë¹„ìŠ¤ì—ì„œ ë¨¸ë¬´ë¥¸ í‰ê·  ì‹œê°„ | ì´ ì„¸ì…˜ ì‹œê°„(ê° ì„¸ì…˜ì˜ â€˜ì„¸ì…˜ ì¢…ë£Œ ì‹œê° - ì„¸ì…˜ ì‹œì‘ ì‹œê°â€™ì˜ ì´í•©) / ì„¸ì…˜ ìˆ˜ |
| **í˜ì´ì§€ ë·° (PV, Page View)** | íŠ¹ì • ì›¹ì‚¬ì´íŠ¸ë‚˜ ì„œë¹„ìŠ¤ë¥¼ ë°©ë¬¸í•˜ì—¬ ì—´ëŒí•œ í˜ì´ì§€ì˜ ìˆ˜ (ì¤‘ë³µ í¬í•¨) | - |
| **ìˆœ ë°©ë¬¸ì ìˆ˜ (UV, Unique Visitor)** | íŠ¹ì • ì›¹ì‚¬ì´íŠ¸ë‚˜ ì„œë¹„ìŠ¤ì— ë°©ë¬¸í•œ ì‚¬ìš©ì ì¤‘ ì¤‘ë³µë˜ëŠ” ì‚¬ìš©ìë¥¼ ë°°ì œí•œ ìˆœ ë°©ë¬¸ì ìˆ˜ | - |
| **í˜ì´ì§€ ì´íƒˆë¥  (Bounce Rate, ë°˜ì†¡ë¥ )** | ì›¹ì´ë‚˜ ì•±ì—ì„œ ì²« í˜ì´ì§€ë§Œ ì¡°íšŒí•œ í›„, ì¶”ê°€ì ì¸ í–‰ë™ì´ë‚˜ ìƒí˜¸ì‘ìš© ì—†ì´ ë°”ë¡œ ì´íƒˆí•œ ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (ë°˜ì†¡ ìˆ˜ / ë°©ë¬¸ ìˆ˜) * 100 <br> *ë°˜ì†¡ ìˆ˜ : ëœë”© í˜ì´ì§€ì— ë°©ë¬¸í•˜ì—¬ 1PVë§Œì„ ë°œìƒì‹œí‚¨ ë°©ë¬¸ì˜ ìˆ˜* |
| **Aha-moment ì „í™˜ìœ¨** | Aha-momentë¥¼ ê²½í—˜í•˜ëŠ” ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (Aha-momentë¥¼ ê²½í—˜í•œ ì‚¬ìš©ì ìˆ˜ / ì „ì²´ ì‚¬ìš©ì ìˆ˜) * 100 |
| **êµ¬ë§¤ ì „í™˜ìœ¨ / êµ¬ë… ì „í™˜ìœ¨** | ì „ì²´ ë°©ë¬¸ì ì¤‘ êµ¬ë§¤/êµ¬ë…ì„ í•œ ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (êµ¬ë§¤ ìˆ˜ or êµ¬ë… ìˆ˜ / ë°©ë¬¸ ìˆ˜) * 100 |
| **ì„¸ë¶€ í¼ë„ ë‹¨ê³„ë³„ ì „í™˜ìœ¨** | ì„¸ë¶€ í¼ë„(Aha-moment í¼ë„, êµ¬ë§¤ í¼ë„, êµ¬ë… í¼ë„ ë“±) ì•ˆì—ì„œì˜ ë‹¨ê³„ë³„ ì „í™˜ìœ¨ | (ì´í›„ ë‹¨ê³„ë¡œ ì „í™˜ëœ ìˆ˜ / ì´ì „ ë‹¨ê³„ì˜ ìˆ˜) * 100 |

## Retention

| ì§€í‘œ | ì •ì˜ | ê³„ì‚°ì‹ |
|------|------|------|
| **ìœ ì§€ìœ¨ (Retention Rate, ì”ì¡´ìœ¨)** | ì‚¬ìš©ìê°€ ìœ ì§€ë˜ëŠ” ë¹„ìœ¨ | (ìœ ì§€ëœ ì‚¬ìš©ì ìˆ˜ / ê¸°ì¡´ ì‚¬ìš©ì ìˆ˜) * 100 |
| **ì´íƒˆë¥  (Churn Rate)** | ì‚¬ìš©ìê°€ ì´íƒˆí•˜ëŠ” ë¹„ìœ¨ | (ì´íƒˆí•œ ì‚¬ìš©ì ìˆ˜ / ê¸°ì¡´ ì‚¬ìš©ì ìˆ˜) * 100 |
| **ì¬êµ¬ë§¤ìœ¨ / ì¬êµ¬ë…ë¥ ** | ì²« êµ¬ë§¤í›„ íŠ¹ì • ë‹¨ìœ„ ê¸°ê°„(1ì£¼, 1ê°œì›”, 3ê°œì›” ë“±)ë‚´ì— ë‹¤ì‹œ êµ¬ë§¤/êµ¬ë…í•˜ëŠ” ì‚¬ìš©ìì˜ ë¹„ìœ¨ | (ì¬êµ¬ë§¤ or ì¬êµ¬ë…í•œ ì‚¬ìš©ì ìˆ˜ / ê¸°ì¡´ ì‚¬ìš©ì ìˆ˜) * 100 |
| **ì‚¬ìš©ì ê³ ì°©ë„ (Stickiness)** | ì‚¬ìš©ìê°€ ì„œë¹„ìŠ¤ì— ê³„ì†í•´ì„œ ë°©ë¬¸í•˜ëŠ” ì •ë„ | DAU(ì¼ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜) / MAU(ì›”ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜) * 100 |
| **í™œì„± ì‚¬ìš©ì ìˆ˜ (AU, Active User)** | íŠ¹ì • ì›¹ì‚¬ì´íŠ¸, ì•± ë˜ëŠ” í”Œë«í¼ê³¼ ìƒí˜¸ì‘ìš©í•˜ë©° í™œì„±í™”ëœ ì‚¬ìš©ì ìˆ˜ (ì¤‘ë³µ ì œê±°) | - |
| **ê¸°ê°„ë³„ í™œì„± ì‚¬ìš©ì ìˆ˜** | íŠ¹ì • ê¸°ê°„ ë™ì•ˆ í™œì„± ì‚¬ìš©ì ìˆ˜ (HAU, DAU, WAU, MAU) | **HAU** : ì‹œê°„ë‹¹ í™œì„± ì‚¬ìš©ì ìˆ˜ <br> **DAU** : ì¼ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜ <br> **WAU** : ì£¼ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜ <br> **MAU** : ì›”ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜ |

## Revenue

| ì§€í‘œ | ì •ì˜ | ê³„ì‚°ì‹ |
|------|------|------|
| **ë§¤ì¶œ (Revenue)** | ë¹„ì¦ˆë‹ˆìŠ¤ê°€ ê³ ê°ì—ê²Œ ìƒí’ˆ í˜¹ì€ ì„œë¹„ìŠ¤ë¥¼ íŒë§¤í•˜ì—¬ ì°½ì¶œí•˜ëŠ” ì´ ê¸ˆì•¡ìœ¼ë¡œ, ë¹„ì¦ˆë‹ˆìŠ¤ ìš´ì˜ê³¼ ê´€ë ¨ëœ ë¹„ìš©ì„ ê³µì œí•˜ê¸° ì „ì˜ ê¸ˆì•¡ | - |
| **ë§¤ì¶œì´ì´ìµ (Gross Profit, ë§ˆì§„)** | ë§¤ì¶œì•¡ì—ì„œ ë§¤ì¶œì›ê°€(COGS, ì œí’ˆì´ë‚˜ ì„œë¹„ìŠ¤ë¥¼ ì œê³µí•˜ëŠ” ë° ë“œëŠ” ì§ì ‘ ë¹„ìš©)ë¥¼ ì°¨ê°í•œ ê¸ˆì•¡ | ë§¤ì¶œ - ë§¤ì¶œ ì›ê°€ |
| **ë§¤ì¶œì´ì´ìµë¥  (Gross Profit Margin, ë§ˆì§„ìœ¨)** | ë§¤ì¶œ ëŒ€ë¹„ ë§¤ì¶œì´ì´ìµ(ë§ˆì§„)ì˜ ë¹„ìœ¨ | {(ë§¤ì¶œ - ë§¤ì¶œ ì›ê°€) / ë§¤ì¶œ} * 100 |
| **ìˆœì´ìµ (Net Profit, Net Income)** | ë§¤ì¶œì—ì„œ ë§¤ì¶œ ì›ê°€, ì¸ê±´ë¹„, ê´‘ê³ ë¹„, ì„¸ê¸ˆ ë“± ë¹„ì¦ˆë‹ˆìŠ¤ê°€ ì‚¬ìš©í•œ ëª¨ë“  ë¹„ìš©ì„ ì°¨ê°í•˜ê³  ì˜ì—…ì™¸ìˆ˜ìµê³¼ ë¹„ìš©ê¹Œì§€ ê³ ë ¤í•œ ë’¤ ë‚¨ì€ ê¸ˆì•¡ìœ¼ë¡œ, ë¹„ì¦ˆë‹ˆìŠ¤ì˜ ìˆœìˆ˜í•œ ì´ìµ | ë§¤ì¶œ - ë§¤ì¶œ ì›ê°€ - íŒë§¤ê´€ë¦¬ë¹„ + (ê¸ˆìœµìˆ˜ìµ - ê¸ˆìœµë¹„ìš©) + (ì˜ì—…ì™¸ìˆ˜ìµ - ì˜ì—…ì™¸ë¹„ìš©) - ë²•ì¸ì„¸ë¹„ìš© |
| **MRR (Monthly Recurring Revenue, ì›”ê°„ ë°˜ë³µ ë§¤ì¶œ)** | ë§¤ì›” ë°˜ë³µì ìœ¼ë¡œ ë°œìƒí•˜ëŠ” ë§¤ì¶œ | ê¸°ì¡´ ê³ ê°ì˜ ì›”ê°„ ë§¤ì¶œ(ì „ì›” ë§¤ì¶œ) - ì´íƒˆ ê³ ê°ì˜ ì›”ê°„ ê¸°ì—¬ ë§¤ì¶œ + ì‹ ê·œ/ë¶€í™œ ê³ ê°ì˜ ì›”ê°„ ë§¤ì¶œ + í”Œëœ ì—…ê·¸ë ˆì´ë“œ/ë‹¤ìš´ê·¸ë ˆì´ë“œë¡œ ì¸í•œ ì›”ê°„ ë§¤ì¶œ ì°¨ì•¡ |
| **ARR (Annual Recurring Revenue, ì—°ê°„ ë°˜ë³µ ë§¤ì¶œ)** | ë§¤ë…„ ë°˜ë³µì ìœ¼ë¡œ ë°œìƒí•˜ëŠ” ë§¤ì¶œ | ê¸°ì¡´ ê³ ê°ì˜ ì—°ê°„ ë§¤ì¶œ(ì „ë…„ë„ ë§¤ì¶œ) - ì´íƒˆ ê³ ê°ì˜ ì—°ê°„ ê¸°ì—¬ ë§¤ì¶œ + ì‹ ê·œ/ë¶€í™œ ê³ ê°ì˜ ì—°ê°„ ë§¤ì¶œ + í”Œëœ ì—…ê·¸ë ˆì´ë“œ/ë‹¤ìš´ê·¸ë ˆì´ë“œì— ë”°ë¥¸ ì—°ê°„ ë§¤ì¶œ ì°¨ì•¡ |
| **ROI (Return on Investment, íˆ¬ì ìˆ˜ìµë¥ )** | íˆ¬ì ë¹„ìš©(ê´‘ê³ ë¹„ë¥¼ í¬í•¨í•œ ëª¨ë“  ë¹„ìš©) ëŒ€ë¹„ ìˆ˜ìµë¥ (ìˆœì´ìµ ê¸°ì¤€) | (ìˆœì´ìµ / ì „ì²´ íˆ¬ì ë¹„ìš©) * 100 |
| **ROAS (Return on Ad Spend, ê´‘ê³  ìˆ˜ìµë¥ )** | íˆ¬ì…í•œ ê´‘ê³  ë¹„ìš© ëŒ€ë¹„ ìˆ˜ìµë¥ (ë§¤ì¶œ ê¸°ì¤€) | (ê´‘ê³  ìº í˜ì¸ì„ í†µí•´ ë°œìƒí•œ ë§¤ì¶œ / íˆ¬ì…í•œ ì´ ê´‘ê³  ë¹„ìš©) * 100 <br> **ë§¤ì²´ë³„ ROAS** : (íŠ¹ì • ê´‘ê³  ë§¤ì²´ì—ì„œ ë°œìƒí•œ ë§¤ì¶œ / í•´ë‹¹ ë§¤ì²´ì— íˆ¬ì…í•œ ì´ ê´‘ê³  ë¹„ìš©) * 100 |
| **PU (Paying User, ìœ ë£Œ ê²°ì œ ì‚¬ìš©ì ìˆ˜)** | ìœ ë£Œ ê²°ì œë¥¼ í•œ ì‚¬ìš©ìì˜ ìˆ˜ | - |
| **ARPU (Average Revenue Per User)** | ê³ ê° í‰ê·  ë§¤ì¶œë¡œ, ë¬´ë£Œ ì‚¬ìš©ìì™€ ìœ ë£Œ ê²°ì œ ì‚¬ìš©ìë¥¼ í¬í•¨í•œ ì „ì²´ ì‚¬ìš©ì 1ì¸ë‹¹ í‰ê·  ë§¤ì¶œ | ì´ ë§¤ì¶œ / ì „ì²´ ì‚¬ìš©ì ìˆ˜ |
| **ARPPU (Average Revenue per Paying User)** | ìœ ë£Œ ê³ ê° í‰ê·  ë§¤ì¶œë¡œ, ìœ ë£Œ ê²°ì œ ì‚¬ìš©ì 1ì¸ë‹¹ í‰ê·  ë§¤ì¶œ | ì´ ë§¤ì¶œ / ìœ ë£Œ ê²°ì œ ì‚¬ìš©ì ìˆ˜ (PU) |
| **ARPDAU (Average Revenue Per Daily Active User)** | DAU(ì¼ê°„ í™œì„± ì‚¬ìš©ì) 1ì¸ë‹¹ ì¼ í‰ê·  ë§¤ì¶œ | ì¼ ë§¤ì¶œ / DAU(ì¼ê°„ í™œì„± ì‚¬ìš©ì ìˆ˜) |
| **LTR (Lifetime Revenue, ê³ ê° ìƒì•  ë§¤ì¶œ)** | ê³ ê° í•œ ëª…ì´ ì œí’ˆ/ì„œë¹„ìŠ¤ë¥¼ ì´ìš©í•˜ëŠ” ì „ì²´ ìƒì•  ë™ì•ˆ ìš°ë¦¬ ë¹„ì¦ˆë‹ˆìŠ¤ì—ì„œ ë°œìƒì‹œí‚¬ ê²ƒìœ¼ë¡œ ì˜ˆìƒë˜ëŠ” ê¸°ëŒ€ ë§¤ì¶œ | ê³ ê°ì´ ìƒì•  ë™ì•ˆ ëˆ„ì í•˜ì—¬ ë°œìƒì‹œí‚¨ ì´ ë§¤ì¶œì˜ í•© / ê³ ê° ìˆ˜ |
| **LTV (Lifetime Value, ê³ ê° ìƒì•  ê°€ì¹˜)** | ê³ ê° í•œ ëª…ì´ ì œí’ˆ/ì„œë¹„ìŠ¤ë¥¼ ì´ìš©í•˜ëŠ” ì „ì²´ ìƒì•  ë™ì•ˆ ìš°ë¦¬ ë¹„ì¦ˆë‹ˆìŠ¤ì—ì„œ ë°œìƒì‹œí‚¬ ê²ƒìœ¼ë¡œ ì˜ˆìƒë˜ëŠ” ê¸°ëŒ€ ê°€ì¹˜(ìˆœì´ìµ ê¸°ì¤€) | {í‰ê·  êµ¬ë§¤ ê¸ˆì•¡ * ë§ˆì§„ìœ¨ * êµ¬ë§¤ ë¹ˆë„(êµ¬ë§¤ íšŸìˆ˜) * ê³ ê° ìˆ˜ëª…} - (ê³ ê° íšë“ ë¹„ìš© + ê³ ê° ìœ ì§€ ë¹„ìš©) |

## Referral

| ì§€í‘œ | ì •ì˜ | ê³„ì‚°ì‹ |
|------|------|------|
| **ë°”ì´ëŸ´ ì£¼ê¸° ì‹œê°„ (Viral Cycle Time)** | ê¸°ì¡´ ì‚¬ìš©ìê°€ ì¹œêµ¬ë¥¼ ì´ˆëŒ€í•˜ê³ , ì´ˆëŒ€ë°›ì€ ì¹œêµ¬ê°€ ì‹ ê·œ ì‚¬ìš©ìë¡œ ìœ ì…ë˜ê¸°ê¹Œì§€ ê±¸ë¦¬ëŠ” ì‹œê°„ | - |
| **ë°”ì´ëŸ´ ê³„ìˆ˜ (Viral Coefficient)** | ê¸°ì¡´ ì‚¬ìš©ì 1ëª…ë‹¹ ë§Œë“¤ì–´ë‚´ëŠ” ì‹ ê·œ ì‚¬ìš©ìì˜ ìˆ˜ | ê¸°ì¡´ ì‚¬ìš©ì 1ëª…ë‹¹ í‰ê·  ì¹œêµ¬ ì´ˆëŒ€ ìˆ˜ * ì´ˆëŒ€ë°›ì€ ì¹œêµ¬ì˜ ì´ˆëŒ€ ìˆ˜ë½ ë¹„ìœ¨ |
| **NPS (Net Promoter Score, ìˆœ ì¶”ì²œ ì§€ìˆ˜)** | ê¸°ì¡´ ì‚¬ìš©ìê°€ ì œí’ˆì´ë‚˜ ì„œë¹„ìŠ¤, ë¸Œëœë“œë¥¼ ì¶”ì²œí•  ê°€ëŠ¥ì„±ìœ¼ë¡œ, ê³ ê° ì¶©ì„±ë„ë¥¼ ì¸¡ì •í•˜ëŠ” í‘œì¤€ ì²™ë„ | ì¶”ì²œ ê·¸ë£¹ì˜ ë¹„ìœ¨(%) - ë¹„ì¶”ì²œ ê·¸ë£¹ì˜ ë¹„ìœ¨(%) |
| **SNS ê³µìœ  ìˆ˜ (SNS Share Rate)** | ê³µìœ  ìˆ˜, ëŒ“ê¸€ ìˆ˜, íƒœê·¸ ìˆ˜ ë“± | - |

---
# ë°ì´í„° EDA
---

## ê³µí†µ ë°ì´í„° : enter.main_page

In [7]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
enter_main_page_df = enter.main_page()

# ë°ì´í„° í™•ì¸
enter_main_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,1.0.0.0,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
3,Hwaseong-si,2023-04-05 21:02:50.374000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
4,Seoul,2023-04-05 21:30:33.727000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.main_page,Korean,Chrome,112.0.0.0,Web,NaN
5,Sejong,2023-04-05 21:36:02.749000,South Korea,NaN,Apple iPhone,Apple iPhone 12 Mini,enter.main_page,Korean,Instagram,276.1.0.14.103,Web,NaN
6,Seoul,2023-04-05 21:37:37.469000,South Korea,NaN,Samsung SM-S916N,NaN,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
7,Seoul,2023-04-05 21:37:42.563000,South Korea,NaN,Samsung SM-S916N,NaN,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
8,Jung-gu,2023-04-05 21:55:29.031000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
9,Seoul,2023-04-05 21:05:40.020000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.main_page,Korean,Mobile Safari,16.4,Web,NaN

In [8]:
# ë°ì´í„° ì´ëŸ‰ í™•ì¸
enter_main_page_df.shape

(2133548, 12)

In [10]:
# ë°ì´í„° info() í™•ì¸
enter_main_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133548 entries, 0 to 2133547
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
dtypes: float64(1), object(11)
memory usage: 195.3+ MB

In [11]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
enter_main_page_df.isnull().sum()

city                   56988
client_event_time          0
country                 1869
device_carrier       2133548
device_family           2813
device_type            60050
event_type                 0
language                   0
os_name                 2304
os_version             13868
platform                   0
user_id              1611032
dtype: int64

---
## 1ë²ˆ : ì„œë¹„ìŠ¤ ë¬´ë£Œì²´í—˜ í…Œì´ë¸”

---
## 2ë²ˆ : ì½˜í…ì¸  ìˆ˜ê°• ë° í›„ê¸° ë²„íŠ¼ í´ë¦­ í…Œì´ë¸”

---
## 3ë²ˆ : íšŒì›ê°€ì… í…Œì´ë¸”

---
## 4ë²ˆ : ê²°ì œ ì§„í–‰ í…Œì´ë¸”

In [20]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
enter_payment_page_df = enter.payment_page()
complete_subscription_df = complete.subscription()
renew_subscription_df = renew.subscription()
resubscribe_df = resubscribe.subscription()
cancel_plan_df = click.cancel_plan_button()

### enter.payment_page
ê²°ì œ í˜ì´ì§€ ì§„ì…

In [27]:
# ë°ì´í„° í™•ì¸
enter_payment_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:31:27.602000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,112.0.0.0,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,111.0.0.0,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,111.0.1661.62,Web,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-05 21:45:27.935000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-05 21:46:50.632000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
5,Gwanak-gu,2023-04-10 14:55:31.376000,South Korea,NaN,Samsung Galaxy Phone,Samsung Galaxy A31,enter.payment_page,Korean,Chrome,111.0.0.0,Web,37f5dcfad7488c70d6657a69a0384be3
6,Seoul,2023-04-10 14:56:21.536000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.payment_page,Korean,Mobile Safari,16.3,Web,f693a50e45b6aa18fb6b0c91beee8ea1
7,Seoul,2023-04-10 14:56:26.141000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.payment_page,Korean,Mobile Safari,16.3,Web,f693a50e45b6aa18fb6b0c91beee8ea1
8,Buk-gu,2023-04-10 14:03:05.287000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,112.0.0.0,Web,9cf14379b941964d78b7c7914c573b2f
9,Gimpo-si,2023-04-10 14:44:31.251000,South Korea,NaN,Samsung Phone,Samsung Galaxy A53 5G,enter.payment_page,Korean,Chrome WebView,111.0.5563.116,Web,583457ca80cd98524fda28b54181ded6

In [26]:
# ë°ì´í„° í¬ê¸° í™•ì¸
enter_payment_page_df.shape

(158834, 12)

In [21]:
# ë°ì´í„° ì¸í¬ í™•ì¸
enter_payment_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165061 entries, 0 to 165060
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               162362 non-null  object
 1   client_event_time  165061 non-null  object
 2   country            164899 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      165060 non-null  object
 5   device_type        159066 non-null  object
 6   event_type         165061 non-null  object
 7   language           165061 non-null  object
 8   os_name            165061 non-null  object
 9   os_version         164560 non-null  object
 10  platform           165061 non-null  object
 11  user_id            158834 non-null  object
dtypes: float64(1), object(11)
memory usage: 15.1+ MB

In [22]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
enter_payment_page_df.isnull().sum()

city                   2699
client_event_time         0
country                 162
device_carrier       165061
device_family             1
device_type            5995
event_type                0
language                  0
os_name                   0
os_version              501
platform                  0
user_id                6227
dtype: int64

- ìœ ì‹¬íˆ ë´ì•¼í•  ê²°ì¸¡ì¹˜ë¡œ user_idë¥¼ ì„ ì • (ì´ ì´ë²¤íŠ¸ì˜ ì£¼ì²´ëŠ” ìœ ì €)
- user_idì˜ ê²°ì¸¡ì¹˜ê°€ ë°œìƒí•œ ê²ƒìœ¼ë¡œ ë³´ì•˜ì„ ë•Œ, ë¹„íšŒì›ì¸ ìƒíƒœì—ì„œ ê²°ì œ í˜ì´ì§€ë¥¼ ì§„ì…í•œ ê²ƒìœ¼ë¡œ í™•ì¸
- ì¶”ì¸¡ : í˜ì´ì§€ ë‚´ì˜ ìŠ¤í¬ë¦½íŠ¸ë¡œ ë¡œê·¸ì¸ì´ í•„ìš”í•˜ë‹¤ëŠ” alertë¥¼ ë³´ë‚¸ í›„ ë¡œê·¸ì¸ ì°½ìœ¼ë¡œ ëŒì•„ê°€ëŠ” ë°©ì‹ìœ¼ë¡œ ì§„í–‰í–ˆì„ ê²ƒ

ë”°ë¼ì„œ íšŒì›ì¸ ë°ì´í„°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ë§ˆë•…í•˜ë‹¤ê³  íŒë‹¨í•˜ì—¬ user_idì— ê²°ì¸¡ì¹˜ê°€ ë‚˜ì˜¨ ê°’ì€ ì œê±°ì²˜ë¦¬

In [23]:
# user_id ë‚´ ê²°ì¸¡ì¹˜ ì œê±°
enter_payment_page_df = enter_payment_page_df.dropna(subset=['user_id'])

### complete.subscription
ì²« ê²°ì œ ì™„ë£Œ

In [28]:
# ë°ì´í„° í™•ì¸
complete_subscription_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,113.0.0.0,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN
5,Seocho-gu,2023-05-31 01:27:05.914000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,113.0.0.0,Web,ac7c3298f6afc990333b9dbf937f2378,15920,15920,0,NaN
6,Gyeonggi-do,2023-01-31 14:44:19.644000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21+ 5G,complete.subscription,Korean,Samsung Browser,19.0,Web,81cedbb74a6400b881a77694831102d9,95200,95200,0,NaN
7,Sangju,2023-01-31 14:27:53.465000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,109.0.0.0,Web,db0e90b2ae46d565e7f182d5202b8737,95200,95200,0,NaN
8,Gangnam-gu,2023-01-31 14:24:46.377000,South Korea,NaN,Samsung Phone,Samsung Galaxy S22,complete.subscription,Korean,Chrome WebView,108.0.5359.128,Web,4a267eba2e65ee24be66c3da88316f20,95200,95200,0,NaN
9,Songpa-gu,2023-01-31 14:10:20.700000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,109.0.0.0,Web,99a9f26d820203528cfd7cb0bfce0e2a,95200,95200,0,NaN

In [29]:
# ë°ì´í„° í¬ê¸° í™•ì¸
complete_subscription_df.shape

(14289, 16)

In [24]:
# ë°ì´í„° ì¸í¬ í™•ì¸
complete_subscription_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14289 entries, 0 to 14288
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    13757 non-null  object
 1   client_event_time       14289 non-null  object
 2   country                 13906 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           13914 non-null  object
 5   device_type             13764 non-null  object
 6   event_type              14289 non-null  object
 7   language                13914 non-null  object
 8   os_name                 13908 non-null  object
 9   os_version              13899 non-null  object
 10  platform                13914 non-null  object
 11  user_id                 14289 non-null  object
 12  plan.price              14289 non-null  int64
 13  paid_amount             14289 non-null  int64
 14  coupon.discount_amount  14289 non-null  int64
 15  pg.type                 1642 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.7+ MB

In [25]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
complete_subscription_df.isnull().sum()

city                        532
client_event_time             0
country                     383
device_carrier            14289
device_family               375
device_type                 525
event_type                    0
language                    375
os_name                     381
os_version                  390
platform                    375
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   12647
dtype: int64

- user_idì˜ ê²°ì¸¡ì¹˜ê°€ ë°œìƒí•˜ì§€ ì•Šì•˜ë‹¤.
- ë”°ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬ë¥¼ í•´ì•¼í•  ë¶€ë¶„ì€ ë°ì´í„°ë¥¼ ì–´ë– í•œ ë¶„ì„ìœ¼ë¡œ ì§„í–‰ì„ í• ì§€ì— ëŒ€í•´ì„œ ê° ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ê°€ ë¬¸ì œê°€ ë˜ëŠ”ì§€ í™•ì¸í•˜ê³  ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•  ê²ƒ.

### renew.subscription
ì •ê¸° ê²°ì œ ì™„ë£Œ

In [30]:
# ë°ì´í„° í™•ì¸
renew_subscription_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Edge,104,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN
3,Yongin-si,2022-09-08 04:10:06.406,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,bf14840a8cb4643e6d557da96e35a3af,15920,15920,0,NaN
4,Dongjak-gu,2022-09-08 04:40:01.895,South Korea,NaN,Android,Android,renew.subscription,Korean,Chrome Mobile,103,Web,7ddc1c2990d0645d82885394e3c518b5,15920,15920,0,NaN
5,Yangcheon-gu,2022-09-08 05:10:01.955,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,85822a1663cebc3351e24c25f8c02552,15920,7960,7960,NaN
6,Dongdaemun-gu,2022-09-08 06:45:01.589,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,47a7b82262e14f30c6ee06a314004714,15920,15920,0,NaN
7,Gangnam-gu,2022-09-08 06:45:05.980,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,102,Web,d8e3205c18c9e436e37994dadd604a73,15920,15920,0,NaN
8,Gangwon-do,2022-09-08 06:47:02.016,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,105,Web,cce04d49260614dcb65b3f3bde7cc4b6,15920,14487,1433,NaN
9,Buk-gu,2022-09-08 07:15:01.004,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,105,Web,19e512a7f43998e40ef164887b5a55bc,42960,42960,0,NaN

In [31]:
# ë°ì´í„° í¬ê¸° í™•ì¸
renew_subscription_df.shape

(15945, 16)

In [32]:
# ë°ì´í„° ì¸í¬ í™•ì¸
renew_subscription_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15945 entries, 0 to 15944
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    15575 non-null  object
 1   client_event_time       15945 non-null  object
 2   country                 15656 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           15657 non-null  object
 5   device_type             15484 non-null  object
 6   event_type              15945 non-null  object
 7   language                15657 non-null  object
 8   os_name                 15654 non-null  object
 9   os_version              15644 non-null  object
 10  platform                15657 non-null  object
 11  user_id                 15945 non-null  object
 12  plan.price              15945 non-null  int64
 13  paid_amount             15945 non-null  int64
 14  coupon.discount_amount  15945 non-null  int64
 15  pg.type                 2732 non-null   object
dtypes: float64(1), int64(3), object(12)
memory usage: 1.9+ MB

In [33]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
renew_subscription_df.isnull().sum()

city                        370
client_event_time             0
country                     289
device_carrier            15945
device_family               288
device_type                 461
event_type                    0
language                    288
os_name                     291
os_version                  301
platform                    288
user_id                       0
plan.price                    0
paid_amount                   0
coupon.discount_amount        0
pg.type                   13213
dtype: int64

### resubscribe.subscription
ë§Œë£Œ í›„ ì¬êµ¬ë… ì™„ë£Œ

In [34]:
# ë°ì´í„° í™•ì¸
resubscribe_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,NaN,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,113.0.5672.162,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,114.0.5735.99,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN
5,Toronto,2023-06-15 12:01:12.785,Canada,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,English,Mobile Safari,16.5,Web,e2652bbc8ce6ef935dc655ed9b3a1464,15920,15920,0,NaN
6,Seoul,2023-04-16 07:59:10.131,South Korea,NaN,Mac,Mac,resubscribe.subscription,English,Chrome,112.0.0.0,Web,b3d0d86a522f0e4e22579c3d3350ab22,15920,15920,0,NaN
7,Yongsan-gu,2023-06-01 03:11:24.477,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,113.0.0.0,Web,dfec4d0678f6d3824d6a1923b25a75de,15920,15920,0,NaN
8,Seoul,2023-05-30 08:36:16.951,South Korea,NaN,Mac,Mac,resubscribe.subscription,Korean,Chrome,112.0.0.0,Web,0b342edb20f16f8666d3df5a164de117,15920,15920,0,NaN
9,Tangjin,2023-05-16 15:11:53.790,South Korea,NaN,Mac,Mac,resubscribe.subscription,Korean,Chrome,97,Web,ca2976a5fc27e353fc1e17e21d5848ec,15920,15920,0,NaN

In [36]:
# ë°ì´í„° í¬ê¸° í™•ì¸
resubscribe_df.shape

(791, 16)

In [35]:
# ë°ì´í„° ì¸í¬ í™•ì¸
resubscribe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    775 non-null    object
 1   client_event_time       791 non-null    object
 2   country                 784 non-null    object
 3   device_carrier          0 non-null      float64
 4   device_family           784 non-null    object
 5   device_type             773 non-null    object
 6   event_type              791 non-null    object
 7   language                784 non-null    object
 8   os_name                 784 non-null    object
 9   os_version              784 non-null    object
 10  platform                784 non-null    object
 11  user_id                 791 non-null    object
 12  plan.price              791 non-null    int64
 13  paid_amount             791 non-null    int64
 14  coupon.discount_amount  791 non-null    int64
 15  pg.type                 173 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 99.0+ KB

In [37]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
resubscribe_df.isnull().sum()

city                       16
client_event_time           0
country                     7
device_carrier            791
device_family               7
device_type                18
event_type                  0
language                    7
os_name                     7
os_version                  7
platform                    7
user_id                     0
plan.price                  0
paid_amount                 0
coupon.discount_amount      0
pg.type                   618
dtype: int64

### click.cancel_plan_button
êµ¬ë… ì·¨ì†Œ ë²„íŠ¼ í´ë¦­

In [38]:
# ë°ì´í„° í™•ì¸
cancel_plan_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Daegu,2023-04-10 14:57:48.556,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 08:26:16.224,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,16.3,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 08:23:04.955,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-12 08:32:39.271,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-12 11:36:28.311,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180
5,Incheon,2023-04-12 11:42:20.856,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,112.0.0.0,Web,11b44eae717f4293b283315d2fb49fce
6,Mapo-gu,2023-05-31 01:48:19.226,South Korea,NaN,Mac,Mac,click.cancel_plan_button,Korean,Chrome,113.0.0.0,Web,8c72048ba0eea7dba25371885fb87c44
7,Suwon,2023-01-31 14:22:45.462,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,16.0,Web,c002b8d46a8e4f3a840c455e50245786
8,Songpa-gu,2023-01-31 14:59:26.869,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,109.0.0.0,Web,c58a141f0455c92fba272f453a90dda5
9,Seoul,2023-01-31 14:00:32.016,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,16.2,Web,805f45812f9c4b6b4081477b23c6180c

In [39]:
# ë°ì´í„° í¬ê¸° í™•ì¸
cancel_plan_df.shape

(17895, 12)

In [40]:
# ë°ì´í„° ì¸í¬ í™•ì¸
cancel_plan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               17742 non-null  object
 1   client_event_time  17895 non-null  object
 2   country            17893 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      17895 non-null  object
 5   device_type        17567 non-null  object
 6   event_type         17895 non-null  object
 7   language           17895 non-null  object
 8   os_name            17895 non-null  object
 9   os_version         17892 non-null  object
 10  platform           17895 non-null  object
 11  user_id            16853 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.6+ MB

In [41]:
# ë°ì´í„° ê²°ì¸¡ì¹˜ í™•ì¸
cancel_plan_df.isnull().sum()

city                   153
client_event_time        0
country                  2
device_carrier       17895
device_family            0
device_type            328
event_type               0
language                 0
os_name                  0
os_version               3
platform                 0
user_id               1042
dtype: int64

user_idì—ì„œ ê²°ì¸¡ì¹˜ê°€ ë°œê²¬ë˜ì—ˆê³  ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ì—¬ ë¶„ì„ì— ì‚¬ìš©í•˜ë©´ ë˜ì§€ë§Œ, ë‹¤ìŒê³¼ ê°™ì€ ìƒê°ì´ ë“¤ì–´ì„œ ë¶„ì„ì„ ì¢€ ë” í•´ë³´ì•˜ë‹¤.

- ëª¨ë°”ì¼ì˜ ê²½ìš°, ì•±ì„ ì¬ë¶€íŒ…í•  ì‹œ ë¡œê·¸ì¸ì´ í’€ë¦¬ëŠ” ëª¨ìŠµì„ ì¢…ì¢… ë³¼ ìˆ˜ ìˆì—ˆë‹¤.
- ì›¹ì˜ ê²½ìš°, ëª¨ì¢…ì˜ ì‚¬ìœ ë¡œ ë¡œê·¸ì¸ì´ í’€ë¦¬ëŠ” ëª¨ìŠµì„ ì¢…ì¢… ë³¼ ìˆ˜ ìˆì—ˆë‹¤.

ë‹¤ìŒê³¼ ê°™ì€ ìƒê°ìœ¼ë¡œ user_idê°€ naì¸ ê°’ì¸ ì»¬ëŸ¼ ì¤‘ os ë°ì´í„°ë¥¼ ë©´ë°€í•˜ê²Œ ì‚´í´ë³´ì•˜ë‹¤.

In [45]:
cancel_plan_df[cancel_plan_df['user_id'].isnull()]['os_name'].value_counts()

os_name
Chrome             608
Mobile Safari      119
Edge                95
Whale               88
Samsung Browser     46
WebKit              27
Safari              25
Chrome WebView      25
Firefox              6
Instagram            2
GSA                  1
Name: count, dtype: int64

Chromeì´ ê°€ì¥ ì••ë„ì ì¸ ìˆ«ìë¡œ ë§ì´ ì¡´ì¬í•˜ì§€ë§Œ, ê·¸ ë°‘ìœ¼ë¡œ Modile Safari, Samsung Browserì¸ ê²½ìš°ë¥¼ ë³´ì•„ ë‹¤ìŒê³¼ ê°™ì€ ì˜ˆìƒì„ í•  ìˆ˜ ìˆë‹¤.

- ëª¨ë°”ì¼ì—ì„œ í˜ì´ì§€ ì²˜ë¦¬ ì¤‘ ê°€ì¥ í° ì˜¤ë¥˜ê°’ì„ ê°€ì§ˆ ê°€ëŠ¥ì„±ì´ ë³´ì´ê³  ìˆë‹¤.

---
### ì‘ì—…ë€

#### ì¬êµ¬ë…ë¥ 

ì„¤ëª… : ì²« êµ¬ë§¤ í›„ íŠ¹ì • ë‹¨ìœ„ ê¸°ê°„(1ì£¼, 1ê°œì›”, 3ê°œì›” ë“±)ë‚´ì— ë‹¤ì‹œ êµ¬ë§¤/êµ¬ë…í•˜ëŠ” ì‚¬ìš©ìì˜ ë¹„ìœ¨<br/>
ê³„ì‚° : ê° ì²« êµ¬ë§¤í•œ ì´í›„ ë‹¤ìŒ êµ¬ë§¤ê¹Œì§€ ê±¸ë¦° ì‹œê°„ì„ ê³„ì‚°í•˜ì—¬ ê·¸ ê°’ì„ ë²”ìœ„í™” ì‹œí‚¨ í›„ ê·¸ë˜í”„ í‘œì‹œ

In [55]:
# ë°ì´í„° íƒ€ì… ë³€í™˜
complete_subscription_df['client_event_time'] = pd.to_datetime(complete_subscription_df['client_event_time'])

In [ ]:
# complete.subscriptionì€ ìœ ì €ê°€ ê¸°ì—… ë‚´ì—ì„œ ì œê³µí•˜ëŠ” ëª¨ë“  ì„œë¹„ìŠ¤ ìƒí’ˆì„ ì²« êµ¬ë§¤í•œ ì´ë ¥
complete_subscription_df['user_id'].value_counts()

user_id
3767d4c7a827422fccf61d45ae889669    8
f833cca4c382ac8c502c6f99bc432725    6
ccea16701cf72a9027d7d5f2c3d3019c    5
e04c24e899b1e875ed432a7b398a4308    4
bdaccf3b8535d78a81114fb5855232c3    3
                                   ..
c8f574f59d5cebdc14b4c103b5e82de0    1
34943b21eda6f814b6566f785ff8a066    1
d2a92dd7e65d264b6bcd8bf6ab2816f2    1
75441a74a656a7e9f7cbd5f6f11b1fff    1
d4f54ecf6c4d7bf8742f80505f02d6dc    1
Name: count, Length: 13881, dtype: int64

í•˜ì§€ë§Œ value_counts()ë¥¼ í†µí•´ì„œ í™•ì¸í•´ë³´ì•˜ë”ë‹ˆ ìœ ì €ì˜ countê°€ 1ì´ ì•„ë‹Œ ê²½ìš°ë¥¼ í™•ì¸í•  ìˆ˜ ìˆì—ˆë‹¤.<br/>
ê·¸ë˜ì„œ ê° ìœ ì €ë³„ groupbyë¥¼ í†µí•´ ìœ ì €ë³„ ê²°ì œ ì‹œê°„ ë‚´ì—­ì„ listë¡œ ë¬¶ì€ ë’¤ ê±¸ë¦° max()-min()ê°’ì„ í†µí•´ ì‹œê°„ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ ì–¼ë§ˆë‚˜ ì°¨ì´ê°€ ë‚˜ëŠ”ì§€ í™•ì¸í•´ë³´ì•˜ë‹¤.<br/>

_user_idê°€ 8ê°œì¸ ê²½ìš°ë„ ìˆëŠ”ë° ì´ëŠ” ì™œ ì•ˆí•œê±´ì§€?_<br/>
-> ì „ì²´ ë‚´ìš©ì„ í›‘ì–´ë´ì•¼ ë˜ëŠ” ê²½ìš°ê°€ ì•„ë‹ˆë¼ê³  ìƒê°.

In [ ]:
# user_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°ì œ ì‹œê°„ ë‚´ì—­ê³¼ ê²°ì œ íšŸìˆ˜, ê²°ì œ ê°„ê²©, ê²°ì œ ê¸ˆì•¡ì„ í™•ì¸
groupby_df = complete_subscription_df.groupby(['user_id']).agg(
    subscription_time=('client_event_time', list), 
    subscription_count=('client_event_time', 'count'),
    time_diff=('client_event_time', lambda x: x.max() - x.min()),
    plan_price=('plan.price', list)
)

In [ ]:
# ê²°ì œ íšŸìˆ˜ê°€ 2ë²ˆ ì´ìƒì¸ ê°’ í™•ì¸
groupby_df[groupby_df['subscription_count'] > 1]

,subscription_time,subscription_count,time_diff,plan_price
user_id,,,,
018e9f53c73beed1d161a392126d513b,"[2022-03-30 09:59:13.640000, 2022-03-30 04:15:...",2,0 days 05:44:08.635000,"[15920, 15920]"
01ee9c8e8858d201d0ae72cc2757546c,"[2022-10-26 14:45:01.816000, 2022-11-26 14:50:...",2,31 days 00:04:59.962000,"[15920, 15920]"
02a857284f291785a949fbd7ed7d6e91,"[2022-11-08 09:20:01.328000, 2022-11-08 09:20:...",2,0 days 00:00:00.550000,"[42960, 42960]"
046469242e1de011419057a9511925c3,"[2023-05-12 15:43:35.005000, 2023-05-12 13:30:...",2,0 days 02:13:05.256000,"[15920, 131600]"
04e3ed921de9a3cb187256ece5cf81bc,"[2023-06-30 03:03:40.394000, 2023-06-30 01:53:...",2,0 days 01:10:07.496000,"[15920, 15920]"
...,...,...,...,...
fdd65930c3cb37b64725377df0a7b380,"[2022-11-17 06:20:03.725000, 2022-11-17 06:20:...",2,0 days 00:00:00.150000,"[15920, 15920]"
feb2861037f5bb189cc501d05e4126a2,"[2023-08-18 03:05:38.346000, 2023-08-18 04:34:...",2,0 days 01:28:49.733000,"[131600, 15920]"
ff990a16d0f5c8bf914a63b6815ed342,"[2023-01-04 04:55:01.910000, 2023-01-02 16:28:...",2,1 days 12:26:33.771000,"[15920, 83200]"
ffe2fc3d0ca5c4d725dbe8d1d4b343ce,"[2022-07-19 06:04:07.219000, 2022-03-24 11:55:...",2,116 days 18:08:25.569000,"[15920, 15920]"
ffe3e486f61399d62d83727e53a850dc,"[2022-07-30 06:04:32.692000, 2022-07-30 06:20:...",2,0 days 00:16:17.813000,"[131600, 131600]"

- ê²°ê³¼ê°’ì„ í†µí•´ ê° í”Œëœë§ˆë‹¤ ì²« êµ¬ë§¤ë¥¼ í•œ ì´ë ¥ìœ¼ë¡œ ì´í•´í•  ìˆ˜ ìˆì—ˆë‹¤.
- <ins>ì²« ê²°ì œê°€ ì¤‘ë³µì¸ ê²½ìš°ëŠ” ì²« ê²°ì œ í™˜ë¶ˆ í›„ ë‹¤ì‹œ ê²°ì œí•œ ì¼€ì´ìŠ¤ë¡œ ê°„ì£¼</ins>
    - ms ì°¨ì´ì˜ ê²½ìš°ë„ í¬í•¨í•˜ë©´ ë˜ì§€ ì•Šì„ê¹Œ?

In [52]:
complete_subscription_df.drop_duplicates()

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,113.0.0.0,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14284,NaN,2023-12-29 13:28:22.696000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,3280d2b1af281b9989e1708d6e3d681e,95520,95520,0,B
14285,NaN,2023-12-29 13:58:50.397000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,abebe3234041d14b5c0c5821bf90ab26,95520,95520,0,B
14286,NaN,2023-12-29 13:48:13.849000,NaN,NaN,NaN,NaN,complete.subscription,NaN,NaN,NaN,NaN,3ca22b0bade6b40d6274bf6d06bc4344,95520,95520,0,B
14287,Gangnam-gu,2023-10-30 00:44:45.947000,South Korea,NaN,Samsung Galaxy Phone,Samsung Galaxy S7,complete.subscription,Korean,Chrome WebView,115.0.5790.166,Web,c49ea18247c81a613f8bbf44ff029cb4,131600,131600,0,A
14288,Incheon,2023-10-10 05:02:56.229000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,117.0.0.0,Web,9eec721a1a1406bcf623272b5f761ce6,131600,111860,19740,NaN

---
## 5ë²ˆ : ì½˜í…ì¸  ìˆ˜ê°• ë° ì¢…ë£Œ í…Œì´ë¸”

---
## 6ë²ˆ : ë ˆìŠ¨ ìˆ˜ê°• ë° ì¢…ë£Œ í…Œì´ë¸”

---
# ì‚¬ìš©ì ì—¬ì • ë¡œë“œë§µ ê¸°ì¤€ ë¶„ì„

In [4]:
enter_main_page_df = enter.main_page()

In [4]:
# ë¹„íšŒì›ì´ main_pageì— ì ‘ì†í•œ ë¹ˆë„ ìƒìœ„ 15ê°œ OS 
enter_main_page_df[enter_main_page_df['user_id'].isnull()]['os_name'].value_counts().head(15)

os_name
Chrome             658242
Mobile Safari      224270
Instagram          198313
Samsung Browser    107053
Edge                87097
Chrome WebView      66835
Whale               66410
Chrome Mobile       48206
Safari              47874
WebKit              47631
Facebook            37220
GSA                 10788
Firefox              3870
Chrome Headless      2775
Opera                 973
Name: count, dtype: int64

In [5]:
# êµ­ê°€ë³„ main_pageì— ì ‘ì†í•œ ë¹ˆë„ ìƒìœ„ 15ê°œ êµ­ê°€
enter_main_page_df['country'].value_counts().head(15)

country
South Korea       2079303
United States       18925
Japan                5329
Canada               4142
Germany              3009
Ireland              2144
Australia            1970
Singapore            1736
United Kingdom       1688
Vietnam              1317
India                1216
France               1014
Hong Kong             970
China                 784
Thailand              524
Name: count, dtype: int64

In [6]:
# ê° êµ­ê°€ë³„ main_pageì— ì ‘ì†í•œ OS ë¹„ìœ¨
enter_main_page_df.groupby

<bound method DataFrame.groupby of                   city           client_event_time      country  \
0          Seongnam-si  2023-04-05 21:55:06.140000  South Korea
1        Dongdaemun-gu  2023-04-05 21:04:28.967000  South Korea
2          Hwaseong-si  2023-04-05 21:01:31.258000  South Korea
3          Hwaseong-si  2023-04-05 21:02:50.374000  South Korea
4                Seoul  2023-04-05 21:30:33.727000  South Korea
...                ...                         ...          ...
2133543       Jeongeup  2023-10-10 05:53:29.283000  South Korea
2133544       Jeongeup  2023-10-10 05:54:17.572000  South Korea
2133545     Gangnam-gu  2023-10-10 05:54:33.164000  South Korea
2133546        Saha-gu  2023-10-10 05:58:15.175000  South Korea
2133547          Seoul  2023-10-10 05:58:45.857000  South Korea

         device_carrier        device_family                device_type  \
0                   NaN        Samsung Phone      Samsung Galaxy S21 5G
1                   NaN                  Mac                        Mac
2                   NaN  Samsung Galaxy Note  Samsung Galaxy Note10+ 5G
3                   NaN  Samsung Galaxy Note  Samsung Galaxy Note10+ 5G
4                   NaN        Samsung Phone      Samsung Galaxy A51 5G
...                 ...                  ...                        ...
2133543             NaN              Windows                    Windows
2133544             NaN              Windows                    Windows
2133545             NaN              Windows                    Windows
2133546             NaN        Samsung Phone        Samsung Galaxy S23+
2133547             NaN                  Mac                        Mac

              event_type language    os_name      os_version platform  \
0        enter.main_page   Korean      Whale         1.0.0.0      Web
1        enter.main_page   Korean     Chrome       111.0.0.0      Web
2        enter.main_page   Korean     Chrome       111.0.0.0      Web
3        enter.main_page   Korean     Chrome       111.0.0.0      Web
4        enter.main_page   Korean     Chrome       112.0.0.0      Web
...                  ...      ...        ...             ...      ...
2133543  enter.main_page   Korean     Chrome       117.0.0.0      Web
2133544  enter.main_page   Korean     Chrome       117.0.0.0      Web
2133545  enter.main_page   Korean     Chrome       117.0.0.0      Web
2133546  enter.main_page   Korean  Instagram  303.0.0.40.109      Web
2133547  enter.main_page   Korean     Safari            16.3      Web

                                  user_id
0                                     NaN
1        b2b31f00b82edc6419b25324a7ae41a4
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
2133543                               NaN
2133544                               NaN
2133545                               NaN
2133546                               NaN
2133547                               NaN

[2133548 rows x 12 columns]>

In [7]:
enter_content_page_df = enter.content_page()
start_free_trial_df = start.free_trial()
complete_subscription_df = complete.subscription()
renew_subscription_df = renew.subscription()
resubscribe_df = resubscribe.subscription()
start_content_df = start.content()

In [8]:
# ëª¨ë“  ê²°ì œ ì™„ë£Œ ì´ë ¥
concat_df = pd.concat([complete_subscription_df, renew_subscription_df, resubscribe_df], axis=0)
concat_df = concat_df.drop_duplicates()
concat_df

# data type ë³€ê²½
concat_df['client_event_time'] = pd.to_datetime(concat_df['client_event_time'])

merge_df2 = pd.merge(concat_df, start_free_trial_df[['user_id', 'plan.type']], how='inner', on='user_id')
merge_df2 = merge_df2.drop_duplicates()
merge_df2.groupby(['plan.price', 'plan.type']).size().reset_index(name='count')

# ê¶ê¸ˆì 
concat_df.groupby('plan.price').agg(client_event_time_min=('client_event_time', 'min'), client_event_time_max=('client_event_time', 'max'))

             client_event_time_min   client_event_time_max
plan.price
14328      2023-05-02 07:50:46.978 2023-12-17 02:30:01.995
15920      2022-01-02 08:34:14.270 2023-12-31 09:20:02.770
19920      2023-03-16 01:59:11.035 2023-03-16 01:59:11.035
42960      2022-01-01 06:17:24.513 2023-12-30 09:20:05.551
79200      2022-11-30 15:11:19.442 2022-12-31 14:58:49.139
83200      2022-12-31 15:18:32.786 2023-01-10 14:59:10.551
87200      2023-01-10 15:04:31.960 2023-01-17 14:56:54.133
91200      2023-01-17 15:00:47.164 2023-01-24 14:58:37.499
95200      2023-01-24 15:00:07.569 2023-01-31 14:55:01.296
95520      2023-12-10 15:06:34.836 2023-12-31 17:21:26.599
118440     2023-05-02 23:46:39.085 2023-06-04 12:20:01.574
131600     2022-01-05 00:50:10.865 2023-12-31 12:35:01.318

In [62]:
# ëª¨ë“  ê²°ì œ ì™„ë£Œ ì´ë ¥
concat_df = pd.concat([complete_subscription_df, renew_subscription_df, resubscribe_df], axis=0)
concat_df = concat_df.drop_duplicates()

# data type ë³€ê²½
concat_df['client_event_time'] = pd.to_datetime(concat_df['client_event_time'])

# ARPU ê³„ì‚°
concat_df['peroid'] = concat_df['client_event_time'].dt.to_period('M')

# ê²°ì œ ì™„ë£Œ ì´ë ¥ì„ ì›”ë³„ë¡œ ê·¸ë£¹í•‘
concat_groupby = concat_df.groupby('peroid').agg(
    total_paid_amount = ('paid_amount', 'sum'),
    total_user = ('user_id', 'count'),
)

# ARPPU ê³„ì‚°
concat_groupby['ARPPU'] = round(concat_groupby['total_paid_amount'] / concat_groupby['total_user'], 2)

# ë°ì´í„° í™•ì¸
concat_groupby

# ë°ì´í„° ì‹œê°í™”
plt.figure(figsize=(15, 5))
sns.lineplot(data=concat_groupby, x=concat_groupby.index.to_timestamp(), markers='o', y='ARPPU')
sns.scatterplot(data=concat_groupby, x=concat_groupby.index.to_timestamp(), y='ARPPU')
plt.xticks(rotation=45)
plt.grid()
plt.xlabel('Date')
plt.ylabel('ARPPU')
plt.title('Monthly ARPPU Graph')
plt.show()

NameError: name 'renew_subscription_df' is not defined

In [ ]:
# ëª¨ë“  ê²°ì œ ì™„ë£Œ ì´ë ¥ 
concat_df = pd.concat([complete_subscription_df, renew_subscription_df, resubscribe_df], axis=0)
concat_df = concat_df.drop_duplicates()

# 

# data type ë³€ê²½
concat_df['client_event_time'] = pd.to_datetime(concat_df['client_event_time'])

# ì›”ë³„ ë°ì´í„° ë‚˜ëˆˆ ê°’ì„ ìƒˆë¡œìš´ ì»¬ëŸ¼ì— ì¶”ê°€
concat_df['peroid'] = concat_df['client_event_time'].dt.to_period('M')

# ê²°ì œ ì™„ë£Œ ì´ë ¥ì„ ì›”ë³„ë¡œ ê·¸ë£¹í•‘
concat_groupby = concat_df.groupby('peroid').agg(
    total_paid_amount = ('paid_amount', 'sum'),
    total_user = ('user_id', 'nunique'),
)

# ARPPU ê³„ì‚°
concat_groupby['ARPPU'] = round(concat_groupby['total_paid_amount'] / concat_groupby['total_user'], 2)

# ë°ì´í„° í™•ì¸
concat_groupby

# ë°ì´í„° ì‹œê°í™”
plt.figure(figsize=(15, 5))
sns.lineplot(data=concat_groupby, x=concat_groupby.index.to_timestamp(), markers='o', y='ARPPU')
sns.scatterplot(data=concat_groupby, x=concat_groupby.index.to_timestamp(), y='ARPPU')
plt.xticks(rotation=45)
plt.grid()
plt.xlabel('Date')
plt.ylabel('ARPPU')
plt.title('ARPPU')
plt.show()

In [37]:
# ëª¨ë“  ê²°ì œ ê±´ ìˆ˜ ì¤‘ ë¬´ë£Œ ì²´í—˜ì„ ì‹œì‘í•œ í›„ ê²°ì œí•œ ìœ ì €ì˜ ê°’
merge_df = pd.merge(start_free_trial_df, concat_df, on='user_id', how='inner')
merge_df

,city_x,client_event_time_x,country_x,device_carrier_x,device_family_x,device_type_x,event_type_x,language_x,os_name_x,os_version_x,platform_x,user_id,plan.price_x,plan.type,trial.type,city_y,client_event_time_y,country_y,device_carrier_y,device_family_y,device_type_y,event_type_y,language_y,os_name_y,os_version_y,platform_y,plan.price_y,paid_amount,coupon.discount_amount,pg.type
0,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B,Seoul,2023-03-19 08:35:01.854000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,15920,15920,0,NaN
1,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B,Seoul,2023-04-19 08:40:02.338,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Chrome,111.0.0.0,Web,15920,15920,0,NaN
2,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B,Suwon,2023-05-19 08:45:01.660,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Chrome,112.0.0.0,Web,15920,15920,0,NaN
3,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B,Guro-gu,2023-06-19 08:50:02.764,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Chrome,114.0.0.0,Web,15920,15920,0,NaN
4,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1ê°œì›” í”Œëœ,B,Seoul,2023-07-19 08:55:01.945,South Korea,NaN,Mac,Mac,renew.subscription,Korean,Chrome,114.0.0.0,Web,15920,15920,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,Hongseong-gun,2022-10-28 04:16:34.387000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,107.0,Web,3c55c67f1a2634bd2a38d4ee11daa650,NaN,NaN,A,Hongseong-gun,2022-11-04 04:20:02.926000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,107,Web,131600,131600,0,NaN
14395,Hongseong-gun,2022-10-28 04:16:34.387000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,107.0,Web,3c55c67f1a2634bd2a38d4ee11daa650,NaN,NaN,A,Hongseong-gun,2022-11-04 04:20:01.516,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,107,Web,131600,131600,0,NaN
14396,Uiwang,2022-05-28 04:36:00.949000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,102.0,Web,4254765f174fe193cd90c093d73e62e8,NaN,NaN,A,Gwangmyeong,2022-05-31 05:14:36.838000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,101,Web,15920,13532,2388,NaN
14397,Uiwang,2022-05-28 04:36:32.423000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,102.0,Web,4254765f174fe193cd90c093d73e62e8,NaN,NaN,A,Gwangmyeong,2022-05-31 05:14:36.838000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,101,Web,15920,13532,2388,NaN
14398,Gangdong-gu,2022-05-28 04:30:58.249000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,102.0,Web,9e9218d5ccea7d457cf9d90e8eaf8a09,NaN,NaN,A,Gangdong-gu,2022-05-31 01:45:27.792000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,102,Web,15920,15920,0,NaN

In [3]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
click_content_page_start_content_btn_df = click.content_page_start_content_button()

# ë°ì´í„° íƒ€ì… ë³€í™˜
click_content_page_start_content_btn_df['client_event_time'] = pd.to_datetime(click_content_page_start_content_btn_df['client_event_time'])

# ë°ì´í„° ë¶„ë¦¬
type_a_df = click_content_page_start_content_btn_df[
    click_content_page_start_content_btn_df['button.name'].isnull() &\
    click_content_page_start_content_btn_df['button_name'].notnull()]
type_b_df = click_content_page_start_content_btn_df[
    click_content_page_start_content_btn_df['button.name'].notnull() &\
    click_content_page_start_content_btn_df['button_name'].isnull()]

# ë°ì´í„° í™•ì¸
print("Type A ë‚ ì§œ ë²”ìœ„")
print(type_a_df.groupby('button_name').agg(min_time=('client_event_time', 'min'), max_time=('client_event_time', 'max')))
print("\n")
print("Type B ë‚ ì§œ ë²”ìœ„")
print(type_b_df.groupby('button.name').agg(min_time=('client_event_time', 'min'), max_time=('client_event_time', 'max')))

NameError: name 'click' is not defined

In [49]:
complete_signup_df = complete.signup()
start_free_trial_df = start.free_trial()
start_content_df = start.content()

complete_subscription_df = complete.subscription()

In [ ]:
# signup ë°ì´í„°ì™€ free_trial ë°ì´í„° ë³‘í•©
merge_df1 = pd.merge(
    complete_signup_df[['user_id', 'client_event_time']],
    start_free_trial_df[['user_id', 'client_event_time']],
    how='left',
    on='user_id',
    suffixes=('_signup', '_free_trial')
)

# ì´ì „ì— ë³‘í•©í•œ ë°ì´í„°ì— complete_subscription ë°ì´í„° ë³‘í•©
merge_df2 = pd.merge(
    merge_df1,
    complete_subscription_df[['user_id', 'client_event_time']],
    how='left',
    on='user_id'
)

# ì´ì „ì— ë³‘í•©í•œ ë°ì´í„°ì— start_content ë°ì´í„° ë³‘í•©
merge_df3 = pd.merge(
    merge_df2,
    start_content_df[['user_id', 'client_event_time']],
    how='left',
    on='user_id')

# ì¤‘ë³µê°’ ì œê±°
merge_df3 = merge_df3.drop_duplicates()

# ë°ì´í„° ì»¬ëŸ¼ëª… ì¬ì •ì˜
merge_df3.rename(columns={
    'client_event_time_signup': 'signup_time',
    'client_event_time_free_trial': 'free_trial_time',
    'client_event_time_x': 'subscription_time',
    'client_event_time_y': 'content_time'
}, inplace=True)

merge_df3

# user_idë¡œ ë¬¶ì€ ë’¤ ê° í–‰ë“¤ì˜ ì²«ë²ˆì§¸ ê°’ë“¤ë§Œ ë½‘ì•„ì˜¤ê¸°
merge_groupby = merge_df3.groupby('user_id').agg({
    'signup_time' : 'first',
    'subscription_time' : 'first',
    'free_trial_time' : 'first',
    'content_time' : 'first'
})

merge_groupby = merge_groupby.reset_index()

merge_groupby # 145133 rows Ã— 3 columns (ìˆ˜ì • ë³„ë„ë¡œ í•„ìš”)

# content_timeì´ ê²°ì¸¡ì¹˜ì¸ ê°’ì„ ì œê±°
merge_groupby.dropna(subset=['content_time']) # 36388 rows Ã— 4 columns

merge_groupby

# # í™œì„±í™” ë¬´ë£Œ ìœ ì € : 36388ëª…

,user_id,signup_time,subscription_time,free_trial_time,content_time
0,0000572f2ba8079bcefd2760b632e820,2023-03-18 10:33:16.237000,2023-03-25 14:40:01.647000,2023-03-18 14:39:22.844000,2023-03-18 16:49:45.361000
1,000087537cbfd934375364218ff10f91,2023-03-27 04:54:01.257000,2023-04-08 11:45:01.586000,2023-04-01 11:42:25.489000,2023-05-01 10:31:15.918000
2,000117267e1dd62481ef3ae7fb420107,2022-12-16 05:05:24.926000,None,None,None
3,0001f15911b404f3bf5b8571afafa4e4,2023-11-19 02:53:43.023000,2023-11-29 01:13:51.820000,None,2023-11-22 12:50:00.941000
4,0001f28a707789a7d78dc28fd2e84dce,2023-10-15 15:09:34.334000,None,None,None
...,...,...,...,...,...
145128,fffe529de03d6187ef7ed765650c8d2b,2023-02-26 13:40:51.953000,None,2023-03-01 12:37:09.512000,2023-05-02 08:10:35.470000
145129,fffee4d401b390a681491b9f5cfe40fb,2023-12-31 07:37:01.064000,None,None,None
145130,fffef868442fc8f4f405894b8ff8959f,2023-07-03 04:52:16.228000,None,None,None
145131,ffffd8d78865a66cb3706977f29d1dec,2023-09-11 10:06:34.388000,None,None,2023-11-15 04:45:32.896000
145132,ffffddaaae9808ecc37c5238ada79ce1,2023-11-29 05:23:47.312000,None,None,None

In [2]:
enter_main_page_df = enter.main_page()

In [3]:
print(enter_main_page_df[enter_main_page_df['device_type'] == 'Windows'].shape[0])
print(enter_main_page_df[enter_main_page_df['device_type'] == 'Mac'].shape[0])
print(enter_main_page_df[enter_main_page_df['device_type'] == 'Linux'].shape[0])
print(enter_main_page_df[enter_main_page_df['device_type'] == 'Ubuntu'].shape[0])

845411
233654
16489
143

In [4]:
enter_main_page_df[(enter_main_page_df['device_family'].str.contains('-') == False) &
                   (enter_main_page_df['device_family'].str.contains('_') == False) &
                   (enter_main_page_df['device_family'].str.contains(r'\d') == False) &
                   (enter_main_page_df['device_family'].str.contains('Phone') == False) &
                   (enter_main_page_df['device_family'].str.contains('TV') == False) &
                   (enter_main_page_df['device_family'].str.contains('Tablet') == False) &
                   (enter_main_page_df['device_family'].str.contains('Mobile') == False) &
                   (enter_main_page_df['device_family'].str.contains('Android') == False) &
                   (enter_main_page_df['device_family'].str.contains('Samsung') == False) &
                   (enter_main_page_df['device_family'].str.contains('Apple') == False)]['device_family'].unique()

array(['Mac', 'Windows', 'Linux', 'K', 'CentOS', 'Chromium OS', 'Ubuntu',
       'LG lge', 'Tesla Linux', 'HiPad X', 'Microsoft Xbox One',
       'Xiaomi MID', 'wv', 'Fedora', 'AOSP on flame', 'iOS', 'Active',
       '<Device Model>', 'LG Linux', 'Amazon Kindle', 'DTABPLUS',
       'BISON GT', 'Microsoft Surface Duo', 'Titan', 'Tizen',
       'BlackBerry', 'BISON Pro', 'Sony Xperia', 'Motorola razr',
       'DEVICE INFO', 'walleye', 'tablePC', 'MASTERPRO', 'NovaAirC',
       'BRAVE'], dtype=object)

In [65]:
complete_signup_df = complete.signup()
start_free_trial_df = start.free_trial()
complete_subscription_df = complete.subscription()
renew_subscription_df = renew.subscription()
resubscribe_df = resubscribe.subscription()
cancel_plan_df = click.cancel_plan_button()

In [66]:
# ë°ì´í„° concat
concat_df = pd.concat([
    complete_signup_df[['user_id', 'client_event_time', 'event_type']],
    start_free_trial_df[['user_id', 'client_event_time', 'event_type']],
    complete_subscription_df[['user_id', 'client_event_time', 'event_type']],
    renew_subscription_df[['user_id', 'client_event_time', 'event_type']],
    resubscribe_df[['user_id', 'client_event_time', 'event_type']],
    cancel_plan_df[['user_id', 'client_event_time', 'event_type']]], axis=0).reset_index(drop=True)

# ë°ì´í„° íƒ€ì… ë³€ê²½
concat_df['client_event_time'] = pd.to_datetime(concat_df['client_event_time']) + pd.DateOffset(hours=9)

# user_id ì»¬ëŸ¼ ê²°ì¸¡ì¹˜ ì œê±°
concat_df = concat_df.dropna(subset=['user_id'])

# ë°ì´í„° ê¸°í•œ ì„¤ì •
concat_df = concat_df[(concat_df['client_event_time'] >= '2022-01-01') & (concat_df['client_event_time'] < '2023-05-01')]

# client_event_time ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
concat_df = concat_df.sort_values(by='client_event_time').reset_index(drop=True)

# ë°ì´í„° í™•ì¸
concat_df

,user_id,client_event_time,event_type
0,6b4b4d8e08ce009f8992c546372ce664,2022-01-01 09:06:31.232,complete.signup
1,a5b72d5c6dd4e213315225d9fb9bbbca,2022-01-01 09:10:21.400,complete.signup
2,81c52556d0605b8221aa897cd2ed740d,2022-01-01 09:10:49.730,complete.signup
3,4a8e9325b1a855be259d7dad2d378276,2022-01-01 09:12:18.251,complete.signup
4,e98481d6081c560ad6c9c01c4596129e,2022-01-01 09:17:55.165,start.free_trial
...,...,...,...
148542,7ca10d40675592dbacde558dcebfb501,2023-04-30 23:48:54.989,complete.signup
148543,a01b3ae7f1817ebd60860f3fcd5e40c5,2023-04-30 23:51:16.178,complete.signup
148544,95cfd6728d7b510b5ad18e8e16fdc672,2023-04-30 23:55:01.850,complete.subscription
148545,cea0d65cbcd9005a6a4e66b5f39aa5e7,2023-04-30 23:56:40.414,start.free_trial
148546,095d4340975710b39a43de1341da51ea,2023-04-30 23:59:47.032,start.free_trial

In [48]:
concat_df['user_id'].nunique()

96072

In [41]:
trial_list = []
non_trial_list = []

for user_id in concat_df['user_id'].unique():
    user_df = concat_df[concat_df['user_id'] == user_id]
    
    if 'complete.signup' in user_df['event_type'].values:
        if ('start.free_trial' in user_df['event_type'].values) & ('complete.subscription' in user_df['event_type'].values):
            trial_list.append(user_df)
        if ('start.free_trial' not in user_df['event_type'].values) & ('complete.subscription' in user_df['event_type'].values):
            non_trial_list.append(user_df)

# ìµœì¢… ë°ì´í„° ë³‘í•©
trial_df = pd.concat(trial_list, ignore_index=True)
non_trial_df = pd.concat(non_trial_list, ignore_index=True)

In [42]:
trial_df['user_id'].nunique()

3015

In [49]:
# ë¬´ë£Œì²´í—˜ì„ í•˜ê³  êµ¬ë…í•œ ìœ ì €ì˜ íƒ€ì„ë¼ì¸ ë°ì´í„°í”„ë ˆì„ ì‘ì—…ë€
resubs_time_list1 = []
cancel_time_list1 = []

for user_id in trial_df['user_id'].unique():
    user_df = trial_df[trial_df['user_id'] == user_id]
    
    # resubscribe.subscription ê³„ì‚°
    if 'resubscribe.subscription' in user_df['event_type'].values:
        user_df = user_df.sort_values(by='client_event_time')  # ì‹œê°„ ìˆœ ì •ë ¬
        user_df['prev_client_event_time'] = user_df['client_event_time'].shift(1)  # ì´ì „ ì´ë²¤íŠ¸ ì‹œê°„ ì¶”ê°€
        
        resubs_time = user_df.loc[user_df['event_type'] == 'resubscribe.subscription', 'client_event_time'] - \
                      user_df.loc[user_df['event_type'] == 'resubscribe.subscription', 'prev_client_event_time']
        
        # NaN ê°’ ì œê±° í›„ ë¦¬ìŠ¤íŠ¸ì— ì¶”ê°€
        resubs_time_list1.extend(resubs_time.dt.days.dropna().tolist())

    # click.cancel_plan_button ê³„ì‚°
    if 'click.cancel_plan_button' in user_df['event_type'].values and 'complete.signup' in user_df['event_type'].values:
        signup_time = user_df.loc[user_df['event_type'] == 'complete.signup', 'client_event_time'].min()  # ì²« êµ¬ë… ì‹œê°„
        cancel_times = user_df.loc[user_df['event_type'] == 'click.cancel_plan_button', 'client_event_time']
        
        cancel_time_diff = (cancel_times - signup_time).dt.days.dropna()
        cancel_time_list1.extend(cancel_time_diff.tolist())

# í‰ê·  ê³„ì‚° (0ìœ¼ë¡œ ë‚˜ëˆ„ëŠ” ê²½ìš° ë°©ì§€)
avg_resubs_time1 = sum(resubs_time_list1) / len(resubs_time_list1) if resubs_time_list1 else 0
avg_cancel_time1 = sum(cancel_time_list1) / len(cancel_time_list1) if cancel_time_list1 else 0

In [52]:
print(f"ë¬´ë£Œ ì²´í—˜ì„ í•œ ìœ ì €ì˜ ìˆ˜ : {trial_df['user_id'].nunique()}ëª…")
print(f"ê·¸ ì¤‘ ë§Œë£Œ ë’¤ ì¬êµ¬ë…ì„ í•œ ìœ ì €ì˜ ìˆ˜ : {trial_df[trial_df['event_type'] == 'resubscribe.subscription']['user_id'].nunique()}ëª…")
print(f"ê·¸ ì¤‘ êµ¬ë…ì„ ì·¨ì†Œí•œ ìœ ì €ì˜ ìˆ˜ : {trial_df[trial_df['event_type'] == 'click.cancel_plan_button']['user_id'].nunique()}ëª…")
print(f"í‰ê·  ë§Œë£Œ í›„ ì¬ êµ¬ë… ê²½ê³¼ ì‹œê°„ : {avg_resubs_time1:.2f}ì¼")
print(f"ì·¨ì†Œ ì‹œ ì²« êµ¬ë… ì´ë˜ ì´ìš©í•œ í‰ê·  ì‹œê°„ : {avg_cancel_time1:.2f}ì¼")

ë¬´ë£Œ ì²´í—˜ì„ í•œ ìœ ì €ì˜ ìˆ˜ : 3015ëª…
ê·¸ ì¤‘ ë§Œë£Œ ë’¤ ì¬êµ¬ë…ì„ í•œ ìœ ì €ì˜ ìˆ˜ : 36ëª…
ê·¸ ì¤‘ êµ¬ë…ì„ ì·¨ì†Œí•œ ìœ ì €ì˜ ìˆ˜ : 1868ëª…
í‰ê·  ë§Œë£Œ í›„ ì¬ êµ¬ë… ê²½ê³¼ ì‹œê°„ : 110.36ì¼
ì·¨ì†Œ ì‹œ ì²« êµ¬ë… ì´ë˜ ì´ìš©í•œ í‰ê·  ì‹œê°„ : 88.92ì¼

In [45]:
non_trial_df['user_id'].nunique()

4928

In [53]:
# ë¬´ë£Œì²´í—˜ì„ í•˜ì§€ ì•Šê³  êµ¬ë…í•œ ìœ ì €ì˜ íƒ€ì„ë¼ì¸ ë°ì´í„°í”„ë ˆì„ ì‘ì—…ë€
resubs_time_list2 = []
cancel_time_list2 = []

for user_id in non_trial_df['user_id'].unique():
    user_df = non_trial_df[non_trial_df['user_id'] == user_id].copy()
    
    # resubscribe.subscription ê³„ì‚°
    if 'resubscribe.subscription' in user_df['event_type'].values:
        user_df = user_df.sort_values(by='client_event_time')  # ì‹œê°„ ìˆœ ì •ë ¬
        user_df['prev_client_event_time'] = user_df['client_event_time'].shift(1)  # ì´ì „ ì´ë²¤íŠ¸ ì‹œê°„ ì¶”ê°€
        
        resubs_time = user_df.loc[user_df['event_type'] == 'resubscribe.subscription', 'client_event_time'] - \
                      user_df.loc[user_df['event_type'] == 'resubscribe.subscription', 'prev_client_event_time']
        
        # NaN ê°’ ì œê±° í›„ ë¦¬ìŠ¤íŠ¸ì— ì¶”ê°€
        resubs_time_list2.extend(resubs_time.dt.days.dropna().tolist())

    # click.cancel_plan_button ê³„ì‚°
    if 'click.cancel_plan_button' in user_df['event_type'].values and 'complete.signup' in user_df['event_type'].values:
        signup_time = user_df.loc[user_df['event_type'] == 'complete.signup', 'client_event_time'].min()  # ì²« êµ¬ë… ì‹œê°„
        cancel_times = user_df.loc[user_df['event_type'] == 'click.cancel_plan_button', 'client_event_time']
        
        cancel_time_diff = (cancel_times - signup_time).dt.days.dropna()
        cancel_time_list2.extend(cancel_time_diff.tolist())

# í‰ê·  ê³„ì‚° (0ìœ¼ë¡œ ë‚˜ëˆ„ëŠ” ê²½ìš° ë°©ì§€)
avg_resubs_time2 = sum(resubs_time_list2) / len(resubs_time_list2) if resubs_time_list2 else 0
avg_cancel_time2 = sum(cancel_time_list2) / len(cancel_time_list2) if cancel_time_list2 else 0

In [54]:
print(f"ë¬´ë£Œ ì²´í—˜ì„ í•œ ìœ ì €ì˜ ìˆ˜ : {non_trial_df['user_id'].nunique()}ëª…")
print(f"ê·¸ ì¤‘ ë§Œë£Œ ë’¤ ì¬êµ¬ë…ì„ í•œ ìœ ì €ì˜ ìˆ˜ : {non_trial_df[non_trial_df['event_type'] == 'resubscribe.subscription']['user_id'].nunique()}ëª…")
print(f"ê·¸ ì¤‘ êµ¬ë…ì„ ì·¨ì†Œí•œ ìœ ì €ì˜ ìˆ˜ : {non_trial_df[non_trial_df['event_type'] == 'click.cancel_plan_button']['user_id'].nunique()}ëª…")
print(f"í‰ê·  ë§Œë£Œ í›„ ì¬ êµ¬ë… ê²½ê³¼ ì‹œê°„ : {avg_resubs_time2:.2f}ì¼")
print(f"ì·¨ì†Œ ì‹œ ì²« êµ¬ë… ì´ë˜ ì´ìš©í•œ í‰ê·  ì‹œê°„ : {avg_cancel_time2:.2f}ì¼")

ë¬´ë£Œ ì²´í—˜ì„ í•œ ìœ ì €ì˜ ìˆ˜ : 4928ëª…
ê·¸ ì¤‘ ë§Œë£Œ ë’¤ ì¬êµ¬ë…ì„ í•œ ìœ ì €ì˜ ìˆ˜ : 41ëª…
ê·¸ ì¤‘ êµ¬ë…ì„ ì·¨ì†Œí•œ ìœ ì €ì˜ ìˆ˜ : 2320ëª…
í‰ê·  ë§Œë£Œ í›„ ì¬ êµ¬ë… ê²½ê³¼ ì‹œê°„ : 98.62ì¼
ì·¨ì†Œ ì‹œ ì²« êµ¬ë… ì´ë˜ ì´ìš©í•œ í‰ê·  ì‹œê°„ : 77.28ì¼

In [47]:
enter_main_page_df = enter.main_page()

In [50]:
class desktop_mobile_filter: 
    def __init__(self, class_name):
        self.class_name = class_name
    
    @staticmethod
    def desktop(data):
        desktop_columns = ((data['device_family'].str.contains('Windows')) | (data['device_family'].str.contains('Mac')))
        return desktop_columns
    
    @staticmethod
    def mobile(data):
        mobile_columns = ((data['device_family'].str.contains('Samsung')) |
                          (data['device_family'].str.contains('LG')) |
                          (data['device_family'].str.contains('Apple')) |
                          (data['device_family'] == 'Android') |
                          (data['device_family'] == 'iOS'))
        return mobile_columns

In [51]:
enter_main_page_df[desktop_mobile_filter.desktop(enter_main_page_df)]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
1,Dongdaemun-gu,2023-04-05 21:04:28.967000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4
8,Jung-gu,2023-04-05 21:55:29.031000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
14,Wonju,2023-04-05 21:44:18.121000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
15,Seoul,2023-04-05 21:44:50.470000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Safari,15.6.1,Web,NaN
18,Naju,2023-04-05 21:50:39.168000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Firefox,111.0,Web,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2133540,Dongjak-gu,2023-10-10 05:57:19.646000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Edge,117.0.2045.60,Web,NaN
2133543,Jeongeup,2023-10-10 05:53:29.283000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,117.0.0.0,Web,NaN
2133544,Jeongeup,2023-10-10 05:54:17.572000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,117.0.0.0,Web,NaN
2133545,Gangnam-gu,2023-10-10 05:54:33.164000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,117.0.0.0,Web,NaN
2133547,Seoul,2023-10-10 05:58:45.857000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Safari,16.3,Web,NaN

In [52]:
enter_main_page_df[desktop_mobile_filter.mobile(enter_main_page_df)]

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,1.0.0.0,Web,NaN
2,Hwaseong-si,2023-04-05 21:01:31.258000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
3,Hwaseong-si,2023-04-05 21:02:50.374000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
4,Seoul,2023-04-05 21:30:33.727000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.main_page,Korean,Chrome,112.0.0.0,Web,NaN
5,Sejong,2023-04-05 21:36:02.749000,South Korea,NaN,Apple iPhone,Apple iPhone 12 Mini,enter.main_page,Korean,Instagram,276.1.0.14.103,Web,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2133537,Busan,2023-10-10 05:42:21.060000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23 Ultra,enter.main_page,Korean,Instagram,303.0.0.40.109,Web,NaN
2133538,Seoul,2023-10-10 05:45:14.703000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.main_page,Korean,Mobile Safari,16.6,Web,NaN
2133541,Seoul,2023-10-10 05:54:19.608000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.main_page,Korean,Mobile Safari,17.0.1,Web,NaN
2133542,Seoul,2023-10-10 05:54:44.015000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.main_page,Korean,Mobile Safari,17.0.1,Web,NaN
2133546,Saha-gu,2023-10-10 05:58:15.175000,South Korea,NaN,Samsung Phone,Samsung Galaxy S23+,enter.main_page,Korean,Instagram,303.0.0.40.109,Web,NaN

In [63]:
enter_main_page_df[~((desktop_mobile_filter.desktop(enter_main_page_df) | (desktop_mobile_filter.mobile(enter_main_page_df))))]['device_family'].value_counts().head(15)

device_family
K                     41600
Linux                 16489
Xiaomi Phone           1799
Chromium OS            1269
CentOS                  733
Redmi Phone             657
Google Nexus Phone      635
Google Phone            231
Motorola Phone          153
Ubuntu                  143
Lenovo TB-J606F         128
2201116SG                92
Google Pixel 7a          85
M2101K7AG                84
Oppo Phone               81
Name: count, dtype: int64

In [ ]:
total_df

In [68]:
complete_signup_df[complete_signup_df['os_name'] == 'Chrome Headless']

Empty DataFrame
Columns: [city, client_event_time, country, device_carrier, device_family, device_type, event_type, language, os_name, os_version, platform, user_id, type]
Index: []