In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os
import glob

from datasets import *

In [ ]:
# Load the data

main_page_df = enter.main_page()
signup_df = enter.signup_page()
fin_signup_df = complete.signup()
content_page_df = enter.content_page()
start_content_btn_df = click.content_page_start_content_button()
more_review_btn_df = click.content_page_more_review_button()
payment_page_df = enter.payment_page()
subscription_df = complete.subscription()
renew_subs_df = renew.subscription()
resubscribe_df = resubscribe.subscription()
free_trial_df = start.free_trial()
start_content_df = start.content()
episode_page_df = enter.lesson_page()
comp_lesson_df = complete.lesson()
lesson_reply_df = click.lesson_page_related_comment_box()
end_content_df = end.content()
cancel_plan_df = click.cancel_plan_button()

e:\Visual Studio Code\codeit\intermediate_project\intermediate_project\datasets.py:57: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path)
e:\Visual Studio Code\codeit\intermediate_project\intermediate_project\datasets.py:132: DtypeWarning: Columns (9,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path)

## etc

### min_page_df

**enter.main_page.csv**<br/>
서비스 메인페이지 진입

In [4]:
main_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,1.0.0.0,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967000,South Korea,NaN,Mac,Mac,enter.main_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
3,Hwaseong-si,2023-04-05 21:02:50.374000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
4,Seoul,2023-04-05 21:30:33.727000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.main_page,Korean,Chrome,112.0.0.0,Web,NaN
5,Sejong,2023-04-05 21:36:02.749000,South Korea,NaN,Apple iPhone,Apple iPhone 12 Mini,enter.main_page,Korean,Instagram,276.1.0.14.103,Web,NaN
6,Seoul,2023-04-05 21:37:37.469000,South Korea,NaN,Samsung SM-S916N,NaN,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
7,Seoul,2023-04-05 21:37:42.563000,South Korea,NaN,Samsung SM-S916N,NaN,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
8,Jung-gu,2023-04-05 21:55:29.031000,South Korea,NaN,Windows,Windows,enter.main_page,Korean,Chrome,111.0.0.0,Web,NaN
9,Seoul,2023-04-05 21:05:40.020000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.main_page,Korean,Mobile Safari,16.4,Web,NaN

In [5]:
main_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133548 entries, 0 to 2133547
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
dtypes: float64(1), object(11)
memory usage: 195.3+ MB

In [32]:
# datetime 타입의 형식으로 모두 통일을 해주어야할 필요가 있음
main_page_df.client_event_time

0          2023-04-05 21:55:06.140000
1          2023-04-05 21:04:28.967000
2          2023-04-05 21:01:31.258000
3          2023-04-05 21:02:50.374000
4          2023-04-05 21:30:33.727000
                      ...
2133543    2023-10-10 05:53:29.283000
2133544    2023-10-10 05:54:17.572000
2133545    2023-10-10 05:54:33.164000
2133546    2023-10-10 05:58:15.175000
2133547    2023-10-10 05:58:45.857000
Name: client_event_time, Length: 2133548, dtype: object

In [21]:
# 값 전체가 NaN임
main_page_df.device_carrier.value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
# 각 회사별 device_family 값을 달리 해야할 것 같음
# 외국에서 만든 핸드폰 중 Apple을 제외한 기타 기종에 대해서 어떻게 처리를 할 것인가에 대한 고민이 필요
main_page_df.device_family.unique()

array(['Samsung Phone', 'Mac', 'Samsung Galaxy Note', 'Apple iPhone',
       'Samsung SM-S916N', 'Windows', 'Apple iPad',
       'Samsung Galaxy Phone', 'LGE Phone', 'Samsung SM-S911N',
       'Samsung Tablet', 'Redmi Phone', 'Xiaomi Phone', 'Linux', 'K',
       'Samsung SM-S918N', 'LG LM-X220N', 'CentOS', 'Chromium OS',
       'LG LM-V409N', 'LGM-X600K', 'LG LM-V510N', '2201117TY',
       'LG LM-V500N', 'Samsung Galaxy Tab', 'Mi 9T Pro',
       'Google Nexus Phone', 'G91', 'LG V607L', 'LG LM-G820N',
       'LG LM-G710N', 'Ubuntu', 'LG LM-Q920N', 'Huawei Phone', nan,
       'MobiGo2', 'LGM-V300S', 'LG LM-Q925L', 'LG LM-Q630N', 'LG F800L',
       'LG LM-Q520N', 'LG LM-Q510N', 'LGM-V300L', 'Lenovo TB-J706F',
       '2201116SG', 'M2101K7AG', 'Samsung SM-T825N', 'Blackberry Phone',
       'LG V525', 'LG LM-Q815K', 'LG LM-X410S', 'LG LM-Q725S',
       'LG LM-Q927L', 'LGM-V300K', 'LGM-G600S', 'LG LM-X625N',
       'Huawei M2-802L', '21051182G', 'LG LM-Q925S', 'IM-100K',
       'M2101K7BNY', 'LG V522', 'A001XM', 'Samsung SM-A245N',
       'LG LM-G910N', 'SMART_TV', '2206122SC', 'LGM-G600L',
       'Lenovo TB-J606F', 'M2012K11AC', 'LG F800K', 'LG LM-F100N',
       'LG LM-V350N', 'LG lge', 'LGM-K120S', 'LG F350S', 'A063',
       'Samsung SM-A346N', 'Dicle_Tab_Lite_M', 'LG P451L',
       'Lenovo TB-X606F', 'OPPO CPH2269', 'Lenovo YT-X705F',
       'Lenovo TB-X304F', 'Google Phone', 'iPlay_40', 'BTV-DL09',
       'LG F740L', 'M2002J9S', 'LG LM-Q815L', 'LGM-X320K', 'Android',
       'LG H870DS', 'LG F520S', 'LGM-G600K', 'M2003J15SC',
       'Huawei SCM-AL09', 'Tesla Linux', 'SHARK PRS-H0', 'LG LM-Q725L',
       'LG LM-Q725K', 'Mi Note 10 Lite', 'Apple iPod', 'TB128FU',
       'LG F500S', 'Xiaomi Redmi Note 12', 'Samsung SM-T815N',
       'Motorola Phone', 'HiPad X', 'M2010J19CG', 'MLT181101',
       'LG LM-X410L', 'Samsung SM-P585N', 'Samsung SM-S911B', 'Acer A103',
       'M40', 'LG LM-Q730N', 'LG LM-Q815S', 'Vivo 1724', '2107113SR',
       'M2006C3LG', '21061119AG', '2201122G', 'Samsung SM-T585N',
       'LG F700S', 'LG X760', '2109119DG', '21081111RG', 'uie4027lgu',
       'Sony Xperia Phone', 'Phone 2', 'LG LM-X510S', 'Xiaomi Tablet',
       '2201117TG', 'Tab_MyPen_P1', 'Microsoft Xbox One', 'Nokia Phone',
       'LG LM-T605', 'LG Phone', 'H8314', 'Sony Phone', 'LG V498S1',
       'Sony Android', 'Acer A2020', 'LGM-X800L', 'Infinix X665',
       'Samsung SM-S916W', 'LG P530L', 'M2102J20SG', 'LG LM-X415K',
       'PBEM00', 'iPlay_30', 'Samsung SM-P905F', 'Huawei Tablet',
       'Xiaomi MID', 'SHARK KTUS-H0', 'HP Tablet', 'TECNO KD7',
       'LG LM-X415L', 'M2007J20CG', 'LGM-K121S', 'Samsung SM-T337A',
       'Apple iPad14,4', 'LG LM-Q310N', 'LG LM-Q925K', 'ME371MG',
       'WayDroid x86_64 Device', 'SC-02J', 'Samsung SM-T715N',
       'Lenovo TB-J607Z', 'M2012K11AG', 'H8216', 'SC-02K', 'SCG11',
       '22041216G', 'LG LM-X510K', '2203121C', 'KC-100S', 'M2004J19C',
       'M2010J19SG', 'LG F600S', 'LG H930', 'C20', 'Samsung SM-S918B',
       'RCA Tablet', 'U10PRO', 'T20X', 'AT-M120', 'Infinix X680B',
       '22011211C', 'Amazon Fire Tablet', 'H8416', '22081212G',
       'LG LM-V700N', 'SC-52C', 'TV008', 'Lenovo TB-X505F',
       'NEON_RAY_PRO', 'Lenovo TB-9707F', 'OnePlus Phone', 'Infinix X663',
       '21061110AG', 'G116', 'Xiaomi Redmi 9', 'M2012K11G', 'SCG10',
       'LG V755', 'Mi MIX 2', 'SC-01K', 'P10_HD_ROW', 'OPPO CPH1823',
       'XQ-BC72', 'M101L1B2CA45', 'WAS-LX2J', 'itel L5006S', 'LGM-X600S',
       'itel A510W', 'J9210', 'HTC Phone', 'LGUK932', 'HL105',
       'MLT181102', 'A002OP', 'FS8032', 'ASUS X00QSA', 'LG F650S',
       'SCV45', 'ASUS AI2201_A', 'OPPO CPH2409', 'Lenovo TB128FU', 'wv',
       'Oppo Phone', 'LG LM-T600L', 'XQ-BT52', 'Sony G8141',
       'DICLE_IPLAY40_PRO', 'Fedora', 'Sony G8341', 'ZTE Phone',
       'LGM-X320L', 'POCO Phone', 'AOSP on flame', 'iPlay_20',
       'itel W6004', 'LG F800S', 'Infinix X657', 'Samsung SM-A546S',
       'M2103K19G', 'EG104', 'SCG20', 'iOS', 'T40PRO_L1', 'LG P755L',
       '22071212AG', 'SC-54B', 'LP-01', 'OPPO CPH2099', 'Apple iPad14,3',
       'XQ-BQ72', 'LG F820L', 'LG X760W', '2201116SR', 'Samsung SM-S918W',
       'Active', 'M2101K9AG', 'LG V525S3', 'SC-03L', 'Huawei VNS-L62',
       'ASUS I005DA', 'LGM-X600L', 'Lenovo PB2-690M', 'X11', 'itel S12',
       'Lenovo TB-J607F', 'LG F500L', 'Xiaomi 12T Pro', 'Realme RMX1971',
       'ASUS I006D', 'M40_EEA', 'LG F770S', 'LG V940', 'Realme Phone',
       'Vivo Phone', 'M2105K81AC', 'Jelly2', 'M2C-100', 'Hyundai TV',
       'LG LM-V600N', 'ums512_1h10_Natv', 'Samsung Tizen',
       'Samsung SM-T807R', 'Xiaomi Redmi Note 10 Pro', 'Tab_Ultra',
       'Samsung SM-T827R', 'iPlay_40H', '<Device Model>', 'XQ-CT72',
       'G10', '21061119BI', 'Lenovo YT-X703F', 'SC-51C', 'TECNO BB2',
       'M40_ROW', 'RMX3261', 'LGM-X320S', 'Xiaomi POCO F1', 'SHV-E330K',
       'SKW-H0', 'ARE-L22HN', 'WM-LG8200', 'XQ-CC72', 'M2101K6R',
       'Mi 10 Pro', '220333QAG', 'Mi Note 10 Pro', 'HD1910', 'Sony G8441',
       'LG F400K', 'M2007J3SG', 'LG Linux', 'Samsung SM-T365F',
       'Lenovo P1a42', 'Huawei TAS-AL00', 'Samsung SM-S916U1',
       'ASUS AI2202', '22081283G', 'V1923A', 'LG F750K', '2201117SY',
       'M2101K9G', 'MPGIO-10', 'AVS1101WMT', 'V2029', 'SC-53C', 'V2111',
       'S98', 'LG F700L', 'Samsung SM-F731N', 'Dicle_Dtab_Kpad',
       'Infinix X6511B', 'P20HD_KR', 'M1908C3JGG', 'Samsung SM-S916B',
       'LOGIC L63', 'A80Pro', 'FIG-LA1', 'muPAD L10', 'RMX3195',
       'Mstick2', 'Z4PRO', '21061119DG', 'Huawei TV', 'IM-100S',
       'LG LM-X210S', 'Amazon Kindle', 'M2101K7BL', 'SCV42', 'SH-RM15',
       'DTABPLUS', 'BISON GT', 'A001LG', 'TG-L800S', 'LG V498S2',
       'P20HD_ROW', 'M2002J9G', 'ZTE V9VITA', 'Samsung SM-A346E',
       'Cyber 9 Pro', 'ZK-R32F', 'Revolution A8', 'Lenovo TB-X704F',
       'HMSCore 6.9.6.302', 'LG LM-X510L', 'M2006C3LVG', 'UHD4K',
       'V2055A', 'PM90', '220233L2G', 'Microsoft Surface Duo',
       'Infinix X657C', '8094M', 'CMR-W09', 'Samsung SM-S918U',
       'ANE-LX2J', 'LG F600L', 'DN2103', 'SHV-E330L', 'RMX3231',
       'OPPO CPH2271', 'Vivo 1901', 'Titan', 'P80X_G5K2', 'SC-02M',
       'LG F620L', 'KB2000', 'A9 Pro', 'OPPO CPH2349', 'Lenovo TB-J716F',
       'SHV-E250S', 'LG M250', 'K88', 'T10PRO', 'Apple iPad14,5',
       'Xiaomi 13 Pro', '2107113SG', '22081212C', 'LG F700K', 'LG F650K',
       'LG LM-X410K', '22041211AC', 'T782P', 'LG F500K', 'PACM00',
       'J8110', 'LG K530', 'Mi Note 3', 'LG F600K', 'Tizen',
       'Lenovo L70081', 'LG H990', 'TG-L900S', 'U693CL',
       'Huawei CDL-AN50', 'LG F620K', 'Samsung SM-T677N', 'SC-51A',
       'P20HD_EEA', 'Lenovo TB-X104F', 'Xiaomi Redmi Note 6 Pro',
       'BlackBerry', 'Vivo 1938', 'BISON Pro', 'TECNO KE7', 'LGM-X401S',
       'Sony Xperia Tablet', 'ET1012T_Pro', 'Sony PlayStation 4',
       'Sony Xperia', 'Lenovo TB-8704F', 'Motorola razr',
       'Lenovo TB-J706L', 'M2011K2C', 'Lenovo Phone', 'A11 Pro Max',
       'Huawei CMA-LX2', 'TECNO CD6j', 'Fairphone Phone', 'V2130',
       'DEVICE INFO', 'SHV-E250K', 'M40SE', 'walleye', 'GCE x86 phone',
       'U10', 'LE2101', 'SCG02', 'Samsung Family', 'V2012A', '21091116AC',
       'Nokia C2', 'tablePC', 'M2010J19CI', 'M2006C3MG',
       'Lenovo TB-Q706F', 'P10HD_Lite', 'Apple iPad14,6', 'ASUS Z01QD',
       'Vivo 1906', 'LGM-K121K', 'L-41A', 'Xiaomi MI PAD 4 PLUS',
       'LG LM-T600', '2109119DI', 'OPPO CPH1723', 'Huawei MAR-L22B',
       'M2006C3MT', 'Huawei EML-L29', 'P80 Pro(D2C5)', 'V2046',
       'Series40', 'MASTERPRO', 'IPF10', 'itel A662L', 'HD1900',
       'TECNO CH6i', '23028RN4DI', 'msm8953 for arm64', 'OPPO CPH2363',
       'Realme RMX1825', 'SCV37', 'Samsung SM-A546E', 'Google Pixel 7a',
       'Zeki TB128FU', 'OPPO CPH2477', 'OPPO CPH2359',
       'iPlay 50 mini Pro', 'RMX3630', 'Infinix X677', 'SCG12',
       'Huawei FNE-AN00', 'NovaAirC', '23049PCD8G', 'Tecno Tablet',
       'RMX3491', 'V2043', '2201116PI', 'V2228', 'RMX3265', 'M2006C3MII',
       'V2153', 'V2059', 'V2055', 'M2006C3MI', '22071219CG',
       'Dicle_Dtab_U1008', 'Huawei LGE-AN00', 'OPPO CPH2481',
       'M2006C3LII', 'MIX 2S', 'MIX 3', 'SCV49', 'A065', '23021RAAEG',
       'SC-01M', 'V2102', 'itel W6004P', 'Huawei DRA-LX9', 'M2101K7BI',
       'Zeki TB371FC', 'TECNO KI5k', 'Huawei SNE-L01', 'M2010J19SI',
       'Vivo 1818', 'V2207', 'Apple iPhone16,2', 'V2060', '2201117TI',
       'itel A512W', 'RMX3092', 'TECNO CH6n', 'SCG07', 'TECNO KE5',
       '2209116AG', '2201123G', 'V2140', 'RMX3081', 'LS1542QWN',
       'SHV-E330S', 'LOGIC L65 LITE', 'Samsung Watch', 'TECNO KG5h',
       'LGM-X100S', '5049S', 'Xiaomi Redmi Note 11 Pro 5G',
       'OPPO CPH1938', 'RMX3511', 'RMX3501', 'TECNO BF7', 'Infinix X657B',
       'M2101K7AI', 'RMX3268', 'M2012K11AI', 'RMX3761', 'V2168',
       'RMX3516', 'V2239', 'V2040', 'I2206', 'V2033', 'V2141', 'V2027',
       '22122RK93C', 'I2202', 'p50', 'V2031', 'Apple iPhone15,4',
       'Google Nexus Tablet', 'OPPO CPH2109', 'Huawei TFY-LX2',
       'Infinix X650D', 'itel W5505', 'Xiaomi Redmi Y2', 'Vivo V2123A',
       'V2037', 'BRAVE', 'V2158', 'MT9950', 'Xiaomi Redmi Note 11',
       'SCV38', 'OnePlus A6010', '2201116SI', 'M2102J20SI', 'M10',
       'LE2100', 'itel L5505', 'V2050', 'V2058', 'Vivo 2018',
       'Infinix X682B', '2201116TI', '220733SL', 'Huawei RMO-NX1',
       'Huawei VNE-LX3', 'Lenovo TB-X306F', 'TECNO KI7', 'Huawei GDI-W09',
       'M2006C3LI', 'M2012K11C', 'PHW110', 'PHJ110', 'Huawei CDY-AN90',
       'LG LM-X415S', 'OPPO CPH2421', '220733SFG', 'V2142', 'TECNO LD7j',
       'V2231', 'Realme RMX1901', 'Vivo 1917', 'V2117', 'V2202',
       'TECNO LE6', 'RMX3263', 'V2126', 'Vivo 1904', 'LG LM-K525',
       'S60UPI', 'Infinix X650C', '2201116TG', 'OPPO CPH2577',
       'Vivo 1920', 'Microsoft Lumia 950XL', 'SCV36', 'Samsung SM-K741N',
       'M40(N9H3)', 'M2103K19I', 'Infinix X682C', 'Infinix X690',
       '2211133C', 'Vivo V2302A', 'V2205', 'Power 3', 'LG F460K',
       '220233L2I', 'Lenovo Tablet', 'RMX3381', 'V2069',
       'Xiaomi Redmi Note 12 Pro', 'OPPO CPH2015', '75TR3DJ', 'Vivo 1807',
       'Samsung SM-X910', 'PEUM00', '23021RAA2Y', 'Vivo 1937',
       '21091116UI', 'Huawei RNA-AN00', 'HTC U23 pro', '23046RP50C',
       'V2143', 'M2102J2SC', '22021211RG', 'C80', 'Samsung SM-X816N',
       'LG LM-V350', '22101316UG', 'V2101', 'Google Pixel 5 XL',
       'Xiaomi Redmi Note 10 Lite', 'TECNO KG5j', 'V2022',
       'Infinix X688B', 'GM1913', '22101316C', 'DL4 Plus', 'RMX3363',
       '2211133G', 'Infinix X6816'], dtype=object)

In [24]:
main_page_df.device_type.unique()

array(['Samsung Galaxy S21 5G', 'Mac', 'Samsung Galaxy Note10+ 5G',
       'Samsung Galaxy A51 5G', 'Apple iPhone 12 Mini', nan, 'Windows',
       'Apple iPhone', 'Apple iPad', 'Samsung Galaxy Quantum2',
       'Samsung Galaxy A23', 'Samsung Galaxy Note9',
       'Samsung Galaxy Note10 5G', 'Samsung Galaxy Z Fold2 5G',
       'LG VELVET', 'Samsung Galaxy S10', 'Samsung Galaxy S22+',
       'Samsung Galaxy A Quantum', 'Samsung Galaxy A21s',
       'Samsung Galaxy A33 5G', 'Samsung Galaxy Z Flip4',
       'Samsung Galaxy On7(2016)', 'Samsung Galaxy A31',
       'Samsung Galaxy Quantum3', 'Samsung Galaxy A42 5G',
       'Samsung Galaxy Tab A', 'Apple iPhone 13',
       'Samsung Galaxy Note20 5G', 'Samsung Galaxy S21+ 5G',
       'Apple iPhone 11', 'Samsung Galaxy S10+',
       'Apple iPhone 14 Pro Max', 'Redmi Note 10 Pro',
       'Samsung Galaxy Note20 Ultra 5G', 'Samsung Galaxy Jump',
       'Samsung Galaxy A32', 'Samsung Galaxy S22',
       'Samsung Galaxy A9 Pro', 'Samsung Galaxy A53 5G',
       'Samsung Galaxy S22 Ultra', 'Apple iPhone 12 Pro',
       'Apple iPhone 13 Pro', 'Samsung Galaxy S20 5G',
       'Samsung Galaxy S20+ 5G', 'Apple iPhone 11 Pro',
       'Apple iPhone 13 mini', 'Samsung Galaxy Z Fold4',
       'Apple iPhone 12', 'Samsung Galaxy S21 Ultra 5G',
       'Apple iPhone 12 Pro Max', 'Apple iPhone X',
       'Samsung Galaxy Z Flip3 5G', 'Samsung Galaxy S20 FE 5G',
       'Xiaomi Pocophone F1', 'Samsung Galaxy Tab S6 Lite',
       'Samsung Galaxy Note FE', 'Samsung Galaxy A6',
       'Samsung Galaxy Z Flip', 'Samsung Galaxy Jean', 'Apple iPhone 7',
       'Linux', 'Apple iPhone 13 Pro Max', 'Apple iPhone 14 Pro',
       'Apple iPhone 14', 'Samsung Galaxy S9',
       'Apple iPad Pro 12.9 inch 4th Gen', 'Samsung Galaxy A13 5G',
       'Apple iPhone XR', 'Apple iPhone 8', 'Apple iPhone XS Max',
       'Apple iPhone XS', 'Apple iPhone SE 2nd Gen',
       'Samsung Galaxy A52s 5G', 'Samsung Galaxy S20 Ultra 5G',
       'Samsung Galaxy Tab S8+', 'Samsung Galaxy S7',
       'Samsung Galaxy A30', 'Samsung Galaxy A90 5G', 'Chromium OS',
       'Samsung Galaxy S9+', 'Samsung Galaxy A8(2018)',
       'Samsung Galaxy Wide4', 'Apple iPhone SE (3rd generation)',
       'Samsung Galaxy Note 8', 'Samsung Galaxy Tab S8 Ultra 5G',
       'Samsung Galaxy A7 (2018)', 'Samsung Galaxy Z Fold3 5G',
       'Samsung Galaxy Tab S6 5G', 'Samsung Galaxy S8',
       'Samsung Galaxy Tab S7', 'Samsung Galaxy S10e',
       'Samsung Galaxy Tab A7 Lite', 'Samsung Galaxy Tab A SM-T380',
       'Samsung Galaxy A80', 'Samsung Galaxy A50', 'Apple iPhone 7 Plus',
       'Samsung Galaxy J7(2017)', 'Samsung Galaxy A8 Star',
       'Samsung Galaxy Z Flip 5G', 'Samsung Galaxy A22 5G',
       'Samsung Galaxy Jump2', 'Google Nexus 5',
       'Samsung Galaxy A9 (2018)', 'Samsung Galaxy A13',
       'Xiaomi Redmi Note 5 Pro', 'Samsung Galaxy Tab4 10.1',
       'Samsung Galaxy Tab S6', 'Samsung Galaxy M23 5G',
       'Samsung Galaxy A12', 'LGE X4(2019)', 'Samsung Galaxy J4+',
       'Samsung Galaxy Wide5', 'Ubuntu', 'Apple iPhone 11 Pro Max',
       'Samsung Galaxy Tab S7 FE', 'Samsung Galaxy A10e',
       'Huawei P10 Premium Edition', 'Apple iPhone 8 Plus',
       'Apple iPhone 14 Plus', 'Samsung Galaxy Note10 Lite',
       'Samsung Galaxy A52', 'Samsung Galaxy Tab S8',
       'Apple iPad Pro 11" (Wi-Fi Only - 4th Gen)',
       'Samsung Galaxy Note20 Ultra', 'Samsung Galaxy XCover 5',
       'Samsung Galaxy Tab A with S Pen', 'Samsung Galaxy Tab Advanced2',
       'Samsung Galaxy J3(2017)', 'Samsung Galaxy Tab A (2017)',
       'Samsung Galaxy S8+', 'Samsung Galaxy A5(2017)',
       'Samsung Galaxy Note4', 'Apple iPad Pro 11" 3rd Gen (Wi-Fi Only)',
       'Samsung Galaxy Tab S7+', 'Samsung Galaxy S10E',
       'Apple iPad Air 4th Gen (Wi-Fi Only)', 'BlackBerry KEY2',
       'Redmi Note 9S', 'Samsung Galaxy Tab S 10.5',
       'Xiaomi Redmi Note 8 Pro', 'Apple iPhone 6s',
       'Samsung Galaxy A5(2016)', 'Samsung Galaxy J7',
       'Samsung Galaxy Wide3', 'Xiaomi Redmi Note 6 Pro',
       'Samsung Galaxy Tab A8', 'Samsung Galaxy A01 Core',
       'Samsung Galaxy Tab A 10.1', 'Apple iPhone 6s Plus',
       'Samsung Galaxy Note', 'Samsung Galaxy J7(2016)',
       'Samsung Galaxy Wide2', 'Samsung Galaxy Tab S8 Ultra',
       'Huawei HUAWEI Y7 2018', 'Samsung Galaxy Note 3',
       'Samsung Galaxy A30s', 'Samsung Galaxy Tab S8+ 5G',
       'Samsung Galaxy M20', 'Samsung Galaxy S20 FE 5G UW',
       'Samsung Galaxy A7(2017)', 'Samsung Galaxy Tab A7',
       'Samsung Galaxy Note 5', 'Samsung Galaxy A04s',
       'Samsung Galaxy A51', 'Samsung Galaxy Tab A 7.0',
       'Samsung Galaxy A40', 'HUAWEI Y9 2019', 'Samsung Galaxy On7 Prime',
       'Samsung Galaxy Note20', 'Samsung Galaxy Tab S3',
       'Apple iPad mini (6th generation)', 'Redmi Note 8T',
       'Samsung Galaxy S6', 'Google Pixel 2', 'Samsung Galaxy S20+',
       'Apple iPad Mini 5th Gen', 'Android', 'Samsung Galaxy A7(2016)',
       'Apple iPad Air 4th Gen (WiFi+Celular)', 'Samsung Galaxy Fold 5G',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi Only)',
       'Samsung Galaxy Tab S7+ 5G', 'iPhone SE', 'Samsung Galaxy A70',
       'Samsung Galaxy Tab A (2016) with S Pen', 'Apple iPad Pro 3',
       'Apple iPad Pro 2', 'Samsung Galaxy J6', 'Samsung Galaxy S20',
       'Samsung Galaxy A03s', 'Samsung Galaxy A8(2016)',
       'Samsung Galaxy A71', 'Galaxy Note 5',
       'Apple iPad Air (5th generation)', 'Samsung Galaxy S6 Edge',
       'Google Pixel 6a', 'Xiaomi Redmi Note 7', 'Samsung Galaxy S7 Edge',
       'Samsung Galaxy Wide', 'Samsung Galaxy Note10+',
       'Samsung Galaxy Note 10+', 'Samsung Galaxy Tab A (2018, 10.5)',
       'Samsung Galaxy S20 FE', 'Motorola moto g 5G', 'Huawei P20 Lite',
       'Apple iPad Pro', 'Samsung Galaxy M12',
       'Samsung Galaxy Tab A (8.0", 2019)', 'samsung galaxy Note9',
       'Samsung Galaxy A03 Core', 'Samsung Galaxy S6 Edge+',
       'Samsung Galaxy Tab S5e', 'Samsung Galaxy A52 5G',
       'Samsung Galaxy A73 5G', 'Samsung Galaxy Folder2',
       'Xiaomi Redmi Note 8', 'Apple iPad Air 3rd Gen (WiFi)',
       'Samsung Galaxy S10 Plus', 'Samsung Galaxy Tab S2 8.0',
       'Xiaomi MI 9', 'Apple iPad 10.2" 7th Gen (Wi-Fi Only)',
       'Samsung Galaxy Tab S8 5G', 'Google Pixel 3',
       'Samsung Galaxy Note Pro', 'Google Pixel 4a',
       'Samsung Galaxy M02s', 'Apple iPad Mini 5th Gen (WiFi)',
       'Samsung Galaxy Tab S4', 'Samsung Galaxy J5',
       'Samsung Galaxy A10s', 'Google Pixel 6', 'Apple iPad Air 2',
       'Samsung Galaxy A02', 'Apple iPad Pro 11 inch 2nd Gen',
       'Samsung Galaxy Jean2', 'Samsung Galaxy A60',
       'Motorola moto g(50) 5G', 'Samsung Galaxy Tab A 9.7',
       'Samsung Galaxy J5(2016)', 'Samsung Galaxy Note10',
       'Sony Xperia X Compact', 'Apple iPad 10.2" 8th Gen (Wi-Fi Only)',
       'Xiaomi MI PAD 4', 'Samsung Galaxy Tab 4 10.1', 'Motorola Moto G4',
       'Nokia C30', 'LG Stylo 4', 'Sony Xperia 1 II',
       'Samsung Galaxy S10 Lite', 'Samsung Galaxy Note 9', 'Huawei Y6',
       'Google Pixel 5', 'Samsung Galaxy J1 Ace',
       'Samsung Galaxy Note 10', 'Motorola moto g power (2022)',
       'Samsung Galaxy A5', 'Huawei HUAWEI Y8s',
       'Huawei HUAWEI MediaPad T5', 'Samsung Galaxy A72', 'HP Tablet',
       'Samsung Galaxy Tab S2 9.7', 'Google Pixel 7 Pro',
       'Samsung Galaxy Tab 4 8.0', 'Samsung Galaxy G8',
       'Samsung Galaxy M31', 'Samsung Galaxy Tab S2',
       'Samsung Galaxy Tab 3 Lite', 'Apple iPad Mini 4', 'Xiaomi Mi 9T',
       'Samsung Galaxy S21 FE 5G', 'Motorola moto e20', 'RCA RCT6B03W13',
       'Apple iPad Pro 11" 3rd Gen (Wi-Fi/Cellular)', 'Redmi Note 9 Pro',
       'Samsung Galaxy Tab E 8.0', 'Amazon Fire HD 10',
       'Huawei Huwei Mate 20 X',
       'Apple iPad 10.2" 7th Gen (Wi-Fi/Cellular, US/CA)',
       'Google Pixel 2 XL', 'OnePlus 8T+ 5G',
       'Huawei HUAWEI P smart 2021', 'Samsung Galaxy Tab S7 FE 5G',
       'Google Pixel 3a XL', 'Samsung Galaxy J2 Core',
       'Samsung Galaxy S4', 'Google Pixel 6 Pro', 'OnePlus 6T',
       'Samsung Galaxy Note3 Neo', 'Samsung Galaxy J3 Pop',
       'Samsung Galaxy A32 5G', 'Apple iPad 6', 'Samsung Galaxy Note 4',
       'Samsung Galaxy A10', 'Samsung Galaxy A7',
       'Samsung Galaxy J5 2017', 'HTC Desire 21 Pro 5G',
       'Motorola moto g stylus (2022)', 'Motorola Droid',
       'Huawei Honor 7X', 'Samsung Galaxy Note4 S-LTE',
       'Samsung Galaxy J3', 'Huawei P20 Pro', 'Oppo OPPO Reno5',
       'Google Pixel 4 XL', 'Samsung Galaxy S5', 'Huawei HONOR 9X',
       'ZTE Blade A3 2020', 'Samsung Galaxy TabE 8.0', 'Oppo A12',
       'POCO F2 Pro', 'Samsung Galaxy S8+ Duos', 'Samsung Galaxy A03',
       'Xiaomi Redmi Note 4', 'Oppo A93', 'Samsung Galaxy A2 Core',
       'Apple iPad Pro 11" (Wi-Fi/Cell - 4th Gen)',
       'Huawei HUAWEI MediaPad M5 8.4', 'Google Pixel 4a (5G)',
       'Motorola moto g200 5G', 'Huawei Mate 9', 'Xiaomi Redmi 8A',
       'Samsung Galaxy Tab Active2', 'ZTE K813', 'Redmi 8',
       'Samsung Galaxy A22', 'Huawei Mate 20', 'Samsung Galaxy S23 5G',
       'Google Pixel 7', 'Oppo F7', 'Google Pixel 3a',
       'Apple iPad (9th generation)', 'Xiaomi Mi A3',
       'Samsung Galaxy A70s', 'Xiaomi MI CC 9', 'Samsung Galaxy J7 Prime',
       'Motorola moto g(7) play', 'Samsung Galaxy Note 10.1',
       'Xiaomi MI 8 SE', 'Realme X2', 'Vivo V2048A', 'Oppo A54',
       'Hyundai', 'Samsung Galaxy Elite', 'LG V60 ThinQ 5G', 'OnePlus 5T',
       'Samsung Galaxy 9 Plus', 'Motorola moto g(20)',
       'Samsung Galaxy A71 5G', 'Samsung Galaxy Tab4 8.0',
       'Samsung Galaxy Folder', 'Samsung Galaxy A8s',
       'Motorola moto g stylus 5G', 'Xiaomi Mi A1',
       'Samsung Galaxy M33 5G', 'Huawei P40 Pro', 'Sony Xperia Ace III',
       'Samsung Galaxy A04', 'Sony Xperia X Performance', 'Vivo V2057A',
       'Samsung Galaxy A50s', 'Huawei P30 Lite', 'Samsung Galaxy Nexus',
       'Apple iPad Air 3rd Gen', 'Realme 5pro', 'Motorola moto g82 5G',
       'Oppo A1k', 'Samsung Galaxy A20s', 'Xiaomi Redmi 5 Plus',
       'Samsung Galaxy A6+', 'Samsung Galaxy Alpha',
       'Samsung Galaxy Tab A (8.4", 2020)', 'Samsung Galaxy S23 Ultra 5G',
       'Redmi  7A', 'Motorola moto g power (2021)',
       'Apple iPad Pro 12.9" 5th Gen (Wi-Fi/Cellular)',
       'Samsung Galaxy Grand2', 'Huawei M3', 'Amazon Kindle Fire HDX',
       'Apple iPad Pro 12.9" (Wi-Fi Only - 6th Gen)',
       'Samsung Galaxy Note Edge', 'Samsung Galaxy J5 Prime',
       'Motorola Moto G6 Plus', 'Huawei HUAWEI MediaPad M5 lite',
       'Xiaomi Mi Max', 'Samsung Galaxy TabS 10.5',
       'Samsung Galaxy S III', 'Xiaomi Redmi Note 7 Pro',
       'Huawei HUAWEI MediaPad T3 10', 'Realme C17', 'Samsung Galaxy C8',
       'Huawei Enjoy 9', 'Samsung Galaxy A8', 'Motorola moto e6 play',
       'Huawei HONOR 20', 'Samsung Galaxy S10 5G', 'Huawei P30 Pro',
       'Sony Xperia 10 III', 'Huawei Y9 Prime (2019)', 'Realme 7',
       'Samsung Galaxy A20e', 'Samsung Galaxy A20', 'Huawei Y6II',
       'Samsung Galaxy A3(2016)', 'Samsung Galaxy Ace',
       'Xiaomi MI 8 Lite', 'Samsung Galaxy M30s', 'Samsung Galaxy Tab E',
       'Apple iPad 5', 'Samsung Galaxy A41', 'Xiaomi Redmi 3S',
       'Huawei P40', 'LG V40 ThinQ', 'Samsung Galaxy M22',
       'BlackBerry KEYone', 'Oppo OPPO Reno5 A', 'Huawei MediaPad T5',
       'Samsung Galaxy Note Fan Edition', 'Motorola moto e(7i) power',
       'Huawei HUAWEI P20 Lite', 'Samsung Galaxy J8', 'Realme 6',
       'Redmi Note 8', 'Samsung Galaxy J3(2016)', 'Samsung Galaxy A11',
       'Amazon Fire HD 8', 'Huawei P40 lite', 'Samsung Galaxy Grand-Max',
       'Oppo A5 2020', 'Sony Xperia Tablet', 'Samsung Galaxy M51',
       'Samsung Galaxy M21', 'Xiaomi MI 9 SE', 'Lenovo Zuk Z1',
       'Google Pixel 5a 5G', 'Fairphone3', 'Motorola moto e (XT2052DL)',
       'Oppo CPH2185', 'Realme C12', 'Xiaomi Mi 10', 'Samsung Galaxy M01',
       'Motorola moto g(10)', 'Samsung Galaxy Tab A 8.0',
       'Samsung Galaxy Tab Active3', 'Huawei HUAWEI MediaPad M3 Lite',
       'Redmi K30', 'Oppo A3s', 'Samsung Galaxy A8+(2018)',
       'Huawei Mate 40 Pro', 'Oneplus 8 Pro', 'Samsung Galaxy M11',
       'Samsung Galaxy Z Flip5', 'Samsung Galaxy S23',
       'Samsung Galaxy S23 Ultra', 'Samsung Galaxy S23+',
       'Samsung Galaxy Z Fold5', 'Apple iPhone 15 Pro Max',
       'Apple iPhone 15 Pro', 'Apple iPhone 15', 'Samsung Galaxy A24',
       'Apple iPhone 15 Plus', 'Samsung Galaxy A34 5G',
       'Samsung Galaxy A54 5G', 'Samsung Galaxy Tab S9+',
       'Apple iPad 10.9" 10th Gen (Wi-Fi Only)', 'Samsung Galaxy A14 5G',
       'Samsung Galaxy M32', 'Oppo OPPO Reno5 Z', 'Tecno-Y2',
       'Huawei HUAWEI P30', 'Samsung Galaxy F23 5G',
       'Redmi Note 12 Pro+ 5G', 'Redmi K20', 'Samsung Galaxy Tab S9+ 5G',
       'Samsung Galaxy Tab S9 Ultra 5G', 'Oppo OPPO A54 5G', 'Realme C11',
       'Samsung Galaxy Tab S9', 'Redmi Note 9 Pro Max',
       'Samsung Galaxy Tab S9 Ultra', 'Apple iPhone 6 Plus',
       'Xiaomi Redmi 6A', 'Samsung Galaxy J4 Core', 'Oppo F15',
       'Huawei P9 Plus', 'Samsung Galaxy Watch5', 'Samsung Galaxy J7 Neo',
       'Samsung Galaxy S II', 'Motorola One Hyper', 'Huawei Enjoy 9 Plus',
       'Vivo V1911A', 'Vivo S1', 'Samsung Galaxy A02s', 'Realme RMX2040',
       'Google Nexus 7', 'Huawei Mate 20 Pro', 'Redmi 7',
       'Realme C15 Qualcomm Edition', 'Samsung Galaxy Fold',
       'Motorola moto g22', 'Oppo CPH1701', 'Apple iPad 4',
       'Xiaomi Redmi 7', 'Oppo F17 Pro', 'Samsung Galaxy A9 2018',
       'Motorola moto g62 5G', 'POCO M2 Pro', 'Samsung Galaxy M01 Core',
       'Oppo CPH2179', 'Motorola RAZR', 'Apple iPhone 6',
       'Samsung Galaxy View', 'Realme 5', 'Huawei Nova 3i',
       'Samsung Galaxy S23+ 5G', 'Xiaomi MI 8', 'Xiaomi MI 6X',
       'Samsung Galaxy A04e', 'Oppo F19 Pro',
       'Apple iPad Pro 12.9" (Wi-Fi/Cell - 6th Gen)', 'Lenovo Tab 2 A10',
       'Realme 7 Pro', 'Motorola moto g(8) play',
       'Samsung Galaxy Tab 3 8.0', 'Samsung Galaxy A9',
       'Samsung Galaxy M52 5G', 'Oppo A92', 'Oppo A74',
       'Apple iPad 10.2" 8th Gen (Wi-Fi/Cellular)',
       'Huawei HUAWEI Mate 20 X (5G)', 'Realme 5i'], dtype=object)

In [26]:
main_page_df.os_name.value_counts()

os_name
Chrome                  996473
Mobile Safari           255461
Instagram               203370
Edge                    129310
Samsung Browser         126208
Chrome WebView           92656
Whale                    78587
Safari                   69421
Chrome Mobile            63765
WebKit                   54112
Facebook                 38996
GSA                      11260
Firefox                   6280
Chrome Headless           2775
Opera                     1280
Avast Secure Browser       279
Yandex                     259
MIUI Browser               234
Android Browser            213
Electron                    45
Opera Touch                 41
WeChat                      36
Silk                        35
IE                          35
Puffin                      34
Line                        22
AVG Secure Browser          15
Chromium                    11
UCBrowser                    7
Firefox Focus                5
baiduboxapp                  5
Quark                        3
QQBrowser                    2
Opera Mini                   2
MetaSr                       1
Mozilla                      1
NetFront                     1
chrome                       1
Konqueror                    1
OviBrowser                   1
Coc Coc                      1
Name: count, dtype: int64

### signup_df

**enter.signup_page.csv**<br/>
회원가입 페이지 진입

In [20]:
signup_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:30:42.557000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,112.0.0.0,Web,NaN
1,Seoul,2023-04-05 21:37:41.467000,South Korea,NaN,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
2,Seoul,2023-04-05 21:05:53.237000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,16.4,Web,NaN
3,Gangnam-gu,2023-04-05 21:41:58.269000,South Korea,NaN,Mac,Mac,enter.signup_page,Korean,Safari,16.3,Web,NaN
4,Seoul,2023-04-05 21:44:53.294000,South Korea,NaN,Mac,Mac,enter.signup_page,Korean,Safari,15.6.1,Web,NaN
5,Seoul,2023-04-05 21:50:55.151000,South Korea,NaN,Samsung Phone,Samsung Galaxy Quantum2,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
6,Seoul,2023-04-05 21:52:03.185000,South Korea,NaN,Samsung Phone,Samsung Galaxy Quantum2,enter.signup_page,Korean,Chrome,111.0.0.0,Web,NaN
7,Naju,2023-04-05 21:50:50.270000,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Firefox,111.0,Web,NaN
8,Paju-si,2023-04-05 21:52:21.436000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.signup_page,Korean,WebKit,605.1.15,Web,NaN
9,Gangnam-gu,2023-04-05 21:03:12.029000,South Korea,NaN,Windows,Windows,enter.signup_page,Korean,Chrome,110.0.0.0,Web,NaN

In [17]:
signup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596829 entries, 0 to 596828
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               581024 non-null  object
 1   client_event_time  596829 non-null  object
 2   country            596315 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      596747 non-null  object
 5   device_type        567387 non-null  object
 6   event_type         596829 non-null  object
 7   language           596829 non-null  object
 8   os_name            596754 non-null  object
 9   os_version         594650 non-null  object
 10  platform           596829 non-null  object
 11  user_id            0 non-null       float64
dtypes: float64(2), object(10)
memory usage: 54.6+ MB

### fin_signup_df

**complete.signup.csv**<br/>
회원가입 완료

In [21]:
fin_signup_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424000,South Korea,NaN,Windows,Windows,complete.signup,Korean,Chrome,111.0.0.0,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,16.3,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao
5,NaN,2023-04-10 14:17:20.457000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,b90215a242d2b564d8be13193e6aa09e,naver
6,Eunpyeong-gu,2023-01-12 19:41:55.340000,South Korea,NaN,Samsung Phone,Samsung Galaxy S10+,complete.signup,Korean,Chrome,108.0.0.0,Web,43264caf4d797e1c485a8b1f588dc5ce,kakao
7,NaN,2023-01-12 19:10:05.902000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,5544c5475f9c1682c352683b6dcbd005,kakao
8,NaN,2023-01-12 19:52:51.977000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,3ca6bdf9a279c5a05c2f1f7452a6b731,naver
9,NaN,2023-03-12 08:14:39.618000,NaN,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,NaN,eb75bdef427fafaf336fd4e4996af277,google

In [18]:
fin_signup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145133 entries, 0 to 145132
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               44774 non-null   object
 1   client_event_time  145133 non-null  object
 2   country            45756 non-null   object
 3   device_carrier     0 non-null       float64
 4   device_family      45767 non-null   object
 5   device_type        44659 non-null   object
 6   event_type         145133 non-null  object
 7   language           45767 non-null   object
 8   os_name            45745 non-null   object
 9   os_version         45651 non-null   object
 10  platform           45767 non-null   object
 11  user_id            145133 non-null  object
 12  type               144958 non-null  object
dtypes: float64(1), object(12)
memory usage: 14.4+ MB

In [ ]:
fin_signup_df.type.unique()

array(['kakao', 'naver', 'google', 'email', 'facebook', 'test', nan],
      dtype=object)

In [30]:
fin_signup_df.type.value_counts()

type
kakao       89484
google      21465
naver       19440
email       14126
facebook      442
test            1
Name: count, dtype: int64

### content_page_df

**enter.content_page.csv**<br/>
콘텐츠 개별 페이지 진입

In [22]:
content_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,108.0.5359.112,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,111.0.0.0,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd
3,Daejeon,2023-04-05 21:14:25.355000,South Korea,NaN,Windows,Windows,enter.content_page,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
4,Seoul,2023-04-05 21:44:23.759000,South Korea,NaN,Samsung Phone,Samsung Galaxy S20 FE 5G,enter.content_page,Korean,Samsung Browser,14.2,Web,NaN,7cebec6e79cc981dbf421c5ec2aedd9d
5,Seoul,2023-04-05 21:51:45.767000,South Korea,NaN,Mac,Mac,enter.content_page,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,f64c475280676531a31f2f8e0648599c
6,Seoul,2023-04-05 21:51:59.437000,South Korea,NaN,Mac,Mac,enter.content_page,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,18992b667be06d6f29ba0008f99d9745
7,Gangseo-gu,2023-04-05 21:19:23.776000,South Korea,NaN,Samsung Phone,Samsung Galaxy S9,enter.content_page,Korean,Chrome,111.0.0.0,Web,5a0099deffc1e2def829590197c6f2c3,445fac33232adcb3d1cdab7d8a579430
8,Gangseo-gu,2023-04-05 21:19:47.684000,South Korea,NaN,Samsung Phone,Samsung Galaxy S9,enter.content_page,Korean,Chrome,111.0.0.0,Web,5a0099deffc1e2def829590197c6f2c3,e88906bb19b773dcbf2adb5d34c49d9c
9,Sejong,2023-04-05 21:35:54.025000,South Korea,NaN,Apple iPhone,Apple iPhone 12 Mini,enter.content_page,Korean,Instagram,276.1.0.14.103,Web,NaN,61b6463287573f00de13a930805a52d6

In [24]:
content_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914257 entries, 0 to 1914256
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
dtypes: float64(1), object(12)
memory usage: 189.9+ MB

### start_content_btn_df

**enter.content_page.csv**<br/>
콘텐츠 개별 페이지 진입

In [3]:
start_content_btn_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,button.name,button_name
0,Daejeon,2023-04-05 21:14:38.432000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,콘텐츠 구독하기,NaN
1,Seongnam-si,2023-04-10 14:57:20.033000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,112.0.1722.34,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,콘텐츠 이어보기,NaN
2,Yangp'yong,2023-04-10 14:28:29.515000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,111.0.0.0,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,콘텐츠 이어보기,NaN
3,Seo-gu,2023-04-10 14:09:30.564000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa,콘텐츠 이어보기,NaN
4,Seo-gu,2023-04-10 14:10:52.368000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,7de35a9d8f14c68e5f2a8788dda5f72e,콘텐츠 구독하기,NaN
5,Gangdong-gu,2023-04-10 14:31:11.407000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,112.0.1722.34,Web,f853aa18605bd7f11162236b6b8ac4c5,7de35a9d8f14c68e5f2a8788dda5f72e,콘텐츠 구독하기,NaN
6,Yongsan-gu,2023-04-10 14:57:16.490000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,112.0.0.0,Web,2c3e69a22969fb4b765957c5d416a2b8,445fac33232adcb3d1cdab7d8a579430,콘텐츠 이어보기,NaN
7,Suwon,2023-04-10 14:29:36.414000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_start_content_button,Korean,Mobile Safari,16.3,Web,e3b8bfa80d866f296aad139e09023ef3,68a3658f1b936bfff3bd6960cd561b0a,콘텐츠 구독하기,NaN
8,Dongdaemun-gu,2023-01-12 19:29:54.345000,South Korea,NaN,Windows,Windows,click.content_page_start_content_button,Korean,Edge,108.0.1462.76,Web,99548e870caa2b8be419143455efdfe7,220ce7873b8895d0c81c37600b5bd1e7,최저가 혜택 받기,NaN
9,Seoul,2023-01-12 19:58:47.284000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_start_content_button,Korean,Mobile Safari,16.0,Web,2ce81d5991b618a36857c5ee01462776,db1819d3a7a4c4d85dccb3b9e982fbcd,콘텐츠 구독하기,NaN

In [4]:
start_content_btn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172911 entries, 0 to 172910
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               169437 non-null  object
 1   client_event_time  172911 non-null  object
 2   country            171495 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      172911 non-null  object
 5   device_type        171581 non-null  object
 6   event_type         172911 non-null  object
 7   language           172911 non-null  object
 8   os_name            172911 non-null  object
 9   os_version         172593 non-null  object
 10  platform           172911 non-null  object
 11  user_id            128361 non-null  object
 12  content.id         172699 non-null  object
 13  button.name        86242 non-null   object
 14  button_name        38951 non-null   object
dtypes: float64(1), object(14)
memory usage: 19.8+ MB

In [5]:
# A타입
start_content_btn_df.button_name.value_counts()

button_name
이어하기        23793
무료로 시작하기     6094
수강하기         5348
수강시작         3716
Name: count, dtype: int64

In [18]:
start_content_btn_df.isnull().sum()

city                   3474
client_event_time         0
country                1416
device_carrier       172911
device_family             0
device_type            1330
event_type                0
language                  0
os_name                   0
os_version              318
platform                  0
user_id               44550
content.id              212
button.name           86669
button_name          133960
dtype: int64

In [6]:
# B타입
start_content_btn_df['button.name'].value_counts()

button.name
콘텐츠 구독하기      40961
콘텐츠 이어보기      27797
무료로 들어보기      13596
무료로 시작하기       2513
최저가 혜택 받기       907
최저가로 시작하기       293
구독 시작하기         174
할인받고 구독 시작        1
Name: count, dtype: int64

### more_review_btn_df

**click.content_page_start_content_button**<br/>
콘텐츠 수강하기 버튼 클릭

In [27]:
more_review_btn_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417000,United Kingdom,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Whale,3.18.154.13,Web,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,109.0.0.0,Web,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,Mobile Safari,15.6.1,Web,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,110.0.0.0,Web,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e
5,Seo-gu,2023-01-23 08:11:46.833000,South Korea,NaN,Apple iPad,Apple iPad,click.content_page_more_review_button,Korean,Chrome,109.0.5414.83,Web,fb1ffc5625e730870f4e65fceda4cfcf,5cea8d6e02eb18b2660f98f424867e4d
6,Seoul,2023-02-02 05:52:39.884000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,109.0.0.0,Web,NaN,e543c38ec7fa6bcd5045049ecc31e5f8
7,Anyang-si,2023-05-05 13:08:17.454000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,18d3fd6795dcb6b2b38bd0fa326a7dc0,f491517f4737a60d661cd1fcacc702c0
8,Namyangju,2023-04-11 12:41:15.468000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note 8,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,NaN,220ce7873b8895d0c81c37600b5bd1e7
9,Dongjak-gu,2023-04-12 05:18:01.321000,South Korea,NaN,Mac,Mac,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,c3a2ce9e89f70c9c6ebbd27c8a0f5590,4641438a6c81ef572d997dbdc9100f8b

In [28]:
more_review_btn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93962 entries, 0 to 93961
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               93792 non-null  object
 1   client_event_time  93962 non-null  object
 2   country            93944 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      93962 non-null  object
 5   device_type        93909 non-null  object
 6   event_type         93962 non-null  object
 7   language           93962 non-null  object
 8   os_name            93962 non-null  object
 9   os_version         93959 non-null  object
 10  platform           93962 non-null  object
 11  user_id            10702 non-null  object
 12  content.id         93938 non-null  object
dtypes: float64(1), object(12)
memory usage: 9.3+ MB

### more_review_btn_df

**click.content_page_more_review_button.csv**<br/>
콘텐츠 수강하기 버튼 클릭

In [7]:
more_review_btn_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417000,United Kingdom,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Whale,3.18.154.13,Web,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,109.0.0.0,Web,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568000,South Korea,NaN,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,Mobile Safari,15.6.1,Web,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,110.0.0.0,Web,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e
5,Seo-gu,2023-01-23 08:11:46.833000,South Korea,NaN,Apple iPad,Apple iPad,click.content_page_more_review_button,Korean,Chrome,109.0.5414.83,Web,fb1ffc5625e730870f4e65fceda4cfcf,5cea8d6e02eb18b2660f98f424867e4d
6,Seoul,2023-02-02 05:52:39.884000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,109.0.0.0,Web,NaN,e543c38ec7fa6bcd5045049ecc31e5f8
7,Anyang-si,2023-05-05 13:08:17.454000,South Korea,NaN,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,18d3fd6795dcb6b2b38bd0fa326a7dc0,f491517f4737a60d661cd1fcacc702c0
8,Namyangju,2023-04-11 12:41:15.468000,South Korea,NaN,Samsung Galaxy Note,Samsung Galaxy Note 8,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,NaN,220ce7873b8895d0c81c37600b5bd1e7
9,Dongjak-gu,2023-04-12 05:18:01.321000,South Korea,NaN,Mac,Mac,click.content_page_more_review_button,Korean,Chrome,112.0.0.0,Web,c3a2ce9e89f70c9c6ebbd27c8a0f5590,4641438a6c81ef572d997dbdc9100f8b

In [8]:
more_review_btn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93962 entries, 0 to 93961
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               93792 non-null  object
 1   client_event_time  93962 non-null  object
 2   country            93944 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      93962 non-null  object
 5   device_type        93909 non-null  object
 6   event_type         93962 non-null  object
 7   language           93962 non-null  object
 8   os_name            93962 non-null  object
 9   os_version         93959 non-null  object
 10  platform           93962 non-null  object
 11  user_id            10702 non-null  object
 12  content.id         93938 non-null  object
dtypes: float64(1), object(12)
memory usage: 9.3+ MB

### payment_page_df

**enter.payment_page.csv**<br/>
결제 페이지 진입

In [29]:
payment_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Seoul,2023-04-05 21:31:27.602000,South Korea,NaN,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,112.0.0.0,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,111.0.0.0,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Edge,111.0.1661.62,Web,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-05 21:45:27.935000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-05 21:46:50.632000,South Korea,NaN,Mac,Mac,enter.payment_page,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce
5,Gwanak-gu,2023-04-10 14:55:31.376000,South Korea,NaN,Samsung Galaxy Phone,Samsung Galaxy A31,enter.payment_page,Korean,Chrome,111.0.0.0,Web,37f5dcfad7488c70d6657a69a0384be3
6,Seoul,2023-04-10 14:56:21.536000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.payment_page,Korean,Mobile Safari,16.3,Web,f693a50e45b6aa18fb6b0c91beee8ea1
7,Seoul,2023-04-10 14:56:26.141000,South Korea,NaN,Apple iPhone,Apple iPhone,enter.payment_page,Korean,Mobile Safari,16.3,Web,f693a50e45b6aa18fb6b0c91beee8ea1
8,Buk-gu,2023-04-10 14:03:05.287000,South Korea,NaN,Windows,Windows,enter.payment_page,Korean,Chrome,112.0.0.0,Web,9cf14379b941964d78b7c7914c573b2f
9,Gimpo-si,2023-04-10 14:44:31.251000,South Korea,NaN,Samsung Phone,Samsung Galaxy A53 5G,enter.payment_page,Korean,Chrome WebView,111.0.5563.116,Web,583457ca80cd98524fda28b54181ded6

In [30]:
payment_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165061 entries, 0 to 165060
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               162362 non-null  object
 1   client_event_time  165061 non-null  object
 2   country            164899 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      165060 non-null  object
 5   device_type        159066 non-null  object
 6   event_type         165061 non-null  object
 7   language           165061 non-null  object
 8   os_name            165061 non-null  object
 9   os_version         164560 non-null  object
 10  platform           165061 non-null  object
 11  user_id            158834 non-null  object
dtypes: float64(1), object(11)
memory usage: 15.1+ MB

In [19]:
payment_page_df.isnull().sum()

city                   2699
client_event_time         0
country                 162
device_carrier       165061
device_family             1
device_type            5995
event_type                0
language                  0
os_name                   0
os_version              501
platform                  0
user_id                6227
dtype: int64

### subscription_df

**complete.subscription.csv**<br/>
첫 결제 완료

In [31]:
subscription_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,plan.type,coupon.type,coupon.benefit_type,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Edge,111.0.1661.62,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,1개월 플랜,NaN,NaN,0,NaN
1,Seoul,2023-04-10 14:20:03.008000,South Korea,NaN,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,16.3,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,12개월 플랜,NaN,NaN,0,NaN
2,Yangsan,2023-03-12 08:46:14.026000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,12개월 플랜,REWARD,DISCOUNT,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,12개월 플랜,NaN,NaN,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820000,South Korea,NaN,Mac,Mac,complete.subscription,Korean,Chrome,113.0.0.0,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,1개월 플랜,NaN,NaN,0,NaN
5,Seocho-gu,2023-05-31 01:27:05.914000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,113.0.0.0,Web,ac7c3298f6afc990333b9dbf937f2378,15920,15920,1개월 플랜,NaN,NaN,0,NaN
6,Gyeonggi-do,2023-01-31 14:44:19.644000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21+ 5G,complete.subscription,Korean,Samsung Browser,19.0,Web,81cedbb74a6400b881a77694831102d9,95200,95200,12개월 플랜,NaN,NaN,0,NaN
7,Sangju,2023-01-31 14:27:53.465000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,109.0.0.0,Web,db0e90b2ae46d565e7f182d5202b8737,95200,95200,12개월 플랜,NaN,NaN,0,NaN
8,Gangnam-gu,2023-01-31 14:24:46.377000,South Korea,NaN,Samsung Phone,Samsung Galaxy S22,complete.subscription,Korean,Chrome WebView,108.0.5359.128,Web,4a267eba2e65ee24be66c3da88316f20,95200,95200,12개월 플랜,NaN,NaN,0,NaN
9,Songpa-gu,2023-01-31 14:10:20.700000,South Korea,NaN,Windows,Windows,complete.subscription,Korean,Chrome,109.0.0.0,Web,99a9f26d820203528cfd7cb0bfce0e2a,95200,95200,12개월 플랜,NaN,NaN,0,NaN

In [32]:
subscription_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14289 entries, 0 to 14288
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    13757 non-null  object
 1   client_event_time       14289 non-null  object
 2   country                 13906 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           13914 non-null  object
 5   device_type             13764 non-null  object
 6   event_type              14289 non-null  object
 7   language                13914 non-null  object
 8   os_name                 13908 non-null  object
 9   os_version              13899 non-null  object
 10  platform                13914 non-null  object
 11  user_id                 14289 non-null  object
 12  plan.price              14289 non-null  int64
 13  paid_amount             14289 non-null  int64
 14  plan.type               14289 non-null  object
 15  coupon.type             2135 non-null   object
 16  coupon.benefit_type     2135 non-null   object
 17  coupon.discount_amount  14289 non-null  int64
 18  pg.type                 1642 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 2.1+ MB

### renew_subs_df

**renew.subscription.csv**<br/>
정기 결제 완료

In [33]:
renew_subs_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,membership.price,plan.type,paid_amount,coupon.type,coupon.benefit_type,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Edge,104,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,1개월 플랜,15920,NaN,NaN,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,c2d47034960fdff5df495822ff66fbc1,15920,1개월 플랜,15920,NaN,NaN,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,de91f1226dd938990fefc79545daf468,42960,3개월 플랜,40812,REWARD,DISCOUNT,2148,NaN
3,Yongin-si,2022-09-08 04:10:06.406,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,bf14840a8cb4643e6d557da96e35a3af,15920,1개월 플랜,15920,NaN,NaN,0,NaN
4,Dongjak-gu,2022-09-08 04:40:01.895,South Korea,NaN,Android,Android,renew.subscription,Korean,Chrome Mobile,103,Web,7ddc1c2990d0645d82885394e3c518b5,15920,1개월 플랜,15920,NaN,NaN,0,NaN
5,Yangcheon-gu,2022-09-08 05:10:01.955,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,85822a1663cebc3351e24c25f8c02552,15920,1개월 플랜,7960,OPERATION,DISCOUNT,7960,NaN
6,Dongdaemun-gu,2022-09-08 06:45:01.589,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,104,Web,47a7b82262e14f30c6ee06a314004714,15920,1개월 플랜,15920,NaN,NaN,0,NaN
7,Gangnam-gu,2022-09-08 06:45:05.980,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,102,Web,d8e3205c18c9e436e37994dadd604a73,15920,1개월 플랜,15920,NaN,NaN,0,NaN
8,Gangwon-do,2022-09-08 06:47:02.016,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,105,Web,cce04d49260614dcb65b3f3bde7cc4b6,15920,1개월 플랜,14487,REWARD,DISCOUNT,1433,NaN
9,Buk-gu,2022-09-08 07:15:01.004,South Korea,NaN,Windows,Windows,renew.subscription,Korean,Chrome,105,Web,19e512a7f43998e40ef164887b5a55bc,42960,3개월 플랜,42960,NaN,NaN,0,NaN

In [34]:
renew_subs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15945 entries, 0 to 15944
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    15575 non-null  object
 1   client_event_time       15945 non-null  object
 2   country                 15656 non-null  object
 3   device_carrier          0 non-null      float64
 4   device_family           15657 non-null  object
 5   device_type             15484 non-null  object
 6   event_type              15945 non-null  object
 7   language                15657 non-null  object
 8   os_name                 15654 non-null  object
 9   os_version              15644 non-null  object
 10  platform                15657 non-null  object
 11  user_id                 15945 non-null  object
 12  membership.price        15945 non-null  int64
 13  plan.type               15945 non-null  object
 14  paid_amount             15945 non-null  int64
 15  coupon.type             1321 non-null   object
 16  coupon.benefit_type     1321 non-null   object
 17  coupon.discount_amount  15945 non-null  int64
 18  pg.type                 2732 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 2.3+ MB

In [12]:
renew_subs_df['plan.price'].value_counts()

plan.price
15920     11817
42960      1062
79200       954
131600      891
95520       537
83200       287
87200       160
95200       115
91200       105
14328        16
118440        1
Name: count, dtype: int64

In [13]:
renew_subs_df.paid_amount.value_counts()

paid_amount
15920     10621
42960       968
79200       943
7960        872
131600      823
95520       537
83200       262
87200       160
13532       131
95200       115
91200       104
3960         78
25776        64
12736        42
15442        34
92119        27
105280       19
15124        18
14328        18
111860       15
41671        15
127652       13
34368         8
76824         8
125020        7
14805         7
14487         5
11940         5
75240         4
36516         2
40812         2
122388        2
39952         2
78960         2
73656         2
65800         2
9552          2
63360         1
39093         1
88464         1
75712         1
80704         1
118440        1
Name: count, dtype: int64

In [14]:
renew_subs_df['coupon.discount_amount'].unique()

array([     0,   2148,   7960,   1433,  17184,   6444,    478,   1289,
         3184,   3948,    796,  26320,   2388,   3008,   8592,   9212,
         3867,  52640,  11960, -52400,   2376,   5544,   3960,   1115,
        15840,   4000, -48400,   2496,   7488,   2736,   6580,  39481,
        19740,   3980,   1592,   6368,  65800])

In [17]:
renew_subs_df['pg.type'].value_counts()

pg.type
A    2579
B     104
C      49
Name: count, dtype: int64

### resubscribe_df

**resubscribe.subscription.csv**<br/>
만료 후 재구독 완료

In [21]:
resubscribe_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,NaN,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,113.0.5672.162,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,114.0.0.0,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,114.0.5735.99,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN
5,Toronto,2023-06-15 12:01:12.785,Canada,NaN,Apple iPhone,Apple iPhone,resubscribe.subscription,English,Mobile Safari,16.5,Web,e2652bbc8ce6ef935dc655ed9b3a1464,15920,15920,0,NaN
6,Seoul,2023-04-16 07:59:10.131,South Korea,NaN,Mac,Mac,resubscribe.subscription,English,Chrome,112.0.0.0,Web,b3d0d86a522f0e4e22579c3d3350ab22,15920,15920,0,NaN
7,Yongsan-gu,2023-06-01 03:11:24.477,South Korea,NaN,Windows,Windows,resubscribe.subscription,Korean,Chrome,113.0.0.0,Web,dfec4d0678f6d3824d6a1923b25a75de,15920,15920,0,NaN
8,Seoul,2023-05-30 08:36:16.951,South Korea,NaN,Mac,Mac,resubscribe.subscription,Korean,Chrome,112.0.0.0,Web,0b342edb20f16f8666d3df5a164de117,15920,15920,0,NaN
9,Tangjin,2023-05-16 15:11:53.790,South Korea,NaN,Mac,Mac,resubscribe.subscription,Korean,Chrome,97,Web,ca2976a5fc27e353fc1e17e21d5848ec,15920,15920,0,NaN

In [22]:
resubscribe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    775 non-null    object
 1   client_event_time       791 non-null    object
 2   country                 784 non-null    object
 3   device_carrier          0 non-null      float64
 4   device_family           784 non-null    object
 5   device_type             773 non-null    object
 6   event_type              791 non-null    object
 7   language                784 non-null    object
 8   os_name                 784 non-null    object
 9   os_version              784 non-null    object
 10  platform                784 non-null    object
 11  user_id                 791 non-null    object
 12  plan.price              791 non-null    int64
 13  paid_amount             791 non-null    int64
 14  coupon.discount_amount  791 non-null    int64
 15  pg.type                 173 non-null    object
dtypes: float64(1), int64(3), object(12)
memory usage: 99.0+ KB

In [25]:
resubscribe_df['plan.price'].value_counts()

plan.price
15920     544
131600    116
95520      93
42960      38
Name: count, dtype: int64

In [24]:
resubscribe_df['coupon.discount_amount'].unique()

array([    0,  1115,   796,  3184,   478,  7960,  1289, 52640,  3948,
        2388, 17184,  3867,  1433, 32900,  3980, 19740,  6580,  6368,
       11844])

In [28]:
resubscribe_df['coupon.discount_amount'].value_counts()

coupon.discount_amount
0        700
2388      18
796       14
478       14
7960       6
19740      6
32900      5
1289       5
3184       4
3948       4
1115       3
17184      3
6368       2
3980       2
52640      1
3867       1
1433       1
6580       1
11844      1
Name: count, dtype: int64

### free_trial_df

**start.free_trial.csv**<br/>
서비스 무료체험 시작

In [29]:
free_trial_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156000,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,15920.0,1개월 플랜,B
1,Dobong-gu,2023-03-12 08:28:29.384000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920.0,1개월 플랜,B
2,NaN,2023-03-12 08:35:00.107000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920.0,1개월 플랜,B
3,Seoul,2023-04-12 11:36:50.250000,South Korea,NaN,Mac,Mac,start.free_trial,Korean,Safari,15.1,Web,cc8051a75f62278b0e4216dd0a182d8c,15920.0,1개월 플랜,B
4,NaN,2023-02-18 04:13:20.822000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,4cc436ad294973993ccad3e3a70053a7,131600.0,12개월 플랜,B
5,NaN,2023-02-18 04:45:08.036000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,d3a654c02745f31611f25c7226895ed4,131600.0,12개월 플랜,B
6,NaN,2023-02-18 04:48:29.670000,NaN,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,NaN,06d0db470da3e9b44fcd79e9a70c1120,131600.0,12개월 플랜,B
7,Jungnang-gu,2023-02-12 03:09:03.143000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,109.0.0.0,Web,e847270c7e6dcc3de104a83301a7aa58,131600.0,12개월 플랜,B
8,Daegu,2023-02-02 05:19:13.377000,South Korea,NaN,Apple iPhone,Apple iPhone,start.free_trial,Korean,Chrome,109.0.5414.112,Web,12eae605e2a10bf87a26a4dd7f7782c2,15920.0,1개월 플랜,B
9,Seoul,2023-02-28 07:11:45.206000,South Korea,NaN,Windows,Windows,start.free_trial,Korean,Chrome,110.0.0.0,Web,6f340db1bb86152e43fb4fa19f858597,15920.0,1개월 플랜,B

In [30]:
free_trial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30621 entries, 0 to 30620
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               30133 non-null  object
 1   client_event_time  30621 non-null  object
 2   country            30491 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      30499 non-null  object
 5   device_type        30478 non-null  object
 6   event_type         30621 non-null  object
 7   language           30499 non-null  object
 8   os_name            30499 non-null  object
 9   os_version         30497 non-null  object
 10  platform           30499 non-null  object
 11  user_id            30607 non-null  object
 12  plan.price         2439 non-null   float64
 13  plan.type          2439 non-null   object
 14  trial.type         30621 non-null  object
dtypes: float64(2), object(13)
memory usage: 3.5+ MB

In [31]:
free_trial_df['trial.type'].value_counts()

trial.type
A    28182
B     2439
Name: count, dtype: int64

In [33]:
free_trial_df['client_event_time'] = pd.to_datetime(free_trial_df['client_event_time']) + pd.Timedelta(hours=9)

In [37]:
free_trial_df['client_event_time'].dtype

dtype('<M8[ns]')

In [56]:
pd.crosstab(
    free_trial_df['trial.type'],
    free_trial_df['plan.type'])

plan.type   12개월 플랜  1개월 플랜
trial.type
B              1161    1278

In [58]:
free_trial_df[free_trial_df['trial.type'] == 'A']['plan.type'].value_counts()

Series([], Name: count, dtype: int64)

### start_content_df

**start.content.csv**<br/>
콘텐츠 수강 시작

In [76]:
start_content_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-05 21:14:39.906000,South Korea,NaN,Windows,Windows,start.content,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-05 21:50:19.674000,South Korea,NaN,Mac,Mac,start.content,Korean,Safari,15.6.1,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 14:06:26.585000,South Korea,NaN,Mac,Mac,start.content,Korean,Whale,3.19.166.16,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 14:15:29.040000,Canada,NaN,Windows,Windows,start.content,English,Chrome,111.0.0.0,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 14:21:36.467000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced
5,Yongin-si,2023-04-10 14:07:01.134000,South Korea,NaN,Windows,Windows,start.content,Korean,Chrome,112.0.0.0,Web,649e32570ee5349aa8868024aeabb54f,61b6463287573f00de13a930805a52d6,beginner
6,Siheung-si,2023-04-10 14:08:42.539000,South Korea,NaN,Windows,Windows,start.content,Korean,Whale,3.19.166.16,Web,add7a1651936dad3a139decfe8954fba,c269eb6df3a374b464f7c18f12fa398f,advanced
7,Seoul,2023-04-10 14:44:31.128000,South Korea,NaN,Mac,Mac,start.content,English,Firefox,111.0,Web,00dae4b5b145ebb67aab108a2e8bdab1,7de35a9d8f14c68e5f2a8788dda5f72e,advanced
8,Yongin-si,2023-04-10 14:00:11.027000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,start.content,Korean,Samsung Browser,20.0,Web,810122e078c4b16d7ddb321c73c32a4c,4641438a6c81ef572d997dbdc9100f8b,intermediate
9,Buk-gu,2023-04-10 14:02:34.712000,South Korea,NaN,Windows,Windows,start.content,Korean,Edge,111.0.1661.62,Web,879687a97f0f3048ea13b68c1f455712,165def8885b8a2ec0c92404048d7e345,intermediate

In [77]:
start_content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124917 entries, 0 to 124916
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   city                121017 non-null  object
 1   client_event_time   124917 non-null  object
 2   country             122032 non-null  object
 3   device_carrier      0 non-null       float64
 4   device_family       122690 non-null  object
 5   device_type         120068 non-null  object
 6   event_type          124917 non-null  object
 7   language            122692 non-null  object
 8   os_name             122671 non-null  object
 9   os_version          122585 non-null  object
 10  platform            122692 non-null  object
 11  user_id             124917 non-null  object
 12  content.id          124917 non-null  object
 13  content.difficulty  124917 non-null  object
dtypes: float64(1), object(13)
memory usage: 13.3+ MB

### lesson_page_df

**enter.lesson_page**<br/>
레슨 시작

In [78]:
episode_page_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-05 21:46:04.333000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-05 21:55:50.787000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-05 21:55:55.684000,South Korea,NaN,Windows,Windows,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN
3,Dongdaemun-gu,2023-04-05 21:04:55.828000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,5fc64d786416b980cfda86afd69e4516,False,68cc362ca81b5899b3c9b4dea0aaddff,NaN
4,Dongdaemun-gu,2023-04-05 21:05:34.139000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,144682f4648f81de8e6aabd11b92105e,NaN
5,Dongdaemun-gu,2023-04-05 21:05:58.498000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,778ff1c69f892a1307fb5ddc64b58546,NaN
6,Dongdaemun-gu,2023-04-05 21:06:25.330000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,94e7728954b92a4483d8936d364d06ce,NaN
7,Dongdaemun-gu,2023-04-05 21:08:31.638000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,ecf37542ed9fb34955d4aa4eda5e1093,NaN
8,Dongdaemun-gu,2023-04-05 21:08:39.603000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,abe26c324e5f451b9df0b95ccd3f599f,NaN
9,Dongdaemun-gu,2023-04-05 21:09:01.630000,South Korea,NaN,Mac,Mac,enter.lesson_page,Korean,Chrome,111.0.0.0,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,94e7728954b92a4483d8936d364d06ce,NaN

In [79]:
episode_page_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21029707 entries, 0 to 21029706
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  is_trial           object
 14  lesson.id          object
 15  is_free_trial      object
dtypes: float64(1), object(15)
memory usage: 2.5+ GB

### comp_lesson_df

**complete.lesson.csv**<br/>
레슨 완료

In [80]:
comp_lesson_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-05 21:55:51.836000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Chrome,111.0.0.0,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-05 21:19:01.243000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-05 21:20:27.939000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-05 21:23:01.534000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-05 21:28:34.965000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c
5,Daejeon,2023-04-05 21:31:34.258000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,10459dde9f512f1a65a7bd4d4c67b5db
6,Daejeon,2023-04-05 21:36:48.025000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,76504988acfeb975dbd954b3377c9c24
7,Daejeon,2023-04-05 21:38:10.637000,South Korea,NaN,Windows,Windows,complete.lesson,Korean,Edge,111.0.1661.62,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,e7783a0f86ae5130b0906f070386667f
8,Goyang-si,2023-04-05 21:21:29.332000,South Korea,NaN,Mac,Mac,complete.lesson,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,c269eb6df3a374b464f7c18f12fa398f,395bdf0293b24ec47d5a9e960574f851
9,Goyang-si,2023-04-05 21:32:35.391000,South Korea,NaN,Mac,Mac,complete.lesson,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,c269eb6df3a374b464f7c18f12fa398f,a738c7835388066e2618af1e5ebacb3c

In [81]:
comp_lesson_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5405069 entries, 0 to 5405068
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   city               object
 1   client_event_time  object
 2   country            object
 3   device_carrier     float64
 4   device_family      object
 5   device_type        object
 6   event_type         object
 7   language           object
 8   os_name            object
 9   os_version         object
 10  platform           object
 11  user_id            object
 12  content.id         object
 13  lesson.id          object
dtypes: float64(1), object(13)
memory usage: 577.3+ MB

### episode_reply_df

**click.lesson_page_related_question_box.csv**<br/>
레슨 페이지 내 질문 목록 클릭

In [45]:
episode_reply_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,comment.id,content.id,episode.id
0,Dong-gu,2023-04-05 21:51:48.377000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.episode_page_related_comment_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-05 21:52:21.689000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.episode_page_related_comment_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-05 21:52:42.481000,South Korea,NaN,Samsung Phone,Samsung Galaxy S21 5G,click.episode_page_related_comment_box,English,Chrome,111.0.0.0,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
3,Goyang-si,2023-04-05 21:20:15.032000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,9016e2246486e852992ccd9ae0eb27ca,c269eb6df3a374b464f7c18f12fa398f,395bdf0293b24ec47d5a9e960574f851
4,Goyang-si,2023-04-05 21:21:55.275000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,4ecd552eeded70b3274b8edf3ecacbd9,c269eb6df3a374b464f7c18f12fa398f,a738c7835388066e2618af1e5ebacb3c
5,Goyang-si,2023-04-05 21:34:30.707000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,b4dde76adcdf8098e07a1384d614a857,c269eb6df3a374b464f7c18f12fa398f,1358419d85e150f739a789874ca2841c
6,Goyang-si,2023-04-05 21:56:30.603000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Chrome,111.0.0.0,Web,e1f3ecae035a3c8ae8cf789fbde98995,cfea1850413e8b092e5ec4163c8afccb,c269eb6df3a374b464f7c18f12fa398f,8ad45156926d47d2ee7404074df0570b
7,Seoul,2023-04-05 21:42:17.417000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,859db2b2eb74faa6459bab581f6588fc,f64c475280676531a31f2f8e0648599c,f4f012d3172d745f5a8e05c7cbc975a5
8,Seoul,2023-04-05 21:48:14.383000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,63916db0fe03da05f2adc9225ee13b25,f64c475280676531a31f2f8e0648599c,06f3efc915796c2011ec438acb57ebe1
9,Seoul,2023-04-05 21:48:59.463000,South Korea,NaN,Mac,Mac,click.episode_page_related_comment_box,Korean,Safari,16.4,Web,f6a4000105c745f8ffd2694f55caf7e8,9ac74c1b5497ba4f163d0fc77ea7dab2,f64c475280676531a31f2f8e0648599c,10309afa1e52015b7cab11a50569ea64

In [46]:
episode_reply_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379136 entries, 0 to 1379135
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   city               1355675 non-null  object
 1   client_event_time  1379136 non-null  object
 2   country            1364245 non-null  object
 3   device_carrier     0 non-null        float64
 4   device_family      1379135 non-null  object
 5   device_type        1372802 non-null  object
 6   event_type         1379136 non-null  object
 7   language           1379136 non-null  object
 8   os_name            1379135 non-null  object
 9   os_version         1378923 non-null  object
 10  platform           1379136 non-null  object
 11  user_id            1326233 non-null  object
 12  comment.id         824789 non-null   object
 13  content.id         824788 non-null   object
 14  episode.id         824789 non-null   object
dtypes: float64(1), object(14)
memory usage: 157.8+ MB

### end_content_df

**end.content.csv**<br/>
수강 완료

In [47]:
end_content_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id,content.id
0,Yokohama,2023-04-10 14:02:10.600000,Japan,NaN,Windows,Windows,end.content,Japanese,Chrome,111.0.0.0,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 14:21:26.466000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 14:37:04.440000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 14:37:19.909000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 14:08:58.968000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,112.0.0.0,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa
5,Yongin-si,2023-04-10 14:26:30.429000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,112.0.0.0,Web,c97916d02e9ce70d0be0c6de92dcf437,f491517f4737a60d661cd1fcacc702c0
6,Eumseong-gun,2023-04-10 14:00:59.245000,South Korea,NaN,Windows,Windows,end.content,Korean,Chrome,111.0.0.0,Web,81fb8b0afc41d996a01e9fcff022cc79,f4be1a0fe0e301b03115591777fddf29
7,Gwangju,2023-01-12 19:59:25.128000,South Korea,NaN,Windows,Windows,end.content,Korean,Edge,108.0.1462.76,Web,209165aff85d97c51377d132175ba82c,f491517f4737a60d661cd1fcacc702c0
8,Gimpo-si,2023-03-12 08:02:13.608000,South Korea,NaN,Windows,Windows,end.content,Korean,Whale,3.17.145.18,Web,16062f2bea49568b1218366407e2d5a0,61b6463287573f00de13a930805a52d6
9,Seoul,2023-03-12 08:30:27.711000,South Korea,NaN,Mac,Mac,end.content,Korean,Safari,16.1,Web,dc88ad5fd402148f842d047920938375,6384828b0188f36e5915ed72fdeb7157

In [48]:
end_content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120582 entries, 0 to 120581
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               116280 non-null  object
 1   client_event_time  120582 non-null  object
 2   country            117182 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      119391 non-null  object
 5   device_type        118866 non-null  object
 6   event_type         120582 non-null  object
 7   language           119392 non-null  object
 8   os_name            119387 non-null  object
 9   os_version         119362 non-null  object
 10  platform           119392 non-null  object
 11  user_id            120582 non-null  object
 12  content.id         120582 non-null  object
dtypes: float64(1), object(12)
memory usage: 12.0+ MB

### cancel_plan_df

**click.cancel_plan_button.csv**<br/>
구독 취소 버튼 클릭

In [ ]:
cancel_plan_df.head(10)

,city,client_event_time,country,device_carrier,device_family,device_type,event_type,language,os_name,os_version,platform,user_id
0,Daegu,2023-04-10 14:57:48.556,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 08:26:16.224,South Korea,NaN,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,16.3,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 08:23:04.955,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-12 08:32:39.271,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,110.0.0.0,Web,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-12 11:36:28.311,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,111.0.0.0,Web,bdffe1f18684704d4ea2d7eebcaed180
5,Incheon,2023-04-12 11:42:20.856,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,112.0.0.0,Web,11b44eae717f4293b283315d2fb49fce
6,Mapo-gu,2023-05-31 01:48:19.226,South Korea,NaN,Mac,Mac,click.cancel_plan_button,Korean,Chrome,113.0.0.0,Web,8c72048ba0eea7dba25371885fb87c44
7,Suwon,2023-01-31 14:22:45.462,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,16.0,Web,c002b8d46a8e4f3a840c455e50245786
8,Songpa-gu,2023-01-31 14:59:26.869,South Korea,NaN,Windows,Windows,click.cancel_plan_button,Korean,Chrome,109.0.0.0,Web,c58a141f0455c92fba272f453a90dda5
9,Seoul,2023-01-31 14:00:32.016,South Korea,NaN,Apple iPhone,Apple iPhone,click.cancel_plan_button,Korean,Mobile Safari,16.2,Web,805f45812f9c4b6b4081477b23c6180c

In [ ]:
cancel_plan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               17742 non-null  object
 1   client_event_time  17895 non-null  object
 2   country            17893 non-null  object
 3   device_carrier     0 non-null      float64
 4   device_family      17895 non-null  object
 5   device_type        17567 non-null  object
 6   event_type         17895 non-null  object
 7   language           17895 non-null  object
 8   os_name            17895 non-null  object
 9   os_version         17892 non-null  object
 10  platform           17895 non-null  object
 11  user_id            16853 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.6+ MB

---
### 데이터 EDA

In [62]:
start_content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124917 entries, 0 to 124916
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   city                121017 non-null  object
 1   client_event_time   124917 non-null  object
 2   country             122032 non-null  object
 3   device_carrier      0 non-null       float64
 4   device_family       122690 non-null  object
 5   device_type         120068 non-null  object
 6   event_type          124917 non-null  object
 7   language            122692 non-null  object
 8   os_name             122671 non-null  object
 9   os_version          122585 non-null  object
 10  platform            122692 non-null  object
 11  user_id             124917 non-null  object
 12  content.id          124917 non-null  object
 13  content.difficulty  124917 non-null  object
dtypes: float64(1), object(13)
memory usage: 13.3+ MB

In [63]:
end_content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120582 entries, 0 to 120581
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   city               116280 non-null  object
 1   client_event_time  120582 non-null  object
 2   country            117182 non-null  object
 3   device_carrier     0 non-null       float64
 4   device_family      119391 non-null  object
 5   device_type        118866 non-null  object
 6   event_type         120582 non-null  object
 7   language           119392 non-null  object
 8   os_name            119387 non-null  object
 9   os_version         119362 non-null  object
 10  platform           119392 non-null  object
 11  user_id            120582 non-null  object
 12  content.id         120582 non-null  object
dtypes: float64(1), object(12)
memory usage: 12.0+ MB

In [66]:
new_df = pd.merge(
    start_content_df[['user_id', 'content.id', 'client_event_time']],
    end_content_df[['user_id', 'content.id', 'client_event_time']],
    on=['user_id', 'content.id'], how='inner')

new_df

,user_id,content.id,client_event_time_x,client_event_time_y
0,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,2023-04-05 21:14:39.906000,2023-04-07 09:13:51.196000
1,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,2023-04-10 14:06:26.585000,2023-04-14 14:53:49.801000
2,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,2023-04-10 14:15:29.040000,2023-04-11 02:56:41.404000
3,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,2023-04-10 14:21:36.467000,2023-04-13 15:22:48.940000
4,810122e078c4b16d7ddb321c73c32a4c,4641438a6c81ef572d997dbdc9100f8b,2023-04-10 14:00:11.027000,2023-04-13 13:37:22.797000
...,...,...,...,...
51790,c49700567ab4350a62ce5144a6f38135,68a3658f1b936bfff3bd6960cd561b0a,2023-10-30 00:17:44.512000,2023-10-30 00:50:05.774000
51791,c31a55c1edb43da23862a91665b06d85,621c7ad99b17d2d16832b618d47aea7e,2023-10-10 05:16:46.962000,2023-10-11 02:18:32.574000
51792,9fe4efb5bffac9728392d3774c0894f7,f64c475280676531a31f2f8e0648599c,2023-10-10 05:01:06.892000,2023-10-11 14:46:15.365000
51793,86453faaa4d0da97c471665e8d35642b,68a3658f1b936bfff3bd6960cd561b0a,2023-10-10 05:31:21.672000,2023-10-10 06:59:16.723000
51794,9eec721a1a1406bcf623272b5f761ce6,61b6463287573f00de13a930805a52d6,2023-10-10 05:39:15.513000,2023-10-13 07:05:13.908000

In [67]:
new_df['client_event_time_x'] = pd.to_datetime(new_df['client_event_time_x'])
new_df['client_event_time_y'] = pd.to_datetime(new_df['client_event_time_y'])

In [68]:
new_df['sub_time'] = new_df['client_event_time_y'] - new_df['client_event_time_x']

In [73]:
new_df['sub_time']

0       1 days 11:59:11.290000
1       4 days 00:47:23.216000
2       0 days 12:41:12.364000
3       3 days 01:01:12.473000
4       2 days 23:37:11.770000
                 ...
51790   0 days 00:32:21.262000
51791   0 days 21:01:45.612000
51792   1 days 09:45:08.473000
51793   0 days 01:27:55.051000
51794   3 days 01:25:58.395000
Name: sub_time, Length: 51795, dtype: timedelta64[ns]

In [74]:
new_df.groupby('content.id').agg({'sub_time': 'mean'})

                                                   sub_time
content.id
03b4a290c08f7fa83933827a994f2e61  7 days 15:28:17.986725490
0ab2b890d4068c1490b89676773256f6 15 days 17:57:23.460573770
101e1d0dcc38d9c86156f008a145083e 15 days 17:50:32.777346341
123715e9b63b3efb32cdcd947ea96aaf 12 days 01:30:58.045164179
165def8885b8a2ec0c92404048d7e345 15 days 09:09:37.742082125
...                                                     ...
f6f082e10dc9c1061cb809989b361d9c 16 days 02:28:21.967441441
f8b0ca043f5f0437603142ae93e6a424 18 days 14:20:30.530797468
fc3051206e08a57bc14fa52a7eec904b     4 days 10:06:20.282000
fc6a9e04f693ea724c55153d1ae82c65     0 days 00:48:48.410000
ff7998135d650dbefb3f479c900cbcc7  4 days 17:05:01.186952565

[114 rows x 1 columns]

In [75]:
new_df.groupby('user_id').agg({'sub_time': 'mean'})

                                                   sub_time
user_id
0000572f2ba8079bcefd2760b632e820    20 days 12:32:16.907000
0001f15911b404f3bf5b8571afafa4e4     3 days 18:47:54.410000
000722d5152d121ef57d8246dff4ac91     3 days 23:49:59.040000
000ae43430184824318d11fcd3ae8b45     9 days 10:39:49.396500
000be07bc09ceff42c11978f4a9f1c1a 71 days 03:37:31.587142857
...                                                     ...
fff3e9ffd58cda1d8068d1dab141760a    20 days 00:46:25.713125
fff60192556898a9001de93f8708bedf     0 days 02:52:02.333500
fffadab35ddc8234e1c5139815bfc017     4 days 21:57:15.879500
fffcbf8ded60b689e9867bff455f4ab7     4 days 21:16:25.756000
fffe529de03d6187ef7ed765650c8d2b 11 days 03:32:10.501076923

[14951 rows x 1 columns]

In [92]:
main_page_df['client_event_time'] = pd.to_datetime(main_page_df['client_event_time'])
main_page_df['period'] = main_page_df['client_event_time'].dt.to_period('M')  

main_page_groupby = main_page_df.groupby('period')\
    .agg(total_count=('client_event_time', 'count'), user_count=('user_id', 'count'))\
    .reset_index()  

main_page_groupby['non_user_count'] = main_page_groupby['total_count'] - main_page_groupby['user_count']

main_page_groupby = main_page_groupby[8:]
main_page_groupby['non_user_rate'] = round(main_page_groupby['non_user_count'] / main_page_groupby['total_count'] * 100, 2)
main_page_groupby

     period  total_count  user_count  non_user_count  non_user_rate
8   2022-01        78320       50059           28261          36.08
9   2022-02       111979       52009           59970          53.55
10  2022-03       111278       50954           60324          54.21
11  2022-04        85995       39505           46490          54.06
12  2022-05        86673       39376           47297          54.57
13  2022-06        94146       42609           51537          54.74
14  2022-07        82109       41816           40293          49.07
15  2022-08        59473       23050           36423          61.24
16  2022-09        46633       17857           28776          61.71
17  2022-10        43738       15527           28211          64.50
18  2022-11       108079       20067           88012          81.43
19  2022-12       154465       28673          125792          81.44
20  2023-01       187735       36617          151118          80.50
21  2023-02        97644       20488           77156          79.02
22  2023-03       111625       10763          100862          90.36
23  2023-04        71013        3876           67137          94.54
24  2023-05        59271        2622           56649          95.58
25  2023-06        67566        2379           65187          96.48
26  2023-07        80674        2907           77767          96.40
27  2023-08        86861        3545           83316          95.92
28  2023-09        81060        4117           76943          94.92
29  2023-10        85350        5164           80186          93.95
30  2023-11       105425        6374           99051          93.95
31  2023-12        36388        2149           34239          94.09

In [99]:
signup_df['client_event_time'] = pd.to_datetime(signup_df['client_event_time'])
signup_df['period'] = signup_df['client_event_time'].dt.to_period('M')

signup_df_groupby = signup_df.groupby('period').agg(signup_user_count=('client_event_time', 'count')).reset_index()
signup_df_groupby = signup_df_groupby[2:]
signup_df_groupby

     period  signup_user_count
2   2022-01              27503
3   2022-02              15613
4   2022-03              21081
5   2022-04              18844
6   2022-05              20798
7   2022-06              18462
8   2022-07              15094
9   2022-08              10233
10  2022-09               9548
11  2022-10               9325
12  2022-11              10824
13  2022-12              29551
14  2023-01              39765
15  2023-02              27281
16  2023-03              34404
17  2023-04              24691
18  2023-05              23377
19  2023-06              28869
20  2023-07              38031
21  2023-08              33267
22  2023-09              29481
23  2023-10              27068
24  2023-11              38598
25  2023-12              45099

In [96]:
fin_signup_df['client_event_time'] = pd.to_datetime(fin_signup_df['client_event_time'])
fin_signup_df['period'] = fin_signup_df['client_event_time'].dt.to_period('M')

fin_signup_df_groupby = fin_signup_df.groupby('period').agg(finish_signup_user_count=('client_event_time', 'count')).reset_index()
fin_signup_df_groupby

     period  finish_signup_user_count
0   2022-01                      7319
1   2022-02                      4693
2   2022-03                      5616
3   2022-04                      4723
4   2022-05                      5012
5   2022-06                      5545
6   2022-07                      4403
7   2022-08                      3377
8   2022-09                      2942
9   2022-10                      2854
10  2022-11                      3410
11  2022-12                      8493
12  2023-01                     10883
13  2023-02                      6186
14  2023-03                      7914
15  2023-04                      5758
16  2023-05                      4774
17  2023-06                      6709
18  2023-07                      7824
19  2023-08                      6830
20  2023-09                      6526
21  2023-10                      5629
22  2023-11                      7763
23  2023-12                      9950

In [102]:
churn_rate_df = pd.merge(
    signup_df_groupby,
    fin_signup_df_groupby,
    on='period', how='left')

churn_rate_df['churn_rate'] = round((1 - churn_rate_df['finish_signup_user_count'] / churn_rate_df['signup_user_count']) * 100, 2)
churn_rate_df

     period  signup_user_count  finish_signup_user_count  churn_rate
0   2022-01              27503                      7319       73.39
1   2022-02              15613                      4693       69.94
2   2022-03              21081                      5616       73.36
3   2022-04              18844                      4723       74.94
4   2022-05              20798                      5012       75.90
5   2022-06              18462                      5545       69.97
6   2022-07              15094                      4403       70.83
7   2022-08              10233                      3377       67.00
8   2022-09               9548                      2942       69.19
9   2022-10               9325                      2854       69.39
10  2022-11              10824                      3410       68.50
11  2022-12              29551                      8493       71.26
12  2023-01              39765                     10883       72.63
13  2023-02              27281                      6186       77.32
14  2023-03              34404                      7914       77.00
15  2023-04              24691                      5758       76.68
16  2023-05              23377                      4774       79.58
17  2023-06              28869                      6709       76.76
18  2023-07              38031                      7824       79.43
19  2023-08              33267                      6830       79.47
20  2023-09              29481                      6526       77.86
21  2023-10              27068                      5629       79.20
22  2023-11              38598                      7763       79.89
23  2023-12              45099                      9950       77.94

In [103]:
free_trial_df['client_event_time'] = pd.to_datetime(free_trial_df['client_event_time'])
free_trial_df['period'] = free_trial_df['client_event_time'].dt.to_period('M')

free_trial_df_groupby = free_trial_df.groupby('period').agg(free_trial_user_count=('client_event_time', 'count')).reset_index()
free_trial_df_groupby

     period  free_trial_user_count
0   2021-12                      5
1   2022-01                   4697
2   2022-02                   3015
3   2022-03                   4154
4   2022-04                   4148
5   2022-05                   4765
6   2022-06                   4737
7   2022-07                   1500
8   2022-08                    303
9   2022-09                    372
10  2022-10                    331
11  2022-11                    155
12  2023-02                    959
13  2023-03                    741
14  2023-04                    739

In [ ]:
renew_subs_df['client_event_time'] = pd.to_datetime(renew_subs_df['client_event_time'])
renew_subs_df.groupby('user_id')['client_event_time'].agg(list)

user_id
0000572f2ba8079bcefd2760b632e820    [2023-04-25 14:45:01.747000, 2023-05-25 14:50:...
000ae43430184824318d11fcd3ae8b45                         [2022-12-01 14:15:35.085000]
000be07bc09ceff42c11978f4a9f1c1a    [2022-11-20 13:10:01.891000, 2023-01-25 06:16:...
001ddbe4885db89888b34bf0eb14f6e1                         [2023-01-21 09:00:05.092000]
002109ba574914ed127dcae867110f91                         [2023-02-17 08:10:06.967000]
                                                          ...
fff3e9ffd58cda1d8068d1dab141760a    [2022-12-24 03:17:11.348000, 2022-12-27 09:09:...
fffadab35ddc8234e1c5139815bfc017    [2023-10-17 03:20:02.210000, 2023-11-17 03:25:...
fffba676b17f9f0f228360930f238f07                         [2023-02-01 01:05:30.212000]
fffcae39952c396123f9a3c0808a2183    [2023-01-18 02:50:02.681000, 2023-02-18 02:55:...
fffe529de03d6187ef7ed765650c8d2b    [2023-04-08 12:45:01.546000, 2023-05-08 12:50:...
Name: client_event_time, Length: 7498, dtype: object

---
## AARRR Funnel

### Acquisition

| 지표 | 정의 | 계산식 |
|------|------|------|
| **신규 사용자 수 (NU, New User)** | 특정 서비스에 방문한 이력이 없는 상태에서, 처음 방문하거나 상호작용한 사용자의 수 | - |
| **회원 가입 수 (Sign Up)** | 특정 서비스에 회원 가입한 사용자의 수 | - |
| **앱 다운로드 수 (App Installs)** | 특정 앱(어플리케이션)을 다운로드한 수 | - |
| **리드 수 (Leads)** | 일정 수준의 정보를 제공하는 잠재 고객, 혹은 고객 정보 그 자체의 수 | - |
| **고객 획득 비용 (CAC, Customer Acquisition Cost)** | 신규 고객 1명을 획득하기 위해 필요한 비용 | **블렌디드 CAC** : 고객 획득을 위해 투입한 전체 금액 / 획득한 전체 고객 수 <br> **매체별 CAC** : 특정 광고 매체에서 고객 획득을 위해 투입한 금액 / 해당 매체에서 획득한 고객 수 |
| **(광고) 클릭률 (CTR, Click-Through Rate)** | 광고에 노출된 사용자 중에, 광고를 클릭한 사용자의 비율 | (광고 클릭 수 / 광고 노출 수) * 100 |
| **(광고) 조회율 (VTR, View-Through Rate)** | 영상 광고에 노출된 사용자 중에, 영상을 조회한 사용자의 비율 | (광고 조회 수 / 광고 노출 수) * 100 |
| **(광고) 전환율 (CVR, Conversion Rate)** | 광고를 클릭하여 유입된 사용자 중에, 주요한 전환 행동을 한 사용자의 비율 | (전환 수 / 광고 클릭 수) * 100 |
| **CPM (Cost-Per-Mille)** | 광고 1,000번 노출당 비용 | (총 광고 비용 / 광고 노출 수) * 1000 |
| **CPC (Cost-Per-Click)** | 광고 클릭당 비용 | 총 광고 비용 / 광고 클릭 수 |
| **CPV (Cost-Per-View)** | 영상 광고 조회당 비용 | 총 광고 비용 / 광고 조회 수 |
| **CPA (Cost-Per-Action)** | 특정 액션(회원가입, 상품 구매, 이벤트 참여 등)당 비용 | 총 광고 비용 / 특정 액션이 발생한 수 |
| **CPI (Cost-Per-Install)** | 앱 설치당 비용 | 총 광고 비용 / 앱 설치 수 |

- 신규 사용자 수 = 월별 회원+비회원 통합 방문 건수 / 월별 비회원 방문 건수<br/>
- 회원 가입 수 = 월별 회원 가입 완료 건수

### Activation

| 지표 | 정의 | 계산식 |
|------|------|------|
| **체류 시간 (DT, Duration Time)** | 사용자가 특정 서비스에 머무른 시간 | **평균 체류 시간** = 총 체류 시간(사용자들이 방문하여 머무른 전체 시간) / 방문한 전체 사용자 수 |
| **평균 페이지 체류 시간 (Average Time on Page)** | 사용자가 서비스 내의 단일 페이지에서 머무른 평균 시간 | 단일 페이지의 총 체류 시간 / 해당 페이지를 방문한 사용자 수 |
| **평균 세션 시간 (Average Session Duration)** | 단일 세션 동안 사용자가 특정 서비스에서 머무른 평균 시간 | 총 세션 시간(각 세션의 ‘세션 종료 시각 - 세션 시작 시각’의 총합) / 세션 수 |
| **페이지 뷰 (PV, Page View)** | 특정 웹사이트나 서비스를 방문하여 열람한 페이지의 수 (중복 포함) | - |
| **순 방문자 수 (UV, Unique Visitor)** | 특정 웹사이트나 서비스에 방문한 사용자 중 중복되는 사용자를 배제한 순 방문자 수 | - |
| **페이지 이탈률 (Bounce Rate, 반송률)** | 웹이나 앱에서 첫 페이지만 조회한 후, 추가적인 행동이나 상호작용 없이 바로 이탈한 사용자의 비율 | (반송 수 / 방문 수) * 100 <br> *반송 수 : 랜딩 페이지에 방문하여 1PV만을 발생시킨 방문의 수* |
| **Aha-moment 전환율** | Aha-moment를 경험하는 사용자의 비율 | (Aha-moment를 경험한 사용자 수 / 전체 사용자 수) * 100 |
| **구매 전환율 / 구독 전환율** | 전체 방문자 중 구매/구독을 한 사용자의 비율 | (구매 수 or 구독 수 / 방문 수) * 100 |
| **세부 퍼널 단계별 전환율** | 세부 퍼널(Aha-moment 퍼널, 구매 퍼널, 구독 퍼널 등) 안에서의 단계별 전환율 | (이후 단계로 전환된 수 / 이전 단계의 수) * 100 |

### Retention

| 지표 | 정의 | 계산식 |
|------|------|------|
| **유지율 (Retention Rate, 잔존율)** | 사용자가 유지되는 비율 | (유지된 사용자 수 / 기존 사용자 수) * 100 |
| **이탈률 (Churn Rate)** | 사용자가 이탈하는 비율 | (이탈한 사용자 수 / 기존 사용자 수) * 100 |
| **재구매율 / 재구독률** | 첫 구매후 특정 단위 기간(1주, 1개월, 3개월 등)내에 다시 구매/구독하는 사용자의 비율 | (재구매 or 재구독한 사용자 수 / 기존 사용자 수) * 100 |
| **사용자 고착도 (Stickiness)** | 사용자가 서비스에 계속해서 방문하는 정도 | DAU(일간 활성 사용자 수) / MAU(월간 활성 사용자 수) * 100 |
| **활성 사용자 수 (AU, Active User)** | 특정 웹사이트, 앱 또는 플랫폼과 상호작용하며 활성화된 사용자 수 (중복 제거) | - |
| **기간별 활성 사용자 수** | 특정 기간 동안 활성 사용자 수 (HAU, DAU, WAU, MAU) | **HAU** : 시간당 활성 사용자 수 <br> **DAU** : 일간 활성 사용자 수 <br> **WAU** : 주간 활성 사용자 수 <br> **MAU** : 월간 활성 사용자 수 |

### Revenue

| 지표 | 정의 | 계산식 |
|------|------|------|
| **매출 (Revenue)** | 비즈니스가 고객에게 상품 혹은 서비스를 판매하여 창출하는 총 금액으로, 비즈니스 운영과 관련된 비용을 공제하기 전의 금액 | - |
| **매출총이익 (Gross Profit, 마진)** | 매출액에서 매출원가(COGS, 제품이나 서비스를 제공하는 데 드는 직접 비용)를 차감한 금액 | 매출 - 매출 원가 |
| **매출총이익률 (Gross Profit Margin, 마진율)** | 매출 대비 매출총이익(마진)의 비율 | {(매출 - 매출 원가) / 매출} * 100 |
| **순이익 (Net Profit, Net Income)** | 매출에서 매출 원가, 인건비, 광고비, 세금 등 비즈니스가 사용한 모든 비용을 차감하고 영업외수익과 비용까지 고려한 뒤 남은 금액으로, 비즈니스의 순수한 이익 | 매출 - 매출 원가 - 판매관리비 + (금융수익 - 금융비용) + (영업외수익 - 영업외비용) - 법인세비용 |
| **MRR (Monthly Recurring Revenue, 월간 반복 매출)** | 매월 반복적으로 발생하는 매출 | 기존 고객의 월간 매출(전월 매출) - 이탈 고객의 월간 기여 매출 + 신규/부활 고객의 월간 매출 + 플랜 업그레이드/다운그레이드로 인한 월간 매출 차액 |
| **ARR (Annual Recurring Revenue, 연간 반복 매출)** | 매년 반복적으로 발생하는 매출 | 기존 고객의 연간 매출(전년도 매출) - 이탈 고객의 연간 기여 매출 + 신규/부활 고객의 연간 매출 + 플랜 업그레이드/다운그레이드에 따른 연간 매출 차액 |
| **ROI (Return on Investment, 투자 수익률)** | 투자 비용(광고비를 포함한 모든 비용) 대비 수익률(순이익 기준) | (순이익 / 전체 투자 비용) * 100 |
| **ROAS (Return on Ad Spend, 광고 수익률)** | 투입한 광고 비용 대비 수익률(매출 기준) | (광고 캠페인을 통해 발생한 매출 / 투입한 총 광고 비용) * 100 <br> **매체별 ROAS** : (특정 광고 매체에서 발생한 매출 / 해당 매체에 투입한 총 광고 비용) * 100 |
| **PU (Paying User, 유료 결제 사용자 수)** | 유료 결제를 한 사용자의 수 | - |
| **ARPU (Average Revenue Per User)** | 고객 평균 매출로, 무료 사용자와 유료 결제 사용자를 포함한 전체 사용자 1인당 평균 매출 | 총 매출 / 전체 사용자 수 |
| **ARPPU (Average Revenue per Paying User)** | 유료 고객 평균 매출로, 유료 결제 사용자 1인당 평균 매출 | 총 매출 / 유료 결제 사용자 수 (PU) |
| **ARPDAU (Average Revenue Per Daily Active User)** | DAU(일간 활성 사용자) 1인당 일 평균 매출 | 일 매출 / DAU(일간 활성 사용자 수) |
| **LTR (Lifetime Revenue, 고객 생애 매출)** | 고객 한 명이 제품/서비스를 이용하는 전체 생애 동안 우리 비즈니스에서 발생시킬 것으로 예상되는 기대 매출 | 고객이 생애 동안 누적하여 발생시킨 총 매출의 합 / 고객 수 |
| **LTV (Lifetime Value, 고객 생애 가치)** | 고객 한 명이 제품/서비스를 이용하는 전체 생애 동안 우리 비즈니스에서 발생시킬 것으로 예상되는 기대 가치(순이익 기준) | {평균 구매 금액 * 마진율 * 구매 빈도(구매 횟수) * 고객 수명} - (고객 획득 비용 + 고객 유지 비용) |

### Referral

| 지표 | 정의 | 계산식 |
|------|------|------|
| **바이럴 주기 시간 (Viral Cycle Time)** | 기존 사용자가 친구를 초대하고, 초대받은 친구가 신규 사용자로 유입되기까지 걸리는 시간 | - |
| **바이럴 계수 (Viral Coefficient)** | 기존 사용자 1명당 만들어내는 신규 사용자의 수 | 기존 사용자 1명당 평균 친구 초대 수 * 초대받은 친구의 초대 수락 비율 |
| **NPS (Net Promoter Score, 순 추천 지수)** | 기존 사용자가 제품이나 서비스, 브랜드를 추천할 가능성으로, 고객 충성도를 측정하는 표준 척도 | 추천 그룹의 비율(%) - 비추천 그룹의 비율(%) |
| **SNS 공유 수 (SNS Share Rate)** | 공유 수, 댓글 수, 태그 수 등 | - |