#### 모듈

In [5]:
import os
import os.path as path

import pandas as pd

from sklearn.preprocessing import LabelEncoder
import numpy as np

#### 인코더 불러오기

In [6]:
# path
BasePath = "./encoders"

# get list of encoder files
encoder_file_list = os.listdir(BasePath)

# print list of encoder files
print('encoder_file_list :', encoder_file_list)

# load encoder files
encoder_dict = {}

for file in encoder_file_list:
    encoder_name = file.replace(".npy", "")
    encoder_dict[encoder_name] = LabelEncoder()
    classes = np.load(path.join(BasePath, file), allow_pickle=True)
    encoder_dict[encoder_name].classes_ = np.load(path.join(BasePath, file), allow_pickle=True)
    
    if encoder_name == "os_version":
        encoder_dict[encoder_name].fit(list(map(lambda x: str(x), classes)))

# encoder modify
for encoder_name in encoder_dict.keys():
    # reorder encoder : make encoder[0] = nan
    encoder_dict[encoder_name].classes_ = \
        np.append(encoder_dict[encoder_name].classes_[-1],\
                    encoder_dict[encoder_name].classes_[:-1])

    print(f"{encoder_name} : {encoder_dict[encoder_name].classes_[:5]}")

# reorder 'event_type' encoder classes
encoder_dict['event_type'].classes_ = np.array([
    'error',
    'enter.main_page',
    'enter.signup_page',
    'complete.signup',
    'enter.content_page',
    'click.content_page_start_content_button',
    'click.content_page_more_review_button',
    'enter.payment_page',
    'complete.subscription',
    'renew.subscription',
    'resubscribe.subscription',
    'start.free_trial',
    'start.content',
    'enter.lesson_page',
    'complete.lesson',
    'click.lesson_page_related_question_box',
    'end.content',
    'click.cancel_plan_button'
])
# encoder test
print(encoder_dict["event_type"].classes_[:5])

encoder_file_list : ['button.name.npy', 'button_name.npy', 'city.npy', 'content.difficulty.npy', 'content.id.npy', 'country.npy', 'coupon.discount_amount.npy', 'device_family.npy', 'device_type.npy', 'event_type.npy', 'is_free_trial.npy', 'is_trial.npy', 'language.npy', 'lesson.id.npy', 'os_name.npy', 'os_version.npy', 'paid_amount.npy', 'pg.type.npy', 'plan.price.npy', 'plan.type.npy', 'platform.npy', 'question.id.npy', 'trial.type.npy', 'type.npy', 'user_id.npy']
button.name : [nan '구독 시작하기' '무료로 들어보기' '무료로 시작하기' '최저가 혜택 받기']
button_name : [nan '무료로 시작하기' '수강시작' '수강하기' '이어하기']
city : [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
content.difficulty : [nan 'advanced' 'beginner' 'hard' 'intermediate']
content.id : [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
country : [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
coupon.discount_amount : [nan -52400 -48400 0 478]
device_family : [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type : [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type : [nan 'click.cancel_plan_button' 'click.content_page_more_review_button'
 'click.content_page_start_content_button'
 'click.lesson_page_related_question_box']
is_free_trial : [nan False True]
is_trial : [nan False True]
language : [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
lesson.id : [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']
os_name : [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
os_version : ['nan' '0.20.3.2' '1' '1.0' '1.0.0.0']
paid_amount : [nan 3960 7960 9552 11144]
pg.type : [nan 'A' 'B' 'C' None]
plan.price : [nan 14328 15920 19920 42960]
plan.type : [nan '12개월 플랜' '1개월 플랜' None]
platform : [nan 'Web' None]
question.id : [nan '000468dc7826f179a01db37bff526ca4' '001024597887f49ec01816cc0360ce2a'
 '0015d6a21cc7eaa4c71241b0128d8d09' '0031005db08ae21ea9152cd538a388ca']
trial.type : [nan 'A' 'B' None]
type : [nan 'email' 'facebook' 'google' 'kakao']
user_id : [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']

#### 인코더 테스트

In [7]:
## 주의사항
# 
# 1. BaseFilePath에 데이터 파일 경로를 설정해주세요.
# 2. 제외하고 싶은 컬럼이 있으면 exclude_columns에 추가해주세요.
# 3. 인코딩을 하고 컬럼 이름을 바꿔 주세요.

## 함수 설명
# 
# .transform()을 이용해서 데이터를 변환해주세요.
# 
# 데이터[칼럼] = encoder_dict[칼럼].transform(데이터[칼럼])
# 예시 : df[col] = encoder_dict[col].transform(df[col])
# 
# 
# .inverse_transform()을 이용해서 데이터를 역변환해주세요.
# 
# 데이터[칼럼] = encoder_dict[칼럼].inverse_transform(데이터[칼럼])
# 예시 : df[col] = encoder_dict[col].inverse_transform(df[col])


## 인코딩

# 개인적으로 BaseFilePath를 설정해주었는데, 이를 이용해서 파일 리스트를 불러오는 코드입니다.
BaseFilePath = 'd:\Codeit\intermediate_project\주제 2. 구독서비스 프로덕트 데이터 분석'
filelist = os.listdir(BaseFilePath)[:-1]

# 제외 컬럼
exclude_columns = ['device_carrier', 'os_version']

# 제외 컬럼 : 제외하고 싶은 컬럼을 추가합니다.
exclude_columns_plus = []

# display file list
print(filelist)

# load data
dfs = []

for file in filelist:
    if file.endswith('.csv'):
        df = pd.read_csv(path.join(BaseFilePath, file), nrows=200)
        
        # preprocess
        # convert os_version to string
        df['os_version'] = df['os_version'].astype(str)
        # drop 
        df = df.drop(exclude_columns + exclude_columns_plus, axis=1)
        # convert client_event_time to datetime
        df['client_event_time'] = pd.to_datetime(df['client_event_time'])
        
        dfs.append(df)
        print(f"file: {file}, shape: {df.shape}")

for i, df in enumerate(dfs):
    print(f"file: {filelist[i]} encodings - ")
    
    # encode categorical columns using the loaded encoders
    for col in df.columns:
        # exception handling
        if col not in encoder_dict:
            continue
        if col in exclude_columns + exclude_columns_plus:
            continue
        
        # encode using the loaded encoder
        df[col] = encoder_dict[col].transform(df[col])
        print(f"{col}: {encoder_dict[col].classes_[:5]}")
    
    # display result head
    display(df.head())

['click.cancel_plan_button.csv', 'click.content_page_more_review_button.csv', 'click.content_page_start_content_button.csv', 'click.lesson_page_related_question_box.csv', 'complete.lesson.csv', 'complete.signup.csv', 'complete.subscription.csv', 'end.content.csv', 'enter.content_page.csv', 'enter.lesson_page-002.csv', 'enter.main_page.csv', 'enter.payment_page.csv', 'enter.signup_page.csv', 'renew.subscription.csv', 'resubscribe.subscription.csv', 'start.content.csv', 'start.free_trial.csv']
file: click.cancel_plan_button.csv, shape: (200, 10)
file: click.content_page_more_review_button.csv, shape: (200, 11)
file: click.content_page_start_content_button.csv, shape: (200, 13)

<>:24: SyntaxWarning: invalid escape sequence '\C'
<>:24: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_10860\1609756926.py:24: SyntaxWarning: invalid escape sequence '\C'
  BaseFilePath = 'd:\Codeit\intermediate_project\주제 2. 구독서비스 프로덕트 데이터 분석'

file: click.lesson_page_related_question_box.csv, shape: (200, 13)
file: complete.lesson.csv, shape: (200, 12)
file: complete.signup.csv, shape: (200, 11)
file: complete.subscription.csv, shape: (200, 14)
file: end.content.csv, shape: (200, 11)
file: enter.content_page.csv, shape: (200, 11)
file: enter.lesson_page-002.csv, shape: (200, 14)
file: enter.main_page.csv, shape: (200, 10)
file: enter.payment_page.csv, shape: (200, 10)
file: enter.signup_page.csv, shape: (200, 10)
file: renew.subscription.csv, shape: (200, 14)
file: resubscribe.subscription.csv, shape: (200, 14)
file: start.content.csv, shape: (200, 12)
file: start.free_trial.csv, shape: (200, 13)
file: click.cancel_plan_button.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,886,2023-04-10 14:57:48.556,158,1029,609,17,38,4,1,111466
1,3440,2023-03-12 08:26:16.224,158,130,5,17,15,23,1,55652
2,3945,2023-03-12 08:23:04.955,158,1029,609,17,38,4,1,128371
3,967,2023-03-12 08:32:39.271,158,1029,609,17,38,4,1,45697
4,1260,2023-04-12 11:36:28.311,158,1029,609,17,38,4,1,133511

file: click.content_page_more_review_button.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,3420,2023-04-10 14:10:01.402,158,1029,609,6,38,4,1,60321,135
1,2212,2023-01-24 21:37:43.417,180,1029,609,6,38,40,1,160567,200
2,1109,2023-01-31 14:44:16.897,158,1029,609,6,38,4,1,162425,129
3,3440,2023-01-31 14:30:36.568,158,135,38,6,38,23,1,159319,200
4,3440,2023-02-12 03:24:32.337,158,1029,609,6,38,4,1,82221,11

file: click.content_page_start_content_button.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
button.name: [nan '구독 시작하기' '무료로 들어보기' '무료로 시작하기' '최저가 혜택 받기']
button_name: [nan '무료로 시작하기' '수강시작' '수강하기' '이어하기']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,button.name,button_name
0,888,2023-04-05 21:14:38.432,158,1029,609,5,38,10,1,46100,57,6,0
1,3436,2023-04-10 14:57:20.033,158,1029,609,5,38,10,1,173596,22,7,0
2,4221,2023-04-10 14:28:29.515,158,1029,609,5,38,4,1,19086,186,7,0
3,3420,2023-04-10 14:09:30.564,158,1029,609,5,38,4,1,37439,135,7,0
4,3420,2023-04-10 14:10:52.368,158,1029,609,5,38,4,1,37439,109,6,0

file: click.lesson_page_related_question_box.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
question.id: [nan '000468dc7826f179a01db37bff526ca4' '001024597887f49ec01816cc0360ce2a'
 '0015d6a21cc7eaa4c71241b0128d8d09' '0031005db08ae21ea9152cd538a388ca']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,question.id,content.id,lesson.id
0,977,2023-04-05 21:51:48.377,158,773,482,15,15,4,1,12406,5976,159,4997
1,977,2023-04-05 21:52:21.689,158,773,482,15,15,4,1,12406,4126,159,4997
2,977,2023-04-05 21:52:42.481,158,773,482,15,15,4,1,12406,4795,159,4997
3,1332,2023-04-05 21:20:15.032,158,570,158,15,38,4,1,158750,4324,159,1178
4,1332,2023-04-05 21:21:55.275,158,570,158,15,38,4,1,158750,2315,159,3567

file: complete.lesson.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,lesson.id
0,4171,2023-04-05 21:55:51.836,158,1029,609,14,38,4,1,102081,125,4544
1,888,2023-04-05 21:19:01.243,158,1029,609,14,38,10,1,46100,57,2716
2,888,2023-04-05 21:20:27.939,158,1029,609,14,38,10,1,46100,57,4509
3,888,2023-04-05 21:23:01.534,158,1029,609,14,38,10,1,46100,57,5224
4,888,2023-04-05 21:28:34.965,158,1029,609,14,38,10,1,46100,57,4415

file: complete.signup.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
type: [nan 'email' 'facebook' 'google' 'kakao']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,type
0,0,2023-04-05 21:33:26.068,0,0,0,3,0,0,0,82284,4
1,0,2023-04-05 21:45:18.672,0,0,0,3,0,0,0,4752,4
2,3420,2023-04-10 14:47:56.424,158,1029,609,3,38,4,1,158234,4
3,3694,2023-04-10 14:25:45.920,158,135,38,3,38,23,1,160007,5
4,0,2023-04-10 14:09:50.698,0,0,0,3,0,0,0,57881,4

file: complete.subscription.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,2765,2023-04-05 21:40:04.000,158,1029,609,8,38,10,1,12135,2,13,3,0
1,3440,2023-04-10 14:20:03.008,158,135,38,8,38,23,1,135651,12,50,3,0
2,4223,2023-03-12 08:46:14.026,158,1029,609,8,38,4,1,85354,12,46,33,0
3,1260,2023-04-12 11:35:01.865,158,1029,609,8,38,4,1,133511,12,50,3,0
4,1415,2023-05-31 01:25:55.820,158,570,158,8,38,4,1,149647,2,13,3,0

file: end.content.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,4270,2023-04-10 14:02:10.600,85,1029,609,16,33,4,1,45090,140
1,3440,2023-04-10 14:21:26.466,158,1029,609,16,38,4,1,94157,204
2,3431,2023-04-10 14:37:04.440,158,1029,609,16,38,4,1,30876,112
3,3420,2023-04-10 14:37:19.909,158,1029,609,16,38,4,1,92396,93
4,3420,2023-04-10 14:08:58.968,158,1029,609,16,38,4,1,37439,135

file: enter.content_page.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,3440,2023-04-05 21:40:35.740,158,135,38,4,38,4,1,150026,30
1,1647,2023-04-05 21:01:59.950,158,769,451,4,38,4,1,0,193
2,888,2023-04-05 21:13:12.038,158,1029,609,4,38,10,1,46100,153
3,888,2023-04-05 21:14:25.355,158,1029,609,4,38,10,1,46100,57
4,3440,2023-04-05 21:44:23.759,158,773,477,4,38,35,1,0,108

file: enter.lesson_page-002.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
is_trial: [nan False True]
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']
is_free_trial: [nan False True]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,4171,2023-04-05 21:46:04.333,158,1029,609,13,38,4,1,102081,125,1,4544,0
1,4171,2023-04-05 21:55:50.787,158,1029,609,13,38,4,1,102081,125,1,4544,0
2,4171,2023-04-05 21:55:55.684,158,1029,609,13,38,4,1,102081,125,1,2558,0
3,979,2023-04-05 21:04:55.828,158,570,158,13,38,4,1,125592,81,1,2278,0
4,979,2023-04-05 21:05:34.139,158,570,158,13,38,4,1,125592,182,1,410,0

file: enter.main_page.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3436,2023-04-05 21:55:06.140,158,773,482,1,38,40,1,0
1,979,2023-04-05 21:04:28.967,158,570,158,1,38,4,1,125592
2,1647,2023-04-05 21:01:31.258,158,769,451,1,38,4,1,0
3,1647,2023-04-05 21:02:50.374,158,769,451,1,38,4,1,0
4,3440,2023-04-05 21:30:33.727,158,773,323,1,38,4,1,0

file: enter.payment_page.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3440,2023-04-05 21:31:27.602,158,773,323,7,38,4,1,100552
1,4171,2023-04-05 21:33:30.699,158,1029,609,7,38,4,1,82284
2,888,2023-04-05 21:05:28.337,158,1029,609,7,38,10,1,69568
3,3440,2023-04-05 21:45:27.935,158,570,158,7,38,34,1,4752
4,3440,2023-04-05 21:46:50.632,158,570,158,7,38,34,1,4752

file: enter.signup_page.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,3440,2023-04-05 21:30:42.557,158,773,323,2,38,4,1,0
1,3440,2023-04-05 21:37:41.467,158,789,0,2,38,4,1,0
2,3440,2023-04-05 21:05:53.237,158,135,38,2,38,23,1,0
3,1228,2023-04-05 21:41:58.269,158,570,158,2,38,34,1,0
4,3440,2023-04-05 21:44:53.294,158,570,158,2,38,34,1,0

file: renew.subscription.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,2587,2022-09-08 03:05:02.068,158,1029,609,9,38,10,1,77280,2,13,3,0
1,2587,2022-09-08 03:40:02.050,158,1029,609,9,38,4,1,136967,2,13,3,0
2,984,2022-09-08 03:49:00.829,158,1029,609,9,38,4,1,156389,4,21,11,0
3,4277,2022-09-08 04:10:06.406,158,1029,609,9,38,4,1,134336,2,13,3,0
4,984,2022-09-08 04:40:01.895,158,129,4,9,38,6,1,88614,2,13,3,0

file: resubscribe.subscription.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,888,2023-04-05 21:11:45.525,158,1029,609,10,38,10,1,46100,2,13,3,0
1,3440,2023-06-30 09:59:56.848,158,773,488,10,38,7,1,73557,2,13,3,0
2,2765,2023-06-13 06:20:22.524,158,1029,609,10,38,4,1,55369,2,13,3,0
3,3694,2023-06-11 11:02:11.878,158,1029,609,10,38,4,1,174991,12,50,3,0
4,1996,2023-06-13 14:39:25.736,85,135,38,10,33,4,1,24351,12,50,3,0

file: start.content.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
content.difficulty: [nan 'advanced' 'beginner' 'hard' 'intermediate']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,content.difficulty
0,888,2023-04-05 21:14:39.906,158,1029,609,12,38,10,1,46100,57,2
1,3440,2023-04-05 21:50:19.674,158,570,158,12,38,34,1,4752,201,2
2,3440,2023-04-10 14:06:26.585,158,570,158,12,38,40,1,86684,85,2
3,3881,2023-04-10 14:15:29.040,31,1029,609,12,15,4,1,165440,85,2
4,3440,2023-04-10 14:21:36.467,158,1029,609,12,38,4,1,94157,22,1

file: start.free_trial.csv encodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
plan.type: [nan '12개월 플랜' '1개월 플랜' None]
trial.type: [nan 'A' 'B' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,plan.type,trial.type
0,3440,2023-04-05 21:49:36.156,158,570,158,11,38,34,1,4752,2,2,2
1,967,2023-03-12 08:28:29.384,158,1029,609,11,38,4,1,45697,2,2,2
2,0,2023-03-12 08:35:00.107,0,0,0,11,0,0,0,39960,2,2,2
3,3440,2023-04-12 11:36:50.250,158,570,158,11,38,34,1,143683,2,2,2
4,0,2023-02-18 04:13:20.822,0,0,0,11,0,0,0,54214,12,1,2

In [8]:
## 디코딩

for i, df in enumerate(dfs):
    print(f"file: {filelist[i]} decodings - ")
    
    # encode categorical columns using the loaded encoders
    for col in df.columns:
        # exception handling
        if col not in encoder_dict:
            continue
        if col in exclude_columns + exclude_columns_plus:
            continue
        
        # encode using the loaded encoder
        df[col] = encoder_dict[col].inverse_transform(df[col])
        print(f"{col}: {encoder_dict[col].classes_[:5]}")
    
    # display result head
    display(df.head())

file: click.cancel_plan_button.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Daegu,2023-04-10 14:57:48.556,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,9e59ecf9a8fbe9051bd0d54f4b702f30
1,Seoul,2023-03-12 08:26:16.224,South Korea,Apple iPad,Apple iPad,click.cancel_plan_button,English,Mobile Safari,Web,4ed4d8f12c45504a148bfff0f2e9466e
2,Uijeongbu-si,2023-03-12 08:23:04.955,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,b6a1bba3cc4139d7dc821561319221e6
3,Dobong-gu,2023-03-12 08:32:39.271,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,40acc1ddfc012f3d2f58a3de95e9e748
4,Geumjeong-gu,2023-04-12 11:36:28.311,South Korea,Windows,Windows,click.cancel_plan_button,Korean,Chrome,Web,bdffe1f18684704d4ea2d7eebcaed180

file: click.content_page_more_review_button.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Seo-gu,2023-04-10 14:10:01.402,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,558fe7e8c06b8505f11b33d76f076e56,a1eeebeb6c307641b75b94a2a1d5b9aa
1,London,2023-01-24 21:37:43.417,United Kingdom,Windows,Windows,click.content_page_more_review_button,Korean,Whale,Web,e48956538e4df690a5d12adf1e6f2ee3,f491517f4737a60d661cd1fcacc702c0
2,Eunpyeong-gu,2023-01-31 14:44:16.897,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,e745da89019e303b122bfceac0521a8f,9aa7628a347707fb155943041e2cb524
3,Seoul,2023-01-31 14:30:36.568,South Korea,Apple iPhone,Apple iPhone,click.content_page_more_review_button,Korean,Mobile Safari,Web,e2c59d444736eceee9eedba85bd4e209,f491517f4737a60d661cd1fcacc702c0
4,Seoul,2023-02-12 03:24:32.337,South Korea,Windows,Windows,click.content_page_more_review_button,Korean,Chrome,Web,74b66b738185ffdbec960db4a0da330a,101e1d0dcc38d9c86156f008a145083e

file: click.content_page_start_content_button.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
button.name: [nan '구독 시작하기' '무료로 들어보기' '무료로 시작하기' '최저가 혜택 받기']
button_name: [nan '무료로 시작하기' '수강시작' '수강하기' '이어하기']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,button.name,button_name
0,Daejeon,2023-04-05 21:14:38.432,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,콘텐츠 구독하기,NaN
1,Seongnam-si,2023-04-10 14:57:20.033,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Edge,Web,f7155af01d277f11b1c7d05cf772c686,18992b667be06d6f29ba0008f99d9745,콘텐츠 이어보기,NaN
2,Yangp'yong,2023-04-10 14:28:29.515,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,1b05f9fe82b80771323caa1cd5683143,dfbdae782996c25daed7517b8835f3aa,콘텐츠 이어보기,NaN
3,Seo-gu,2023-04-10 14:09:30.564,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa,콘텐츠 이어보기,NaN
4,Seo-gu,2023-04-10 14:10:52.368,South Korea,Windows,Windows,click.content_page_start_content_button,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,7de35a9d8f14c68e5f2a8788dda5f72e,콘텐츠 구독하기,NaN

file: click.lesson_page_related_question_box.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
question.id: [nan '000468dc7826f179a01db37bff526ca4' '001024597887f49ec01816cc0360ce2a'
 '0015d6a21cc7eaa4c71241b0128d8d09' '0031005db08ae21ea9152cd538a388ca']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,question.id,content.id,lesson.id
0,Dong-gu,2023-04-05 21:51:48.377,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,c654f9825245640595af9b8aecb150aa,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
1,Dong-gu,2023-04-05 21:52:21.689,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,898fb79fc740dc8705b52fb32521d5d5,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
2,Dong-gu,2023-04-05 21:52:42.481,South Korea,Samsung Phone,Samsung Galaxy S21 5G,click.lesson_page_related_question_box,English,Chrome,Web,117f95e12266dcf8f911ae39ff55a800,9fb80c124d57fd31494738e0af5437a3,c269eb6df3a374b464f7c18f12fa398f,e7dbf75457e67ef644d4ae1981b9e01b
3,Goyang-si,2023-04-05 21:20:15.032,South Korea,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,Web,e1f3ecae035a3c8ae8cf789fbde98995,9016e2246486e852992ccd9ae0eb27ca,c269eb6df3a374b464f7c18f12fa398f,395bdf0293b24ec47d5a9e960574f851
4,Goyang-si,2023-04-05 21:21:55.275,South Korea,Mac,Mac,click.lesson_page_related_question_box,Korean,Chrome,Web,e1f3ecae035a3c8ae8cf789fbde98995,4ecd552eeded70b3274b8edf3ecacbd9,c269eb6df3a374b464f7c18f12fa398f,a738c7835388066e2618af1e5ebacb3c

file: complete.lesson.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,lesson.id
0,Wonju,2023-04-05 21:55:51.836,South Korea,Windows,Windows,complete.lesson,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,d360d68b65fd3e0eafb7982386d75fd9
1,Daejeon,2023-04-05 21:19:01.243,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,7e0f6aae886368ef9fa97007a8e9f7ac
2,Daejeon,2023-04-05 21:20:27.939,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,d1e93c9dc08267efab31849bc6083854
3,Daejeon,2023-04-05 21:23:01.534,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,f22ea5dc431035305e705552bbc4f45b
4,Daejeon,2023-04-05 21:28:34.965,South Korea,Windows,Windows,complete.lesson,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,ce0bfeb7fb1259c588f437d48ab2690c

file: complete.signup.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
type: [nan 'email' 'facebook' 'google' 'kakao']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,type
0,NaN,2023-04-05 21:33:26.068,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,74d17c27a41656e7788b0c81d9f76cda,kakao
1,NaN,2023-04-05 21:45:18.672,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,06b6868000a5d576180aca47896d6cce,kakao
2,Seo-gu,2023-04-10 14:47:56.424,South Korea,Windows,Windows,complete.signup,Korean,Chrome,Web,e131c319972bd580146c5a2faba26613,kakao
3,Suwon,2023-04-10 14:25:45.920,South Korea,Apple iPhone,Apple iPhone,complete.signup,Korean,Mobile Safari,Web,e3b8bfa80d866f296aad139e09023ef3,naver
4,NaN,2023-04-10 14:09:50.698,NaN,NaN,NaN,complete.signup,NaN,NaN,NaN,5208a60918f18562ac9d668a35b20303,kakao

file: complete.subscription.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nowon-gu,2023-04-05 21:40:04.000,South Korea,Windows,Windows,complete.subscription,Korean,Edge,Web,1116a2ae90ca6b06f85feba27ad51ef0,15920,15920,0,NaN
1,Seoul,2023-04-10 14:20:03.008,South Korea,Apple iPhone,Apple iPhone,complete.subscription,Korean,Mobile Safari,Web,c0f5678df8967163e6e2c464ed006791,131600,131600,0,NaN
2,Yangsan,2023-03-12 08:46:14.026,South Korea,Windows,Windows,complete.subscription,Korean,Chrome,Web,79421b5d038205ad7adbb1e2c3b89741,131600,119756,11844,NaN
3,Geumjeong-gu,2023-04-12 11:35:01.865,South Korea,Windows,Windows,complete.subscription,Korean,Chrome,Web,bdffe1f18684704d4ea2d7eebcaed180,131600,131600,0,NaN
4,Gwangmyeong,2023-05-31 01:25:55.820,South Korea,Mac,Mac,complete.subscription,Korean,Chrome,Web,d4f54ecf6c4d7bf8742f80505f02d6dc,15920,15920,0,NaN

file: end.content.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Yokohama,2023-04-10 14:02:10.600,Japan,Windows,Windows,end.content,Japanese,Chrome,Web,3fd801c6192296cf7b85efc01bd547b9,a914987711c7e2db9fd4bff7555ec87c
1,Seoul,2023-04-10 14:21:26.466,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,85a332649d34bc7b5ebdec7660b1d57d,f64c475280676531a31f2f8e0648599c
2,Seongbuk-gu,2023-04-10 14:37:04.440,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,2bf8cb1d9c5d4556f5165c2aaf804f2e,7fef928cdccef0185dfb931ef59b37d7
3,Seo-gu,2023-04-10 14:37:19.909,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,831813f54c0d55c17db612f0ea311c93,68a3658f1b936bfff3bd6960cd561b0a
4,Seo-gu,2023-04-10 14:08:58.968,South Korea,Windows,Windows,end.content,Korean,Chrome,Web,353528475f2bd85934263421ccd579b3,a1eeebeb6c307641b75b94a2a1d5b9aa

file: enter.content_page.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id
0,Seoul,2023-04-05 21:40:35.740,South Korea,Apple iPhone,Apple iPhone,enter.content_page,Korean,Chrome,Web,d57aba7b4527e71b96135deaaec57def,220ce7873b8895d0c81c37600b5bd1e7
1,Hwaseong-si,2023-04-05 21:01:59.950,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.content_page,Korean,Chrome,Web,NaN,ecde9a1b01763f791c3a185d53b5f394
2,Daejeon,2023-04-05 21:13:12.038,South Korea,Windows,Windows,enter.content_page,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,b8d4ec0133e5ce485055bfd69cd28abd
3,Daejeon,2023-04-05 21:14:25.355,South Korea,Windows,Windows,enter.content_page,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430
4,Seoul,2023-04-05 21:44:23.759,South Korea,Samsung Phone,Samsung Galaxy S20 FE 5G,enter.content_page,Korean,Samsung Browser,Web,NaN,7cebec6e79cc981dbf421c5ec2aedd9d

file: enter.lesson_page-002.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
is_trial: [nan False True]
lesson.id: [nan '001e4570bb0fc346a1c969b019bdc22b' '0021f3a8597cb32f3605631446baf526'
 '0022b56713250709e3e8f06ec6c2a76e' '00332b815a82ca3244f1e1eb72345390']
is_free_trial: [nan False True]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,is_trial,lesson.id,is_free_trial
0,Wonju,2023-04-05 21:46:04.333,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
1,Wonju,2023-04-05 21:55:50.787,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,d360d68b65fd3e0eafb7982386d75fd9,NaN
2,Wonju,2023-04-05 21:55:55.684,South Korea,Windows,Windows,enter.lesson_page,Korean,Chrome,Web,91053eda0bffb4db6c9317acf15bc44a,94bdcbd9f329aafa84ab464b6721187d,False,770740696ab1809d6b50d4013b64a75c,NaN
3,Dongdaemun-gu,2023-04-05 21:04:55.828,South Korea,Mac,Mac,enter.lesson_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4,5fc64d786416b980cfda86afd69e4516,False,68cc362ca81b5899b3c9b4dea0aaddff,NaN
4,Dongdaemun-gu,2023-04-05 21:05:34.139,South Korea,Mac,Mac,enter.lesson_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4,db43a841c994231e2795d4df8931af50,False,144682f4648f81de8e6aabd11b92105e,NaN

file: enter.main_page.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seongnam-si,2023-04-05 21:55:06.140,South Korea,Samsung Phone,Samsung Galaxy S21 5G,enter.main_page,Korean,Whale,Web,NaN
1,Dongdaemun-gu,2023-04-05 21:04:28.967,South Korea,Mac,Mac,enter.main_page,Korean,Chrome,Web,b2b31f00b82edc6419b25324a7ae41a4
2,Hwaseong-si,2023-04-05 21:01:31.258,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,Web,NaN
3,Hwaseong-si,2023-04-05 21:02:50.374,South Korea,Samsung Galaxy Note,Samsung Galaxy Note10+ 5G,enter.main_page,Korean,Chrome,Web,NaN
4,Seoul,2023-04-05 21:30:33.727,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.main_page,Korean,Chrome,Web,NaN

file: enter.payment_page.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seoul,2023-04-05 21:31:27.602,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.payment_page,Korean,Chrome,Web,8ee58bcaa05b234cdbf84167c0983385
1,Wonju,2023-04-05 21:33:30.699,South Korea,Windows,Windows,enter.payment_page,Korean,Chrome,Web,74d17c27a41656e7788b0c81d9f76cda
2,Daejeon,2023-04-05 21:05:28.337,South Korea,Windows,Windows,enter.payment_page,Korean,Edge,Web,62cfa08370da60b8db4495baaff62806
3,Seoul,2023-04-05 21:45:27.935,South Korea,Mac,Mac,enter.payment_page,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce
4,Seoul,2023-04-05 21:46:50.632,South Korea,Mac,Mac,enter.payment_page,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce

file: enter.signup_page.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id
0,Seoul,2023-04-05 21:30:42.557,South Korea,Samsung Phone,Samsung Galaxy A51 5G,enter.signup_page,Korean,Chrome,Web,NaN
1,Seoul,2023-04-05 21:37:41.467,South Korea,Samsung SM-S916N,NaN,enter.signup_page,Korean,Chrome,Web,NaN
2,Seoul,2023-04-05 21:05:53.237,South Korea,Apple iPhone,Apple iPhone,enter.signup_page,Korean,Mobile Safari,Web,NaN
3,Gangnam-gu,2023-04-05 21:41:58.269,South Korea,Mac,Mac,enter.signup_page,Korean,Safari,Web,NaN
4,Seoul,2023-04-05 21:44:53.294,South Korea,Mac,Mac,enter.signup_page,Korean,Safari,Web,NaN

file: renew.subscription.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Nam-gu,2022-09-08 03:05:02.068,South Korea,Windows,Windows,renew.subscription,Korean,Edge,Web,6ddea3af2eaae869861c1190dcc9d4a3,15920,15920,0,NaN
1,Nam-gu,2022-09-08 03:40:02.050,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,c2d47034960fdff5df495822ff66fbc1,15920,15920,0,NaN
2,Dongjak-gu,2022-09-08 03:49:00.829,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,de91f1226dd938990fefc79545daf468,42960,40812,2148,NaN
3,Yongin-si,2022-09-08 04:10:06.406,South Korea,Windows,Windows,renew.subscription,Korean,Chrome,Web,bf14840a8cb4643e6d557da96e35a3af,15920,15920,0,NaN
4,Dongjak-gu,2022-09-08 04:40:01.895,South Korea,Android,Android,renew.subscription,Korean,Chrome Mobile,Web,7ddc1c2990d0645d82885394e3c518b5,15920,15920,0,NaN

file: resubscribe.subscription.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
paid_amount: [nan 3960 7960 9552 11144]
coupon.discount_amount: [nan -52400 -48400 0 478]
pg.type: [nan 'A' 'B' 'C' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,paid_amount,coupon.discount_amount,pg.type
0,Daejeon,2023-04-05 21:11:45.525,South Korea,Windows,Windows,resubscribe.subscription,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,15920,15920,0,NaN
1,Seoul,2023-06-30 09:59:56.848,South Korea,Samsung Phone,Samsung Galaxy S22+,resubscribe.subscription,Korean,Chrome WebView,Web,68831c27e47f0e8f04ba809baeec218e,15920,15920,0,NaN
2,Nowon-gu,2023-06-13 06:20:22.524,South Korea,Windows,Windows,resubscribe.subscription,Korean,Chrome,Web,4e7568cb7db01f8386614ec2c6c961cd,15920,15920,0,NaN
3,Suwon,2023-06-11 11:02:11.878,South Korea,Windows,Windows,resubscribe.subscription,Korean,Chrome,Web,f91f19527b9ec688e028ec884b1b5c1c,131600,131600,0,NaN
4,Koishikawa,2023-06-13 14:39:25.736,Japan,Apple iPhone,Apple iPhone,resubscribe.subscription,Japanese,Chrome,Web,2276d7d2a31e05f4a5558c6406cc36c9,131600,131600,0,NaN

file: start.content.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
content.id: [nan '011a040b817225cb7c01d4676c21ea44' '01d9424fd9d2b1d7a4392042fc646061'
 '035f018008f1696ded6e10e1dd757726' '03b4a290c08f7fa83933827a994f2e61']
content.difficulty: [nan 'advanced' 'beginner' 'hard' 'intermediate']

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,content.id,content.difficulty
0,Daejeon,2023-04-05 21:14:39.906,South Korea,Windows,Windows,start.content,Korean,Edge,Web,41362ad5ebcade2bb1b78344a53e7ccf,445fac33232adcb3d1cdab7d8a579430,beginner
1,Seoul,2023-04-05 21:50:19.674,South Korea,Mac,Mac,start.content,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce,f4be1a0fe0e301b03115591777fddf29,beginner
2,Seoul,2023-04-10 14:06:26.585,South Korea,Mac,Mac,start.content,Korean,Whale,Web,7b2ff3116db46b5e4326d49c7b027631,61b6463287573f00de13a930805a52d6,beginner
3,Toronto,2023-04-10 14:15:29.040,Canada,Windows,Windows,start.content,English,Chrome,Web,eb7515590646ead796fdfb54e2729240,61b6463287573f00de13a930805a52d6,beginner
4,Seoul,2023-04-10 14:21:36.467,South Korea,Windows,Windows,start.content,Korean,Chrome,Web,85a332649d34bc7b5ebdec7660b1d57d,18992b667be06d6f29ba0008f99d9745,advanced

file: start.free_trial.csv decodings -
city: [nan "'Ewa Beach" '6th of October City' 'A Coruña' 'A Me']
country: [nan 'Afghanistan' 'Albania' 'Algeria' 'American Samoa']
device_family: [nan '10A30Q' '21051182G' '21061110AG' '21061119AG']
device_type: [nan 'Amazon Fire HD 10' 'Amazon Fire HD 8' 'Amazon Kindle Fire HDX'
 'Android']
event_type: ['error' 'enter.main_page' 'enter.signup_page' 'complete.signup'
 'enter.content_page']
language: [nan 'Afrikaans' 'Albanian' 'Arabic' 'Azerbaijani']
os_name: [nan 'AVG Secure Browser' 'Android Browser' 'Avast Secure Browser'
 'Chrome']
platform: [nan 'Web' None]
user_id: [nan '0000572f2ba8079bcefd2760b632e820' '000087537cbfd934375364218ff10f91'
 '000117267e1dd62481ef3ae7fb420107' '00012b6dbfccfb458ad0d08f34477944']
plan.price: [nan 14328 15920 19920 42960]
plan.type: [nan '12개월 플랜' '1개월 플랜' None]
trial.type: [nan 'A' 'B' None]

,city,client_event_time,country,device_family,device_type,event_type,language,os_name,platform,user_id,plan.price,plan.type,trial.type
0,Seoul,2023-04-05 21:49:36.156,South Korea,Mac,Mac,start.free_trial,Korean,Safari,Web,06b6868000a5d576180aca47896d6cce,15920,1개월 플랜,B
1,Dobong-gu,2023-03-12 08:28:29.384,South Korea,Windows,Windows,start.free_trial,Korean,Chrome,Web,40acc1ddfc012f3d2f58a3de95e9e748,15920,1개월 플랜,B
2,NaN,2023-03-12 08:35:00.107,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,38aca03fba9753a6b2f31b829fb16a30,15920,1개월 플랜,B
3,Seoul,2023-04-12 11:36:50.250,South Korea,Mac,Mac,start.free_trial,Korean,Safari,Web,cc8051a75f62278b0e4216dd0a182d8c,15920,1개월 플랜,B
4,NaN,2023-02-18 04:13:20.822,NaN,NaN,NaN,start.free_trial,NaN,NaN,NaN,4cc436ad294973993ccad3e3a70053a7,131600,12개월 플랜,B